openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations CiBuildActions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: CiBuildActions
paths:
  /v1/ciBuildActions/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiBuildActions
      operationId: ciBuildActions_getInstance
      parameters:
      - name: fields[ciBuildActions]
        in: query
        description: the fields to include for returned resources of type ciBuildActions
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - actionType
            - startedDate
            - finishedDate
            - issueCounts
            - executionProgress
            - completionStatus
            - isRequiredToPass
            - buildRun
            - artifacts
            - issues
            - testResults
        style: form
        explode: false
        required: false
      - name: fields[ciBuildRuns]
        in: query
        description: the fields to include for returned resources of type ciBuildRuns
        schema:
          type: array
          items:
            type: string
            enum:
            - number
            - createdDate
            - startedDate
            - finishedDate
            - sourceCommit
            - destinationCommit
            - isPullRequestBuild
            - issueCounts
            - executionProgress
            - completionStatus
            - startReason
            - cancelReason
            - builds
            - workflow
            - product
            - sourceBranchOrTag
            - destinationBranch
            - actions
            - pullRequest
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - buildRun
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single CiBuildAction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiBuildActionResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ci Build Actions
  /v1/ciBuildActions/{id}/relationships/artifacts:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiBuildActions
      operationId: ciBuildActions_artifacts_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiBuildActionArtifactsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Build Actions / Artifacts
  /v1/ciBuildActions/{id}/artifacts:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiBuildActions
      operationId: ciBuildActions_artifacts_getToManyRelated
      parameters:
      - name: fields[ciArtifacts]
        in: query
        description: the fields to include for returned resources of type ciArtifacts
        schema:
          type: array
          items:
            type: string
            enum:
            - fileType
            - fileName
            - fileSize
            - downloadUrl
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CiArtifacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiArtifactsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Build Actions / Artifacts
  /v1/ciBuildActions/{id}/relationships/buildRun:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiBuildActions
      operationId: ciBuildActions_buildRun_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiBuildActionBuildRunLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Ci Build Actions / Build Run
  /v1/ciBuildActions/{id}/buildRun:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiBuildActions
      operationId: ciBuildActions_buildRun_getToOneRelated
      parameters:
      - name: fields[ciBuildRuns]
        in: query
        description: the fields to include for returned resources of type ciBuildRuns
        schema:
          type: array
          items:
            type: string
            enum:
            - number
            - createdDate
            - startedDate
            - finishedDate
            - sourceCommit
            - destinationCommit
            - isPullRequestBuild
            - issueCounts
            - executionProgress
            - completionStatus
            - startReason
            - cancelReason
            - builds
            - workflow
            - product
            - sourceBranchOrTag
            - destinationBranch
            - actions
            - pullRequest
        style: form
        explode: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      - name: fields[ciWorkflows]
        in: query
        description: the fields to include for returned resources of type ciWorkflows
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - description
            - branchStartCondition
            - tagStartCondition
            - pullRequestStartCondition
            - scheduledStartCondition
            - manualBranchStartCondition
            - manualTagStartCondition
            - manualPullRequestStartCondition
            - actions
            - isEnabled
            - isLockedForEditing
            - clean
            - containerFilePath
            - lastModifiedDate
            - product
            - repository
            - xcodeVersion
            - macOsVersion
            - buildRuns
        style: form
        explode: false
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
      - name: fields[scmGitReferences]
        in: query
        description: the fields to include for returned resources of type scmGitReferences
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - canonicalName
            - isDeleted
            - kind
            - repository
        style: form
        explode: false
      - name: fields[scmPullRequests]
        in: query
        description: the fields to include for returned resources of type scmPullRequests
        schema:
          type: array
          items:
            type: string
            enum:
            - title
            - number
            - webUrl
            - sourceRepositoryOwner
            - sourceRepositoryName
            - sourceBranchName
            - destinationRepositoryOwner
            - destinationRepositoryName
            - destinationBranchName
            - isClosed
            - isCrossRepository
            - repository
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - builds
            - workflow
            - product
            - sourceBranchOrTag
            - destinationBranch
            - pullRequest
        style: form
        explode: false
      - name: limit[builds]
        in: query
        description: maximum number of related builds returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single CiBuildRun
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiBuildRunResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Ci Build Actions / Build Run
  /v1/ciBuildActions/{id}/relationships/issues:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiBuildActions
      operationId: ciBuildActions_issues_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiBuildActionIssuesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Build Actions / Issues
  /v1/ciBuildActions/{id}/issues:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiBuildActions
      operationId: ciBuildActions_issues_getToManyRelated
      parameters:
      - name: fields[ciIssues]
        in: query
        description: the fields to include for returned resources of type ciIssues
        schema:
          type: array
          items:
            type: string
            enum:
            - issueType
            - message
            - fileSource
            - category
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CiIssues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiIssuesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Build Actions / Issues
  /v1/ciBuildActions/{id}/relationships/testResults:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiBuildActions
      operationId: ciBuildActions_testResults_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiBuildActionTestResultsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Build Actions / Test Results
  /v1/ciBuildActions/{id}/testResults:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiBuildActions
      operationId: ciBuildActions_testResults_getToManyRelated
      parameters:
      - name: fields[ciTestResults]
        in: query
        description: the fields to include for returned resources of type ciTestResults
        schema:
          type: array
          items:
            type: string
            enum:
            - className
            - name
            - status
            - fileSource
            - message
            - destinationTestResults
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CiTestResults
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiTestResultsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Build Actions / Test Results
components:
  schemas:
    CiBuildActionTestResultsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - ciTestResults
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiManualTagStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiTagPatterns'
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    CiTestResultsResponse:
      type: object
      title: CiTestResultsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CiTestResult'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiActionType:
      type: string
      enum:
      - BUILD
      - ANALYZE
      - TEST
      - ARCHIVE
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    CiTagStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiTagPatterns'
        filesAndFoldersRule:
          $ref: '#/components/schemas/CiFilesAndFoldersRule'
        autoCancel:
          type: boolean
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ScmPullRequest:
      type: object
      title: ScmPullRequest
      properties:
        type:
          type: string
          enum:
          - scmPullRequests
        id:
          type: string
        attributes:
          type: object
          properties:
            title:
              type: string
            number:
              type: integer
            webUrl:
              type: string
              format: uri
            sourceRepositoryOwner:
              type: string
            sourceRepositoryName:
              type: string
            sourceBranchName:
              type: string
            destinationRepositoryOwner:
              type: string
            destinationRepositoryName:
              type: string
            destinationBranchName:
              type: string
            isClosed:
              type: boolean
            isCrossRepository:
              type: boolean
        relationships:
          type: object
          properties:
            repository:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmRepositories
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiExecutionProgress:
      type: string
      enum:
      - PENDING
      - RUNNING
      - COMPLETE
    FileLocation:
      type: object
      properties:
        path:
          type: string
        lineNumber:
          type: integer
    CiAction:
      type: object
      properties:
        name:
          type: string
        actionType:
          $ref: '#/components/schemas/CiActionType'
        destination:
          type: string
          enum:
          - ANY_IOS_DEVICE
          - ANY_IOS_SIMULATOR
          - ANY_TVOS_DEVICE
          - ANY_TVOS_SIMULATOR
          - ANY_WATCHOS_DEVICE
          - ANY_WATCHOS_SIMULATOR
          - ANY_MAC
          - ANY_MAC_CATALYST
          - ANY_VISIONOS_DEVICE
          - ANY_VISIONOS_SIMULATOR
        buildDistributionAudience:
          $ref: '#/components/schemas/BuildAudienceType'
        testConfiguration:
          type: object
          properties:
            kind:
              type: string
              enum:
              - USE_SCHEME_SETTINGS
              - SPECIFIC_TEST_PLANS
            testPlanName:
              type: string
            testDestinations:
              type: array
              items:
                $ref: '#/components/schemas/CiTestDestination'
        scheme:
          type: string
        platform:
          type: string
          enum:
          - MACOS
          - IOS
          - TVOS
          - WATCHOS
          - VISIONOS
        isRequiredToPass:
          type: boolean
    CiTestDestinationKind:
      type: string
      enum:
      - SIMULATOR
      - MAC
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    CiIssueCounts:
      type: object
      properties:
        analyzerWarnings:
          type: integer
        errors:
          type: integer
        testFailures:
          type: integer
        warnings:
          type: integer
    CiArtifactsResponse:
      type: object
      title: CiArtifactsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CiArtifact'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiProduct:
      type: object
      title: CiProduct
      properties:
        type:
          type: string
          enum:
          - ciProducts
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            createdDate:
              type: string
              format: date-time
            productType:
              type: string
              enum:
              - APP
              - FRAMEWORK
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            bundleId:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - bundleIds
                    id:
                      type: string
                  required:
                  - id
                  - type
            workflows:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            primaryRepositories:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - scmRepositories
                      id:
                        type: string
                    required:
                    - id
                    - type
            additionalRepositories:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            buildRuns:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiBuildActionBuildRunLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - ciBuildRuns
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    CiArtifact:
      type: object
      title: CiArtifact
      properties:
        type:
          type: string
          enum:
          - ciArtifacts
        id:
          type: string
        attributes:
          type: object
          properties:
            fileType:
              type: string
              enum:
              - ARCHIVE
              - ARCHIVE_EXPORT
              - LOG_BUNDLE
              - RESULT_BUNDLE
              - TEST_PRODUCTS
              - XCODEBUILD_PRODUCTS
              - STAPLED_NOTARIZED_ARCHIVE
            fileName:
              type: string
            fileSize:
              type: integer
            downloadUrl:
              type: string
              format: uri
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiManualPullRequestStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        destination:
          $ref: '#/components/schemas/CiBranchPatterns'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    CiBuildAction:
      type: object
      title: CiBuildAction
      properties:
        type:
          type: string
          enum:
          - ciBuildActions
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            actionType:
              $ref: '#/components/schemas/CiActionType'
            startedDate:
              type: string
              format: date-time
            finishedDate:
              type: string
              format: date-time
            issueCounts:
              $ref: '#/components/schemas/CiIssueCounts'
            executionProgress:
              $ref: '#/components/schemas/CiExecutionProgress'
            completionStatus:
              $ref: '#/components/schemas/CiCompletionStatus'
            isRequiredToPass:
              type: boolean
        relationships:
          type: object
          properties:
            buildRun:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciBuildRuns
                    id:
                      type: string
                  required:
                  - id
                  - type
            artifacts:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            issues:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            testResults:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiTestDestination:
      type: object
      properties:
        deviceTypeName:
          type: string
        deviceTypeIdentifier:
          type: string
        runtimeName:
          type: string
        runtimeIdentifier:
          type: string
        kind:
          $ref: '#/components/schemas/CiTestDestinationKind'
    CiBuildRunResponse:
      type: object
      title: CiBuildRunResponse
      properties:
        data:
          $ref: '#/components/schemas/CiBuildRun'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Build'
            - $ref: '#/components/schemas/CiProduct'
            - $ref: '#/components/schemas/CiWorkflow'
            - $ref: '#/components/schemas/ScmGitReference'
            - $ref: '#/components/schemas/ScmPullRequest'
            discriminator:
              propertyName: type
              mapping:
                ciProducts: '#/components/schemas/CiProduct'
                builds: '#/components/schemas/Build'
                scmPullRequests: '#/components/schemas/ScmPullRequest'
                ciWorkflows: '#/components/schemas/CiWorkflow'
                scmGitReferences: '#/components/schemas/ScmGitReference'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    CiIssue:
      type: object
      title: CiIssue
      properties:
        type:
          type: string
          enum:
          - ciIssues
        id:
          type: string
        attributes:
          type: object
          properties:
            issueType:
              type: string
              enum:
              - ANALYZER_WARNING
              - ERROR
              - TEST_FAILURE
              - WARNING
            message:
              type: string
            fileSource:
              $ref: '#/components/schemas/FileLocation'
            category:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    Build:
      type: object
      title: Build
      properties:
        type:
          type: string
          enum:
          - builds
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            uploadedDate:
              type: string
              format: date-time
            expirationDate:
              type: string
              format: date-time
            expired:
              type: boolean
            minOsVersion:
              type: string
            lsMinimumSystemVersion:
              type: string
            computedMinMacOsVersion:
              type: string
            computedMinVisionOsVersion:
              type: string
            iconAssetToken:
              $ref: '#/components/schemas/ImageAsset'
            processingState:
              type: string
              enum:
              - PROCESSING
              - FAILED
              - INVALID
              - VALID
            buildAudienceType:
              $ref: '#/components/schemas/BuildAudienceType'
            usesNonExemptEncryption:
              type: boolean
        relationships:
          type: object
          properties:
            preReleaseVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - preReleaseVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            individualTesters:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaTesters
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaBuildLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaBuildLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appEncryptionDeclaration:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appEncryptionDeclarations
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaAppReviewSubmission:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaAppReviewSubmissions
                    id:
                      type: string
                  required:
                  - id
                  - type
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            buildBetaDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildBetaDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            icons:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - buildIcons
                      id:
                        type: string
                    required:
                    - id
                    - type
            buildBundles:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - buildBundles
                      id:
                        type: string
                    required:
                    - id
                    - type
            buildUpload:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildUploads
                    id:
                      type: string
                  required:
                  - id
                  - type
            perfPowerMetrics:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            diagnosticSignatures:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    CiBuildRun:
      type: object
      title: CiBuildRun
      properties:
        type:
          type: string
          enum:
          - ciBuildRuns
        id:
          type: string
        attributes:
          type: object
          properties:
            number:
              type: integer
            createdDate:
              type: string
              format: date-time
            startedDate:
              type: string
              format: date-time
            finishedDate:
              type: string
              format: date-time
            sourceCommit:
              type: object
              properties:
                commitSha:
                  type: string
                message:
                  type: string
                author:
                  $ref: '#/components/schemas/CiGitUser'
                committer:
                  $ref: '#/components/schemas/CiGitUser'
                webUrl:
                  type: string
                  format: uri
            destinationCommit:
              type: object
              properties:
                commitSha:
                  type: string
                message:
                  type: string
                author:
                  $ref: '#/components/schemas/CiGitUser'
                committer:
                  $ref: '#/components/schemas/CiGitUser'
                webUrl:
                  type: string
                  format: uri
            isPullRequestBuild:
              type: boolean
            issueCounts:
              $ref: '#/components/schemas/CiIssueCounts'
            executionProgress:
              $ref: '#/components/schemas/CiExecutionProgress'
            completionStatus:
              $ref: '#/components/schemas/CiCompletionStatus'
            startReason:
              type: string
              enum:
              - GIT_REF_CHANGE
              - MANUAL
              - MANUAL_REBUILD
              - PULL_REQUEST_OPEN
              - PULL_REQUEST_UPDATE
              - SCHEDULE
            cancelReason:
              type: string
              enum:
              - AUTOMATICALLY_BY_NEWER_BUILD
              - MANUALLY_BY_USER
        relationships:
          type: object
          properties:
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
            workflow:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciWorkflows
                    id:
                      type: string
                  required:
                  - id
                  - type
            product:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciProducts
                    id:
                      type: string
                  required:
                  - id
                  - type
            sourceBranchOrTag:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmGitReferences
                    id:
                      type: string
                  required:
                  - id
                  - type
            destinationBranch:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmGitReferences
                    id:
                      type: string
                  required:
                  - id
                  - type
            actions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            pullRequest:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmPullRequests
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiManualBranchStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
    CiGitUser:
      type: object
      properties:
        displayName:
          type: string
        avatarUrl:
          type: string
          format: uri
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    CiBuildActionArtifactsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - ciArtifacts
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    CiTestStatus:
      type: string
      enum:
      - SUCCESS
      - FAILURE
      - MIXED
      - SKIPPED
      - EXPECTED_FAILURE
    BuildAudienceType:
      type: string
      enum:
      - INTERNAL_ONLY
      - APP_STORE_ELIGIBLE
    CiBuildActionIssuesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - ciIssues
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiTestResult:
      type: object
      title: CiTestResult
      properties:
        type:
          type: string
          enum:
          - ciTestResults
        id:
          type: string
        attributes:
          type: object
          properties:
            className:
              type: string
            name:
              type: string
            status:
              $ref: '#/components/schemas/CiTestStatus'
            fileSource:
              $ref: '#/components/schemas/FileLocation'
            message:
              type: string
            destinationTestResults:
              type: array
              items:
                type: object
                properties:
                  uuid:
                    type: string
                  deviceName:
                    type: string
                  osVersion:
                    type: string
                  status:
                    $ref: '#/components/schemas/CiTestStatus'
                  duration:
                    type: number
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiStartConditionFileMatcher:
      type: object
      properties:
        directory:
          type: string
        fileExtension:
          type: string
        fileName:
          type: string
    CiPullRequestStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        destination:
          $ref: '#/components/schemas/CiBranchPatterns'
        filesAndFoldersRule:
          $ref: '#/components/schemas/CiFilesAndFoldersRule'
        autoCancel:
          type: boolean
    CiTagPatterns:
      type: object
      properties:
        isAllMatch:
          type: boolean
        patterns:
          type: array
          items:
            type: object
            properties:
              pattern:
                type: string
              isPrefix:
                type: boolean
    CiCompletionStatus:
      type: string
      enum:
      - SUCCEEDED
      - FAILED
      - ERRORED
      - CANCELED
      - SKIPPED
    CiIssuesResponse:
      type: object
      title: CiIssuesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CiIssue'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiScheduledStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        schedule:
          type: object
          properties:
            frequency:
              type: string
              enum:
              - WEEKLY
              - DAILY
              - HOURLY
            days:
              type: array
              items:
                type: string
                enum:
                - SUNDAY
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
            hour:
              type: integer
            minute:
              type: integer
            timezone:
              type: string
    CiBuildActionResponse:
      type: object
      title: CiBuildActionResponse
      properties:
        data:
          $ref: '#/components/schemas/CiBuildAction'
        included:
          type: array
          items:
            $ref: '#/components/schemas/CiBuildRun'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    CiWorkflow:
      type: object
      title: CiWorkflow
      properties:
        type:
          type: string
          enum:
          - ciWorkflows
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            description:
              type: string
            branchStartCondition:
              $ref: '#/components/schemas/CiBranchStartCondition'
            tagStartCondition:
              $ref: '#/components/schemas/CiTagStartCondition'
            pullRequestStartCondition:
              $ref: '#/components/schemas/CiPullRequestStartCondition'
            scheduledStartCondition:
              $ref: '#/components/schemas/CiScheduledStartCondition'
            manualBranchStartCondition:
              $ref: '#/components/schemas/CiManualBranchStartCondition'
            manualTagStartCondition:
              $ref: '#/components/schemas/CiManualTagStartCondition'
            manualPullRequestStartCondition:
              $ref: '#/components/schemas/CiManualPullRequestStartCondition'
            actions:
              type: array
              items:
                $ref: '#/components/schemas/CiAction'
            isEnabled:
              type: boolean
            isLockedForEditing:
              type: boolean
            clean:
              type: boolean
            containerFilePath:
              type: string
            lastModifiedDate:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            product:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciProducts
                    id:
                      type: string
                  required:
                  - id
                  - type
            repository:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmRepositories
                    id:
                      type: string
                  required:
                  - id
                  - type
            xcodeVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciXcodeVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            macOsVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciMacOsVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            buildRuns:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiBranchPatterns:
      type: object
      properties:
        isAllMatch:
          type: boolean
        patterns:
          type: array
          items:
            type: object
            properties:
              pattern:
                type: string
              isPrefix:
                type: boolean
    ScmGitReference:
      type: object
      title: ScmGitReference
      properties:
        type:
          type: string
          enum:
          - scmGitReferences
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            canonicalName:
              type: string
            isDeleted:
              type: boolean
            kind:
              $ref: '#/components/schemas/CiGitRefKind'
        relationships:
          type: object
          properties:
            repository:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmRepositories
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiFilesAndFoldersRule:
      type: object
      properties:
        mode:
          type: string
          enum:
          - START_IF_ANY_FILE_MATCHES
          - DO_NOT_START_IF_ALL_FILES_MATCH
        matchers:
          type: array
          items:
            $ref: '#/components/schemas/CiStartConditionFileMatcher'
    CiGitRefKind:
      type: string
      enum:
      - BRANCH
      - TAG
    CiBranchStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        filesAndFoldersRule:
          $ref: '#/components/schemas/CiFilesAndFoldersRule'
        autoCancel:
          type: boolean
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
