openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterMatchmakingRuleSets API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterMatchmakingRuleSets
paths:
  /v1/gameCenterMatchmakingRuleSets:
    get:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_getCollection
      parameters:
      - name: fields[gameCenterMatchmakingRuleSets]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingRuleSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - ruleLanguageVersion
            - minPlayers
            - maxPlayers
            - teams
            - rules
            - matchmakingQueues
        style: form
        explode: false
        required: false
      - name: fields[gameCenterMatchmakingTeams]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingTeams
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - minPlayers
            - maxPlayers
        style: form
        explode: false
        required: false
      - name: fields[gameCenterMatchmakingRules]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingRules
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - description
            - type
            - expression
            - weight
        style: form
        explode: false
        required: false
      - name: fields[gameCenterMatchmakingQueues]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingQueues
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - classicMatchmakingBundleIds
            - ruleSet
            - experimentRuleSet
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - teams
            - rules
            - matchmakingQueues
        style: form
        explode: false
        required: false
      - name: limit[matchmakingQueues]
        in: query
        description: maximum number of related matchmakingQueues returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[rules]
        in: query
        description: maximum number of related rules returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[teams]
        in: query
        description: maximum number of related teams returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterMatchmakingRuleSets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleSetsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Game Center Matchmaking Rule Sets
    post:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_createInstance
      requestBody:
        description: GameCenterMatchmakingRuleSet representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterMatchmakingRuleSetCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterMatchmakingRuleSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleSetResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Matchmaking Rule Sets
  /v1/gameCenterMatchmakingRuleSets/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_getInstance
      parameters:
      - name: fields[gameCenterMatchmakingRuleSets]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingRuleSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - ruleLanguageVersion
            - minPlayers
            - maxPlayers
            - teams
            - rules
            - matchmakingQueues
        style: form
        explode: false
        required: false
      - name: fields[gameCenterMatchmakingTeams]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingTeams
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - minPlayers
            - maxPlayers
        style: form
        explode: false
        required: false
      - name: fields[gameCenterMatchmakingRules]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingRules
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - description
            - type
            - expression
            - weight
        style: form
        explode: false
        required: false
      - name: fields[gameCenterMatchmakingQueues]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingQueues
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - classicMatchmakingBundleIds
            - ruleSet
            - experimentRuleSet
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - teams
            - rules
            - matchmakingQueues
        style: form
        explode: false
        required: false
      - name: limit[matchmakingQueues]
        in: query
        description: maximum number of related matchmakingQueues returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[rules]
        in: query
        description: maximum number of related rules returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[teams]
        in: query
        description: maximum number of related teams returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterMatchmakingRuleSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleSetResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Matchmaking Rule Sets
    patch:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_updateInstance
      requestBody:
        description: GameCenterMatchmakingRuleSet representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterMatchmakingRuleSetUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterMatchmakingRuleSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleSetResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Matchmaking Rule Sets
    delete:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Matchmaking Rule Sets
  /v1/gameCenterMatchmakingRuleSets/{id}/relationships/matchmakingQueues:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_matchmakingQueues_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleSetMatchmakingQueuesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Matchmaking Rule Sets / Matchmaking Queues
  /v1/gameCenterMatchmakingRuleSets/{id}/matchmakingQueues:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_matchmakingQueues_getToManyRelated
      parameters:
      - name: fields[gameCenterMatchmakingQueues]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingQueues
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - classicMatchmakingBundleIds
            - ruleSet
            - experimentRuleSet
        style: form
        explode: false
      - name: fields[gameCenterMatchmakingRuleSets]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingRuleSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - ruleLanguageVersion
            - minPlayers
            - maxPlayers
            - teams
            - rules
            - matchmakingQueues
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - ruleSet
            - experimentRuleSet
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterMatchmakingQueues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueuesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Matchmaking Rule Sets / Matchmaking Queues
  /v1/gameCenterMatchmakingRuleSets/{id}/relationships/rules:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_rules_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleSetRulesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Matchmaking Rule Sets / Rules
  /v1/gameCenterMatchmakingRuleSets/{id}/rules:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_rules_getToManyRelated
      parameters:
      - name: fields[gameCenterMatchmakingRules]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingRules
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - description
            - type
            - expression
            - weight
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterMatchmakingRules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRulesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Matchmaking Rule Sets / Rules
  /v1/gameCenterMatchmakingRuleSets/{id}/relationships/teams:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_teams_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleSetTeamsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Matchmaking Rule Sets / Teams
  /v1/gameCenterMatchmakingRuleSets/{id}/teams:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRuleSets
      operationId: gameCenterMatchmakingRuleSets_teams_getToManyRelated
      parameters:
      - name: fields[gameCenterMatchmakingTeams]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingTeams
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - minPlayers
            - maxPlayers
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterMatchmakingTeams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingTeamsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Matchmaking Rule Sets / Teams
components:
  schemas:
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    GameCenterMatchmakingRuleSetUpdateRequest:
      type: object
      title: GameCenterMatchmakingRuleSetUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterMatchmakingRuleSets
            id:
              type: string
            attributes:
              type: object
              properties:
                minPlayers:
                  type: integer
                  nullable: true
                maxPlayers:
                  type: integer
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterMatchmakingQueuesResponse:
      type: object
      title: GameCenterMatchmakingQueuesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterMatchmakingQueue'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterMatchmakingRuleSet'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterMatchmakingRuleSetCreateRequest:
      type: object
      title: GameCenterMatchmakingRuleSetCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterMatchmakingRuleSets
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                ruleLanguageVersion:
                  type: integer
                minPlayers:
                  type: integer
                maxPlayers:
                  type: integer
              required:
              - maxPlayers
              - minPlayers
              - referenceName
              - ruleLanguageVersion
          required:
          - attributes
          - type
      required:
      - data
    GameCenterMatchmakingTeamsResponse:
      type: object
      title: GameCenterMatchmakingTeamsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterMatchmakingTeam'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterMatchmakingRule:
      type: object
      title: GameCenterMatchmakingRule
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingRules
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            description:
              type: string
            type:
              type: string
              enum:
              - COMPATIBLE
              - DISTANCE
              - MATCH
              - TEAM
            expression:
              type: string
            weight:
              type: number
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterMatchmakingRuleSet:
      type: object
      title: GameCenterMatchmakingRuleSet
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingRuleSets
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            ruleLanguageVersion:
              type: integer
            minPlayers:
              type: integer
            maxPlayers:
              type: integer
        relationships:
          type: object
          properties:
            teams:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterMatchmakingTeams
                      id:
                        type: string
                    required:
                    - id
                    - type
            rules:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterMatchmakingRules
                      id:
                        type: string
                    required:
                    - id
                    - type
            matchmakingQueues:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterMatchmakingQueues
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterMatchmakingRuleSetResponse:
      type: object
      title: GameCenterMatchmakingRuleSetResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterMatchmakingRuleSet'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterMatchmakingQueue'
            - $ref: '#/components/schemas/GameCenterMatchmakingRule'
            - $ref: '#/components/schemas/GameCenterMatchmakingTeam'
            discriminator:
              propertyName: type
              mapping:
                gameCenterMatchmakingQueues: '#/components/schemas/GameCenterMatchmakingQueue'
                gameCenterMatchmakingTeams: '#/components/schemas/GameCenterMatchmakingTeam'
                gameCenterMatchmakingRules: '#/components/schemas/GameCenterMatchmakingRule'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    GameCenterMatchmakingRuleSetsResponse:
      type: object
      title: GameCenterMatchmakingRuleSetsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterMatchmakingRuleSet'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterMatchmakingQueue'
            - $ref: '#/components/schemas/GameCenterMatchmakingRule'
            - $ref: '#/components/schemas/GameCenterMatchmakingTeam'
            discriminator:
              propertyName: type
              mapping:
                gameCenterMatchmakingQueues: '#/components/schemas/GameCenterMatchmakingQueue'
                gameCenterMatchmakingTeams: '#/components/schemas/GameCenterMatchmakingTeam'
                gameCenterMatchmakingRules: '#/components/schemas/GameCenterMatchmakingRule'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterMatchmakingTeam:
      type: object
      title: GameCenterMatchmakingTeam
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingTeams
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            minPlayers:
              type: integer
            maxPlayers:
              type: integer
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterMatchmakingRuleSetMatchmakingQueuesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterMatchmakingQueues
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterMatchmakingQueue:
      type: object
      title: GameCenterMatchmakingQueue
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingQueues
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            classicMatchmakingBundleIds:
              type: array
              items:
                type: string
        relationships:
          type: object
          properties:
            ruleSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterMatchmakingRuleSets
                    id:
                      type: string
                  required:
                  - id
                  - type
            experimentRuleSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterMatchmakingRuleSets
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterMatchmakingRuleSetTeamsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterMatchmakingTeams
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterMatchmakingRuleSetRulesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterMatchmakingRules
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterMatchmakingRulesResponse:
      type: object
      title: GameCenterMatchmakingRulesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterMatchmakingRule'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
