openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations Metrics API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: Metrics
paths:
  /v1/apps/{id}/metrics/betaTesterUsages:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: apps_betaTesterUsages_getMetrics
      parameters:
      - name: period
        in: query
        description: the duration of the reporting period
        schema:
          type: string
          enum:
          - P7D
          - P30D
          - P90D
          - P365D
        style: form
        explode: false
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - betaTesters
        style: form
        explode: false
      - name: filter[betaTesters]
        in: query
        description: filter by 'betaTesters' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppsBetaTesterUsagesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Apps / Beta Tester Usages
  /v1/betaGroups/{id}/metrics/betaTesterUsages:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: betaGroups_betaTesterUsages_getMetrics
      parameters:
      - name: period
        in: query
        description: the duration of the reporting period
        schema:
          type: string
          enum:
          - P7D
          - P30D
          - P90D
          - P365D
        style: form
        explode: false
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - betaTesters
        style: form
        explode: false
      - name: filter[betaTesters]
        in: query
        description: filter by 'betaTesters' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppsBetaTesterUsagesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Beta Groups / Beta Tester Usages
  /v1/betaGroups/{id}/metrics/publicLinkUsages:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: betaGroups_publicLinkUsages_getMetrics
      parameters:
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaPublicLinkUsagesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Beta Groups / Public Link Usages
  /v1/betaTesters/{id}/metrics/betaTesterUsages:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: betaTesters_betaTesterUsages_getMetrics
      parameters:
      - name: period
        in: query
        description: the duration of the reporting period
        schema:
          type: string
          enum:
          - P7D
          - P30D
          - P90D
          - P365D
        style: form
        explode: false
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: filter[apps]
        in: query
        description: filter by 'apps' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: true
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaTesterUsagesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Beta Testers / Beta Tester Usages
  /v1/builds/{id}/metrics/betaBuildUsages:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: builds_betaBuildUsages_getMetrics
      parameters:
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaBuildUsagesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Builds / Beta Build Usages
  /v1/gameCenterDetails/{id}/metrics/classicMatchmakingRequests:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterDetails_classicMatchmakingRequests_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - result
        style: form
        explode: false
      - name: filter[result]
        in: query
        description: filter by 'result' attribute dimension
        schema:
          type: string
          enum:
          - MATCHED
          - CANCELED
          - EXPIRED
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageSecondsInQueue
            - -averageSecondsInQueue
            - p50SecondsInQueue
            - -p50SecondsInQueue
            - p95SecondsInQueue
            - -p95SecondsInQueue
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingAppRequestsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Details / Classic Matchmaking Requests
  /v1/gameCenterDetails/{id}/metrics/ruleBasedMatchmakingRequests:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterDetails_ruleBasedMatchmakingRequests_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - result
        style: form
        explode: false
      - name: filter[result]
        in: query
        description: filter by 'result' attribute dimension
        schema:
          type: string
          enum:
          - MATCHED
          - CANCELED
          - EXPIRED
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageSecondsInQueue
            - -averageSecondsInQueue
            - p50SecondsInQueue
            - -p50SecondsInQueue
            - p95SecondsInQueue
            - -p95SecondsInQueue
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingAppRequestsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Details / Rule Based Matchmaking Requests
  /v1/gameCenterMatchmakingQueues/{id}/metrics/experimentMatchmakingQueueSizes:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterMatchmakingQueues_experimentMatchmakingQueueSizes_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageNumberOfRequests
            - -averageNumberOfRequests
            - p50NumberOfRequests
            - -p50NumberOfRequests
            - p95NumberOfRequests
            - -p95NumberOfRequests
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueSizesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Experiment Matchmaking Queue Sizes
  /v1/gameCenterMatchmakingQueues/{id}/metrics/experimentMatchmakingRequests:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterMatchmakingQueues_experimentMatchmakingRequests_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - result
            - gameCenterDetail
        style: form
        explode: false
      - name: filter[result]
        in: query
        description: filter by 'result' attribute dimension
        schema:
          type: string
          enum:
          - MATCHED
          - CANCELED
          - EXPIRED
        style: form
        explode: false
        required: false
      - name: filter[gameCenterDetail]
        in: query
        description: filter by 'gameCenterDetail' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageSecondsInQueue
            - -averageSecondsInQueue
            - p50SecondsInQueue
            - -p50SecondsInQueue
            - p95SecondsInQueue
            - -p95SecondsInQueue
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueRequestsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Experiment Matchmaking Requests
  /v1/gameCenterMatchmakingQueues/{id}/metrics/matchmakingQueueSizes:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterMatchmakingQueues_matchmakingQueueSizes_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageNumberOfRequests
            - -averageNumberOfRequests
            - p50NumberOfRequests
            - -p50NumberOfRequests
            - p95NumberOfRequests
            - -p95NumberOfRequests
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueSizesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Matchmaking Queue Sizes
  /v1/gameCenterMatchmakingQueues/{id}/metrics/matchmakingRequests:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterMatchmakingQueues_matchmakingRequests_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - result
            - gameCenterDetail
        style: form
        explode: false
      - name: filter[result]
        in: query
        description: filter by 'result' attribute dimension
        schema:
          type: string
          enum:
          - MATCHED
          - CANCELED
          - EXPIRED
        style: form
        explode: false
        required: false
      - name: filter[gameCenterDetail]
        in: query
        description: filter by 'gameCenterDetail' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageSecondsInQueue
            - -averageSecondsInQueue
            - p50SecondsInQueue
            - -p50SecondsInQueue
            - p95SecondsInQueue
            - -p95SecondsInQueue
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueRequestsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Matchmaking Requests
  /v1/gameCenterMatchmakingQueues/{id}/metrics/matchmakingSessions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterMatchmakingQueues_matchmakingSessions_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averagePlayerCount
            - -averagePlayerCount
            - p50PlayerCount
            - -p50PlayerCount
            - p95PlayerCount
            - -p95PlayerCount
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingSessionsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Matchmaking Sessions
  /v1/gameCenterMatchmakingRules/{id}/metrics/matchmakingBooleanRuleResults:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterMatchmakingRules_matchmakingBooleanRuleResults_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - result
            - gameCenterMatchmakingQueue
        style: form
        explode: false
      - name: filter[result]
        in: query
        description: filter by 'result' attribute dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: filter[gameCenterMatchmakingQueue]
        in: query
        description: filter by 'gameCenterMatchmakingQueue' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingBooleanRuleResultsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Rules / Matchmaking Boolean Rule Results
  /v1/gameCenterMatchmakingRules/{id}/metrics/matchmakingNumberRuleResults:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterMatchmakingRules_matchmakingNumberRuleResults_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterMatchmakingQueue
        style: form
        explode: false
      - name: filter[gameCenterMatchmakingQueue]
        in: query
        description: filter by 'gameCenterMatchmakingQueue' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageResult
            - -averageResult
            - p50Result
            - -p50Result
            - p95Result
            - -p95Result
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingNumberRuleResultsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Rules / Matchmaking Number Rule Results
  /v1/gameCenterMatchmakingRules/{id}/metrics/matchmakingRuleErrors:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Metrics
      operationId: gameCenterMatchmakingRules_matchmakingRuleErrors_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterMatchmakingQueue
        style: form
        explode: false
      - name: filter[gameCenterMatchmakingQueue]
        in: query
        description: filter by 'gameCenterMatchmakingQueue' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleErrorsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Rules / Matchmaking Rule Errors
components:
  schemas:
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterMatchmakingNumberRuleResultsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
                        averageResult:
                          type: number
                        p50Result:
                          type: number
                        p95Result:
                          type: number
              dimensions:
                type: object
                properties:
                  gameCenterMatchmakingQueue:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BetaTester:
      type: object
      title: BetaTester
      properties:
        type:
          type: string
          enum:
          - betaTesters
        id:
          type: string
        attributes:
          type: object
          properties:
            firstName:
              type: string
            lastName:
              type: string
            email:
              type: string
              format: email
            inviteType:
              $ref: '#/components/schemas/BetaInviteType'
            state:
              $ref: '#/components/schemas/BetaTesterState'
            appDevices:
              type: array
              items:
                type: object
                properties:
                  model:
                    type: string
                  platform:
                    type: string
                    enum:
                    - IOS
                    - MAC_OS
                    - TV_OS
                    - WATCH_OS
                    - VISION_OS
                  osVersion:
                    type: string
                  appBuildVersion:
                    type: string
        relationships:
          type: object
          properties:
            apps:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - apps
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppsBetaTesterUsagesV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        crashCount:
                          type: integer
                        sessionCount:
                          type: integer
                        feedbackCount:
                          type: integer
              dimensions:
                type: object
                properties:
                  betaTesters:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
        included:
          type: array
          items:
            $ref: '#/components/schemas/BetaTester'
      required:
      - data
      - links
    GameCenterMatchmakingQueueSizesV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
                        averageNumberOfRequests:
                          type: number
                        p50NumberOfRequests:
                          type: number
                        p95NumberOfRequests:
                          type: number
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    BetaTesterState:
      type: string
      enum:
      - NOT_INVITED
      - INVITED
      - ACCEPTED
      - INSTALLED
      - REVOKED
    GameCenterMatchmakingSessionsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
                        averagePlayerCount:
                          type: number
                        p50PlayerCount:
                          type: number
                        p95PlayerCount:
                          type: number
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    GameCenterMatchmakingQueueRequestsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
                        averageSecondsInQueue:
                          type: number
                        p50SecondsInQueue:
                          type: number
                        p95SecondsInQueue:
                          type: number
              dimensions:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                      data:
                        type: string
                        enum:
                        - MATCHED
                        - CANCELED
                        - EXPIRED
                  gameCenterDetail:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterMatchmakingBooleanRuleResultsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
              dimensions:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                      data:
                        type: string
                  gameCenterMatchmakingQueue:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterMatchmakingAppRequestsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
                        averageSecondsInQueue:
                          type: number
                        p50SecondsInQueue:
                          type: number
                        p95SecondsInQueue:
                          type: number
              dimensions:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                      data:
                        type: string
                        enum:
                        - MATCHED
                        - CANCELED
                        - EXPIRED
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BetaInviteType:
      type: string
      enum:
      - EMAIL
      - PUBLIC_LINK
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterMatchmakingRuleErrorsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
              dimensions:
                type: object
                properties:
                  gameCenterMatchmakingQueue:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BetaTesterUsagesV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        crashCount:
                          type: integer
                        sessionCount:
                          type: integer
                        feedbackCount:
                          type: integer
              dimensions:
                type: object
                properties:
                  apps:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BetaBuildUsagesV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        crashCount:
                          type: integer
                        installCount:
                          type: integer
                        sessionCount:
                          type: integer
                        feedbackCount:
                          type: integer
                        inviteCount:
                          type: integer
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BetaPublicLinkUsagesV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        viewCount:
                          type: integer
                        acceptedCount:
                          type: integer
                        didNotAcceptCount:
                          type: integer
                        didNotMeetCriteriaCount:
                          type: integer
                        notRelevantRatio:
                          type: number
                        notClearRatio:
                          type: number
                        notInterestingRatio:
                          type: number
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
