openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AndroidToIosAppMappingDetails API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AndroidToIosAppMappingDetails
paths:
  /v1/androidToIosAppMappingDetails:
    post:
      tags:
      - AndroidToIosAppMappingDetails
      operationId: androidToIosAppMappingDetails_createInstance
      requestBody:
        description: AndroidToIosAppMappingDetail representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidToIosAppMappingDetailCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AndroidToIosAppMappingDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidToIosAppMappingDetailResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Android to Ios App Mapping Details
  /v1/androidToIosAppMappingDetails/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AndroidToIosAppMappingDetails
      operationId: androidToIosAppMappingDetails_getInstance
      parameters:
      - name: fields[androidToIosAppMappingDetails]
        in: query
        description: the fields to include for returned resources of type androidToIosAppMappingDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - packageName
            - appSigningKeyPublicCertificateSha256Fingerprints
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AndroidToIosAppMappingDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidToIosAppMappingDetailResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Android to Ios App Mapping Details
    patch:
      tags:
      - AndroidToIosAppMappingDetails
      operationId: androidToIosAppMappingDetails_updateInstance
      requestBody:
        description: AndroidToIosAppMappingDetail representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidToIosAppMappingDetailUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AndroidToIosAppMappingDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidToIosAppMappingDetailResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Android to Ios App Mapping Details
    delete:
      tags:
      - AndroidToIosAppMappingDetails
      operationId: androidToIosAppMappingDetails_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Android to Ios App Mapping Details
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    AndroidToIosAppMappingDetailCreateRequest:
      type: object
      title: AndroidToIosAppMappingDetailCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - androidToIosAppMappingDetails
            attributes:
              type: object
              properties:
                packageName:
                  type: string
                appSigningKeyPublicCertificateSha256Fingerprints:
                  type: array
                  items:
                    type: string
              required:
              - appSigningKeyPublicCertificateSha256Fingerprints
              - packageName
            relationships:
              type: object
              properties:
                app:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - apps
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - app
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AndroidToIosAppMappingDetail:
      type: object
      title: AndroidToIosAppMappingDetail
      properties:
        type:
          type: string
          enum:
          - androidToIosAppMappingDetails
        id:
          type: string
        attributes:
          type: object
          properties:
            packageName:
              type: string
            appSigningKeyPublicCertificateSha256Fingerprints:
              type: array
              items:
                type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    AndroidToIosAppMappingDetailUpdateRequest:
      type: object
      title: AndroidToIosAppMappingDetailUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - androidToIosAppMappingDetails
            id:
              type: string
            attributes:
              type: object
              properties:
                packageName:
                  type: string
                  nullable: true
                appSigningKeyPublicCertificateSha256Fingerprints:
                  type: array
                  items:
                    type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    AndroidToIosAppMappingDetailResponse:
      type: object
      title: AndroidToIosAppMappingDetailResponse
      properties:
        data:
          $ref: '#/components/schemas/AndroidToIosAppMappingDetail'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
