openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterLeaderboardSetImages API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterLeaderboardSetImages
paths:
  /v1/gameCenterLeaderboardSetImages:
    post:
      tags:
      - GameCenterLeaderboardSetImages
      operationId: gameCenterLeaderboardSetImages_createInstance
      deprecated: true
      requestBody:
        description: GameCenterLeaderboardSetImage representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetImageCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardSetImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetImageResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Set Images
  /v1/gameCenterLeaderboardSetImages/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSetImages
      operationId: gameCenterLeaderboardSetImages_getInstance
      deprecated: true
      parameters:
      - name: fields[gameCenterLeaderboardSetImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - gameCenterLeaderboardSetLocalization
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardSetLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - gameCenterLeaderboardSet
            - gameCenterLeaderboardSetImage
        style: form
        explode: false
        required: false
        deprecated: true
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterLeaderboardSetLocalization
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSetImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetImageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Set Images
    patch:
      tags:
      - GameCenterLeaderboardSetImages
      operationId: gameCenterLeaderboardSetImages_updateInstance
      deprecated: true
      requestBody:
        description: GameCenterLeaderboardSetImage representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetImageUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSetImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetImageResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Leaderboard Set Images
    delete:
      tags:
      - GameCenterLeaderboardSetImages
      operationId: gameCenterLeaderboardSetImages_deleteInstance
      deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Leaderboard Set Images
  /v2/gameCenterLeaderboardSetImages:
    post:
      tags:
      - GameCenterLeaderboardSetImages
      operationId: gameCenterLeaderboardSetImagesV2_createInstance
      requestBody:
        description: GameCenterLeaderboardSetImage representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetImageV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardSetImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetImageV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Set Images V2
  /v2/gameCenterLeaderboardSetImages/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSetImages
      operationId: gameCenterLeaderboardSetImagesV2_getInstance
      parameters:
      - name: fields[gameCenterLeaderboardSetImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - localization
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardSetLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - version
            - image
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - localization
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSetImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetImageV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Set Images V2
    patch:
      tags:
      - GameCenterLeaderboardSetImages
      operationId: gameCenterLeaderboardSetImagesV2_updateInstance
      requestBody:
        description: GameCenterLeaderboardSetImage representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetImageV2UpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSetImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetImageV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Leaderboard Set Images V2
    delete:
      tags:
      - GameCenterLeaderboardSetImages
      operationId: gameCenterLeaderboardSetImagesV2_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Leaderboard Set Images V2
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    GameCenterLeaderboardSetLocalizationV2:
      type: object
      title: GameCenterLeaderboardSetLocalizationV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterLeaderboardSetImageResponse:
      type: object
      title: GameCenterLeaderboardSetImageResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardSetImage'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboardSetLocalization'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterLeaderboardSetImageUpdateRequest:
      type: object
      title: GameCenterLeaderboardSetImageUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSetImages
            id:
              type: string
            attributes:
              type: object
              properties:
                uploaded:
                  type: boolean
                  nullable: true
          required:
          - id
          - type
      required:
      - data
      deprecated: true
    GameCenterLeaderboardSetImage:
      type: object
      title: GameCenterLeaderboardSetImage
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            gameCenterLeaderboardSetLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    GameCenterLeaderboardSetImageV2:
      type: object
      title: GameCenterLeaderboardSetImageV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            localization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    GameCenterLeaderboardSetImageV2CreateRequest:
      type: object
      title: GameCenterLeaderboardSetImageV2CreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSetImages
            attributes:
              type: object
              properties:
                fileSize:
                  type: integer
                fileName:
                  type: string
              required:
              - fileName
              - fileSize
            relationships:
              type: object
              properties:
                localization:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboardSetLocalizations
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - localization
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    GameCenterLeaderboardSetImageV2Response:
      type: object
      title: GameCenterLeaderboardSetImageV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardSetImageV2'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboardSetLocalizationV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    GameCenterLeaderboardSetLocalization:
      type: object
      title: GameCenterLeaderboardSetLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
        relationships:
          type: object
          properties:
            gameCenterLeaderboardSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSets
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboardSetImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    GameCenterLeaderboardSetImageV2UpdateRequest:
      type: object
      title: GameCenterLeaderboardSetImageV2UpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSetImages
            id:
              type: string
            attributes:
              type: object
              properties:
                uploaded:
                  type: boolean
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    GameCenterLeaderboardSetImageCreateRequest:
      type: object
      title: GameCenterLeaderboardSetImageCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSetImages
            attributes:
              type: object
              properties:
                fileSize:
                  type: integer
                fileName:
                  type: string
              required:
              - fileName
              - fileSize
            relationships:
              type: object
              properties:
                gameCenterLeaderboardSetLocalization:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboardSetLocalizations
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - gameCenterLeaderboardSetLocalization
          required:
          - relationships
          - attributes
          - type
      required:
      - data
      deprecated: true
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
