openapi: 3.2.0
info:
  title: App Store Connect Beta Recruitment Criterion Options API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BetaRecruitmentCriterionOptions
paths:
  /v1/betaRecruitmentCriterionOptions:
    get:
      tags:
      - BetaRecruitmentCriterionOptions
      operationId: betaRecruitmentCriterionOptions_getCollection
      parameters:
      - name: fields[betaRecruitmentCriterionOptions]
        in: query
        description: the fields to include for returned resources of type betaRecruitmentCriterionOptions
        schema:
          type: array
          items:
            type: string
            enum:
            - deviceFamilyOsVersions
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BetaRecruitmentCriterionOptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaRecruitmentCriterionOptionsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Beta Recruitment Criterion Options
components:
  schemas:
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    BetaRecruitmentCriterionOption:
      type: object
      title: BetaRecruitmentCriterionOption
      properties:
        type:
          type: string
          enum:
          - betaRecruitmentCriterionOptions
        id:
          type: string
        attributes:
          type: object
          properties:
            deviceFamilyOsVersions:
              type: array
              items:
                type: object
                properties:
                  deviceFamily:
                    $ref: '#/components/schemas/DeviceFamily'
                  osVersions:
                    type: array
                    items:
                      type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    BetaRecruitmentCriterionOptionsResponse:
      type: object
      title: BetaRecruitmentCriterionOptionsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BetaRecruitmentCriterionOption'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    DeviceFamily:
      type: string
      enum:
      - IPHONE
      - IPAD
      - APPLE_TV
      - APPLE_WATCH
      - MAC
      - VISION
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
