openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations CiWorkflows API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: CiWorkflows
paths:
  /v1/ciWorkflows:
    post:
      tags:
      - CiWorkflows
      operationId: ciWorkflows_createInstance
      requestBody:
        description: CiWorkflow representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CiWorkflowCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single CiWorkflow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiWorkflowResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Ci Workflows
  /v1/ciWorkflows/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiWorkflows
      operationId: ciWorkflows_getInstance
      parameters:
      - name: fields[ciWorkflows]
        in: query
        description: the fields to include for returned resources of type ciWorkflows
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - description
            - branchStartCondition
            - tagStartCondition
            - pullRequestStartCondition
            - scheduledStartCondition
            - manualBranchStartCondition
            - manualTagStartCondition
            - manualPullRequestStartCondition
            - actions
            - isEnabled
            - isLockedForEditing
            - clean
            - containerFilePath
            - lastModifiedDate
            - product
            - repository
            - xcodeVersion
            - macOsVersion
            - buildRuns
        style: form
        explode: false
        required: false
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
        required: false
      - name: fields[scmRepositories]
        in: query
        description: the fields to include for returned resources of type scmRepositories
        schema:
          type: array
          items:
            type: string
            enum:
            - lastAccessedDate
            - httpCloneUrl
            - sshCloneUrl
            - ownerName
            - repositoryName
            - scmProvider
            - defaultBranch
            - gitReferences
            - pullRequests
        style: form
        explode: false
        required: false
      - name: fields[ciXcodeVersions]
        in: query
        description: the fields to include for returned resources of type ciXcodeVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - testDestinations
            - macOsVersions
        style: form
        explode: false
        required: false
      - name: fields[ciMacOsVersions]
        in: query
        description: the fields to include for returned resources of type ciMacOsVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - xcodeVersions
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - product
            - repository
            - xcodeVersion
            - macOsVersion
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single CiWorkflow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiWorkflowResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ci Workflows
    patch:
      tags:
      - CiWorkflows
      operationId: ciWorkflows_updateInstance
      requestBody:
        description: CiWorkflow representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CiWorkflowUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single CiWorkflow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiWorkflowResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Ci Workflows
    delete:
      tags:
      - CiWorkflows
      operationId: ciWorkflows_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Ci Workflows
  /v1/ciWorkflows/{id}/relationships/buildRuns:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiWorkflows
      operationId: ciWorkflows_buildRuns_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiWorkflowBuildRunsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Workflows / Build Runs
  /v1/ciWorkflows/{id}/buildRuns:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiWorkflows
      operationId: ciWorkflows_buildRuns_getToManyRelated
      parameters:
      - name: filter[builds]
        in: query
        description: filter by id(s) of related 'builds'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; resources will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - number
            - -number
        style: form
        explode: false
      - name: fields[ciBuildRuns]
        in: query
        description: the fields to include for returned resources of type ciBuildRuns
        schema:
          type: array
          items:
            type: string
            enum:
            - number
            - createdDate
            - startedDate
            - finishedDate
            - sourceCommit
            - destinationCommit
            - isPullRequestBuild
            - issueCounts
            - executionProgress
            - completionStatus
            - startReason
            - cancelReason
            - builds
            - workflow
            - product
            - sourceBranchOrTag
            - destinationBranch
            - actions
            - pullRequest
        style: form
        explode: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      - name: fields[ciWorkflows]
        in: query
        description: the fields to include for returned resources of type ciWorkflows
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - description
            - branchStartCondition
            - tagStartCondition
            - pullRequestStartCondition
            - scheduledStartCondition
            - manualBranchStartCondition
            - manualTagStartCondition
            - manualPullRequestStartCondition
            - actions
            - isEnabled
            - isLockedForEditing
            - clean
            - containerFilePath
            - lastModifiedDate
            - product
            - repository
            - xcodeVersion
            - macOsVersion
            - buildRuns
        style: form
        explode: false
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
      - name: fields[scmGitReferences]
        in: query
        description: the fields to include for returned resources of type scmGitReferences
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - canonicalName
            - isDeleted
            - kind
            - repository
        style: form
        explode: false
      - name: fields[scmPullRequests]
        in: query
        description: the fields to include for returned resources of type scmPullRequests
        schema:
          type: array
          items:
            type: string
            enum:
            - title
            - number
            - webUrl
            - sourceRepositoryOwner
            - sourceRepositoryName
            - sourceBranchName
            - destinationRepositoryOwner
            - destinationRepositoryName
            - destinationBranchName
            - isClosed
            - isCrossRepository
            - repository
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - builds
            - workflow
            - product
            - sourceBranchOrTag
            - destinationBranch
            - pullRequest
        style: form
        explode: false
      - name: limit[builds]
        in: query
        description: maximum number of related builds returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CiBuildRuns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiBuildRunsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Workflows / Build Runs
  /v1/ciWorkflows/{id}/relationships/repository:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiWorkflows
      operationId: ciWorkflows_repository_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiWorkflowRepositoryLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Ci Workflows / Repository
  /v1/ciWorkflows/{id}/repository:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiWorkflows
      operationId: ciWorkflows_repository_getToOneRelated
      parameters:
      - name: fields[scmRepositories]
        in: query
        description: the fields to include for returned resources of type scmRepositories
        schema:
          type: array
          items:
            type: string
            enum:
            - lastAccessedDate
            - httpCloneUrl
            - sshCloneUrl
            - ownerName
            - repositoryName
            - scmProvider
            - defaultBranch
            - gitReferences
            - pullRequests
        style: form
        explode: false
      - name: fields[scmProviders]
        in: query
        description: the fields to include for returned resources of type scmProviders
        schema:
          type: array
          items:
            type: string
            enum:
            - scmProviderType
            - url
            - repositories
        style: form
        explode: false
      - name: fields[scmGitReferences]
        in: query
        description: the fields to include for returned resources of type scmGitReferences
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - canonicalName
            - isDeleted
            - kind
            - repository
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - scmProvider
            - defaultBranch
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single ScmRepository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScmRepositoryResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Ci Workflows / Repository
components:
  schemas:
    CiManualTagStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiTagPatterns'
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    CiActionType:
      type: string
      enum:
      - BUILD
      - ANALYZE
      - TEST
      - ARCHIVE
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    CiTagStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiTagPatterns'
        filesAndFoldersRule:
          $ref: '#/components/schemas/CiFilesAndFoldersRule'
        autoCancel:
          type: boolean
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ScmPullRequest:
      type: object
      title: ScmPullRequest
      properties:
        type:
          type: string
          enum:
          - scmPullRequests
        id:
          type: string
        attributes:
          type: object
          properties:
            title:
              type: string
            number:
              type: integer
            webUrl:
              type: string
              format: uri
            sourceRepositoryOwner:
              type: string
            sourceRepositoryName:
              type: string
            sourceBranchName:
              type: string
            destinationRepositoryOwner:
              type: string
            destinationRepositoryName:
              type: string
            destinationBranchName:
              type: string
            isClosed:
              type: boolean
            isCrossRepository:
              type: boolean
        relationships:
          type: object
          properties:
            repository:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmRepositories
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiXcodeVersion:
      type: object
      title: CiXcodeVersion
      properties:
        type:
          type: string
          enum:
          - ciXcodeVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            name:
              type: string
            testDestinations:
              type: array
              items:
                type: object
                properties:
                  deviceTypeName:
                    type: string
                  deviceTypeIdentifier:
                    type: string
                  availableRuntimes:
                    type: array
                    items:
                      type: object
                      properties:
                        runtimeName:
                          type: string
                        runtimeIdentifier:
                          type: string
                  kind:
                    $ref: '#/components/schemas/CiTestDestinationKind'
        relationships:
          type: object
          properties:
            macOsVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - ciMacOsVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiExecutionProgress:
      type: string
      enum:
      - PENDING
      - RUNNING
      - COMPLETE
    CiAction:
      type: object
      properties:
        name:
          type: string
        actionType:
          $ref: '#/components/schemas/CiActionType'
        destination:
          type: string
          enum:
          - ANY_IOS_DEVICE
          - ANY_IOS_SIMULATOR
          - ANY_TVOS_DEVICE
          - ANY_TVOS_SIMULATOR
          - ANY_WATCHOS_DEVICE
          - ANY_WATCHOS_SIMULATOR
          - ANY_MAC
          - ANY_MAC_CATALYST
          - ANY_VISIONOS_DEVICE
          - ANY_VISIONOS_SIMULATOR
        buildDistributionAudience:
          $ref: '#/components/schemas/BuildAudienceType'
        testConfiguration:
          type: object
          properties:
            kind:
              type: string
              enum:
              - USE_SCHEME_SETTINGS
              - SPECIFIC_TEST_PLANS
            testPlanName:
              type: string
            testDestinations:
              type: array
              items:
                $ref: '#/components/schemas/CiTestDestination'
        scheme:
          type: string
        platform:
          type: string
          enum:
          - MACOS
          - IOS
          - TVOS
          - WATCHOS
          - VISIONOS
        isRequiredToPass:
          type: boolean
    CiTestDestinationKind:
      type: string
      enum:
      - SIMULATOR
      - MAC
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    CiIssueCounts:
      type: object
      properties:
        analyzerWarnings:
          type: integer
        errors:
          type: integer
        testFailures:
          type: integer
        warnings:
          type: integer
    CiProduct:
      type: object
      title: CiProduct
      properties:
        type:
          type: string
          enum:
          - ciProducts
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            createdDate:
              type: string
              format: date-time
            productType:
              type: string
              enum:
              - APP
              - FRAMEWORK
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            bundleId:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - bundleIds
                    id:
                      type: string
                  required:
                  - id
                  - type
            workflows:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            primaryRepositories:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - scmRepositories
                      id:
                        type: string
                    required:
                    - id
                    - type
            additionalRepositories:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            buildRuns:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiWorkflowBuildRunsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - ciBuildRuns
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiManualPullRequestStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        destination:
          $ref: '#/components/schemas/CiBranchPatterns'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    CiTestDestination:
      type: object
      properties:
        deviceTypeName:
          type: string
        deviceTypeIdentifier:
          type: string
        runtimeName:
          type: string
        runtimeIdentifier:
          type: string
        kind:
          $ref: '#/components/schemas/CiTestDestinationKind'
    CiWorkflowResponse:
      type: object
      title: CiWorkflowResponse
      properties:
        data:
          $ref: '#/components/schemas/CiWorkflow'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CiMacOsVersion'
            - $ref: '#/components/schemas/CiProduct'
            - $ref: '#/components/schemas/CiXcodeVersion'
            - $ref: '#/components/schemas/ScmRepository'
            discriminator:
              propertyName: type
              mapping:
                scmRepositories: '#/components/schemas/ScmRepository'
                ciMacOsVersions: '#/components/schemas/CiMacOsVersion'
                ciProducts: '#/components/schemas/CiProduct'
                ciXcodeVersions: '#/components/schemas/CiXcodeVersion'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    CiMacOsVersion:
      type: object
      title: CiMacOsVersion
      properties:
        type:
          type: string
          enum:
          - ciMacOsVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            name:
              type: string
        relationships:
          type: object
          properties:
            xcodeVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - ciXcodeVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiBuildRunsResponse:
      type: object
      title: CiBuildRunsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CiBuildRun'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Build'
            - $ref: '#/components/schemas/CiProduct'
            - $ref: '#/components/schemas/CiWorkflow'
            - $ref: '#/components/schemas/ScmGitReference'
            - $ref: '#/components/schemas/ScmPullRequest'
            discriminator:
              propertyName: type
              mapping:
                ciProducts: '#/components/schemas/CiProduct'
                builds: '#/components/schemas/Build'
                scmPullRequests: '#/components/schemas/ScmPullRequest'
                ciWorkflows: '#/components/schemas/CiWorkflow'
                scmGitReferences: '#/components/schemas/ScmGitReference'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ScmProvider:
      type: object
      title: ScmProvider
      properties:
        type:
          type: string
          enum:
          - scmProviders
        id:
          type: string
        attributes:
          type: object
          properties:
            scmProviderType:
              $ref: '#/components/schemas/ScmProviderType'
            url:
              type: string
              format: uri
        relationships:
          type: object
          properties:
            repositories:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    Build:
      type: object
      title: Build
      properties:
        type:
          type: string
          enum:
          - builds
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            uploadedDate:
              type: string
              format: date-time
            expirationDate:
              type: string
              format: date-time
            expired:
              type: boolean
            minOsVersion:
              type: string
            lsMinimumSystemVersion:
              type: string
            computedMinMacOsVersion:
              type: string
            computedMinVisionOsVersion:
              type: string
            iconAssetToken:
              $ref: '#/components/schemas/ImageAsset'
            processingState:
              type: string
              enum:
              - PROCESSING
              - FAILED
              - INVALID
              - VALID
            buildAudienceType:
              $ref: '#/components/schemas/BuildAudienceType'
            usesNonExemptEncryption:
              type: boolean
        relationships:
          type: object
          properties:
            preReleaseVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - preReleaseVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            individualTesters:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaTesters
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaBuildLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaBuildLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appEncryptionDeclaration:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appEncryptionDeclarations
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaAppReviewSubmission:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaAppReviewSubmissions
                    id:
                      type: string
                  required:
                  - id
                  - type
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            buildBetaDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildBetaDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            icons:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - buildIcons
                      id:
                        type: string
                    required:
                    - id
                    - type
            buildBundles:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - buildBundles
                      id:
                        type: string
                    required:
                    - id
                    - type
            buildUpload:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildUploads
                    id:
                      type: string
                  required:
                  - id
                  - type
            perfPowerMetrics:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            diagnosticSignatures:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ScmRepository:
      type: object
      title: ScmRepository
      properties:
        type:
          type: string
          enum:
          - scmRepositories
        id:
          type: string
        attributes:
          type: object
          properties:
            lastAccessedDate:
              type: string
              format: date-time
            httpCloneUrl:
              type: string
              format: uri
            sshCloneUrl:
              type: string
              format: uri
            ownerName:
              type: string
            repositoryName:
              type: string
        relationships:
          type: object
          properties:
            scmProvider:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmProviders
                    id:
                      type: string
                  required:
                  - id
                  - type
            defaultBranch:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmGitReferences
                    id:
                      type: string
                  required:
                  - id
                  - type
            gitReferences:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            pullRequests:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiBuildRun:
      type: object
      title: CiBuildRun
      properties:
        type:
          type: string
          enum:
          - ciBuildRuns
        id:
          type: string
        attributes:
          type: object
          properties:
            number:
              type: integer
            createdDate:
              type: string
              format: date-time
            startedDate:
              type: string
              format: date-time
            finishedDate:
              type: string
              format: date-time
            sourceCommit:
              type: object
              properties:
                commitSha:
                  type: string
                message:
                  type: string
                author:
                  $ref: '#/components/schemas/CiGitUser'
                committer:
                  $ref: '#/components/schemas/CiGitUser'
                webUrl:
                  type: string
                  format: uri
            destinationCommit:
              type: object
              properties:
                commitSha:
                  type: string
                message:
                  type: string
                author:
                  $ref: '#/components/schemas/CiGitUser'
                committer:
                  $ref: '#/components/schemas/CiGitUser'
                webUrl:
                  type: string
                  format: uri
            isPullRequestBuild:
              type: boolean
            issueCounts:
              $ref: '#/components/schemas/CiIssueCounts'
            executionProgress:
              $ref: '#/components/schemas/CiExecutionProgress'
            completionStatus:
              $ref: '#/components/schemas/CiCompletionStatus'
            startReason:
              type: string
              enum:
              - GIT_REF_CHANGE
              - MANUAL
              - MANUAL_REBUILD
              - PULL_REQUEST_OPEN
              - PULL_REQUEST_UPDATE
              - SCHEDULE
            cancelReason:
              type: string
              enum:
              - AUTOMATICALLY_BY_NEWER_BUILD
              - MANUALLY_BY_USER
        relationships:
          type: object
          properties:
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
            workflow:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciWorkflows
                    id:
                      type: string
                  required:
                  - id
                  - type
            product:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciProducts
                    id:
                      type: string
                  required:
                  - id
                  - type
            sourceBranchOrTag:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmGitReferences
                    id:
                      type: string
                  required:
                  - id
                  - type
            destinationBranch:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmGitReferences
                    id:
                      type: string
                  required:
                  - id
                  - type
            actions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            pullRequest:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmPullRequests
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiWorkflowCreateRequest:
      type: object
      title: CiWorkflowCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - ciWorkflows
            attributes:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                branchStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiBranchStartCondition'
                tagStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiTagStartCondition'
                pullRequestStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiPullRequestStartCondition'
                scheduledStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiScheduledStartCondition'
                manualBranchStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiManualBranchStartCondition'
                manualTagStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiManualTagStartCondition'
                manualPullRequestStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiManualPullRequestStartCondition'
                actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/CiAction'
                isEnabled:
                  type: boolean
                isLockedForEditing:
                  type: boolean
                  nullable: true
                clean:
                  type: boolean
                containerFilePath:
                  type: string
              required:
              - containerFilePath
              - isEnabled
              - name
              - description
              - clean
              - actions
            relationships:
              type: object
              properties:
                product:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - ciProducts
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                repository:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - scmRepositories
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                xcodeVersion:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - ciXcodeVersions
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                macOsVersion:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - ciMacOsVersions
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - macOsVersion
              - product
              - repository
              - xcodeVersion
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    CiManualBranchStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
    ScmRepositoryResponse:
      type: object
      title: ScmRepositoryResponse
      properties:
        data:
          $ref: '#/components/schemas/ScmRepository'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/ScmGitReference'
            - $ref: '#/components/schemas/ScmProvider'
            discriminator:
              propertyName: type
              mapping:
                scmProviders: '#/components/schemas/ScmProvider'
                scmGitReferences: '#/components/schemas/ScmGitReference'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    CiGitUser:
      type: object
      properties:
        displayName:
          type: string
        avatarUrl:
          type: string
          format: uri
    CiWorkflowRepositoryLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - scmRepositories
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    ScmProviderType:
      type: object
      properties:
        kind:
          type: string
          enum:
          - BITBUCKET_CLOUD
          - BITBUCKET_SERVER
          - GITHUB_CLOUD
          - GITHUB_ENTERPRISE
          - GITLAB_CLOUD
          - GITLAB_SELF_MANAGED
        displayName:
          type: string
        isOnPremise:
          type: boolean
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    BuildAudienceType:
      type: string
      enum:
      - INTERNAL_ONLY
      - APP_STORE_ELIGIBLE
    CiWorkflowUpdateRequest:
      type: object
      title: CiWorkflowUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - ciWorkflows
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
                branchStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiBranchStartCondition'
                tagStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiTagStartCondition'
                pullRequestStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiPullRequestStartCondition'
                scheduledStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiScheduledStartCondition'
                manualBranchStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiManualBranchStartCondition'
                manualTagStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiManualTagStartCondition'
                manualPullRequestStartCondition:
                  nullable: true
                  $ref: '#/components/schemas/CiManualPullRequestStartCondition'
                actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/CiAction'
                  nullable: true
                isEnabled:
                  type: boolean
                  nullable: true
                isLockedForEditing:
                  type: boolean
                  nullable: true
                clean:
                  type: boolean
                  nullable: true
                containerFilePath:
                  type: string
                  nullable: true
            relationships:
              type: object
              properties:
                xcodeVersion:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - ciXcodeVersions
                        id:
                          type: string
                      required:
                      - id
                      - type
                macOsVersion:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - ciMacOsVersions
                        id:
                          type: string
                      required:
                      - id
                      - type
          required:
          - id
          - type
      required:
      - data
    CiStartConditionFileMatcher:
      type: object
      properties:
        directory:
          type: string
        fileExtension:
          type: string
        fileName:
          type: string
    CiPullRequestStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        destination:
          $ref: '#/components/schemas/CiBranchPatterns'
        filesAndFoldersRule:
          $ref: '#/components/schemas/CiFilesAndFoldersRule'
        autoCancel:
          type: boolean
    CiTagPatterns:
      type: object
      properties:
        isAllMatch:
          type: boolean
        patterns:
          type: array
          items:
            type: object
            properties:
              pattern:
                type: string
              isPrefix:
                type: boolean
    CiCompletionStatus:
      type: string
      enum:
      - SUCCEEDED
      - FAILED
      - ERRORED
      - CANCELED
      - SKIPPED
    CiScheduledStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        schedule:
          type: object
          properties:
            frequency:
              type: string
              enum:
              - WEEKLY
              - DAILY
              - HOURLY
            days:
              type: array
              items:
                type: string
                enum:
                - SUNDAY
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
            hour:
              type: integer
            minute:
              type: integer
            timezone:
              type: string
    CiWorkflow:
      type: object
      title: CiWorkflow
      properties:
        type:
          type: string
          enum:
          - ciWorkflows
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            description:
              type: string
            branchStartCondition:
              $ref: '#/components/schemas/CiBranchStartCondition'
            tagStartCondition:
              $ref: '#/components/schemas/CiTagStartCondition'
            pullRequestStartCondition:
              $ref: '#/components/schemas/CiPullRequestStartCondition'
            scheduledStartCondition:
              $ref: '#/components/schemas/CiScheduledStartCondition'
            manualBranchStartCondition:
              $ref: '#/components/schemas/CiManualBranchStartCondition'
            manualTagStartCondition:
              $ref: '#/components/schemas/CiManualTagStartCondition'
            manualPullRequestStartCondition:
              $ref: '#/components/schemas/CiManualPullRequestStartCondition'
            actions:
              type: array
              items:
                $ref: '#/components/schemas/CiAction'
            isEnabled:
              type: boolean
            isLockedForEditing:
              type: boolean
            clean:
              type: boolean
            containerFilePath:
              type: string
            lastModifiedDate:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            product:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciProducts
                    id:
                      type: string
                  required:
                  - id
                  - type
            repository:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmRepositories
                    id:
                      type: string
                  required:
                  - id
                  - type
            xcodeVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciXcodeVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            macOsVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciMacOsVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            buildRuns:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiBranchPatterns:
      type: object
      properties:
        isAllMatch:
          type: boolean
        patterns:
          type: array
          items:
            type: object
            properties:
              pattern:
                type: string
              isPrefix:
                type: boolean
    ScmGitReference:
      type: object
      title: ScmGitReference
      properties:
        type:
          type: string
          enum:
          - scmGitReferences
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            canonicalName:
              type: string
            isDeleted:
              type: boolean
            kind:
              $ref: '#/components/schemas/CiGitRefKind'
        relationships:
          type: object
          properties:
            repository:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - scmRepositories
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiFilesAndFoldersRule:
      type: object
      properties:
        mode:
          type: string
          enum:
          - START_IF_ANY_FILE_MATCHES
          - DO_NOT_START_IF_ALL_FILES_MATCH
        matchers:
          type: array
          items:
            $ref: '#/components/schemas/CiStartConditionFileMatcher'
    CiGitRefKind:
      type: string
      enum:
      - BRANCH
      - TAG
    CiBranchStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        filesAndFoldersRule:
          $ref: '#/components/schemas/CiFilesAndFoldersRule'
        autoCancel:
          type: boolean
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
