openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppStoreVersionExperimentTreatments API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppStoreVersionExperimentTreatments
paths:
  /v1/appStoreVersionExperimentTreatments:
    post:
      tags:
      - AppStoreVersionExperimentTreatments
      operationId: appStoreVersionExperimentTreatments_createInstance
      requestBody:
        description: AppStoreVersionExperimentTreatment representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppStoreVersionExperimentTreatment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Store Version Experiment Treatments
  /v1/appStoreVersionExperimentTreatments/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersionExperimentTreatments
      operationId: appStoreVersionExperimentTreatments_getInstance
      parameters:
      - name: fields[appStoreVersionExperimentTreatments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - appIcon
            - appIconName
            - promotedDate
            - appStoreVersionExperiment
            - appStoreVersionExperimentV2
            - appStoreVersionExperimentTreatmentLocalizations
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionExperiments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperiments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - trafficProportion
            - state
            - reviewRequired
            - startDate
            - endDate
            - appStoreVersion
            - appStoreVersionExperimentTreatments
            - platform
            - app
            - latestControlVersion
            - controlVersions
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionExperimentTreatmentLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatmentLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - appStoreVersionExperimentTreatment
            - appScreenshotSets
            - appPreviewSets
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersionExperiment
            - appStoreVersionExperimentV2
            - appStoreVersionExperimentTreatmentLocalizations
        style: form
        explode: false
        required: false
      - name: limit[appStoreVersionExperimentTreatmentLocalizations]
        in: query
        description: maximum number of related appStoreVersionExperimentTreatmentLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreVersionExperimentTreatment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Store Version Experiment Treatments
    patch:
      tags:
      - AppStoreVersionExperimentTreatments
      operationId: appStoreVersionExperimentTreatments_updateInstance
      requestBody:
        description: AppStoreVersionExperimentTreatment representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreVersionExperimentTreatment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update App Store Version Experiment Treatments
    delete:
      tags:
      - AppStoreVersionExperimentTreatments
      operationId: appStoreVersionExperimentTreatments_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete App Store Version Experiment Treatments
  /v1/appStoreVersionExperimentTreatments/{id}/relationships/appStoreVersionExperimentTreatmentLocalizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersionExperimentTreatments
      operationId: appStoreVersionExperimentTreatments_appStoreVersionExperimentTreatmentLocalizations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentAppStoreVersionExperimentTreatmentLocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Version Experiment Treatments / App Store Version Experiment Treatment Localizations
  /v1/appStoreVersionExperimentTreatments/{id}/appStoreVersionExperimentTreatmentLocalizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersionExperimentTreatments
      operationId: appStoreVersionExperimentTreatments_appStoreVersionExperimentTreatmentLocalizations_getToManyRelated
      parameters:
      - name: filter[locale]
        in: query
        description: filter by attribute 'locale'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[appStoreVersionExperimentTreatmentLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatmentLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - appStoreVersionExperimentTreatment
            - appScreenshotSets
            - appPreviewSets
        style: form
        explode: false
      - name: fields[appStoreVersionExperimentTreatments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - appIcon
            - appIconName
            - promotedDate
            - appStoreVersionExperiment
            - appStoreVersionExperimentV2
            - appStoreVersionExperimentTreatmentLocalizations
        style: form
        explode: false
      - name: fields[appScreenshotSets]
        in: query
        description: the fields to include for returned resources of type appScreenshotSets
        schema:
          type: array
          items:
            type: string
            enum:
            - screenshotDisplayType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appScreenshots
        style: form
        explode: false
      - name: fields[appPreviewSets]
        in: query
        description: the fields to include for returned resources of type appPreviewSets
        schema:
          type: array
          items:
            type: string
            enum:
            - previewType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appPreviews
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersionExperimentTreatment
            - appScreenshotSets
            - appPreviewSets
        style: form
        explode: false
      - name: limit[appScreenshotSets]
        in: query
        description: maximum number of related appScreenshotSets returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[appPreviewSets]
        in: query
        description: maximum number of related appPreviewSets returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppStoreVersionExperimentTreatmentLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalizationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Version Experiment Treatments / App Store Version Experiment Treatment Localizations
components:
  schemas:
    AppStoreVersionExperimentTreatment:
      type: object
      title: AppStoreVersionExperimentTreatment
      properties:
        type:
          type: string
          enum:
          - appStoreVersionExperimentTreatments
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            appIcon:
              $ref: '#/components/schemas/ImageAsset'
            appIconName:
              type: string
            promotedDate:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            appStoreVersionExperiment:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperiments
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperiments
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentTreatmentLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionExperimentTreatmentLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppStoreVersionExperimentTreatmentAppStoreVersionExperimentTreatmentLocalizationsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - appStoreVersionExperimentTreatmentLocalizations
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AppScreenshotSet:
      type: object
      title: AppScreenshotSet
      properties:
        type:
          type: string
          enum:
          - appScreenshotSets
        id:
          type: string
        attributes:
          type: object
          properties:
            screenshotDisplayType:
              $ref: '#/components/schemas/ScreenshotDisplayType'
        relationships:
          type: object
          properties:
            appStoreVersionLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appCustomProductPageLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCustomProductPageLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentTreatmentLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperimentTreatmentLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appScreenshots:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appScreenshots
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppStoreVersionExperimentTreatmentUpdateRequest:
      type: object
      title: AppStoreVersionExperimentTreatmentUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appStoreVersionExperimentTreatments
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                appIconName:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    PreviewType:
      type: string
      enum:
      - IPHONE_67
      - IPHONE_61
      - IPHONE_65
      - IPHONE_58
      - IPHONE_55
      - IPHONE_47
      - IPHONE_40
      - IPHONE_35
      - IPAD_PRO_3GEN_129
      - IPAD_PRO_3GEN_11
      - IPAD_PRO_129
      - IPAD_105
      - IPAD_97
      - DESKTOP
      - APPLE_TV
      - APPLE_VISION_PRO
    AppStoreVersionExperiment:
      type: object
      title: AppStoreVersionExperiment
      properties:
        type:
          type: string
          enum:
          - appStoreVersionExperiments
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            trafficProportion:
              type: integer
            state:
              type: string
              enum:
              - PREPARE_FOR_SUBMISSION
              - READY_FOR_REVIEW
              - WAITING_FOR_REVIEW
              - IN_REVIEW
              - ACCEPTED
              - APPROVED
              - REJECTED
              - COMPLETED
              - STOPPED
            reviewRequired:
              type: boolean
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            appStoreVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentTreatments:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionExperimentTreatments
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppStoreVersionExperimentTreatmentLocalization:
      type: object
      title: AppStoreVersionExperimentTreatmentLocalization
      properties:
        type:
          type: string
          enum:
          - appStoreVersionExperimentTreatmentLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
        relationships:
          type: object
          properties:
            appStoreVersionExperimentTreatment:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperimentTreatments
                    id:
                      type: string
                  required:
                  - id
                  - type
            appScreenshotSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appScreenshotSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPreviewSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviewSets
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppStoreVersionExperimentTreatmentResponse:
      type: object
      title: AppStoreVersionExperimentTreatmentResponse
      properties:
        data:
          $ref: '#/components/schemas/AppStoreVersionExperimentTreatment'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
            - $ref: '#/components/schemas/AppStoreVersionExperiment'
            discriminator:
              propertyName: type
              mapping:
                appStoreVersionExperimentTreatmentLocalizations: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
                appStoreVersionExperiments: '#/components/schemas/AppStoreVersionExperiment'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    AppStoreVersionExperimentTreatmentLocalizationsResponse:
      type: object
      title: AppStoreVersionExperimentTreatmentLocalizationsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AppPreviewSet'
            - $ref: '#/components/schemas/AppScreenshotSet'
            - $ref: '#/components/schemas/AppStoreVersionExperimentTreatment'
            discriminator:
              propertyName: type
              mapping:
                appScreenshotSets: '#/components/schemas/AppScreenshotSet'
                appStoreVersionExperimentTreatments: '#/components/schemas/AppStoreVersionExperimentTreatment'
                appPreviewSets: '#/components/schemas/AppPreviewSet'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    ScreenshotDisplayType:
      type: string
      enum:
      - APP_IPHONE_67
      - APP_IPHONE_61
      - APP_IPHONE_65
      - APP_IPHONE_58
      - APP_IPHONE_55
      - APP_IPHONE_47
      - APP_IPHONE_40
      - APP_IPHONE_35
      - APP_IPAD_PRO_3GEN_129
      - APP_IPAD_PRO_3GEN_11
      - APP_IPAD_PRO_129
      - APP_IPAD_105
      - APP_IPAD_97
      - APP_DESKTOP
      - APP_WATCH_ULTRA
      - APP_WATCH_SERIES_10
      - APP_WATCH_SERIES_7
      - APP_WATCH_SERIES_4
      - APP_WATCH_SERIES_3
      - APP_APPLE_TV
      - APP_APPLE_VISION_PRO
      - IMESSAGE_APP_IPHONE_67
      - IMESSAGE_APP_IPHONE_61
      - IMESSAGE_APP_IPHONE_65
      - IMESSAGE_APP_IPHONE_58
      - IMESSAGE_APP_IPHONE_55
      - IMESSAGE_APP_IPHONE_47
      - IMESSAGE_APP_IPHONE_40
      - IMESSAGE_APP_IPAD_PRO_3GEN_129
      - IMESSAGE_APP_IPAD_PRO_3GEN_11
      - IMESSAGE_APP_IPAD_PRO_129
      - IMESSAGE_APP_IPAD_105
      - IMESSAGE_APP_IPAD_97
    AppPreviewSet:
      type: object
      title: AppPreviewSet
      properties:
        type:
          type: string
          enum:
          - appPreviewSets
        id:
          type: string
        attributes:
          type: object
          properties:
            previewType:
              $ref: '#/components/schemas/PreviewType'
        relationships:
          type: object
          properties:
            appStoreVersionLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appCustomProductPageLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCustomProductPageLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentTreatmentLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperimentTreatmentLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appPreviews:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviews
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppStoreVersionExperimentTreatmentCreateRequest:
      type: object
      title: AppStoreVersionExperimentTreatmentCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appStoreVersionExperimentTreatments
            attributes:
              type: object
              properties:
                name:
                  type: string
                appIconName:
                  type: string
                  nullable: true
              required:
              - name
            relationships:
              type: object
              properties:
                appStoreVersionExperiment:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appStoreVersionExperiments
                        id:
                          type: string
                      required:
                      - id
                      - type
                appStoreVersionExperimentV2:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appStoreVersionExperiments
                        id:
                          type: string
                      required:
                      - id
                      - type
          required:
          - attributes
          - type
      required:
      - data
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
