openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterLeaderboardLocalizations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterLeaderboardLocalizations
paths:
  /v1/gameCenterLeaderboardLocalizations:
    post:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizations_createInstance
      deprecated: true
      requestBody:
        description: GameCenterLeaderboardLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardLocalizationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Localizations
  /v1/gameCenterLeaderboardLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizations_getInstance
      deprecated: true
      parameters:
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - gameCenterLeaderboard
            - gameCenterLeaderboardImage
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[gameCenterLeaderboardImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - gameCenterLeaderboardLocalization
        style: form
        explode: false
        required: false
        deprecated: true
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterLeaderboard
            - gameCenterLeaderboardImage
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardLocalizationResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Localizations
    patch:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizations_updateInstance
      deprecated: true
      requestBody:
        description: GameCenterLeaderboardLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardLocalizationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Leaderboard Localizations
    delete:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizations_deleteInstance
      deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Leaderboard Localizations
  /v2/gameCenterLeaderboardLocalizations:
    post:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizationsV2_createInstance
      requestBody:
        description: GameCenterLeaderboardLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Localizations V2
  /v2/gameCenterLeaderboardLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizationsV2_getInstance
      parameters:
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - version
            - image
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - leaderboard
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - localization
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - image
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Localizations V2
    patch:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizationsV2_updateInstance
      requestBody:
        description: GameCenterLeaderboardLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2UpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Leaderboard Localizations V2
    delete:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizationsV2_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Leaderboard Localizations V2
  /v1/gameCenterLeaderboardLocalizations/{id}/relationships/gameCenterLeaderboardImage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizations_gameCenterLeaderboardImage_getToOneRelationship
      deprecated: true
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardLocalizationGameCenterLeaderboardImageLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Localizations / Game Center Leaderboard Image
  /v1/gameCenterLeaderboardLocalizations/{id}/gameCenterLeaderboardImage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizations_gameCenterLeaderboardImage_getToOneRelated
      deprecated: true
      parameters:
      - name: fields[gameCenterLeaderboardImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - gameCenterLeaderboardLocalization
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - gameCenterLeaderboard
            - gameCenterLeaderboardImage
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterLeaderboardLocalization
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardImageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Localizations / Game Center Leaderboard Image
  /v2/gameCenterLeaderboardLocalizations/{id}/relationships/image:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizationsV2_image_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2ImageLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Localizations V2 / Image
  /v2/gameCenterLeaderboardLocalizations/{id}/image:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardLocalizations
      operationId: gameCenterLeaderboardLocalizationsV2_image_getToOneRelated
      parameters:
      - name: fields[gameCenterLeaderboardImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - localization
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - version
            - image
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - localization
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardImageV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Localizations V2 / Image
components:
  schemas:
    GameCenterLeaderboardLocalizationUpdateRequest:
      type: object
      title: GameCenterLeaderboardLocalizationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardLocalizations
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                formatterOverride:
                  nullable: true
                  $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
                formatterSuffix:
                  type: string
                  nullable: true
                formatterSuffixSingular:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
      deprecated: true
    GameCenterLeaderboardImageV2Response:
      type: object
      title: GameCenterLeaderboardImageV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardImageV2'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    GameCenterLeaderboardLocalization:
      type: object
      title: GameCenterLeaderboardLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            formatterOverride:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            formatterSuffix:
              type: string
            formatterSuffixSingular:
              type: string
            description:
              type: string
        relationships:
          type: object
          properties:
            gameCenterLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboardImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    GameCenterLeaderboardLocalizationV2:
      type: object
      title: GameCenterLeaderboardLocalizationV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            formatterOverride:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            formatterSuffix:
              type: string
            formatterSuffixSingular:
              type: string
            description:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterVersionState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_REJECTED
      - REJECTED
      - ACCEPTED
      - PENDING_RELEASE
      - LIVE
      - REPLACED_WITH_NEW_VERSION
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    GameCenterLeaderboardImage:
      type: object
      title: GameCenterLeaderboardImage
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            gameCenterLeaderboardLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterLeaderboardImageResponse:
      type: object
      title: GameCenterLeaderboardImageResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardImage'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboardLocalization'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterLeaderboardLocalizationResponse:
      type: object
      title: GameCenterLeaderboardLocalizationResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardLocalization'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterLeaderboardImage'
            - $ref: '#/components/schemas/GameCenterLeaderboard'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardImages: '#/components/schemas/GameCenterLeaderboardImage'
                gameCenterLeaderboards: '#/components/schemas/GameCenterLeaderboard'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterLeaderboardLocalizationCreateRequest:
      type: object
      title: GameCenterLeaderboardLocalizationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardLocalizations
            attributes:
              type: object
              properties:
                locale:
                  type: string
                name:
                  type: string
                formatterOverride:
                  nullable: true
                  $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
                formatterSuffix:
                  type: string
                  nullable: true
                formatterSuffixSingular:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
              required:
              - name
              - locale
            relationships:
              type: object
              properties:
                gameCenterLeaderboard:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboards
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - gameCenterLeaderboard
          required:
          - relationships
          - attributes
          - type
      required:
      - data
      deprecated: true
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    GameCenterLeaderboardLocalizationV2UpdateRequest:
      type: object
      title: GameCenterLeaderboardLocalizationV2UpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardLocalizations
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                formatterOverride:
                  nullable: true
                  $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
                formatterSuffix:
                  type: string
                  nullable: true
                formatterSuffixSingular:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterLeaderboardLocalizationV2ImageLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardImages
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    GameCenterLeaderboardLocalizationV2CreateRequest:
      type: object
      title: GameCenterLeaderboardLocalizationV2CreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardLocalizations
            attributes:
              type: object
              properties:
                locale:
                  type: string
                name:
                  type: string
                formatterOverride:
                  nullable: true
                  $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
                formatterSuffix:
                  type: string
                  nullable: true
                formatterSuffixSingular:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
              required:
              - name
              - locale
            relationships:
              type: object
              properties:
                version:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboardVersions
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - version
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    GameCenterLeaderboardVersionV2:
      type: object
      title: GameCenterLeaderboardVersionV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: integer
            state:
              $ref: '#/components/schemas/GameCenterVersionState'
        relationships:
          type: object
          properties:
            leaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    GameCenterLeaderboard:
      type: object
      title: GameCenterLeaderboard
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboards
        id:
          type: string
        attributes:
          type: object
          properties:
            defaultFormatter:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            submissionType:
              type: string
              enum:
              - BEST_SCORE
              - MOST_RECENT_SCORE
            scoreSortType:
              type: string
              enum:
              - ASC
              - DESC
            scoreRangeStart:
              type: string
              format: number
            scoreRangeEnd:
              type: string
              format: number
            recurrenceStartDate:
              type: string
              format: date-time
            recurrenceDuration:
              type: string
              format: duration
            recurrenceRule:
              type: string
            archived:
              type: boolean
            activityProperties:
              $ref: '#/components/schemas/StringToStringMap'
            visibility:
              type: string
              enum:
              - SHOW_FOR_ALL
              - HIDE_FOR_ALL
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            groupLeaderboard:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            gameCenterLeaderboardSets:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            releases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
            activity:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
            challenge:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterChallenges
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    GameCenterLeaderboardLocalizationV2Response:
      type: object
      title: GameCenterLeaderboardLocalizationV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterLeaderboardImageV2'
            - $ref: '#/components/schemas/GameCenterLeaderboardVersionV2'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardImages: '#/components/schemas/GameCenterLeaderboardImageV2'
                gameCenterLeaderboardVersions: '#/components/schemas/GameCenterLeaderboardVersionV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterLeaderboardImageV2:
      type: object
      title: GameCenterLeaderboardImageV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            localization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterLeaderboardLocalizationGameCenterLeaderboardImageLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardImages
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    StringToStringMap:
      type: object
      additionalProperties:
        type: string
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    GameCenterLeaderboardFormatter:
      type: string
      enum:
      - INTEGER
      - DECIMAL_POINT_1_PLACE
      - DECIMAL_POINT_2_PLACE
      - DECIMAL_POINT_3_PLACE
      - ELAPSED_TIME_CENTISECOND
      - ELAPSED_TIME_MINUTE
      - ELAPSED_TIME_SECOND
      - MONEY_POUND_DECIMAL
      - MONEY_POUND
      - MONEY_DOLLAR_DECIMAL
      - MONEY_DOLLAR
      - MONEY_EURO_DECIMAL
      - MONEY_EURO
      - MONEY_FRANC_DECIMAL
      - MONEY_FRANC
      - MONEY_KRONER_DECIMAL
      - MONEY_KRONER
      - MONEY_YEN
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
