openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterMatchmakingRules API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterMatchmakingRules
paths:
  /v1/gameCenterMatchmakingRules:
    post:
      tags:
      - GameCenterMatchmakingRules
      operationId: gameCenterMatchmakingRules_createInstance
      requestBody:
        description: GameCenterMatchmakingRule representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterMatchmakingRuleCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterMatchmakingRule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Matchmaking Rules
  /v1/gameCenterMatchmakingRules/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - GameCenterMatchmakingRules
      operationId: gameCenterMatchmakingRules_updateInstance
      requestBody:
        description: GameCenterMatchmakingRule representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterMatchmakingRuleUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterMatchmakingRule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Matchmaking Rules
    delete:
      tags:
      - GameCenterMatchmakingRules
      operationId: gameCenterMatchmakingRules_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Matchmaking Rules
  /v1/gameCenterMatchmakingRules/{id}/metrics/matchmakingBooleanRuleResults:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRules
      operationId: gameCenterMatchmakingRules_matchmakingBooleanRuleResults_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - result
            - gameCenterMatchmakingQueue
        style: form
        explode: false
      - name: filter[result]
        in: query
        description: filter by 'result' attribute dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: filter[gameCenterMatchmakingQueue]
        in: query
        description: filter by 'gameCenterMatchmakingQueue' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingBooleanRuleResultsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Rules / Matchmaking Boolean Rule Results
  /v1/gameCenterMatchmakingRules/{id}/metrics/matchmakingNumberRuleResults:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRules
      operationId: gameCenterMatchmakingRules_matchmakingNumberRuleResults_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterMatchmakingQueue
        style: form
        explode: false
      - name: filter[gameCenterMatchmakingQueue]
        in: query
        description: filter by 'gameCenterMatchmakingQueue' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageResult
            - -averageResult
            - p50Result
            - -p50Result
            - p95Result
            - -p95Result
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingNumberRuleResultsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Rules / Matchmaking Number Rule Results
  /v1/gameCenterMatchmakingRules/{id}/metrics/matchmakingRuleErrors:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingRules
      operationId: gameCenterMatchmakingRules_matchmakingRuleErrors_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterMatchmakingQueue
        style: form
        explode: false
      - name: filter[gameCenterMatchmakingQueue]
        in: query
        description: filter by 'gameCenterMatchmakingQueue' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleErrorsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Rules / Matchmaking Rule Errors
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterMatchmakingRuleUpdateRequest:
      type: object
      title: GameCenterMatchmakingRuleUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterMatchmakingRules
            id:
              type: string
            attributes:
              type: object
              properties:
                description:
                  type: string
                  nullable: true
                expression:
                  type: string
                  nullable: true
                weight:
                  type: number
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    GameCenterMatchmakingBooleanRuleResultsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
              dimensions:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                      data:
                        type: string
                  gameCenterMatchmakingQueue:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterMatchmakingRuleErrorsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
              dimensions:
                type: object
                properties:
                  gameCenterMatchmakingQueue:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterMatchmakingNumberRuleResultsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
                        averageResult:
                          type: number
                        p50Result:
                          type: number
                        p95Result:
                          type: number
              dimensions:
                type: object
                properties:
                  gameCenterMatchmakingQueue:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterMatchmakingRuleResponse:
      type: object
      title: GameCenterMatchmakingRuleResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterMatchmakingRule'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    GameCenterMatchmakingRule:
      type: object
      title: GameCenterMatchmakingRule
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingRules
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            description:
              type: string
            type:
              type: string
              enum:
              - COMPATIBLE
              - DISTANCE
              - MATCH
              - TEAM
            expression:
              type: string
            weight:
              type: number
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterMatchmakingRuleCreateRequest:
      type: object
      title: GameCenterMatchmakingRuleCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterMatchmakingRules
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                description:
                  type: string
                type:
                  type: string
                  enum:
                  - COMPATIBLE
                  - DISTANCE
                  - MATCH
                  - TEAM
                expression:
                  type: string
                weight:
                  type: number
                  nullable: true
              required:
              - expression
              - description
              - type
              - referenceName
            relationships:
              type: object
              properties:
                ruleSet:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterMatchmakingRuleSets
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - ruleSet
          required:
          - relationships
          - attributes
          - type
      required:
      - data
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
