openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BuildBundles API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BuildBundles
paths:
  /v1/buildBundles/{id}/relationships/appClipDomainCacheStatus:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBundles
      operationId: buildBundles_appClipDomainCacheStatus_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBundleAppClipDomainCacheStatusLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Build Bundles / App Clip Domain Cache Status
  /v1/buildBundles/{id}/appClipDomainCacheStatus:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBundles
      operationId: buildBundles_appClipDomainCacheStatus_getToOneRelated
      parameters:
      - name: fields[appClipDomainStatuses]
        in: query
        description: the fields to include for returned resources of type appClipDomainStatuses
        schema:
          type: array
          items:
            type: string
            enum:
            - domains
            - lastUpdatedDate
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipDomainStatus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDomainStatusResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Build Bundles / App Clip Domain Cache Status
  /v1/buildBundles/{id}/relationships/appClipDomainDebugStatus:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBundles
      operationId: buildBundles_appClipDomainDebugStatus_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBundleAppClipDomainDebugStatusLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Build Bundles / App Clip Domain Debug Status
  /v1/buildBundles/{id}/appClipDomainDebugStatus:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBundles
      operationId: buildBundles_appClipDomainDebugStatus_getToOneRelated
      parameters:
      - name: fields[appClipDomainStatuses]
        in: query
        description: the fields to include for returned resources of type appClipDomainStatuses
        schema:
          type: array
          items:
            type: string
            enum:
            - domains
            - lastUpdatedDate
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipDomainStatus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDomainStatusResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Build Bundles / App Clip Domain Debug Status
  /v1/buildBundles/{id}/relationships/betaAppClipInvocations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBundles
      operationId: buildBundles_betaAppClipInvocations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBundleBetaAppClipInvocationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Build Bundles / Beta App Clip Invocations
  /v1/buildBundles/{id}/betaAppClipInvocations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBundles
      operationId: buildBundles_betaAppClipInvocations_getToManyRelated
      parameters:
      - name: fields[betaAppClipInvocations]
        in: query
        description: the fields to include for returned resources of type betaAppClipInvocations
        schema:
          type: array
          items:
            type: string
            enum:
            - url
            - betaAppClipInvocationLocalizations
        style: form
        explode: false
      - name: fields[betaAppClipInvocationLocalizations]
        in: query
        description: the fields to include for returned resources of type betaAppClipInvocationLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - title
            - locale
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - betaAppClipInvocationLocalizations
        style: form
        explode: false
      - name: limit[betaAppClipInvocationLocalizations]
        in: query
        description: maximum number of related betaAppClipInvocationLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BetaAppClipInvocations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAppClipInvocationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Build Bundles / Beta App Clip Invocations
  /v1/buildBundles/{id}/relationships/buildBundleFileSizes:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBundles
      operationId: buildBundles_buildBundleFileSizes_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBundleBuildBundleFileSizesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Build Bundles / Build Bundle File Sizes
  /v1/buildBundles/{id}/buildBundleFileSizes:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBundles
      operationId: buildBundles_buildBundleFileSizes_getToManyRelated
      parameters:
      - name: fields[buildBundleFileSizes]
        in: query
        description: the fields to include for returned resources of type buildBundleFileSizes
        schema:
          type: array
          items:
            type: string
            enum:
            - deviceModel
            - osVersion
            - downloadBytes
            - installBytes
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BuildBundleFileSizes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBundleFileSizesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Build Bundles / Build Bundle File Sizes
components:
  schemas:
    BetaAppClipInvocationLocalization:
      type: object
      title: BetaAppClipInvocationLocalization
      properties:
        type:
          type: string
          enum:
          - betaAppClipInvocationLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            title:
              type: string
            locale:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppClipDomainStatusResponse:
      type: object
      title: AppClipDomainStatusResponse
      properties:
        data:
          $ref: '#/components/schemas/AppClipDomainStatus'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    BetaAppClipInvocation:
      type: object
      title: BetaAppClipInvocation
      properties:
        type:
          type: string
          enum:
          - betaAppClipInvocations
        id:
          type: string
        attributes:
          type: object
          properties:
            url:
              type: string
              format: uri
        relationships:
          type: object
          properties:
            betaAppClipInvocationLocalizations:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaAppClipInvocationLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    BuildBundleAppClipDomainCacheStatusLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appClipDomainStatuses
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    BuildBundleFileSize:
      type: object
      title: BuildBundleFileSize
      properties:
        type:
          type: string
          enum:
          - buildBundleFileSizes
        id:
          type: string
        attributes:
          type: object
          properties:
            deviceModel:
              type: string
            osVersion:
              type: string
            downloadBytes:
              type: integer
            installBytes:
              type: integer
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppClipDomainStatus:
      type: object
      title: AppClipDomainStatus
      properties:
        type:
          type: string
          enum:
          - appClipDomainStatuses
        id:
          type: string
        attributes:
          type: object
          properties:
            domains:
              type: array
              items:
                type: object
                properties:
                  domain:
                    type: string
                  isValid:
                    type: boolean
                  lastUpdatedDate:
                    type: string
                    format: date-time
                  errorCode:
                    type: string
                    enum:
                    - BAD_HTTP_RESPONSE
                    - BAD_JSON_CONTENT
                    - BAD_PKCS7_SIGNATURE
                    - CANNOT_REACH_AASA_FILE
                    - CROSS_SITE_REDIRECTS_FORBIDDEN
                    - DNS_ERROR
                    - INSECURE_REDIRECTS_FORBIDDEN
                    - INVALID_ENTITLEMENT_MISSING_SECTION
                    - INVALID_ENTITLEMENT_SYNTAX_ERROR
                    - INVALID_ENTITLEMENT_UNHANDLED_SECTION
                    - INVALID_ENTITLEMENT_UNKNOWN_ID
                    - NETWORK_ERROR
                    - NETWORK_ERROR_TEMPORARY
                    - OTHER_ERROR
                    - TIMEOUT
                    - TLS_ERROR
                    - TOO_MANY_REDIRECTS
                    - UNEXPECTED_ERROR
            lastUpdatedDate:
              type: string
              format: date-time
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    BuildBundleBetaAppClipInvocationsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - betaAppClipInvocations
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BuildBundleBuildBundleFileSizesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - buildBundleFileSizes
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BetaAppClipInvocationsResponse:
      type: object
      title: BetaAppClipInvocationsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BetaAppClipInvocation'
        included:
          type: array
          items:
            $ref: '#/components/schemas/BetaAppClipInvocationLocalization'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    BuildBundleFileSizesResponse:
      type: object
      title: BuildBundleFileSizesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BuildBundleFileSize'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BuildBundleAppClipDomainDebugStatusLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appClipDomainStatuses
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
