openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterAchievements API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterAchievements
paths:
  /v2/gameCenterAchievements:
    post:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievementsV2_createInstance
      requestBody:
        description: GameCenterAchievement representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterAchievement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Achievements V2
  /v2/gameCenterAchievements/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievementsV2_getInstance
      parameters:
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - activity
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
        required: false
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterAchievementVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - achievement
            - localizations
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - activity
            - versions
        style: form
        explode: false
        required: false
      - name: limit[versions]
        in: query
        description: maximum number of related versions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Achievements V2
    patch:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievementsV2_updateInstance
      requestBody:
        description: GameCenterAchievement representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementV2UpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Achievements V2
    delete:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievementsV2_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Achievements V2
  /v1/gameCenterAchievements:
    post:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_createInstance
      deprecated: true
      requestBody:
        description: GameCenterAchievement representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterAchievement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Achievements
  /v1/gameCenterAchievements/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_getInstance
      deprecated: true
      parameters:
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
        style: form
        explode: false
        required: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
        required: false
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - gameCenterAchievement
            - gameCenterAchievementImage
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[gameCenterAchievementReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterAchievement
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
        style: form
        explode: false
        required: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Achievements
    patch:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_updateInstance
      deprecated: true
      requestBody:
        description: GameCenterAchievement representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Achievements
    delete:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_deleteInstance
      deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Achievements
  /v2/gameCenterAchievements/{id}/relationships/activity:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievementsV2_activity_updateToOneRelationship
      requestBody:
        description: Related linkage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementV2ActivityLinkageRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Related Game Center Achievements V2 / Activity
  /v2/gameCenterAchievements/{id}/relationships/versions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievementsV2_versions_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementV2VersionsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Achievements V2 / Versions
  /v2/gameCenterAchievements/{id}/versions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievementsV2_versions_getToManyRelated
      parameters:
      - name: fields[gameCenterAchievementVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - achievement
            - localizations
        style: form
        explode: false
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - activity
            - versions
        style: form
        explode: false
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - version
            - image
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - achievement
            - localizations
        style: form
        explode: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterAchievementVersions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementVersionsV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Achievements V2 / Versions
  /v1/gameCenterAchievements/{id}/relationships/activity:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_activity_updateToOneRelationship
      deprecated: true
      requestBody:
        description: Related linkage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementActivityLinkageRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Related Game Center Achievements / Activity
  /v1/gameCenterAchievements/{id}/relationships/groupAchievement:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_groupAchievement_getToOneRelationship
      deprecated: true
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementGroupAchievementLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Achievements / Group Achievement
    patch:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_groupAchievement_updateToOneRelationship
      deprecated: true
      requestBody:
        description: Related linkage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementGroupAchievementLinkageRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Related Game Center Achievements / Group Achievement
  /v1/gameCenterAchievements/{id}/groupAchievement:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_groupAchievement_getToOneRelated
      deprecated: true
      parameters:
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - gameCenterAchievement
            - gameCenterAchievementImage
        style: form
        explode: false
      - name: fields[gameCenterAchievementReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterAchievement
        style: form
        explode: false
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
        style: form
        explode: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Achievements / Group Achievement
  /v1/gameCenterAchievements/{id}/relationships/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_localizations_getToManyRelationship
      deprecated: true
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Achievements / Localizations
  /v1/gameCenterAchievements/{id}/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_localizations_getToManyRelated
      deprecated: true
      parameters:
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - gameCenterAchievement
            - gameCenterAchievementImage
        style: form
        explode: false
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
        style: form
        explode: false
      - name: fields[gameCenterAchievementImages]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - gameCenterAchievementLocalization
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterAchievement
            - gameCenterAchievementImage
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterAchievementLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Achievements / Localizations
  /v1/gameCenterAchievements/{id}/relationships/releases:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_releases_getToManyRelationship
      deprecated: true
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementReleasesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Achievements / Releases
  /v1/gameCenterAchievements/{id}/releases:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievements
      operationId: gameCenterAchievements_releases_getToManyRelated
      deprecated: true
      parameters:
      - name: filter[live]
        in: query
        description: filter by attribute 'live'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[gameCenterDetail]
        in: query
        description: filter by id(s) of related 'gameCenterDetail'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[gameCenterAchievementReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterAchievement
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterAchievement
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterAchievementReleases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementReleasesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Achievements / Releases
components:
  schemas:
    GameCenterAchievementVersionsV2Response:
      type: object
      title: GameCenterAchievementVersionsV2Response
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterAchievementVersionV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievementLocalizationV2'
            - $ref: '#/components/schemas/GameCenterAchievementV2'
            discriminator:
              propertyName: type
              mapping:
                gameCenterAchievementLocalizations: '#/components/schemas/GameCenterAchievementLocalizationV2'
                gameCenterAchievements: '#/components/schemas/GameCenterAchievementV2'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterAchievementV2VersionsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterAchievementVersions
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterAchievementV2:
      type: object
      title: GameCenterAchievementV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievements
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            points:
              type: integer
            showBeforeEarned:
              type: boolean
            repeatable:
              type: boolean
            archived:
              type: boolean
            activityProperties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            activity:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterAchievementImage:
      type: object
      title: GameCenterAchievementImage
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            gameCenterAchievementLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterAchievementCreateRequest:
      type: object
      title: GameCenterAchievementCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievements
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                vendorIdentifier:
                  type: string
                points:
                  type: integer
                showBeforeEarned:
                  type: boolean
                repeatable:
                  type: boolean
                activityProperties:
                  nullable: true
                  $ref: '#/components/schemas/StringToStringMap'
              required:
              - vendorIdentifier
              - repeatable
              - showBeforeEarned
              - referenceName
              - points
            relationships:
              type: object
              properties:
                gameCenterDetail:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterDetails
                        id:
                          type: string
                      required:
                      - id
                      - type
                gameCenterGroup:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterGroups
                        id:
                          type: string
                      required:
                      - id
                      - type
          required:
          - attributes
          - type
      required:
      - data
      deprecated: true
    GameCenterVersionState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_REJECTED
      - REJECTED
      - ACCEPTED
      - PENDING_RELEASE
      - LIVE
      - REPLACED_WITH_NEW_VERSION
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    GameCenterAchievementVersionV2InlineCreate:
      type: object
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementVersions
        id:
          type: string
        relationships:
          type: object
          properties:
            achievement:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
      required:
      - type
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterAchievementV2CreateRequest:
      type: object
      title: GameCenterAchievementV2CreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievements
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                vendorIdentifier:
                  type: string
                points:
                  type: integer
                showBeforeEarned:
                  type: boolean
                repeatable:
                  type: boolean
                activityProperties:
                  nullable: true
                  $ref: '#/components/schemas/StringToStringMap'
              required:
              - vendorIdentifier
              - repeatable
              - showBeforeEarned
              - referenceName
              - points
            relationships:
              type: object
              properties:
                gameCenterDetail:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterDetails
                        id:
                          type: string
                      required:
                      - id
                      - type
                gameCenterGroup:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterGroups
                        id:
                          type: string
                      required:
                      - id
                      - type
                versions:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - gameCenterAchievementVersions
                          id:
                            type: string
                        required:
                        - id
                        - type
                  required:
                  - data
              required:
              - versions
          required:
          - relationships
          - attributes
          - type
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterAchievementVersionV2InlineCreate'
      required:
      - data
    GameCenterAchievementVersionV2:
      type: object
      title: GameCenterAchievementVersionV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: integer
            state:
              $ref: '#/components/schemas/GameCenterVersionState'
        relationships:
          type: object
          properties:
            achievement:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterGroup:
      type: object
      title: GameCenterGroup
      properties:
        type:
          type: string
          enum:
          - gameCenterGroups
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
        relationships:
          type: object
          properties:
            gameCenterDetails:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterDetails
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboardSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardSetsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterAchievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterAchievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterActivities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivities
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterChallenges:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallenges
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    GameCenterAchievementActivityLinkageRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterActivities
            id:
              type: string
          required:
          - id
          - type
      required:
      - data
      deprecated: true
    GameCenterAchievementResponse:
      type: object
      title: GameCenterAchievementResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterAchievement'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievementLocalization'
            - $ref: '#/components/schemas/GameCenterAchievementRelease'
            - $ref: '#/components/schemas/GameCenterAchievement'
            - $ref: '#/components/schemas/GameCenterActivity'
            - $ref: '#/components/schemas/GameCenterDetail'
            - $ref: '#/components/schemas/GameCenterGroup'
            discriminator:
              propertyName: type
              mapping:
                gameCenterDetails: '#/components/schemas/GameCenterDetail'
                gameCenterActivities: '#/components/schemas/GameCenterActivity'
                gameCenterGroups: '#/components/schemas/GameCenterGroup'
                gameCenterAchievementLocalizations: '#/components/schemas/GameCenterAchievementLocalization'
                gameCenterAchievements: '#/components/schemas/GameCenterAchievement'
                gameCenterAchievementReleases: '#/components/schemas/GameCenterAchievementRelease'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterAchievementRelease:
      type: object
      title: GameCenterAchievementRelease
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementReleases
        id:
          type: string
        attributes:
          type: object
          properties:
            live:
              type: boolean
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterAchievement:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterAchievementUpdateRequest:
      type: object
      title: GameCenterAchievementUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievements
            id:
              type: string
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                  nullable: true
                points:
                  type: integer
                  nullable: true
                showBeforeEarned:
                  type: boolean
                  nullable: true
                repeatable:
                  type: boolean
                  nullable: true
                archived:
                  type: boolean
                  nullable: true
                activityProperties:
                  nullable: true
                  $ref: '#/components/schemas/StringToStringMap'
          required:
          - id
          - type
      required:
      - data
      deprecated: true
    GameCenterActivity:
      type: object
      title: GameCenterActivity
      properties:
        type:
          type: string
          enum:
          - gameCenterActivities
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            playStyle:
              type: string
              enum:
              - ASYNCHRONOUS
              - SYNCHRONOUS
            minimumPlayersCount:
              type: integer
            maximumPlayersCount:
              type: integer
            supportsPartyCode:
              type: boolean
            archived:
              type: boolean
            properties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            achievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            achievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            leaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterAchievementLocalizationsResponse:
      type: object
      title: GameCenterAchievementLocalizationsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterAchievementLocalization'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievementImage'
            - $ref: '#/components/schemas/GameCenterAchievement'
            discriminator:
              propertyName: type
              mapping:
                gameCenterAchievements: '#/components/schemas/GameCenterAchievement'
                gameCenterAchievementImages: '#/components/schemas/GameCenterAchievementImage'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
      deprecated: true
    GameCenterAchievementLocalizationV2:
      type: object
      title: GameCenterAchievementLocalizationV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            beforeEarnedDescription:
              type: string
            afterEarnedDescription:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    GameCenterAchievementGroupAchievementLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievements
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    GameCenterAchievement:
      type: object
      title: GameCenterAchievement
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievements
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            points:
              type: integer
            showBeforeEarned:
              type: boolean
            repeatable:
              type: boolean
            archived:
              type: boolean
            activityProperties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            groupAchievement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            releases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
            activity:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    GameCenterAchievementReleasesResponse:
      type: object
      title: GameCenterAchievementReleasesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterAchievementRelease'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievement'
            - $ref: '#/components/schemas/GameCenterDetail'
            discriminator:
              propertyName: type
              mapping:
                gameCenterDetails: '#/components/schemas/GameCenterDetail'
                gameCenterAchievements: '#/components/schemas/GameCenterAchievement'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
      deprecated: true
    GameCenterAchievementV2UpdateRequest:
      type: object
      title: GameCenterAchievementV2UpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievements
            id:
              type: string
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                  nullable: true
                points:
                  type: integer
                  nullable: true
                showBeforeEarned:
                  type: boolean
                  nullable: true
                repeatable:
                  type: boolean
                  nullable: true
                archived:
                  type: boolean
                  nullable: true
                activityProperties:
                  nullable: true
                  $ref: '#/components/schemas/StringToStringMap'
          required:
          - id
          - type
      required:
      - data
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterAchievementV2ActivityLinkageRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterActivities
            id:
              type: string
          required:
          - id
          - type
      required:
      - data
    GameCenterAchievementV2Response:
      type: object
      title: GameCenterAchievementV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterAchievementV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievementVersionV2'
            - $ref: '#/components/schemas/GameCenterActivity'
[...]
