openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppEncryptionDeclarationDocuments API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppEncryptionDeclarationDocuments
paths:
  /v1/appEncryptionDeclarationDocuments:
    post:
      tags:
      - AppEncryptionDeclarationDocuments
      operationId: appEncryptionDeclarationDocuments_createInstance
      requestBody:
        description: AppEncryptionDeclarationDocument representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEncryptionDeclarationDocumentCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppEncryptionDeclarationDocument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationDocumentResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Encryption Declaration Documents
  /v1/appEncryptionDeclarationDocuments/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppEncryptionDeclarationDocuments
      operationId: appEncryptionDeclarationDocuments_getInstance
      parameters:
      - name: fields[appEncryptionDeclarationDocuments]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarationDocuments
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - assetToken
            - downloadUrl
            - sourceFileChecksum
            - uploadOperations
            - assetDeliveryState
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppEncryptionDeclarationDocument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationDocumentResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Encryption Declaration Documents
    patch:
      tags:
      - AppEncryptionDeclarationDocuments
      operationId: appEncryptionDeclarationDocuments_updateInstance
      requestBody:
        description: AppEncryptionDeclarationDocument representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEncryptionDeclarationDocumentUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppEncryptionDeclarationDocument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationDocumentResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update App Encryption Declaration Documents
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppEncryptionDeclarationDocumentUpdateRequest:
      type: object
      title: AppEncryptionDeclarationDocumentUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appEncryptionDeclarationDocuments
            id:
              type: string
            attributes:
              type: object
              properties:
                sourceFileChecksum:
                  type: string
                  nullable: true
                uploaded:
                  type: boolean
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    AppEncryptionDeclarationDocumentResponse:
      type: object
      title: AppEncryptionDeclarationDocumentResponse
      properties:
        data:
          $ref: '#/components/schemas/AppEncryptionDeclarationDocument'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppEncryptionDeclarationDocumentCreateRequest:
      type: object
      title: AppEncryptionDeclarationDocumentCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appEncryptionDeclarationDocuments
            attributes:
              type: object
              properties:
                fileSize:
                  type: integer
                fileName:
                  type: string
              required:
              - fileName
              - fileSize
            relationships:
              type: object
              properties:
                appEncryptionDeclaration:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appEncryptionDeclarations
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - appEncryptionDeclaration
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    AppEncryptionDeclarationDocument:
      type: object
      title: AppEncryptionDeclarationDocument
      properties:
        type:
          type: string
          enum:
          - appEncryptionDeclarationDocuments
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            assetToken:
              type: string
            downloadUrl:
              type: string
              format: uri
            sourceFileChecksum:
              type: string
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
