openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations InAppPurchaseAppStoreReviewScreenshots API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: InAppPurchaseAppStoreReviewScreenshots
paths:
  /v1/inAppPurchaseAppStoreReviewScreenshots:
    post:
      tags:
      - InAppPurchaseAppStoreReviewScreenshots
      operationId: inAppPurchaseAppStoreReviewScreenshots_createInstance
      requestBody:
        description: InAppPurchaseAppStoreReviewScreenshot representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InAppPurchaseAppStoreReviewScreenshotCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single InAppPurchaseAppStoreReviewScreenshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchaseAppStoreReviewScreenshotResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create in App Purchase App Store Review Screenshots
  /v1/inAppPurchaseAppStoreReviewScreenshots/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchaseAppStoreReviewScreenshots
      operationId: inAppPurchaseAppStoreReviewScreenshots_getInstance
      parameters:
      - name: fields[inAppPurchaseAppStoreReviewScreenshots]
        in: query
        description: the fields to include for returned resources of type inAppPurchaseAppStoreReviewScreenshots
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - imageAsset
            - assetToken
            - assetType
            - uploadOperations
            - assetDeliveryState
            - inAppPurchaseV2
        style: form
        explode: false
        required: false
      - name: fields[inAppPurchases]
        in: query
        description: the fields to include for returned resources of type inAppPurchases
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - productId
            - inAppPurchaseType
            - state
            - reviewNote
            - familySharable
            - contentHosting
            - inAppPurchaseLocalizations
            - pricePoints
            - content
            - appStoreReviewScreenshot
            - promotedPurchase
            - iapPriceSchedule
            - inAppPurchaseAvailability
            - images
            - offerCodes
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - inAppPurchaseV2
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single InAppPurchaseAppStoreReviewScreenshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchaseAppStoreReviewScreenshotResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get in App Purchase App Store Review Screenshots
    patch:
      tags:
      - InAppPurchaseAppStoreReviewScreenshots
      operationId: inAppPurchaseAppStoreReviewScreenshots_updateInstance
      requestBody:
        description: InAppPurchaseAppStoreReviewScreenshot representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InAppPurchaseAppStoreReviewScreenshotUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single InAppPurchaseAppStoreReviewScreenshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchaseAppStoreReviewScreenshotResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update in App Purchase App Store Review Screenshots
    delete:
      tags:
      - InAppPurchaseAppStoreReviewScreenshots
      operationId: inAppPurchaseAppStoreReviewScreenshots_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete in App Purchase App Store Review Screenshots
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    InAppPurchaseAppStoreReviewScreenshotUpdateRequest:
      type: object
      title: InAppPurchaseAppStoreReviewScreenshotUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - inAppPurchaseAppStoreReviewScreenshots
            id:
              type: string
            attributes:
              type: object
              properties:
                sourceFileChecksum:
                  type: string
                  nullable: true
                uploaded:
                  type: boolean
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    InAppPurchaseAppStoreReviewScreenshotCreateRequest:
      type: object
      title: InAppPurchaseAppStoreReviewScreenshotCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - inAppPurchaseAppStoreReviewScreenshots
            attributes:
              type: object
              properties:
                fileSize:
                  type: integer
                fileName:
                  type: string
              required:
              - fileName
              - fileSize
            relationships:
              type: object
              properties:
                inAppPurchaseV2:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - inAppPurchases
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - inAppPurchaseV2
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    InAppPurchaseV2:
      type: object
      title: InAppPurchaseV2
      properties:
        type:
          type: string
          enum:
          - inAppPurchases
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            productId:
              type: string
            inAppPurchaseType:
              $ref: '#/components/schemas/InAppPurchaseType'
            state:
              $ref: '#/components/schemas/InAppPurchaseState'
            reviewNote:
              type: string
            familySharable:
              type: boolean
            contentHosting:
              type: boolean
        relationships:
          type: object
          properties:
            inAppPurchaseLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchaseLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            pricePoints:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchasePricePoints
                      id:
                        type: string
                    required:
                    - id
                    - type
            content:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - inAppPurchaseContents
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreReviewScreenshot:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - inAppPurchaseAppStoreReviewScreenshots
                    id:
                      type: string
                  required:
                  - id
                  - type
            promotedPurchase:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - promotedPurchases
                    id:
                      type: string
                  required:
                  - id
                  - type
            iapPriceSchedule:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - inAppPurchasePriceSchedules
                    id:
                      type: string
                  required:
                  - id
                  - type
            inAppPurchaseAvailability:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - inAppPurchaseAvailabilities
                    id:
                      type: string
                  required:
                  - id
                  - type
            images:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchaseImages
                      id:
                        type: string
                    required:
                    - id
                    - type
            offerCodes:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchaseOfferCodes
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    InAppPurchaseAppStoreReviewScreenshotResponse:
      type: object
      title: InAppPurchaseAppStoreReviewScreenshotResponse
      properties:
        data:
          $ref: '#/components/schemas/InAppPurchaseAppStoreReviewScreenshot'
        included:
          type: array
          items:
            $ref: '#/components/schemas/InAppPurchaseV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    InAppPurchaseState:
      type: string
      enum:
      - MISSING_METADATA
      - WAITING_FOR_UPLOAD
      - PROCESSING_CONTENT
      - READY_TO_SUBMIT
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_ACTION_NEEDED
      - PENDING_BINARY_APPROVAL
      - APPROVED
      - DEVELOPER_REMOVED_FROM_SALE
      - REMOVED_FROM_SALE
      - REJECTED
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    InAppPurchaseType:
      type: string
      enum:
      - CONSUMABLE
      - NON_CONSUMABLE
      - NON_RENEWING_SUBSCRIPTION
    InAppPurchaseAppStoreReviewScreenshot:
      type: object
      title: InAppPurchaseAppStoreReviewScreenshot
      properties:
        type:
          type: string
          enum:
          - inAppPurchaseAppStoreReviewScreenshots
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            sourceFileChecksum:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            assetToken:
              type: string
            assetType:
              type: string
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            inAppPurchaseV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - inAppPurchases
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
