openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppClipAppStoreReviewDetails API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppClipAppStoreReviewDetails
paths:
  /v1/appClipAppStoreReviewDetails:
    post:
      tags:
      - AppClipAppStoreReviewDetails
      operationId: appClipAppStoreReviewDetails_createInstance
      requestBody:
        description: AppClipAppStoreReviewDetail representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAppStoreReviewDetailCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppClipAppStoreReviewDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAppStoreReviewDetailResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Clip App Store Review Details
  /v1/appClipAppStoreReviewDetails/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppClipAppStoreReviewDetails
      operationId: appClipAppStoreReviewDetails_getInstance
      parameters:
      - name: fields[appClipAppStoreReviewDetails]
        in: query
        description: the fields to include for returned resources of type appClipAppStoreReviewDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - invocationUrls
            - appClipDefaultExperience
        style: form
        explode: false
        required: false
      - name: fields[appClipDefaultExperiences]
        in: query
        description: the fields to include for returned resources of type appClipDefaultExperiences
        schema:
          type: array
          items:
            type: string
            enum:
            - action
            - appClip
            - releaseWithAppStoreVersion
            - appClipDefaultExperienceLocalizations
            - appClipAppStoreReviewDetail
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appClipDefaultExperience
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipAppStoreReviewDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAppStoreReviewDetailResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Clip App Store Review Details
    patch:
      tags:
      - AppClipAppStoreReviewDetails
      operationId: appClipAppStoreReviewDetails_updateInstance
      requestBody:
        description: AppClipAppStoreReviewDetail representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAppStoreReviewDetailUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipAppStoreReviewDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAppStoreReviewDetailResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update App Clip App Store Review Details
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    AppClipAppStoreReviewDetail:
      type: object
      title: AppClipAppStoreReviewDetail
      properties:
        type:
          type: string
          enum:
          - appClipAppStoreReviewDetails
        id:
          type: string
        attributes:
          type: object
          properties:
            invocationUrls:
              type: array
              items:
                type: string
                format: uri
        relationships:
          type: object
          properties:
            appClipDefaultExperience:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipDefaultExperiences
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppClipDefaultExperience:
      type: object
      title: AppClipDefaultExperience
      properties:
        type:
          type: string
          enum:
          - appClipDefaultExperiences
        id:
          type: string
        attributes:
          type: object
          properties:
            action:
              $ref: '#/components/schemas/AppClipAction'
        relationships:
          type: object
          properties:
            appClip:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClips
                    id:
                      type: string
                  required:
                  - id
                  - type
            releaseWithAppStoreVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            appClipDefaultExperienceLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClipDefaultExperienceLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appClipAppStoreReviewDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipAppStoreReviewDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppClipAppStoreReviewDetailResponse:
      type: object
      title: AppClipAppStoreReviewDetailResponse
      properties:
        data:
          $ref: '#/components/schemas/AppClipAppStoreReviewDetail'
        included:
          type: array
          items:
            $ref: '#/components/schemas/AppClipDefaultExperience'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppClipAppStoreReviewDetailCreateRequest:
      type: object
      title: AppClipAppStoreReviewDetailCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appClipAppStoreReviewDetails
            attributes:
              type: object
              properties:
                invocationUrls:
                  type: array
                  items:
                    type: string
                    format: uri
                  nullable: true
            relationships:
              type: object
              properties:
                appClipDefaultExperience:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appClipDefaultExperiences
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - appClipDefaultExperience
          required:
          - relationships
          - type
      required:
      - data
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    AppClipAction:
      type: string
      enum:
      - OPEN
      - VIEW
      - PLAY
    AppClipAppStoreReviewDetailUpdateRequest:
      type: object
      title: AppClipAppStoreReviewDetailUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appClipAppStoreReviewDetails
            id:
              type: string
            attributes:
              type: object
              properties:
                invocationUrls:
                  type: array
                  items:
                    type: string
                    format: uri
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
