openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BundleIds API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BundleIds
paths:
  /v1/bundleIds:
    get:
      tags:
      - BundleIds
      operationId: bundleIds_getCollection
      parameters:
      - name: filter[name]
        in: query
        description: filter by attribute 'name'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[platform]
        in: query
        description: filter by attribute 'platform'
        schema:
          type: array
          items:
            type: string
            enum:
            - IOS
            - MAC_OS
            - UNIVERSAL
        style: form
        explode: false
        required: false
      - name: filter[identifier]
        in: query
        description: filter by attribute 'identifier'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[seedId]
        in: query
        description: filter by attribute 'seedId'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; resources will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - platform
            - -platform
            - identifier
            - -identifier
            - seedId
            - -seedId
            - id
            - -id
        style: form
        explode: false
        required: false
      - name: fields[bundleIds]
        in: query
        description: the fields to include for returned resources of type bundleIds
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - identifier
            - seedId
            - profiles
            - bundleIdCapabilities
            - app
        style: form
        explode: false
        required: false
      - name: fields[profiles]
        in: query
        description: the fields to include for returned resources of type profiles
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - profileType
            - profileState
            - profileContent
            - uuid
            - createdDate
            - expirationDate
            - bundleId
            - devices
            - certificates
        style: form
        explode: false
        required: false
      - name: fields[bundleIdCapabilities]
        in: query
        description: the fields to include for returned resources of type bundleIdCapabilities
        schema:
          type: array
          items:
            type: string
            enum:
            - capabilityType
            - settings
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - profiles
            - bundleIdCapabilities
            - app
        style: form
        explode: false
        required: false
      - name: limit[bundleIdCapabilities]
        in: query
        description: maximum number of related bundleIdCapabilities returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[profiles]
        in: query
        description: maximum number of related profiles returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BundleIds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Bundle Ids
    post:
      tags:
      - BundleIds
      operationId: bundleIds_createInstance
      requestBody:
        description: BundleId representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleIdCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single BundleId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Bundle Ids
  /v1/bundleIds/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BundleIds
      operationId: bundleIds_getInstance
      parameters:
      - name: fields[bundleIds]
        in: query
        description: the fields to include for returned resources of type bundleIds
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - identifier
            - seedId
            - profiles
            - bundleIdCapabilities
            - app
        style: form
        explode: false
        required: false
      - name: fields[profiles]
        in: query
        description: the fields to include for returned resources of type profiles
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - profileType
            - profileState
            - profileContent
            - uuid
            - createdDate
            - expirationDate
            - bundleId
            - devices
            - certificates
        style: form
        explode: false
        required: false
      - name: fields[bundleIdCapabilities]
        in: query
        description: the fields to include for returned resources of type bundleIdCapabilities
        schema:
          type: array
          items:
            type: string
            enum:
            - capabilityType
            - settings
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - profiles
            - bundleIdCapabilities
            - app
        style: form
        explode: false
        required: false
      - name: limit[bundleIdCapabilities]
        in: query
        description: maximum number of related bundleIdCapabilities returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[profiles]
        in: query
        description: maximum number of related profiles returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BundleId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Bundle Ids
    patch:
      tags:
      - BundleIds
      operationId: bundleIds_updateInstance
      requestBody:
        description: BundleId representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleIdUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BundleId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Bundle Ids
    delete:
      tags:
      - BundleIds
      operationId: bundleIds_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Bundle Ids
  /v1/bundleIds/{id}/relationships/app:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BundleIds
      operationId: bundleIds_app_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdAppLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Bundle Ids / App
  /v1/bundleIds/{id}/app:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BundleIds
      operationId: bundleIds_app_getToOneRelated
      parameters:
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single App with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Bundle Ids / App
  /v1/bundleIds/{id}/relationships/bundleIdCapabilities:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BundleIds
      operationId: bundleIds_bundleIdCapabilities_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdBundleIdCapabilitiesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Bundle Ids / Bundle ID Capabilities
  /v1/bundleIds/{id}/bundleIdCapabilities:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BundleIds
      operationId: bundleIds_bundleIdCapabilities_getToManyRelated
      parameters:
      - name: fields[bundleIdCapabilities]
        in: query
        description: the fields to include for returned resources of type bundleIdCapabilities
        schema:
          type: array
          items:
            type: string
            enum:
            - capabilityType
            - settings
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BundleIdCapabilities with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdCapabilitiesWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Bundle Ids / Bundle ID Capabilities
  /v1/bundleIds/{id}/relationships/profiles:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BundleIds
      operationId: bundleIds_profiles_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdProfilesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Bundle Ids / Profiles
  /v1/bundleIds/{id}/profiles:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BundleIds
      operationId: bundleIds_profiles_getToManyRelated
      parameters:
      - name: fields[profiles]
        in: query
        description: the fields to include for returned resources of type profiles
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - profileType
            - profileState
            - profileContent
            - uuid
            - createdDate
            - expirationDate
            - bundleId
            - devices
            - certificates
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of Profiles with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Bundle Ids / Profiles
components:
  schemas:
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    Profile:
      type: object
      title: Profile
      properties:
        type:
          type: string
          enum:
          - profiles
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            platform:
              $ref: '#/components/schemas/BundleIdPlatform'
            profileType:
              type: string
              enum:
              - IOS_APP_DEVELOPMENT
              - IOS_APP_STORE
              - IOS_APP_ADHOC
              - IOS_APP_INHOUSE
              - MAC_APP_DEVELOPMENT
              - MAC_APP_STORE
              - MAC_APP_DIRECT
              - TVOS_APP_DEVELOPMENT
              - TVOS_APP_STORE
              - TVOS_APP_ADHOC
              - TVOS_APP_INHOUSE
              - MAC_CATALYST_APP_DEVELOPMENT
              - MAC_CATALYST_APP_STORE
              - MAC_CATALYST_APP_DIRECT
            profileState:
              type: string
              enum:
              - ACTIVE
              - INVALID
            profileContent:
              type: string
            uuid:
              type: string
            createdDate:
              type: string
              format: date-time
            expirationDate:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            bundleId:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - bundleIds
                    id:
                      type: string
                  required:
                  - id
                  - type
            devices:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - devices
                      id:
                        type: string
                    required:
                    - id
                    - type
            certificates:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - certificates
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BundleIdCapability:
      type: object
      title: BundleIdCapability
      properties:
        type:
          type: string
          enum:
          - bundleIdCapabilities
        id:
          type: string
        attributes:
          type: object
          properties:
            capabilityType:
              $ref: '#/components/schemas/CapabilityType'
            settings:
              type: array
              items:
                $ref: '#/components/schemas/CapabilitySetting'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CapabilityOption:
      type: object
      properties:
        key:
          type: string
          enum:
          - XCODE_5
          - XCODE_6
          - COMPLETE_PROTECTION
          - PROTECTED_UNLESS_OPEN
          - PROTECTED_UNTIL_FIRST_USER_AUTH
          - PRIMARY_APP_CONSENT
        name:
          type: string
        description:
          type: string
        enabledByDefault:
          type: boolean
        enabled:
          type: boolean
        supportsWildcard:
          type: boolean
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    BundleIdsResponse:
      type: object
      title: BundleIdsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BundleId'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/App'
            - $ref: '#/components/schemas/BundleIdCapability'
            - $ref: '#/components/schemas/Profile'
            discriminator:
              propertyName: type
              mapping:
                bundleIdCapabilities: '#/components/schemas/BundleIdCapability'
                profiles: '#/components/schemas/Profile'
                apps: '#/components/schemas/App'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    BundleIdBundleIdCapabilitiesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - bundleIdCapabilities
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BundleIdAppLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - apps
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    CapabilitySetting:
      type: object
      properties:
        key:
          type: string
          enum:
          - ICLOUD_VERSION
          - DATA_PROTECTION_PERMISSION_LEVEL
          - APPLE_ID_AUTH_APP_CONSENT
        name:
          type: string
        description:
          type: string
        enabledByDefault:
          type: boolean
        visible:
          type: boolean
        allowedInstances:
          type: string
          enum:
          - ENTRY
          - SINGLE
          - MULTIPLE
        minInstances:
          type: integer
        options:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityOption'
    BundleIdCapabilitiesWithoutIncludesResponse:
      type: object
      title: BundleIdCapabilitiesWithoutIncludesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BundleIdCapability'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BundleIdUpdateRequest:
      type: object
      title: BundleIdUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - bundleIds
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    BundleIdResponse:
      type: object
      title: BundleIdResponse
      properties:
        data:
          $ref: '#/components/schemas/BundleId'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/App'
            - $ref: '#/components/schemas/BundleIdCapability'
            - $ref: '#/components/schemas/Profile'
            discriminator:
              propertyName: type
              mapping:
                bundleIdCapabilities: '#/components/schemas/BundleIdCapability'
                profiles: '#/components/schemas/Profile'
                apps: '#/components/schemas/App'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    CapabilityType:
      type: string
      enum:
      - ICLOUD
      - IN_APP_PURCHASE
      - GAME_CENTER
      - PUSH_NOTIFICATIONS
      - WALLET
      - INTER_APP_AUDIO
      - MAPS
      - ASSOCIATED_DOMAINS
      - PERSONAL_VPN
      - APP_GROUPS
      - HEALTHKIT
      - HOMEKIT
      - WIRELESS_ACCESSORY_CONFIGURATION
      - APPLE_PAY
      - DATA_PROTECTION
      - SIRIKIT
      - NETWORK_EXTENSIONS
      - MULTIPATH
      - HOT_SPOT
      - NFC_TAG_READING
      - CLASSKIT
      - AUTOFILL_CREDENTIAL_PROVIDER
      - ACCESS_WIFI_INFORMATION
      - NETWORK_CUSTOM_PROTOCOL
      - COREMEDIA_HLS_LOW_LATENCY
      - SYSTEM_EXTENSION_INSTALL
      - USER_MANAGEMENT
      - APPLE_ID_AUTH
    App:
      type: object
      title: App
      properties:
        type:
          type: string
          enum:
          - apps
        id:
          type: string
        attributes:
          type: object
          properties:
            accessibilityUrl:
              type: string
              format: uri
            name:
              type: string
            bundleId:
              type: string
            sku:
              type: string
            primaryLocale:
              type: string
            isOrEverWasMadeForKids:
              type: boolean
            subscriptionStatusUrl:
              type: string
              format: uri
            subscriptionStatusUrlVersion:
              $ref: '#/components/schemas/SubscriptionStatusUrlVersion'
            subscriptionStatusUrlForSandbox:
              type: string
              format: uri
            subscriptionStatusUrlVersionForSandbox:
              $ref: '#/components/schemas/SubscriptionStatusUrlVersion'
            contentRightsDeclaration:
              type: string
              enum:
              - DOES_NOT_USE_THIRD_PARTY_CONTENT
              - USES_THIRD_PARTY_CONTENT
            streamlinedPurchasingEnabled:
              type: boolean
        relationships:
          type: object
          properties:
            accessibilityDeclarations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appEncryptionDeclarations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEncryptionDeclarations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreIcon:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildIcons
                    id:
                      type: string
                  required:
                  - id
                  - type
            ciProduct:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciProducts
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaTesters:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            appTags:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            preReleaseVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - preReleaseVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaAppLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaAppLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaLicenseAgreement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaLicenseAgreements
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaAppReviewDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaAppReviewDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appInfos:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appInfos
                      id:
                        type: string
                    required:
                    - id
                    - type
            appClips:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClips
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPricePoints:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            endUserLicenseAgreement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - endUserLicenseAgreements
                    id:
                      type: string
                  required:
                  - id
                  - type
            appPriceSchedule:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appAvailabilityV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            inAppPurchases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            subscriptionGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterEnabledVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterEnabledVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            perfPowerMetrics:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appCustomProductPages:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appCustomProductPages
                      id:
                        type: string
                    required:
                    - id
                    - type
            inAppPurchasesV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
            promotedPurchases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - promotedPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
            appEvents:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEvents
                      id:
                        type: string
                    required:
                    - id
                    - type
            reviewSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - reviewSubmissions
                      id:
                        type: string
                    required:
                    - id
                    - type
            subscriptionGracePeriod:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptionGracePeriods
                    id:
                      type: string
                  required:
                  - id
                  - type
            customerReviews:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            customerReviewSummarizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            gameCenterDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionExperiments
                      id:
                        type: string
                    required:
                    - id
                    - type
            alternativeDistributionKey:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            analyticsReportRequests:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            marketplaceSearchDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            buildUploads:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            backgroundAssets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaFeedbackScreenshotSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaFeedbackCrashSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            searchKeywords:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            webhooks:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            androidToIosAppMappingDetails:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - androidToIosAppMappingDetails
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    SubscriptionStatusUrlVersion:
      type: string
      enum:
      - V1
      - V2
    BundleId:
      type: object
      title: BundleId
      properties:
        type:
          type: string
          enum:
          - bundleIds
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            platform:
              $ref: '#/components/schemas/BundleIdPlatform'
            identifier:
              type: string
            seedId:
              type: string
        relationships:
          type: object
          properties:
            profiles:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - profiles
                      id:
                        type: string
                    required:
                    - id
                    - type
            bundleIdCapabilities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - bundleIdCapabilities
                      id:
                        type: string
                    required:
                    - id
                    - type
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BundleIdProfilesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - profiles
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    BundleIdCreateRequest:
      type: object
      title: BundleIdCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - bundleIds
            attributes:
              type: object
              properties:
                name:
                  type: string
                platform:
                  $ref: '#/components/schemas/BundleIdPlatform'
                identifier:
                  type: string
                seedId:
                  type: string
                  nullable: true
              required:
              - identifier
              - name
              - platform
          required:
          - attributes
          - type
      required:
      - data
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    BundleIdPlatform:
      type: string
      enum:
      - IOS
      - MAC_OS
      - UNIVERSAL
    ProfilesWithoutIncludesResponse:
      type: object
      title: ProfilesWithoutIncludesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Profile'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppWithoutIncludesResponse:
      type: object
      title: AppWithoutIncludesResponse
      properties:
        data:
          $ref: '#/components/schemas/App'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
