openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations SandboxTestersClearPurchaseHistoryRequest API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: SandboxTestersClearPurchaseHistoryRequest
paths:
  /v2/sandboxTestersClearPurchaseHistoryRequest:
    post:
      tags:
      - SandboxTestersClearPurchaseHistoryRequest
      operationId: sandboxTestersClearPurchaseHistoryRequestV2_createInstance
      requestBody:
        description: SandboxTestersClearPurchaseHistoryRequest representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxTestersClearPurchaseHistoryRequestV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single SandboxTestersClearPurchaseHistoryRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxTestersClearPurchaseHistoryRequestV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Sandbox Testers Clear Purchase History Request V2
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    SandboxTestersClearPurchaseHistoryRequestV2CreateRequest:
      type: object
      title: SandboxTestersClearPurchaseHistoryRequestV2CreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - sandboxTestersClearPurchaseHistoryRequest
            relationships:
              type: object
              properties:
                sandboxTesters:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - sandboxTesters
                          id:
                            type: string
                        required:
                        - id
                        - type
                  required:
                  - data
              required:
              - sandboxTesters
          required:
          - relationships
          - type
      required:
      - data
    SandboxTestersClearPurchaseHistoryRequestV2Response:
      type: object
      title: SandboxTestersClearPurchaseHistoryRequestV2Response
      properties:
        data:
          $ref: '#/components/schemas/SandboxTestersClearPurchaseHistoryRequestV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    SandboxTestersClearPurchaseHistoryRequestV2:
      type: object
      title: SandboxTestersClearPurchaseHistoryRequestV2
      properties:
        type:
          type: string
          enum:
          - sandboxTestersClearPurchaseHistoryRequest
        id:
          type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
