openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations Apps API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: Apps
paths:
  /v1/apps:
    get:
      tags:
      - Apps
      operationId: apps_getCollection
      parameters:
      - name: filter[name]
        in: query
        description: filter by attribute 'name'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[bundleId]
        in: query
        description: filter by attribute 'bundleId'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[sku]
        in: query
        description: filter by attribute 'sku'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[appStoreVersions.appStoreState]
        in: query
        description: filter by attribute 'appStoreVersions.appStoreState'
        schema:
          type: array
          items:
            type: string
            enum:
            - ACCEPTED
            - DEVELOPER_REMOVED_FROM_SALE
            - DEVELOPER_REJECTED
            - IN_REVIEW
            - INVALID_BINARY
            - METADATA_REJECTED
            - PENDING_APPLE_RELEASE
            - PENDING_CONTRACT
            - PENDING_DEVELOPER_RELEASE
            - PREPARE_FOR_SUBMISSION
            - PREORDER_READY_FOR_SALE
            - PROCESSING_FOR_APP_STORE
            - READY_FOR_REVIEW
            - READY_FOR_SALE
            - REJECTED
            - REMOVED_FROM_SALE
            - WAITING_FOR_EXPORT_COMPLIANCE
            - WAITING_FOR_REVIEW
            - REPLACED_WITH_NEW_VERSION
            - NOT_APPLICABLE
        style: form
        explode: false
        required: false
        deprecated: true
      - name: filter[appStoreVersions.platform]
        in: query
        description: filter by attribute 'appStoreVersions.platform'
        schema:
          type: array
          items:
            type: string
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            - VISION_OS
        style: form
        explode: false
        required: false
      - name: filter[appStoreVersions.appVersionState]
        in: query
        description: filter by attribute 'appStoreVersions.appVersionState'
        schema:
          type: array
          items:
            type: string
            enum:
            - ACCEPTED
            - DEVELOPER_REJECTED
            - IN_REVIEW
            - INVALID_BINARY
            - METADATA_REJECTED
            - PENDING_APPLE_RELEASE
            - PENDING_DEVELOPER_RELEASE
            - PREPARE_FOR_SUBMISSION
            - PROCESSING_FOR_DISTRIBUTION
            - READY_FOR_DISTRIBUTION
            - READY_FOR_REVIEW
            - REJECTED
            - REPLACED_WITH_NEW_VERSION
            - WAITING_FOR_EXPORT_COMPLIANCE
            - WAITING_FOR_REVIEW
        style: form
        explode: false
        required: false
      - name: filter[reviewSubmissions.state]
        in: query
        description: filter by attribute 'reviewSubmissions.state'
        schema:
          type: array
          items:
            type: string
            enum:
            - READY_FOR_REVIEW
            - WAITING_FOR_REVIEW
            - IN_REVIEW
            - UNRESOLVED_ISSUES
            - CANCELING
            - COMPLETING
            - COMPLETE
        style: form
        explode: false
        required: false
      - name: filter[reviewSubmissions.platform]
        in: query
        description: filter by attribute 'reviewSubmissions.platform'
        schema:
          type: array
          items:
            type: string
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            - VISION_OS
        style: form
        explode: false
        required: false
      - name: filter[appStoreVersions]
        in: query
        description: filter by id(s) of related 'appStoreVersions'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: exists[gameCenterEnabledVersions]
        in: query
        description: filter by existence or non-existence of related 'gameCenterEnabledVersions'
        schema:
          type: boolean
        style: form
        explode: false
        required: false
        deprecated: true
      - name: sort
        in: query
        description: comma-separated list of sort expressions; resources will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - bundleId
            - -bundleId
            - sku
            - -sku
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[appEncryptionDeclarations]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - appDescription
            - createdDate
            - usesEncryption
            - exempt
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - availableOnFrenchStore
            - platform
            - uploadedDate
            - documentUrl
            - documentName
            - documentType
            - appEncryptionDeclarationState
            - codeValue
            - app
            - builds
            - appEncryptionDeclarationDocument
        style: form
        explode: false
        required: false
      - name: fields[buildIcons]
        in: query
        description: the fields to include for returned resources of type buildIcons
        schema:
          type: array
          items:
            type: string
            enum:
            - iconAsset
            - iconType
            - masked
            - name
        style: form
        explode: false
        required: false
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
        required: false
      - name: fields[betaGroups]
        in: query
        description: the fields to include for returned resources of type betaGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - isInternalGroup
            - hasAccessToAllBuilds
            - publicLinkEnabled
            - publicLinkId
            - publicLinkLimitEnabled
            - publicLinkLimit
            - publicLink
            - feedbackEnabled
            - iosBuildsAvailableForAppleSiliconMac
            - iosBuildsAvailableForAppleVision
            - app
            - builds
            - betaTesters
            - betaRecruitmentCriteria
            - betaRecruitmentCriterionCompatibleBuildCheck
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
        required: false
      - name: fields[preReleaseVersions]
        in: query
        description: the fields to include for returned resources of type preReleaseVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - platform
            - builds
            - app
        style: form
        explode: false
        required: false
      - name: fields[betaAppLocalizations]
        in: query
        description: the fields to include for returned resources of type betaAppLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - feedbackEmail
            - marketingUrl
            - privacyPolicyUrl
            - tvOsPrivacyPolicy
            - description
            - locale
            - app
        style: form
        explode: false
        required: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
        required: false
      - name: fields[betaLicenseAgreements]
        in: query
        description: the fields to include for returned resources of type betaLicenseAgreements
        schema:
          type: array
          items:
            type: string
            enum:
            - agreementText
            - app
        style: form
        explode: false
        required: false
      - name: fields[betaAppReviewDetails]
        in: query
        description: the fields to include for returned resources of type betaAppReviewDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - contactFirstName
            - contactLastName
            - contactPhone
            - contactEmail
            - demoAccountName
            - demoAccountPassword
            - demoAccountRequired
            - notes
            - app
        style: form
        explode: false
        required: false
      - name: fields[appInfos]
        in: query
        description: the fields to include for returned resources of type appInfos
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreState
            - state
            - appStoreAgeRating
            - australiaAgeRating
            - brazilAgeRating
            - brazilAgeRatingV2
            - franceAgeRating
            - koreaAgeRating
            - kidsAgeBand
            - app
            - ageRatingDeclaration
            - appInfoLocalizations
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            - territoryAgeRatings
        style: form
        explode: false
        required: false
      - name: fields[appClips]
        in: query
        description: the fields to include for returned resources of type appClips
        schema:
          type: array
          items:
            type: string
            enum:
            - bundleId
            - app
            - appClipDefaultExperiences
            - appClipAdvancedExperiences
        style: form
        explode: false
        required: false
      - name: fields[endUserLicenseAgreements]
        in: query
        description: the fields to include for returned resources of type endUserLicenseAgreements
        schema:
          type: array
          items:
            type: string
            enum:
            - agreementText
            - app
            - territories
        style: form
        explode: false
        required: false
      - name: fields[inAppPurchases]
        in: query
        description: the fields to include for returned resources of type inAppPurchases
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - productId
            - inAppPurchaseType
            - state
            - apps
            - name
            - reviewNote
            - familySharable
            - contentHosting
            - inAppPurchaseLocalizations
            - pricePoints
            - content
            - appStoreReviewScreenshot
            - promotedPurchase
            - iapPriceSchedule
            - inAppPurchaseAvailability
            - images
            - offerCodes
        style: form
        explode: false
        required: false
      - name: fields[subscriptionGroups]
        in: query
        description: the fields to include for returned resources of type subscriptionGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - subscriptions
            - subscriptionGroupLocalizations
        style: form
        explode: false
        required: false
      - name: fields[gameCenterEnabledVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterEnabledVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - iconAsset
            - compatibleVersions
            - app
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[appCustomProductPages]
        in: query
        description: the fields to include for returned resources of type appCustomProductPages
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - url
            - visible
            - app
            - appCustomProductPageVersions
        style: form
        explode: false
        required: false
      - name: fields[promotedPurchases]
        in: query
        description: the fields to include for returned resources of type promotedPurchases
        schema:
          type: array
          items:
            type: string
            enum:
            - visibleForAllUsers
            - enabled
            - state
            - inAppPurchaseV2
            - subscription
        style: form
        explode: false
        required: false
      - name: fields[appEvents]
        in: query
        description: the fields to include for returned resources of type appEvents
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - badge
            - eventState
            - deepLink
            - purchaseRequirement
            - primaryLocale
            - priority
            - purpose
            - territorySchedules
            - archivedTerritorySchedules
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[reviewSubmissions]
        in: query
        description: the fields to include for returned resources of type reviewSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - submittedDate
            - state
            - app
            - items
            - appStoreVersionForReview
            - submittedByActor
            - lastUpdatedByActor
        style: form
        explode: false
        required: false
      - name: fields[subscriptionGracePeriods]
        in: query
        description: the fields to include for returned resources of type subscriptionGracePeriods
        schema:
          type: array
          items:
            type: string
            enum:
            - optIn
            - sandboxOptIn
            - duration
            - renewalType
        style: form
        explode: false
        required: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionExperiments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperiments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - trafficProportion
            - state
            - reviewRequired
            - startDate
            - endDate
            - app
            - latestControlVersion
            - controlVersions
            - appStoreVersionExperimentTreatments
        style: form
        explode: false
        required: false
      - name: fields[androidToIosAppMappingDetails]
        in: query
        description: the fields to include for returned resources of type androidToIosAppMappingDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - packageName
            - appSigningKeyPublicCertificateSha256Fingerprints
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaGroups
            - appStoreVersions
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - endUserLicenseAgreement
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: limit[androidToIosAppMappingDetails]
        in: query
        description: maximum number of related androidToIosAppMappingDetails returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appClips]
        in: query
        description: maximum number of related appClips returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appCustomProductPages]
        in: query
        description: maximum number of related appCustomProductPages returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appEncryptionDeclarations]
        in: query
        description: maximum number of related appEncryptionDeclarations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appEvents]
        in: query
        description: maximum number of related appEvents returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appInfos]
        in: query
        description: maximum number of related appInfos returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appStoreVersionExperimentsV2]
        in: query
        description: maximum number of related appStoreVersionExperimentsV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appStoreVersions]
        in: query
        description: maximum number of related appStoreVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[betaAppLocalizations]
        in: query
        description: maximum number of related betaAppLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[betaGroups]
        in: query
        description: maximum number of related betaGroups returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[builds]
        in: query
        description: maximum number of related builds returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[gameCenterEnabledVersions]
        in: query
        description: maximum number of related gameCenterEnabledVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[inAppPurchases]
        in: query
        description: maximum number of related inAppPurchases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[inAppPurchasesV2]
        in: query
        description: maximum number of related inAppPurchasesV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[preReleaseVersions]
        in: query
        description: maximum number of related preReleaseVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[promotedPurchases]
        in: query
        description: maximum number of related promotedPurchases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[reviewSubmissions]
        in: query
        description: maximum number of related reviewSubmissions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[subscriptionGroups]
        in: query
        description: maximum number of related subscriptionGroups returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of Apps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Apps
  /v1/apps/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_getInstance
      parameters:
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[appEncryptionDeclarations]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - appDescription
            - createdDate
            - usesEncryption
            - exempt
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - availableOnFrenchStore
            - platform
            - uploadedDate
            - documentUrl
            - documentName
            - documentType
            - appEncryptionDeclarationState
            - codeValue
            - app
            - builds
            - appEncryptionDeclarationDocument
        style: form
        explode: false
        required: false
      - name: fields[buildIcons]
        in: query
        description: the fields to include for returned resources of type buildIcons
        schema:
          type: array
          items:
            type: string
            enum:
            - iconAsset
            - iconType
            - masked
            - name
        style: form
        explode: false
        required: false
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
        required: false
      - name: fields[betaGroups]
        in: query
        description: the fields to include for returned resources of type betaGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - isInternalGroup
            - hasAccessToAllBuilds
            - publicLinkEnabled
            - publicLinkId
            - publicLinkLimitEnabled
            - publicLinkLimit
            - publicLink
            - feedbackEnabled
            - iosBuildsAvailableForAppleSiliconMac
            - iosBuildsAvailableForAppleVision
            - app
            - builds
            - betaTesters
            - betaRecruitmentCriteria
            - betaRecruitmentCriterionCompatibleBuildCheck
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
        required: false
      - name: fields[preReleaseVersions]
        in: query
        description: the fields to include for returned resources of type preReleaseVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - platform
            - builds
            - app
        style: form
        explode: false
        required: false
      - name: fields[betaAppLocalizations]
        in: query
        description: the fields to include for returned resources of type betaAppLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - feedbackEmail
            - marketingUrl
            - privacyPolicyUrl
            - tvOsPrivacyPolicy
            - description
            - locale
            - app
        style: form
        explode: false
        required: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
        required: false
      - name: fields[betaLicenseAgreements]
        in: query
        description: the fields to include for returned resources of type betaLicenseAgreements
        schema:
          type: array
          items:
            type: string
            enum:
            - agreementText
            - app
        style: form
        explode: false
        required: false
      - name: fields[betaAppReviewDetails]
        in: query
        description: the fields to include for returned resources of type betaAppReviewDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - contactFirstName
            - contactLastName
            - contactPhone
            - contactEmail
            - demoAccountName
            - demoAccountPassword
            - demoAccountRequired
            - notes
            - app
        style: form
        explode: false
        required: false
      - name: fields[appInfos]
        in: query
        description: the fields to include for returned resources of type appInfos
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreState
            - state
            - appStoreAgeRating
            - australiaAgeRating
            - brazilAgeRating
            - brazilAgeRatingV2
            - franceAgeRating
            - koreaAgeRating
            - kidsAgeBand
            - app
            - ageRatingDeclaration
            - appInfoLocalizations
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            - territoryAgeRatings
        style: form
        explode: false
        required: false
      - name: fields[appClips]
        in: query
        description: the fields to include for returned resources of type appClips
        schema:
          type: array
          items:
            type: string
            enum:
            - bundleId
            - app
            - appClipDefaultExperiences
            - appClipAdvancedExperiences
        style: form
        explode: false
        required: false
      - name: fields[endUserLicenseAgreements]
        in: query
        description: the fields to include for returned resources of type endUserLicenseAgreements
        schema:
          type: array
          items:
            type: string
            enum:
            - agreementText
            - app
            - territories
        style: form
        explode: false
        required: false
      - name: fields[inAppPurchases]
        in: query
        description: the fields to include for returned resources of type inAppPurchases
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - productId
            - inAppPurchaseType
            - state
            - apps
            - name
            - reviewNote
            - familySharable
            - contentHosting
            - inAppPurchaseLocalizations
            - pricePoints
            - content
            - appStoreReviewScreenshot
            - promotedPurchase
            - iapPriceSchedule
            - inAppPurchaseAvailability
            - images
            - offerCodes
        style: form
        explode: false
        required: false
      - name: fields[subscriptionGroups]
        in: query
        description: the fields to include for returned resources of type subscriptionGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - subscriptions
            - subscriptionGroupLocalizations
        style: form
        explode: false
        required: false
      - name: fields[gameCenterEnabledVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterEnabledVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - iconAsset
            - compatibleVersions
            - app
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[appCustomProductPages]
        in: query
        description: the fields to include for returned resources of type appCustomProductPages
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - url
            - visible
            - app
            - appCustomProductPageVersions
        style: form
        explode: false
        required: false
      - name: fields[promotedPurchases]
        in: query
        description: the fields to include for returned resources of type promotedPurchases
        schema:
          type: array
          items:
            type: string
            enum:
            - visibleForAllUsers
            - enabled
            - state
            - inAppPurchaseV2
            - subscription
        style: form
        explode: false
        required: false
      - name: fields[appEvents]
        in: query
        description: the fields to include for returned resources of type appEvents
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - badge
            - eventState
            - deepLink
            - purchaseRequirement
            - primaryLocale
            - priority
            - purpose
            - territorySchedules
            - archivedTerritorySchedules
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[reviewSubmissions]
        in: query
        description: the fields to include for returned resources of type reviewSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - submittedDate
            - state
            - app
            - items
            - appStoreVersionForReview
            - submittedByActor
            - lastUpdatedByActor
        style: form
        explode: false
        required: false
      - name: fields[subscriptionGracePeriods]
        in: query
        description: the fields to include for returned resources of type subscriptionGracePeriods
        schema:
          type: array
          items:
            type: string
            enum:
            - optIn
            - sandboxOptIn
            - duration
            - renewalType
        style: form
        explode: false
        required: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionExperiments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperiments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - trafficProportion
            - state
            - reviewRequired
            - startDate
            - endDate
            - app
            - latestControlVersion
            - controlVersions
            - appStoreVersionExperimentTreatments
        style: form
        explode: false
        required: false
      - name: fields[androidToIosAppMappingDetails]
        in: query
        description: the fields to include for returned resources of type androidToIosAppMappingDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - packageName
            - appSigningKeyPublicCertificateSha256Fingerprints
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaGroups
            - appStoreVersions
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - endUserLicenseAgreement
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: limit[androidToIosAppMappingDetails]
        in: query
        description: maximum number of related androidToIosAppMappingDetails returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appClips]
        in: query
        description: maximum number of related appClips returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appCustomProductPages]
        in: query
        description: maximum number of related appCustomProductPages returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appEncryptionDeclarations]
        in: query
        description: maximum number of related appEncryptionDeclarations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appEvents]
        in: query
        description: maximum number of related appEvents returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appInfos]
        in: query
        description: maximum number of related appInfos returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appStoreVersionExperimentsV2]
        in: query
        description: maximum number of related appStoreVersionExperimentsV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appStoreVersions]
        in: query
        description: maximum number of related appStoreVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[betaAppLocalizations]
        in: query
        description: maximum number of related betaAppLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[betaGroups]
        in: query
        description: maximum number of related betaGroups returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[builds]
        in: query
        description: maximum number of related builds returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[gameCenterEnabledVersions]
        in: query
        description: maximum number of related gameCenterEnabledVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[inAppPurchases]
        in: query
        description: maximum number of related inAppPurchases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[inAppPurchasesV2]
        in: query
        description: maximum number of related inAppPurchasesV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[preReleaseVersions]
        in: query
        description: maximum number of related preReleaseVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[promotedPurchases]
        in: query
        description: maximum number of related promotedPurchases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[reviewSubmissions]
        in: query
        description: maximum number of related reviewSubmissions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[subscriptionGroups]
        in: query
        description: maximum number of related subscriptionGroups returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Apps
    patch:
      tags:
      - Apps
      operationId: apps_updateInstance
      requestBody:
        description: App representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Apps
  /v1/apps/{id}/relationships/accessibilityDeclarations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_accessibilityDeclarations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAccessibilityDeclarationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / Accessibility Declarations
  /v1/apps/{id}/accessibilityDeclarations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_accessibilityDeclarations_getToManyRelated
      parameters:
      - name: filter[deviceFamily]
        in: query
        description: filter by attribute 'deviceFamily'
        schema:
          type: array
          items:
            type: string
            enum:
            - IPHONE
            - IPAD
            - APPLE_TV
            - APPLE_WATCH
            - MAC
            - VISION
        style: form
        explode: false
      - name: filter[state]
        in: query
        description: filter by attribute 'state'
        schema:
          type: array
          items:
            type: string
            enum:
            - DRAFT
            - PUBLISHED
            - REPLACED
        style: form
        explode: false
      - name: fields[accessibilityDeclarations]
        in: query
        description: the fields to include for returned resources of type accessibilityDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - deviceFamily
            - state
            - supportsAudioDescriptions
            - supportsCaptions
            - supportsDarkInterface
            - supportsDifferentiateWithoutColorAlone
            - supportsLargerText
            - supportsReducedMotion
            - supportsSufficientContrast
            - supportsVoiceControl
            - supportsVoiceover
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AccessibilityDeclarations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessibilityDeclarationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / Accessibility Declarations
  /v1/apps/{id}/relationships/alternativeDistributionKey:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_alternativeDistributionKey_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAlternativeDistributionKeyLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Apps / Alternative Distribution Key
  /v1/apps/{id}/alternativeDistributionKey:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_alternativeDistributionKey_getToOneRelated
      parameters:
      - name: fields[alternativeDistributionKeys]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionKeys
        schema:
          type: array
          items:
            type: string
            enum:
            - publicKey
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AlternativeDistributionKey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionKeyResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Apps / Alternative Distribution Key
  /v1/apps/{id}/relationships/analyticsReportRequests:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_analyticsReportRequests_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAnalyticsReportRequestsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / Analytics Report Requests
  /v1/apps/{id}/analyticsReportRequests:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_analyticsReportRequests_getToManyRelated
      parameters:
      - name: filter[accessType]
        in: query
        description: filter by attribute 'accessType'
        schema:
          type: array
          items:
            type: string
            enum:
            - ONE_TIME_SNAPSHOT
            - ONGOING
        style: form
        explode: false
      - name: fields[analyticsReportRequests]
        in: query
        description: the fields to include for returned resources of type analyticsReportRequests
        schema:
          type: array
          items:
            type: string
            enum:
            - accessType
            - stoppedDueToInactivity
            - reports
        style: form
        explode: false
      - name: fields[analyticsReports]
        in: query
        description: the fields to include for returned resources of type analyticsReports
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - category
            - instances
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - reports
        style: form
        explode: false
      - name: limit[reports]
        in: query
        description: maximum number of related reports returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AnalyticsReportRequests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsReportRequestsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / Analytics Report Requests
  /v1/apps/{id}/relationships/androidToIosAppMappingDetails:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_androidToIosAppMappingDetails_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAndroidToIosAppMappingDetailsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / Android to Ios App Mapping Details
  /v1/apps/{id}/androidToIosAppMappingDetails:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_androidToIosAppMappingDetails_getToManyRelated
      parameters:
      - name: fields[androidToIosAppMappingDetails]
        in: query
        description: the fields to include for returned resources of type androidToIosAppMappingDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - packageName
            - appSigningKeyPublicCertificateSha256Fingerprints
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AndroidToIosAppMappingDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidToIosAppMappingDetailsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / Android to Ios App Mapping Details
  /v1/apps/{id}/relationships/appAvailabilityV2:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_appAvailabilityV2_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAppAvailabilityV2LinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Apps / App Availability V2
  /v1/apps/{id}/appAvailabilityV2:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_appAvailabilityV2_getToOneRelated
      parameters:
      - name: fields[appAvailabilities]
        in: query
        description: the fields to include for returned resources of type appAvailabilities
        schema:
          type: array
          items:
            type: string
            enum:
            - availableInNewTerritories
            - territoryAvailabilities
        style: form
        explode: false
      - name: fields[territoryAvailabilities]
        in: query
        description: the fields to include for returned resources of type territoryAvailabilities
        schema:
          type: array
          items:
            type: string
            enum:
            - available
            - releaseDate
            - preOrderEnabled
            - preOrderPublishDate
            - contentStatuses
            - territory
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - territoryAvailabilities
        style: form
        explode: false
      - name: limit[territoryAvailabilities]
        in: query
        description: maximum number of related territoryAvailabilities returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppAvailability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAvailabilityV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Apps / App Availability V2
  /v1/apps/{id}/relationships/appClips:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_appClips_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAppClipsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / App Clips
  /v1/apps/{id}/appClips:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_appClips_getToManyRelated
      parameters:
      - name: filter[bundleId]
        in: query
        description: filter by attribute 'bundleId'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[appClips]
        in: query
        description: the fields to include for returned resources of type appClips
        schema:
          type: array
          items:
            type: string
            enum:
            - bundleId
            - app
            - appClipDefaultExperiences
            - appClipAdvancedExperiences
        style: form
        explode: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
      - name: fields[appClipDefaultExperiences]
        in: query
        description: the fields to include for returned resources of type appClipDefaultExperiences
        schema:
          type: array
          items:
            type: string
            enum:
            - action
            - appClip
            - releaseWithAppStoreVersion
            - appClipDefaultExperienceLocalizations
            - appClipAppStoreReviewDetail
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - app
            - appClipDefaultExperiences
        style: form
        explode: false
      - name: limit[appClipDefaultExperiences]
        in: query
        description: maximum number of related appClipDefaultExperiences returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppClips
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / App Clips
  /v1/apps/{id}/relationships/appCustomProductPages:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_appCustomProductPages_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAppCustomProductPagesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / App Custom Product Pages
  /v1/apps/{id}/appCustomProductPages:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_appCustomProductPages_getToManyRelated
      parameters:
      - name: filter[visible]
        in: query
        description: filter by attribute 'visible'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[appCustomProductPages]
        in: query
        description: the fields to include for returned resources of type appCustomProductPages
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - url
            - visible
            - app
            - appCustomProductPageVersions
        style: form
        explode: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
      - name: fields[appCustomProductPageVersions]
        in: query
        description: the fields to include for returned resources of type appCustomProductPageVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - deepLink
            - appCustomProductPage
            - appCustomProductPageLocalizations
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - app
            - appCustomProductPageVersions
        style: form
        explode: false
      - name: limit[appCustomProductPageVersions]
        in: query
        description: maximum number of related appCustomProductPageVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppCustomProductPages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCustomProductPagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / App Custom Product Pages
  /v1/apps/{id}/relationships/appEncryptionDeclarations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_appEncryptionDeclarations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAppEncryptionDeclarationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Apps / App Encryption Declarations
  /v1/apps/{id}/appEncryptionDeclarations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Apps
      operationId: apps_appEncryptionDeclarations_getToManyRelated
      parameters:
      - name: filter[platform]
        in: query
        description: filter by attribute 'platform'
        schema:
          type: array
          items:
            type: string
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            - VISION_OS
        style: form
        explode: false
        deprecated: true
      - name: filter[builds]
        in: query
        description: filter by id(s) of related 'builds'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[appEncryptionDeclarations]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - appDescription
            - createdDate
            - usesEncryption
            - exempt
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - availableOnFrenchStore
            - platform
            - uploadedDate
            - documentUrl
            - documentName
            - documentType
            - appEncryptionDeclarationState
            - codeValue
            - app
            - builds
            - appEncryptionDeclarationDocument
        style: form
        explode: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      - name: fields[appEncryptionDeclarationDocuments]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarationDocuments
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - assetToken
            - downloadUrl
            - sourceFileChecksum
            - uploadOperations
            - assetDeliveryState
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - app
            - builds
            - appEncryptionDeclarationDocument
        style: form
        explode: false
      - name: limit[builds]
        in: query
        description: maximum number of related builds returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
[...]
