openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BundleIdCapabilities API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BundleIdCapabilities
paths:
  /v1/bundleIdCapabilities:
    post:
      tags:
      - BundleIdCapabilities
      operationId: bundleIdCapabilities_createInstance
      requestBody:
        description: BundleIdCapability representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleIdCapabilityCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single BundleIdCapability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdCapabilityResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Bundle ID Capabilities
  /v1/bundleIdCapabilities/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - BundleIdCapabilities
      operationId: bundleIdCapabilities_updateInstance
      requestBody:
        description: BundleIdCapability representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleIdCapabilityUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BundleIdCapability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleIdCapabilityResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Bundle ID Capabilities
    delete:
      tags:
      - BundleIdCapabilities
      operationId: bundleIdCapabilities_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Bundle ID Capabilities
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    BundleIdCapabilityCreateRequest:
      type: object
      title: BundleIdCapabilityCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - bundleIdCapabilities
            attributes:
              type: object
              properties:
                capabilityType:
                  $ref: '#/components/schemas/CapabilityType'
                settings:
                  type: array
                  items:
                    $ref: '#/components/schemas/CapabilitySetting'
                  nullable: true
              required:
              - capabilityType
            relationships:
              type: object
              properties:
                bundleId:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - bundleIds
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - bundleId
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    CapabilityOption:
      type: object
      properties:
        key:
          type: string
          enum:
          - XCODE_5
          - XCODE_6
          - COMPLETE_PROTECTION
          - PROTECTED_UNLESS_OPEN
          - PROTECTED_UNTIL_FIRST_USER_AUTH
          - PRIMARY_APP_CONSENT
        name:
          type: string
        description:
          type: string
        enabledByDefault:
          type: boolean
        enabled:
          type: boolean
        supportsWildcard:
          type: boolean
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    BundleIdCapabilityUpdateRequest:
      type: object
      title: BundleIdCapabilityUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - bundleIdCapabilities
            id:
              type: string
            attributes:
              type: object
              properties:
                capabilityType:
                  nullable: true
                  $ref: '#/components/schemas/CapabilityType'
                settings:
                  type: array
                  items:
                    $ref: '#/components/schemas/CapabilitySetting'
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    CapabilitySetting:
      type: object
      properties:
        key:
          type: string
          enum:
          - ICLOUD_VERSION
          - DATA_PROTECTION_PERMISSION_LEVEL
          - APPLE_ID_AUTH_APP_CONSENT
        name:
          type: string
        description:
          type: string
        enabledByDefault:
          type: boolean
        visible:
          type: boolean
        allowedInstances:
          type: string
          enum:
          - ENTRY
          - SINGLE
          - MULTIPLE
        minInstances:
          type: integer
        options:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityOption'
    BundleIdCapabilityResponse:
      type: object
      title: BundleIdCapabilityResponse
      properties:
        data:
          $ref: '#/components/schemas/BundleIdCapability'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    BundleIdCapability:
      type: object
      title: BundleIdCapability
      properties:
        type:
          type: string
          enum:
          - bundleIdCapabilities
        id:
          type: string
        attributes:
          type: object
          properties:
            capabilityType:
              $ref: '#/components/schemas/CapabilityType'
            settings:
              type: array
              items:
                $ref: '#/components/schemas/CapabilitySetting'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CapabilityType:
      type: string
      enum:
      - ICLOUD
      - IN_APP_PURCHASE
      - GAME_CENTER
      - PUSH_NOTIFICATIONS
      - WALLET
      - INTER_APP_AUDIO
      - MAPS
      - ASSOCIATED_DOMAINS
      - PERSONAL_VPN
      - APP_GROUPS
      - HEALTHKIT
      - HOMEKIT
      - WIRELESS_ACCESSORY_CONFIGURATION
      - APPLE_PAY
      - DATA_PROTECTION
      - SIRIKIT
      - NETWORK_EXTENSIONS
      - MULTIPATH
      - HOT_SPOT
      - NFC_TAG_READING
      - CLASSKIT
      - AUTOFILL_CREDENTIAL_PROVIDER
      - ACCESS_WIFI_INFORMATION
      - NETWORK_CUSTOM_PROTOCOL
      - COREMEDIA_HLS_LOW_LATENCY
      - SYSTEM_EXTENSION_INSTALL
      - USER_MANAGEMENT
      - APPLE_ID_AUTH
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
