openapi: 3.2.0
info:
  title: App Store Connect Analytics Reports API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: Analytics Reports
paths:
  /v1/analyticsReports/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Analytics Reports
      operationId: analyticsReports_getInstance
      parameters:
      - name: fields[analyticsReports]
        in: query
        description: the fields to include for returned resources of type analyticsReports
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - category
            - instances
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AnalyticsReport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsReportResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Analytics Reports
  /v1/analyticsReports/{id}/relationships/instances:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Analytics Reports
      operationId: analyticsReports_instances_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsReportInstancesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Analytics Reports / Instances
  /v1/analyticsReports/{id}/instances:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Analytics Reports
      operationId: analyticsReports_instances_getToManyRelated
      parameters:
      - name: filter[granularity]
        in: query
        description: filter by attribute 'granularity'
        schema:
          type: array
          items:
            type: string
            enum:
            - DAILY
            - WEEKLY
            - MONTHLY
        style: form
        explode: false
      - name: filter[processingDate]
        in: query
        description: filter by attribute 'processingDate'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[analyticsReportInstances]
        in: query
        description: the fields to include for returned resources of type analyticsReportInstances
        schema:
          type: array
          items:
            type: string
            enum:
            - granularity
            - processingDate
            - segments
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AnalyticsReportInstances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsReportInstancesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Analytics Reports / Instances
components:
  schemas:
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    AnalyticsReportInstance:
      type: object
      title: AnalyticsReportInstance
      properties:
        type:
          type: string
          enum:
          - analyticsReportInstances
        id:
          type: string
        attributes:
          type: object
          properties:
            granularity:
              type: string
              enum:
              - DAILY
              - WEEKLY
              - MONTHLY
            processingDate:
              type: string
              format: date
        relationships:
          type: object
          properties:
            segments:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AnalyticsReportInstancesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - analyticsReportInstances
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    AnalyticsReport:
      type: object
      title: AnalyticsReport
      properties:
        type:
          type: string
          enum:
          - analyticsReports
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            category:
              type: string
              enum:
              - APP_USAGE
              - APP_STORE_ENGAGEMENT
              - COMMERCE
              - FRAMEWORK_USAGE
              - PERFORMANCE
        relationships:
          type: object
          properties:
            instances:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AnalyticsReportResponse:
      type: object
      title: AnalyticsReportResponse
      properties:
        data:
          $ref: '#/components/schemas/AnalyticsReport'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AnalyticsReportInstancesResponse:
      type: object
      title: AnalyticsReportInstancesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsReportInstance'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
