openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterActivities API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterActivities
paths:
  /v1/gameCenterActivities:
    post:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_createInstance
      requestBody:
        description: GameCenterActivity representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterActivity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Activities
  /v1/gameCenterActivities/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_getInstance
      parameters:
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
        required: false
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterActivityVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - fallbackUrl
            - activity
            - localizations
            - defaultImage
            - releases
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
        required: false
      - name: limit[achievements]
        in: query
        description: maximum number of related achievements returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[achievementsV2]
        in: query
        description: maximum number of related achievementsV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[leaderboards]
        in: query
        description: maximum number of related leaderboards returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[leaderboardsV2]
        in: query
        description: maximum number of related leaderboardsV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[versions]
        in: query
        description: maximum number of related versions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterActivity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Activities
    patch:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_updateInstance
      requestBody:
        description: GameCenterActivity representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterActivity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Activities
    delete:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Activities
  /v1/gameCenterActivities/{id}/relationships/achievements:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    post:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_achievements_createToManyRelationship
      deprecated: true
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityAchievementsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Add Related Game Center Activities / Achievements
    delete:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_achievements_deleteToManyRelationship
      deprecated: true
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityAchievementsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove Related Game Center Activities / Achievements
  /v1/gameCenterActivities/{id}/relationships/achievementsV2:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    post:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_achievementsV2_createToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityAchievementsV2LinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Add Related Game Center Activities / Achievements V2
    delete:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_achievementsV2_deleteToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityAchievementsV2LinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove Related Game Center Activities / Achievements V2
  /v1/gameCenterActivities/{id}/relationships/leaderboards:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    post:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_leaderboards_createToManyRelationship
      deprecated: true
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityLeaderboardsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Add Related Game Center Activities / Leaderboards
    delete:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_leaderboards_deleteToManyRelationship
      deprecated: true
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityLeaderboardsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove Related Game Center Activities / Leaderboards
  /v1/gameCenterActivities/{id}/relationships/leaderboardsV2:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    post:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_leaderboardsV2_createToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityLeaderboardsV2LinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Add Related Game Center Activities / Leaderboards V2
    delete:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_leaderboardsV2_deleteToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityLeaderboardsV2LinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove Related Game Center Activities / Leaderboards V2
  /v1/gameCenterActivities/{id}/relationships/versions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_versions_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityVersionsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Activities / Versions
  /v1/gameCenterActivities/{id}/versions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterActivities
      operationId: gameCenterActivities_versions_getToManyRelated
      parameters:
      - name: fields[gameCenterActivityVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - fallbackUrl
            - activity
            - localizations
            - defaultImage
            - releases
        style: form
        explode: false
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
      - name: fields[gameCenterActivityLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - description
            - version
            - image
        style: form
        explode: false
      - name: fields[gameCenterActivityImages]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
        style: form
        explode: false
      - name: fields[gameCenterActivityVersionReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityVersionReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - version
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - activity
            - localizations
            - defaultImage
            - releases
        style: form
        explode: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterActivityVersions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityVersionsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Activities / Versions
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterActivityAchievementsV2LinkagesRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterAchievements
              id:
                type: string
            required:
            - id
            - type
      required:
      - data
    GameCenterVersionState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_REJECTED
      - REJECTED
      - ACCEPTED
      - PENDING_RELEASE
      - LIVE
      - REPLACED_WITH_NEW_VERSION
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterActivityImage:
      type: object
      title: GameCenterActivityImage
      properties:
        type:
          type: string
          enum:
          - gameCenterActivityImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterActivityLeaderboardsLinkagesRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterLeaderboards
              id:
                type: string
            required:
            - id
            - type
      required:
      - data
      deprecated: true
    GameCenterGroup:
      type: object
      title: GameCenterGroup
      properties:
        type:
          type: string
          enum:
          - gameCenterGroups
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
        relationships:
          type: object
          properties:
            gameCenterDetails:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterDetails
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboardSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardSetsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterAchievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterAchievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterActivities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivities
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterChallenges:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallenges
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    GameCenterActivityUpdateRequest:
      type: object
      title: GameCenterActivityUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterActivities
            id:
              type: string
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                  nullable: true
                playStyle:
                  type: string
                  nullable: true
                  enum:
                  - ASYNCHRONOUS
                  - SYNCHRONOUS
                minimumPlayersCount:
                  type: integer
                  nullable: true
                maximumPlayersCount:
                  type: integer
                  nullable: true
                supportsPartyCode:
                  type: boolean
                  nullable: true
                archived:
                  type: boolean
                  nullable: true
                properties:
                  nullable: true
                  $ref: '#/components/schemas/StringToStringMap'
          required:
          - id
          - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterActivityLeaderboardsV2LinkagesRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterLeaderboards
              id:
                type: string
            required:
            - id
            - type
      required:
      - data
    GameCenterActivityVersionInlineCreate:
      type: object
      properties:
        type:
          type: string
          enum:
          - gameCenterActivityVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            fallbackUrl:
              type: string
              nullable: true
        relationships:
          type: object
          properties:
            activity:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
      required:
      - type
    GameCenterActivity:
      type: object
      title: GameCenterActivity
      properties:
        type:
          type: string
          enum:
          - gameCenterActivities
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            playStyle:
              type: string
              enum:
              - ASYNCHRONOUS
              - SYNCHRONOUS
            minimumPlayersCount:
              type: integer
            maximumPlayersCount:
              type: integer
            supportsPartyCode:
              type: boolean
            archived:
              type: boolean
            properties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            achievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            achievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            leaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    GameCenterLeaderboard:
      type: object
      title: GameCenterLeaderboard
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboards
        id:
          type: string
        attributes:
          type: object
          properties:
            defaultFormatter:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            submissionType:
              type: string
              enum:
              - BEST_SCORE
              - MOST_RECENT_SCORE
            scoreSortType:
              type: string
              enum:
              - ASC
              - DESC
            scoreRangeStart:
              type: string
              format: number
            scoreRangeEnd:
              type: string
              format: number
            recurrenceStartDate:
              type: string
              format: date-time
            recurrenceDuration:
              type: string
              format: duration
            recurrenceRule:
              type: string
            archived:
              type: boolean
            activityProperties:
              $ref: '#/components/schemas/StringToStringMap'
            visibility:
              type: string
              enum:
              - SHOW_FOR_ALL
              - HIDE_FOR_ALL
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            groupLeaderboard:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            gameCenterLeaderboardSets:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            releases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
            activity:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
            challenge:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterChallenges
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    GameCenterAchievement:
      type: object
      title: GameCenterAchievement
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievements
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            points:
              type: integer
            showBeforeEarned:
              type: boolean
            repeatable:
              type: boolean
            archived:
              type: boolean
            activityProperties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            groupAchievement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            releases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
            activity:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    GameCenterActivityVersionsResponse:
      type: object
      title: GameCenterActivityVersionsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterActivityVersion'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterActivity'
            - $ref: '#/components/schemas/GameCenterActivityImage'
            - $ref: '#/components/schemas/GameCenterActivityLocalization'
            - $ref: '#/components/schemas/GameCenterActivityVersionRelease'
            discriminator:
              propertyName: type
              mapping:
                gameCenterActivityImages: '#/components/schemas/GameCenterActivityImage'
                gameCenterActivityLocalizations: '#/components/schemas/GameCenterActivityLocalization'
                gameCenterActivities: '#/components/schemas/GameCenterActivity'
                gameCenterActivityVersionReleases: '#/components/schemas/GameCenterActivityVersionRelease'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterActivityAchievementsLinkagesRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterAchievements
              id:
                type: string
            required:
            - id
            - type
      required:
      - data
      deprecated: true
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterActivityLocalization:
      type: object
      title: GameCenterActivityLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterActivityLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            description:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivityVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivityImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterActivityCreateRequest:
      type: object
      title: GameCenterActivityCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterActivities
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                vendorIdentifier:
                  type: string
                playStyle:
                  type: string
                  nullable: true
                  enum:
                  - ASYNCHRONOUS
                  - SYNCHRONOUS
                minimumPlayersCount:
                  type: integer
                  nullable: true
                maximumPlayersCount:
                  type: integer
                  nullable: true
                supportsPartyCode:
                  type: boolean
                  nullable: true
                properties:
                  nullable: true
                  $ref: '#/components/schemas/StringToStringMap'
              required:
              - vendorIdentifier
              - referenceName
            relationships:
              type: object
              properties:
                gameCenterDetail:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterDetails
                        id:
                          type: string
                      required:
                      - id
                      - type
                gameCenterGroup:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterGroups
                        id:
                          type: string
                      required:
                      - id
                      - type
                versions:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - gameCenterActivityVersions
                          id:
                            type: string
                        required:
                        - id
                        - type
          required:
          - attributes
          - type
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterActivityVersionInlineCreate'
      required:
      - data
    GameCenterActivityVersion:
      type: object
      title: GameCenterActivityVersion
      properties:
        type:
          type: string
          enum:
          - gameCenterActivityVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: integer
            state:
              $ref: '#/components/schemas/GameCenterVersionState'
            fallbackUrl:
              type: string
        relationships:
          type: object
          properties:
            activity:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            defaultImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivityImages
                    id:
                      type: string
                  required:
                  - id
                  - type
            releases:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersionReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    StringToStringMap:
      type: object
      additionalProperties:
        type: string
    GameCenterActivityVersionsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterActivityVersions
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    GameCenterActivityResponse:
      type: object
      title: GameCenterActivityResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterActivity'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievement'
            - $ref: '#/components/schemas/GameCenterActivityVersion'
            - $ref: '#/components/schemas/GameCenterDetail'
            - $ref: '#/components/schemas/GameCenterGroup'
            - $ref: '#/components/schemas/GameCenterLeaderboard'
            discriminator:
              propertyName: type
              mapping:
                gameCenterDetails: '#/components/schemas/GameCenterDetail'
                gameCenterGroups: '#/components/schemas/GameCenterGroup'
                gameCenterAchievements: '#/components/schemas/GameCenterAchievement'
                gameCenterActivityVersions: '#/components/schemas/GameCenterActivityVersion'
                gameCenterLeaderboards: '#/components/schemas/GameCenterLeaderboard'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    GameCenterActivityVersionRelease:
      type: object
      title: GameCenterActivityVersionRelease
      properties:
        type:
          type: string
          enum:
          - gameCenterActivityVersionReleases
        id:
          type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivityVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    GameCenterDetail:
      type: object
      title: GameCenterDetail
      properties:
        type:
          type: string
          enum:
          - gameCenterDetails
        id:
          type: string
        attributes:
          type: object
          properties:
            arcadeEnabled:
              type: boolean
            challengeEnabled:
              type: boolean
              deprecated: true
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterAppVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAppVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterGroup:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboardSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardSetsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterAchievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterAchievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterActivities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivities
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterChallenges:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallenges
                      id:
                        type: string
                    required:
                    - id
                    - type
            defaultLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            defaultLeaderboardV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            defaultGroupLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            defaultGroupLeaderboardV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            achievementReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            activityReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersionReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            challengeReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallengeVersionReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardSetReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSetReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            challengesMinimumPlatformVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterLeaderboardFormatter:
      type: string
      enum:
      - INTEGER
      - DECIMAL_POINT_1_PLACE
      - DECIMAL_POINT_2_PLACE
      - DECIMAL_POINT_3_PLACE
      - ELAPSED_TIME_CENTISECOND
      - ELAPSED_TIME_MINUTE
      - ELAPSED_TIME_SECOND
      - MONEY_POUND_DECIMAL
      - MONEY_POUND
      - MONEY_DOLLAR_DECIMAL
      - MONEY_DOLLAR
      - MONEY_EURO_DECIMAL
      - MONEY_EURO
      - MONEY_FRANC_DECIMAL
      - MONEY_FRANC
      - MONEY_KRONER_DECIMAL
      - MONEY_KRONER
      - MONEY_YEN
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
