openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations InAppPurchasePriceSchedules API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: InAppPurchasePriceSchedules
paths:
  /v1/inAppPurchasePriceSchedules:
    post:
      tags:
      - InAppPurchasePriceSchedules
      operationId: inAppPurchasePriceSchedules_createInstance
      requestBody:
        description: InAppPurchasePriceSchedule representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InAppPurchasePriceScheduleCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single InAppPurchasePriceSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchasePriceScheduleResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create in App Purchase Price Schedules
  /v1/inAppPurchasePriceSchedules/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchasePriceSchedules
      operationId: inAppPurchasePriceSchedules_getInstance
      parameters:
      - name: fields[inAppPurchasePriceSchedules]
        in: query
        description: the fields to include for returned resources of type inAppPurchasePriceSchedules
        schema:
          type: array
          items:
            type: string
            enum:
            - baseTerritory
            - manualPrices
            - automaticPrices
        style: form
        explode: false
        required: false
      - name: fields[territories]
        in: query
        description: the fields to include for returned resources of type territories
        schema:
          type: array
          items:
            type: string
            enum:
            - currency
        style: form
        explode: false
        required: false
      - name: fields[inAppPurchasePrices]
        in: query
        description: the fields to include for returned resources of type inAppPurchasePrices
        schema:
          type: array
          items:
            type: string
            enum:
            - startDate
            - endDate
            - manual
            - inAppPurchasePricePoint
            - territory
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - baseTerritory
            - manualPrices
            - automaticPrices
        style: form
        explode: false
        required: false
      - name: limit[automaticPrices]
        in: query
        description: maximum number of related automaticPrices returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[manualPrices]
        in: query
        description: maximum number of related manualPrices returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single InAppPurchasePriceSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchasePriceScheduleResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get in App Purchase Price Schedules
  /v1/inAppPurchasePriceSchedules/{id}/relationships/automaticPrices:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchasePriceSchedules
      operationId: inAppPurchasePriceSchedules_automaticPrices_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchasePriceScheduleAutomaticPricesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related in App Purchase Price Schedules / Automatic Prices
  /v1/inAppPurchasePriceSchedules/{id}/automaticPrices:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchasePriceSchedules
      operationId: inAppPurchasePriceSchedules_automaticPrices_getToManyRelated
      parameters:
      - name: filter[territory]
        in: query
        description: filter by id(s) of related 'territory'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[inAppPurchasePrices]
        in: query
        description: the fields to include for returned resources of type inAppPurchasePrices
        schema:
          type: array
          items:
            type: string
            enum:
            - startDate
            - endDate
            - manual
            - inAppPurchasePricePoint
            - territory
        style: form
        explode: false
      - name: fields[inAppPurchasePricePoints]
        in: query
        description: the fields to include for returned resources of type inAppPurchasePricePoints
        schema:
          type: array
          items:
            type: string
            enum:
            - customerPrice
            - proceeds
            - territory
            - equalizations
        style: form
        explode: false
      - name: fields[territories]
        in: query
        description: the fields to include for returned resources of type territories
        schema:
          type: array
          items:
            type: string
            enum:
            - currency
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - inAppPurchasePricePoint
            - territory
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of InAppPurchasePrices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchasePricesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related in App Purchase Price Schedules / Automatic Prices
  /v1/inAppPurchasePriceSchedules/{id}/relationships/baseTerritory:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchasePriceSchedules
      operationId: inAppPurchasePriceSchedules_baseTerritory_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchasePriceScheduleBaseTerritoryLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related in App Purchase Price Schedules / Base Territory
  /v1/inAppPurchasePriceSchedules/{id}/baseTerritory:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchasePriceSchedules
      operationId: inAppPurchasePriceSchedules_baseTerritory_getToOneRelated
      parameters:
      - name: fields[territories]
        in: query
        description: the fields to include for returned resources of type territories
        schema:
          type: array
          items:
            type: string
            enum:
            - currency
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single Territory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerritoryResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related in App Purchase Price Schedules / Base Territory
  /v1/inAppPurchasePriceSchedules/{id}/relationships/manualPrices:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchasePriceSchedules
      operationId: inAppPurchasePriceSchedules_manualPrices_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchasePriceScheduleManualPricesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related in App Purchase Price Schedules / Manual Prices
  /v1/inAppPurchasePriceSchedules/{id}/manualPrices:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchasePriceSchedules
      operationId: inAppPurchasePriceSchedules_manualPrices_getToManyRelated
      parameters:
      - name: filter[territory]
        in: query
        description: filter by id(s) of related 'territory'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[inAppPurchasePrices]
        in: query
        description: the fields to include for returned resources of type inAppPurchasePrices
        schema:
          type: array
          items:
            type: string
            enum:
            - startDate
            - endDate
            - manual
            - inAppPurchasePricePoint
            - territory
        style: form
        explode: false
      - name: fields[inAppPurchasePricePoints]
        in: query
        description: the fields to include for returned resources of type inAppPurchasePricePoints
        schema:
          type: array
          items:
            type: string
            enum:
            - customerPrice
            - proceeds
            - territory
            - equalizations
        style: form
        explode: false
      - name: fields[territories]
        in: query
        description: the fields to include for returned resources of type territories
        schema:
          type: array
          items:
            type: string
            enum:
            - currency
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - inAppPurchasePricePoint
            - territory
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of InAppPurchasePrices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchasePricesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related in App Purchase Price Schedules / Manual Prices
components:
  schemas:
    InAppPurchasePriceScheduleBaseTerritoryLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - territories
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    InAppPurchasePrice:
      type: object
      title: InAppPurchasePrice
      properties:
        type:
          type: string
          enum:
          - inAppPurchasePrices
        id:
          type: string
        attributes:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
            manual:
              type: boolean
        relationships:
          type: object
          properties:
            inAppPurchasePricePoint:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - inAppPurchasePricePoints
                    id:
                      type: string
                  required:
                  - id
                  - type
            territory:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - territories
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    TerritoryInlineCreate:
      type: object
      properties:
        type:
          type: string
          enum:
          - territories
        id:
          type: string
      required:
      - type
    InAppPurchasePriceScheduleAutomaticPricesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - inAppPurchasePrices
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    InAppPurchasePriceSchedule:
      type: object
      title: InAppPurchasePriceSchedule
      properties:
        type:
          type: string
          enum:
          - inAppPurchasePriceSchedules
        id:
          type: string
        relationships:
          type: object
          properties:
            baseTerritory:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - territories
                    id:
                      type: string
                  required:
                  - id
                  - type
            manualPrices:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchasePrices
                      id:
                        type: string
                    required:
                    - id
                    - type
            automaticPrices:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchasePrices
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    InAppPurchasePriceScheduleManualPricesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - inAppPurchasePrices
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    InAppPurchasePricesResponse:
      type: object
      title: InAppPurchasePricesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InAppPurchasePrice'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/InAppPurchasePricePoint'
            - $ref: '#/components/schemas/Territory'
            discriminator:
              propertyName: type
              mapping:
                territories: '#/components/schemas/Territory'
                inAppPurchasePricePoints: '#/components/schemas/InAppPurchasePricePoint'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    TerritoryResponse:
      type: object
      title: TerritoryResponse
      properties:
        data:
          $ref: '#/components/schemas/Territory'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    InAppPurchasePriceScheduleResponse:
      type: object
      title: InAppPurchasePriceScheduleResponse
      properties:
        data:
          $ref: '#/components/schemas/InAppPurchasePriceSchedule'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/InAppPurchasePrice'
            - $ref: '#/components/schemas/Territory'
            discriminator:
              propertyName: type
              mapping:
                territories: '#/components/schemas/Territory'
                inAppPurchasePrices: '#/components/schemas/InAppPurchasePrice'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    InAppPurchasePricePoint:
      type: object
      title: InAppPurchasePricePoint
      properties:
        type:
          type: string
          enum:
          - inAppPurchasePricePoints
        id:
          type: string
        attributes:
          type: object
          properties:
            customerPrice:
              type: string
            proceeds:
              type: string
        relationships:
          type: object
          properties:
            territory:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - territories
                    id:
                      type: string
                  required:
                  - id
                  - type
            equalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    InAppPurchasePriceInlineCreate:
      type: object
      properties:
        type:
          type: string
          enum:
          - inAppPurchasePrices
        id:
          type: string
        attributes:
          type: object
          properties:
            startDate:
              type: string
              format: date
              nullable: true
            endDate:
              type: string
              format: date
              nullable: true
        relationships:
          type: object
          properties:
            inAppPurchaseV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - inAppPurchases
                    id:
                      type: string
                  required:
                  - id
                  - type
            inAppPurchasePricePoint:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - inAppPurchasePricePoints
                    id:
                      type: string
                  required:
                  - id
                  - type
      required:
      - type
    InAppPurchasePriceScheduleCreateRequest:
      type: object
      title: InAppPurchasePriceScheduleCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - inAppPurchasePriceSchedules
            relationships:
              type: object
              properties:
                inAppPurchase:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - inAppPurchases
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                baseTerritory:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - territories
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                manualPrices:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - inAppPurchasePrices
                          id:
                            type: string
                        required:
                        - id
                        - type
                  required:
                  - data
              required:
              - inAppPurchase
              - manualPrices
              - baseTerritory
          required:
          - relationships
          - type
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/InAppPurchasePriceInlineCreate'
            - $ref: '#/components/schemas/TerritoryInlineCreate'
      required:
      - data
    Territory:
      type: object
      title: Territory
      properties:
        type:
          type: string
          enum:
          - territories
        id:
          type: string
        attributes:
          type: object
          properties:
            currency:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
