openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations Nominations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: Nominations
paths:
  /v1/nominations:
    get:
      tags:
      - Nominations
      operationId: nominations_getCollection
      parameters:
      - name: filter[type]
        in: query
        description: filter by attribute 'type'
        schema:
          type: array
          items:
            type: string
            enum:
            - APP_LAUNCH
            - APP_ENHANCEMENTS
            - NEW_CONTENT
        style: form
        explode: false
        required: false
      - name: filter[state]
        in: query
        description: filter by attribute 'state'
        schema:
          type: array
          items:
            type: string
            enum:
            - DRAFT
            - SUBMITTED
            - ARCHIVED
        style: form
        explode: false
        required: true
      - name: filter[hasInAppEvents]
        in: query
        description: filter by attribute 'hasInAppEvents'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[relatedApps]
        in: query
        description: filter by id(s) of related 'relatedApps'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; resources will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - lastModifiedDate
            - -lastModifiedDate
            - publishStartDate
            - -publishStartDate
            - publishEndDate
            - -publishEndDate
            - name
            - -name
            - type
            - -type
        style: form
        explode: false
        required: false
      - name: fields[nominations]
        in: query
        description: the fields to include for returned resources of type nominations
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - type
            - description
            - createdDate
            - lastModifiedDate
            - submittedDate
            - state
            - publishStartDate
            - publishEndDate
            - deviceFamilies
            - locales
            - supplementalMaterialsUris
            - hasInAppEvents
            - launchInSelectMarketsFirst
            - notes
            - preOrderEnabled
            - relatedApps
            - createdByActor
            - lastModifiedByActor
            - submittedByActor
            - inAppEvents
            - supportedTerritories
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[actors]
        in: query
        description: the fields to include for returned resources of type actors
        schema:
          type: array
          items:
            type: string
            enum:
            - actorType
            - userFirstName
            - userLastName
            - userEmail
            - apiKeyId
        style: form
        explode: false
        required: false
      - name: fields[appEvents]
        in: query
        description: the fields to include for returned resources of type appEvents
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - badge
            - eventState
            - deepLink
            - purchaseRequirement
            - primaryLocale
            - priority
            - purpose
            - territorySchedules
            - archivedTerritorySchedules
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[territories]
        in: query
        description: the fields to include for returned resources of type territories
        schema:
          type: array
          items:
            type: string
            enum:
            - currency
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - relatedApps
            - createdByActor
            - lastModifiedByActor
            - submittedByActor
            - inAppEvents
            - supportedTerritories
        style: form
        explode: false
        required: false
      - name: limit[inAppEvents]
        in: query
        description: maximum number of related inAppEvents returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[relatedApps]
        in: query
        description: maximum number of related relatedApps returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[supportedTerritories]
        in: query
        description: maximum number of related supportedTerritories returned (when they are included)
        schema:
          type: integer
          maximum: 200
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of Nominations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationsResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/csv'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Nominations
    post:
      tags:
      - Nominations
      operationId: nominations_createInstance
      requestBody:
        description: Nomination representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single Nomination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Nominations
  /v1/nominations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Nominations
      operationId: nominations_getInstance
      parameters:
      - name: fields[nominations]
        in: query
        description: the fields to include for returned resources of type nominations
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - type
            - description
            - createdDate
            - lastModifiedDate
            - submittedDate
            - state
            - publishStartDate
            - publishEndDate
            - deviceFamilies
            - locales
            - supplementalMaterialsUris
            - hasInAppEvents
            - launchInSelectMarketsFirst
            - notes
            - preOrderEnabled
            - relatedApps
            - createdByActor
            - lastModifiedByActor
            - submittedByActor
            - inAppEvents
            - supportedTerritories
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[actors]
        in: query
        description: the fields to include for returned resources of type actors
        schema:
          type: array
          items:
            type: string
            enum:
            - actorType
            - userFirstName
            - userLastName
            - userEmail
            - apiKeyId
        style: form
        explode: false
        required: false
      - name: fields[appEvents]
        in: query
        description: the fields to include for returned resources of type appEvents
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - badge
            - eventState
            - deepLink
            - purchaseRequirement
            - primaryLocale
            - priority
            - purpose
            - territorySchedules
            - archivedTerritorySchedules
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[territories]
        in: query
        description: the fields to include for returned resources of type territories
        schema:
          type: array
          items:
            type: string
            enum:
            - currency
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - relatedApps
            - createdByActor
            - lastModifiedByActor
            - submittedByActor
            - inAppEvents
            - supportedTerritories
        style: form
        explode: false
        required: false
      - name: limit[inAppEvents]
        in: query
        description: maximum number of related inAppEvents returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[relatedApps]
        in: query
        description: maximum number of related relatedApps returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[supportedTerritories]
        in: query
        description: maximum number of related supportedTerritories returned (when they are included)
        schema:
          type: integer
          maximum: 200
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single Nomination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Nominations
    patch:
      tags:
      - Nominations
      operationId: nominations_updateInstance
      requestBody:
        description: Nomination representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single Nomination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Nominations
    delete:
      tags:
      - Nominations
      operationId: nominations_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Nominations
components:
  schemas:
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppEvent:
      type: object
      title: AppEvent
      properties:
        type:
          type: string
          enum:
          - appEvents
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            badge:
              type: string
              enum:
              - LIVE_EVENT
              - PREMIERE
              - CHALLENGE
              - COMPETITION
              - NEW_SEASON
              - MAJOR_UPDATE
              - SPECIAL_EVENT
            eventState:
              type: string
              enum:
              - DRAFT
              - READY_FOR_REVIEW
              - WAITING_FOR_REVIEW
              - IN_REVIEW
              - REJECTED
              - ACCEPTED
              - APPROVED
              - PUBLISHED
              - PAST
              - ARCHIVED
            deepLink:
              type: string
              format: uri
            purchaseRequirement:
              type: string
            primaryLocale:
              type: string
            priority:
              type: string
              enum:
              - HIGH
              - NORMAL
            purpose:
              type: string
              enum:
              - APPROPRIATE_FOR_ALL_USERS
              - ATTRACT_NEW_USERS
              - KEEP_ACTIVE_USERS_INFORMED
              - BRING_BACK_LAPSED_USERS
            territorySchedules:
              type: array
              items:
                type: object
                properties:
                  territories:
                    type: array
                    items:
                      type: string
                  publishStart:
                    type: string
                    format: date-time
                  eventStart:
                    type: string
                    format: date-time
                  eventEnd:
                    type: string
                    format: date-time
            archivedTerritorySchedules:
              type: array
              items:
                type: object
                properties:
                  territories:
                    type: array
                    items:
                      type: string
                  publishStart:
                    type: string
                    format: date-time
                  eventStart:
                    type: string
                    format: date-time
                  eventEnd:
                    type: string
                    format: date-time
        relationships:
          type: object
          properties:
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEventLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    csv:
      type: string
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    Actor:
      type: object
      title: Actor
      properties:
        type:
          type: string
          enum:
          - actors
        id:
          type: string
        attributes:
          type: object
          properties:
            actorType:
              type: string
              enum:
              - USER
              - API_KEY
              - XCODE_CLOUD
              - APPLE
            userFirstName:
              type: string
            userLastName:
              type: string
            userEmail:
              type: string
            apiKeyId:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    DeviceFamily:
      type: string
      enum:
      - IPHONE
      - IPAD
      - APPLE_TV
      - APPLE_WATCH
      - MAC
      - VISION
    App:
      type: object
      title: App
      properties:
        type:
          type: string
          enum:
          - apps
        id:
          type: string
        attributes:
          type: object
          properties:
            accessibilityUrl:
              type: string
              format: uri
            name:
              type: string
            bundleId:
              type: string
            sku:
              type: string
            primaryLocale:
              type: string
            isOrEverWasMadeForKids:
              type: boolean
            subscriptionStatusUrl:
              type: string
              format: uri
            subscriptionStatusUrlVersion:
              $ref: '#/components/schemas/SubscriptionStatusUrlVersion'
            subscriptionStatusUrlForSandbox:
              type: string
              format: uri
            subscriptionStatusUrlVersionForSandbox:
              $ref: '#/components/schemas/SubscriptionStatusUrlVersion'
            contentRightsDeclaration:
              type: string
              enum:
              - DOES_NOT_USE_THIRD_PARTY_CONTENT
              - USES_THIRD_PARTY_CONTENT
            streamlinedPurchasingEnabled:
              type: boolean
        relationships:
          type: object
          properties:
            accessibilityDeclarations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appEncryptionDeclarations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEncryptionDeclarations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreIcon:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildIcons
                    id:
                      type: string
                  required:
                  - id
                  - type
            ciProduct:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciProducts
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaTesters:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            appTags:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            preReleaseVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - preReleaseVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaAppLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaAppLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaLicenseAgreement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaLicenseAgreements
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaAppReviewDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaAppReviewDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appInfos:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appInfos
                      id:
                        type: string
                    required:
                    - id
                    - type
            appClips:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClips
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPricePoints:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            endUserLicenseAgreement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - endUserLicenseAgreements
                    id:
                      type: string
                  required:
                  - id
                  - type
            appPriceSchedule:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appAvailabilityV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            inAppPurchases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            subscriptionGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterEnabledVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterEnabledVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            perfPowerMetrics:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appCustomProductPages:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appCustomProductPages
                      id:
                        type: string
                    required:
                    - id
                    - type
            inAppPurchasesV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
            promotedPurchases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - promotedPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
            appEvents:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEvents
                      id:
                        type: string
                    required:
                    - id
                    - type
            reviewSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - reviewSubmissions
                      id:
                        type: string
                    required:
                    - id
                    - type
            subscriptionGracePeriod:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptionGracePeriods
                    id:
                      type: string
                  required:
                  - id
                  - type
            customerReviews:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            customerReviewSummarizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            gameCenterDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionExperiments
                      id:
                        type: string
                    required:
                    - id
                    - type
            alternativeDistributionKey:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            analyticsReportRequests:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            marketplaceSearchDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            buildUploads:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            backgroundAssets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaFeedbackScreenshotSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaFeedbackCrashSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            searchKeywords:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            webhooks:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            androidToIosAppMappingDetails:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - androidToIosAppMappingDetails
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    SubscriptionStatusUrlVersion:
      type: string
      enum:
      - V1
      - V2
    NominationResponse:
      type: object
      title: NominationResponse
      properties:
        data:
          $ref: '#/components/schemas/Nomination'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Actor'
            - $ref: '#/components/schemas/AppEvent'
            - $ref: '#/components/schemas/App'
            - $ref: '#/components/schemas/Territory'
            discriminator:
              propertyName: type
              mapping:
                actors: '#/components/schemas/Actor'
                appEvents: '#/components/schemas/AppEvent'
                territories: '#/components/schemas/Territory'
                apps: '#/components/schemas/App'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    Nomination:
      type: object
      title: Nomination
      properties:
        type:
          type: string
          enum:
          - nominations
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            type:
              type: string
              enum:
              - APP_LAUNCH
              - APP_ENHANCEMENTS
              - NEW_CONTENT
            description:
              type: string
            createdDate:
              type: string
              format: date-time
            lastModifiedDate:
              type: string
              format: date-time
            submittedDate:
              type: string
              format: date-time
            state:
              type: string
              enum:
              - DRAFT
              - SUBMITTED
              - ARCHIVED
            publishStartDate:
              type: string
              format: date-time
            publishEndDate:
              type: string
              format: date-time
            deviceFamilies:
              type: array
              items:
                $ref: '#/components/schemas/DeviceFamily'
            locales:
              type: array
              items:
                type: string
            supplementalMaterialsUris:
              type: array
              items:
                type: string
                format: uri
            hasInAppEvents:
              type: boolean
            launchInSelectMarketsFirst:
              type: boolean
            notes:
              type: string
            preOrderEnabled:
              type: boolean
        relationships:
          type: object
          properties:
            relatedApps:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - apps
                      id:
                        type: string
                    required:
                    - id
                    - type
            createdByActor:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - actors
                    id:
                      type: string
                  required:
                  - id
                  - type
            lastModifiedByActor:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - actors
                    id:
                      type: string
                  required:
                  - id
                  - type
            submittedByActor:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - actors
                    id:
                      type: string
                  required:
                  - id
                  - type
            inAppEvents:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEvents
                      id:
                        type: string
                    required:
                    - id
                    - type
            supportedTerritories:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - territories
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    NominationCreateRequest:
      type: object
      title: NominationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - nominations
            attributes:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
                  enum:
                  - APP_LAUNCH
                  - APP_ENHANCEMENTS
                  - NEW_CONTENT
                description:
                  type: string
                submitted:
                  type: boolean
                publishStartDate:
                  type: string
                  format: date-time
                publishEndDate:
                  type: string
                  format: date-time
                  nullable: true
                deviceFamilies:
                  type: array
                  items:
                    $ref: '#/components/schemas/DeviceFamily'
                  nullable: true
                locales:
                  type: array
                  items:
                    type: string
                  nullable: true
                supplementalMaterialsUris:
                  type: array
                  items:
                    type: string
                    format: uri
                  nullable: true
                hasInAppEvents:
                  type: boolean
                  nullable: true
                launchInSelectMarketsFirst:
                  type: boolean
                  nullable: true
                notes:
                  type: string
                  nullable: true
                preOrderEnabled:
                  type: boolean
                  nullable: true
              required:
              - submitted
              - publishStartDate
              - name
              - description
              - type
            relationships:
              type: object
              properties:
                relatedApps:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - apps
                          id:
                            type: string
                        required:
                        - id
                        - type
                  required:
                  - data
                inAppEvents:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - appEvents
                          id:
                            type: string
                        required:
                        - id
                        - type
                supportedTerritories:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - territories
                          id:
                            type: string
                        required:
                        - id
                        - type
              required:
              - relatedApps
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    NominationUpdateRequest:
      type: object
      title: NominationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - nominations
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                type:
                  type: string
                  nullable: true
                  enum:
                  - APP_LAUNCH
                  - APP_ENHANCEMENTS
                  - NEW_CONTENT
                description:
                  type: string
                  nullable: true
                submitted:
                  type: boolean
                  nullable: true
                archived:
                  type: boolean
                  nullable: true
                publishStartDate:
                  type: string
                  format: date-time
                  nullable: true
                publishEndDate:
                  type: string
                  format: date-time
                  nullable: true
                deviceFamilies:
                  type: array
                  items:
                    $ref: '#/components/schemas/DeviceFamily'
                  nullable: true
                locales:
                  type: array
                  items:
                    type: string
                  nullable: true
                supplementalMaterialsUris:
                  type: array
                  items:
                    type: string
                    format: uri
                  nullable: true
                hasInAppEvents:
                  type: boolean
                  nullable: true
                launchInSelectMarketsFirst:
                  type: boolean
                  nullable: true
                notes:
                  type: string
                  nullable: true
                preOrderEnabled:
                  type: boolean
                  nullable: true
            relationships:
              type: object
              properties:
                relatedApps:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - apps
                          id:
                            type: string
                        required:
                        - id
                        - type
                inAppEvents:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - appEvents
                          id:
                            type: string
                        required:
                        - id
                        - type
                supportedTerritories:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - territories
                          id:
                            type: string
                        required:
                        - id
                        - type
          required:
          - id
          - type
      required:
      - data
    NominationsResponse:
      type: object
      title: NominationsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Nomination'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Actor'
            - $ref: '#/components/schemas/AppEvent'
            - $ref: '#/components/schemas/App'
            - $ref: '#/components/schemas/Territory'
            discriminator:
              propertyName: type
              mapping:
                actors: '#/components/schemas/Actor'
                appEvents: '#/components/schemas/AppEvent'
                territories: '#/components/schemas/Territory'
                apps: '#/components/schemas/App'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    Territory:
      type: object
      title: Territory
      properties:
        type:
          type: string
          enum:
          - territories
        id:
          type: string
        attributes:
          type: object
          properties:
            currency:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
