openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterLeaderboardSetVersions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterLeaderboardSetVersions
paths:
  /v2/gameCenterLeaderboardSetVersions:
    post:
      tags:
      - GameCenterLeaderboardSetVersions
      operationId: gameCenterLeaderboardSetVersionsV2_createInstance
      requestBody:
        description: GameCenterLeaderboardSetVersion representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetVersionV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardSetVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetVersionV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Set Versions V2
  /v2/gameCenterLeaderboardSetVersions/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSetVersions
      operationId: gameCenterLeaderboardSetVersionsV2_getInstance
      parameters:
      - name: fields[gameCenterLeaderboardSetVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - leaderboardSet
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - gameCenterLeaderboards
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardSetLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - version
            - image
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - leaderboardSet
            - localizations
        style: form
        explode: false
        required: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSetVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetVersionV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Set Versions V2
  /v2/gameCenterLeaderboardSetVersions/{id}/relationships/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSetVersions
      operationId: gameCenterLeaderboardSetVersionsV2_localizations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetVersionV2LocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Set Versions V2 / Localizations
  /v2/gameCenterLeaderboardSetVersions/{id}/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSetVersions
      operationId: gameCenterLeaderboardSetVersionsV2_localizations_getToManyRelated
      parameters:
      - name: fields[gameCenterLeaderboardSetLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - version
            - image
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSetVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - leaderboardSet
            - localizations
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSetImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - localization
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - image
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterLeaderboardSetLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetLocalizationsV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Set Versions V2 / Localizations
components:
  schemas:
    GameCenterLeaderboardSetLocalizationV2:
      type: object
      title: GameCenterLeaderboardSetLocalizationV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    GameCenterLeaderboardSetVersionV2CreateRequest:
      type: object
      title: GameCenterLeaderboardSetVersionV2CreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSetVersions
            relationships:
              type: object
              properties:
                leaderboardSet:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboardSets
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - leaderboardSet
          required:
          - relationships
          - type
      required:
      - data
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterVersionState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_REJECTED
      - REJECTED
      - ACCEPTED
      - PENDING_RELEASE
      - LIVE
      - REPLACED_WITH_NEW_VERSION
    GameCenterLeaderboardSetV2:
      type: object
      title: GameCenterLeaderboardSetV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSets
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSetVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    GameCenterLeaderboardSetVersionV2Response:
      type: object
      title: GameCenterLeaderboardSetVersionV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardSetVersionV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterLeaderboardSetLocalizationV2'
            - $ref: '#/components/schemas/GameCenterLeaderboardSetV2'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardSets: '#/components/schemas/GameCenterLeaderboardSetV2'
                gameCenterLeaderboardSetLocalizations: '#/components/schemas/GameCenterLeaderboardSetLocalizationV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    GameCenterLeaderboardSetImageV2:
      type: object
      title: GameCenterLeaderboardSetImageV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            localization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterLeaderboardSetVersionV2LocalizationsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterLeaderboardSetLocalizations
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterLeaderboardSetLocalizationsV2Response:
      type: object
      title: GameCenterLeaderboardSetLocalizationsV2Response
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboardSetLocalizationV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterLeaderboardSetImageV2'
            - $ref: '#/components/schemas/GameCenterLeaderboardSetVersionV2'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardSetImages: '#/components/schemas/GameCenterLeaderboardSetImageV2'
                gameCenterLeaderboardSetVersions: '#/components/schemas/GameCenterLeaderboardSetVersionV2'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    GameCenterLeaderboardSetVersionV2:
      type: object
      title: GameCenterLeaderboardSetVersionV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: integer
            state:
              $ref: '#/components/schemas/GameCenterVersionState'
        relationships:
          type: object
          properties:
            leaderboardSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSets
                    id:
                      type: string
                  required:
                  - id
                  - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSetLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
