openapi: 3.2.0
info:
  title: App Store Connect Alternative Distribution Domains API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AlternativeDistributionDomains
paths:
  /v1/alternativeDistributionDomains:
    get:
      tags:
      - AlternativeDistributionDomains
      operationId: alternativeDistributionDomains_getCollection
      parameters:
      - name: fields[alternativeDistributionDomains]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionDomains
        schema:
          type: array
          items:
            type: string
            enum:
            - domain
            - referenceName
            - createdDate
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AlternativeDistributionDomains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionDomainsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Alternative Distribution Domains
    post:
      tags:
      - AlternativeDistributionDomains
      operationId: alternativeDistributionDomains_createInstance
      requestBody:
        description: AlternativeDistributionDomain representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlternativeDistributionDomainCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AlternativeDistributionDomain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionDomainResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Alternative Distribution Domains
  /v1/alternativeDistributionDomains/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AlternativeDistributionDomains
      operationId: alternativeDistributionDomains_getInstance
      parameters:
      - name: fields[alternativeDistributionDomains]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionDomains
        schema:
          type: array
          items:
            type: string
            enum:
            - domain
            - referenceName
            - createdDate
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AlternativeDistributionDomain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionDomainResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Alternative Distribution Domains
    delete:
      tags:
      - AlternativeDistributionDomains
      operationId: alternativeDistributionDomains_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Alternative Distribution Domains
components:
  schemas:
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    AlternativeDistributionDomain:
      type: object
      title: AlternativeDistributionDomain
      properties:
        type:
          type: string
          enum:
          - alternativeDistributionDomains
        id:
          type: string
        attributes:
          type: object
          properties:
            domain:
              type: string
            referenceName:
              type: string
            createdDate:
              type: string
              format: date-time
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AlternativeDistributionDomainCreateRequest:
      type: object
      title: AlternativeDistributionDomainCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - alternativeDistributionDomains
            attributes:
              type: object
              properties:
                domain:
                  type: string
                referenceName:
                  type: string
              required:
              - domain
              - referenceName
          required:
          - attributes
          - type
      required:
      - data
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    AlternativeDistributionDomainResponse:
      type: object
      title: AlternativeDistributionDomainResponse
      properties:
        data:
          $ref: '#/components/schemas/AlternativeDistributionDomain'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AlternativeDistributionDomainsResponse:
      type: object
      title: AlternativeDistributionDomainsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlternativeDistributionDomain'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
