openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppClipDefaultExperienceLocalizations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppClipDefaultExperienceLocalizations
paths:
  /v1/appClipDefaultExperienceLocalizations:
    post:
      tags:
      - AppClipDefaultExperienceLocalizations
      operationId: appClipDefaultExperienceLocalizations_createInstance
      requestBody:
        description: AppClipDefaultExperienceLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppClipDefaultExperienceLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Clip Default Experience Localizations
  /v1/appClipDefaultExperienceLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppClipDefaultExperienceLocalizations
      operationId: appClipDefaultExperienceLocalizations_getInstance
      parameters:
      - name: fields[appClipDefaultExperienceLocalizations]
        in: query
        description: the fields to include for returned resources of type appClipDefaultExperienceLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - subtitle
            - appClipDefaultExperience
            - appClipHeaderImage
        style: form
        explode: false
        required: false
      - name: fields[appClipDefaultExperiences]
        in: query
        description: the fields to include for returned resources of type appClipDefaultExperiences
        schema:
          type: array
          items:
            type: string
            enum:
            - action
            - appClip
            - releaseWithAppStoreVersion
            - appClipDefaultExperienceLocalizations
            - appClipAppStoreReviewDetail
        style: form
        explode: false
        required: false
      - name: fields[appClipHeaderImages]
        in: query
        description: the fields to include for returned resources of type appClipHeaderImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - appClipDefaultExperienceLocalization
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appClipDefaultExperience
            - appClipHeaderImage
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipDefaultExperienceLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Clip Default Experience Localizations
    patch:
      tags:
      - AppClipDefaultExperienceLocalizations
      operationId: appClipDefaultExperienceLocalizations_updateInstance
      requestBody:
        description: AppClipDefaultExperienceLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipDefaultExperienceLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update App Clip Default Experience Localizations
    delete:
      tags:
      - AppClipDefaultExperienceLocalizations
      operationId: appClipDefaultExperienceLocalizations_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete App Clip Default Experience Localizations
  /v1/appClipDefaultExperienceLocalizations/{id}/relationships/appClipHeaderImage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppClipDefaultExperienceLocalizations
      operationId: appClipDefaultExperienceLocalizations_appClipHeaderImage_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationAppClipHeaderImageLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Clip Default Experience Localizations / App Clip Header Image
  /v1/appClipDefaultExperienceLocalizations/{id}/appClipHeaderImage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppClipDefaultExperienceLocalizations
      operationId: appClipDefaultExperienceLocalizations_appClipHeaderImage_getToOneRelated
      parameters:
      - name: fields[appClipHeaderImages]
        in: query
        description: the fields to include for returned resources of type appClipHeaderImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - appClipDefaultExperienceLocalization
        style: form
        explode: false
      - name: fields[appClipDefaultExperienceLocalizations]
        in: query
        description: the fields to include for returned resources of type appClipDefaultExperienceLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - subtitle
            - appClipDefaultExperience
            - appClipHeaderImage
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appClipDefaultExperienceLocalization
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipHeaderImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipHeaderImageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Clip Default Experience Localizations / App Clip Header Image
components:
  schemas:
    AppClipHeaderImage:
      type: object
      title: AppClipHeaderImage
      properties:
        type:
          type: string
          enum:
          - appClipHeaderImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            sourceFileChecksum:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            appClipDefaultExperienceLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipDefaultExperienceLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    AppClipDefaultExperienceLocalizationAppClipHeaderImageLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appClipHeaderImages
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppClipAction:
      type: string
      enum:
      - OPEN
      - VIEW
      - PLAY
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AppClipDefaultExperienceLocalizationCreateRequest:
      type: object
      title: AppClipDefaultExperienceLocalizationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appClipDefaultExperienceLocalizations
            attributes:
              type: object
              properties:
                locale:
                  type: string
                subtitle:
                  type: string
                  nullable: true
              required:
              - locale
            relationships:
              type: object
              properties:
                appClipDefaultExperience:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appClipDefaultExperiences
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - appClipDefaultExperience
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    AppClipDefaultExperienceLocalizationUpdateRequest:
      type: object
      title: AppClipDefaultExperienceLocalizationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appClipDefaultExperienceLocalizations
            id:
              type: string
            attributes:
              type: object
              properties:
                subtitle:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppClipHeaderImageResponse:
      type: object
      title: AppClipHeaderImageResponse
      properties:
        data:
          $ref: '#/components/schemas/AppClipHeaderImage'
        included:
          type: array
          items:
            $ref: '#/components/schemas/AppClipDefaultExperienceLocalization'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppClipDefaultExperienceLocalization:
      type: object
      title: AppClipDefaultExperienceLocalization
      properties:
        type:
          type: string
          enum:
          - appClipDefaultExperienceLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            subtitle:
              type: string
        relationships:
          type: object
          properties:
            appClipDefaultExperience:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipDefaultExperiences
                    id:
                      type: string
                  required:
                  - id
                  - type
            appClipHeaderImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipHeaderImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    AppClipDefaultExperienceLocalizationResponse:
      type: object
      title: AppClipDefaultExperienceLocalizationResponse
      properties:
        data:
          $ref: '#/components/schemas/AppClipDefaultExperienceLocalization'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AppClipDefaultExperience'
            - $ref: '#/components/schemas/AppClipHeaderImage'
            discriminator:
              propertyName: type
              mapping:
                appClipDefaultExperiences: '#/components/schemas/AppClipDefaultExperience'
                appClipHeaderImages: '#/components/schemas/AppClipHeaderImage'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppClipDefaultExperience:
      type: object
      title: AppClipDefaultExperience
      properties:
        type:
          type: string
          enum:
          - appClipDefaultExperiences
        id:
          type: string
        attributes:
          type: object
          properties:
            action:
              $ref: '#/components/schemas/AppClipAction'
        relationships:
          type: object
          properties:
            appClip:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClips
                    id:
                      type: string
                  required:
                  - id
                  - type
            releaseWithAppStoreVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            appClipDefaultExperienceLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClipDefaultExperienceLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appClipAppStoreReviewDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipAppStoreReviewDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
