openapi: 3.2.0
info:
  title: App Store Connect Subscription App Store Review Screenshots…
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: SubscriptionAppStoreReviewScreenshots
paths:
  /v1/subscriptionAppStoreReviewScreenshots:
    post:
      tags:
      - SubscriptionAppStoreReviewScreenshots
      operationId: subscriptionAppStoreReviewScreenshots_createInstance
      requestBody:
        description: SubscriptionAppStoreReviewScreenshot representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionAppStoreReviewScreenshotCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single SubscriptionAppStoreReviewScreenshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionAppStoreReviewScreenshotResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Subscription App Store Review Screenshots
  /v1/subscriptionAppStoreReviewScreenshots/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - SubscriptionAppStoreReviewScreenshots
      operationId: subscriptionAppStoreReviewScreenshots_getInstance
      parameters:
      - name: fields[subscriptionAppStoreReviewScreenshots]
        in: query
        description: the fields to include for returned resources of type subscriptionAppStoreReviewScreenshots
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - imageAsset
            - assetToken
            - assetType
            - uploadOperations
            - assetDeliveryState
            - subscription
        style: form
        explode: false
        required: false
      - name: fields[subscriptions]
        in: query
        description: the fields to include for returned resources of type subscriptions
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - productId
            - familySharable
            - state
            - subscriptionPeriod
            - reviewNote
            - groupLevel
            - subscriptionLocalizations
            - appStoreReviewScreenshot
            - group
            - introductoryOffers
            - promotionalOffers
            - offerCodes
            - prices
            - pricePoints
            - promotedPurchase
            - subscriptionAvailability
            - winBackOffers
            - images
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - subscription
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single SubscriptionAppStoreReviewScreenshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionAppStoreReviewScreenshotResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Subscription App Store Review Screenshots
    patch:
      tags:
      - SubscriptionAppStoreReviewScreenshots
      operationId: subscriptionAppStoreReviewScreenshots_updateInstance
      requestBody:
        description: SubscriptionAppStoreReviewScreenshot representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionAppStoreReviewScreenshotUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single SubscriptionAppStoreReviewScreenshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionAppStoreReviewScreenshotResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Subscription App Store Review Screenshots
    delete:
      tags:
      - SubscriptionAppStoreReviewScreenshots
      operationId: subscriptionAppStoreReviewScreenshots_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Subscription App Store Review Screenshots
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    SubscriptionAppStoreReviewScreenshotResponse:
      type: object
      title: SubscriptionAppStoreReviewScreenshotResponse
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionAppStoreReviewScreenshot'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    SubscriptionAppStoreReviewScreenshot:
      type: object
      title: SubscriptionAppStoreReviewScreenshot
      properties:
        type:
          type: string
          enum:
          - subscriptionAppStoreReviewScreenshots
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            sourceFileChecksum:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            assetToken:
              type: string
            assetType:
              type: string
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            subscription:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptions
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    SubscriptionAppStoreReviewScreenshotUpdateRequest:
      type: object
      title: SubscriptionAppStoreReviewScreenshotUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - subscriptionAppStoreReviewScreenshots
            id:
              type: string
            attributes:
              type: object
              properties:
                sourceFileChecksum:
                  type:
                  - string
                  - 'null'
                uploaded:
                  type:
                  - boolean
                  - 'null'
          required:
          - id
          - type
      required:
      - data
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    SubscriptionAppStoreReviewScreenshotCreateRequest:
      type: object
      title: SubscriptionAppStoreReviewScreenshotCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - subscriptionAppStoreReviewScreenshots
            attributes:
              type: object
              properties:
                fileSize:
                  type: integer
                fileName:
                  type: string
              required:
              - fileName
              - fileSize
            relationships:
              type: object
              properties:
                subscription:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - subscriptions
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - subscription
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    Subscription:
      type: object
      title: Subscription
      properties:
        type:
          type: string
          enum:
          - subscriptions
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            productId:
              type: string
            familySharable:
              type: boolean
            state:
              type: string
              enum:
              - MISSING_METADATA
              - READY_TO_SUBMIT
              - WAITING_FOR_REVIEW
              - IN_REVIEW
              - DEVELOPER_ACTION_NEEDED
              - PENDING_BINARY_APPROVAL
              - APPROVED
              - DEVELOPER_REMOVED_FROM_SALE
              - REMOVED_FROM_SALE
              - REJECTED
            subscriptionPeriod:
              type: string
              enum:
              - ONE_WEEK
              - ONE_MONTH
              - TWO_MONTHS
              - THREE_MONTHS
              - SIX_MONTHS
              - ONE_YEAR
            reviewNote:
              type: string
            groupLevel:
              type: integer
        relationships:
          type: object
          properties:
            subscriptionLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreReviewScreenshot:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptionAppStoreReviewScreenshots
                    id:
                      type: string
                  required:
                  - id
                  - type
            group:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptionGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            introductoryOffers:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionIntroductoryOffers
                      id:
                        type: string
                    required:
                    - id
                    - type
            promotionalOffers:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionPromotionalOffers
                      id:
                        type: string
                    required:
                    - id
                    - type
            offerCodes:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionOfferCodes
                      id:
                        type: string
                    required:
                    - id
                    - type
            prices:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionPrices
                      id:
                        type: string
                    required:
                    - id
                    - type
            pricePoints:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            promotedPurchase:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - promotedPurchases
                    id:
                      type: string
                  required:
                  - id
                  - type
            subscriptionAvailability:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptionAvailabilities
                    id:
                      type: string
                  required:
                  - id
                  - type
            winBackOffers:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - winBackOffers
                      id:
                        type: string
                    required:
                    - id
                    - type
            images:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionImages
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
