openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppPreviewSets API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppPreviewSets
paths:
  /v1/appPreviewSets:
    post:
      tags:
      - AppPreviewSets
      operationId: appPreviewSets_createInstance
      requestBody:
        description: AppPreviewSet representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewSetCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppPreviewSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Preview Sets
  /v1/appPreviewSets/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppPreviewSets
      operationId: appPreviewSets_getInstance
      parameters:
      - name: fields[appPreviewSets]
        in: query
        description: the fields to include for returned resources of type appPreviewSets
        schema:
          type: array
          items:
            type: string
            enum:
            - previewType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appPreviews
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - description
            - locale
            - keywords
            - marketingUrl
            - promotionalText
            - supportUrl
            - whatsNew
            - appStoreVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
        required: false
      - name: fields[appCustomProductPageLocalizations]
        in: query
        description: the fields to include for returned resources of type appCustomProductPageLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - promotionalText
            - appCustomProductPageVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionExperimentTreatmentLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatmentLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - appStoreVersionExperimentTreatment
            - appScreenshotSets
            - appPreviewSets
        style: form
        explode: false
        required: false
      - name: fields[appPreviews]
        in: query
        description: the fields to include for returned resources of type appPreviews
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - previewFrameTimeCode
            - mimeType
            - videoUrl
            - previewFrameImage
            - previewImage
            - uploadOperations
            - assetDeliveryState
            - videoDeliveryState
            - appPreviewSet
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appPreviews
        style: form
        explode: false
        required: false
      - name: limit[appPreviews]
        in: query
        description: maximum number of related appPreviews returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppPreviewSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Preview Sets
    delete:
      tags:
      - AppPreviewSets
      operationId: appPreviewSets_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete App Preview Sets
  /v1/appPreviewSets/{id}/relationships/appPreviews:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppPreviewSets
      operationId: appPreviewSets_appPreviews_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetAppPreviewsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Preview Sets / App Previews
    patch:
      tags:
      - AppPreviewSets
      operationId: appPreviewSets_appPreviews_replaceToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewSetAppPreviewsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Replace Related App Preview Sets / App Previews
  /v1/appPreviewSets/{id}/appPreviews:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppPreviewSets
      operationId: appPreviewSets_appPreviews_getToManyRelated
      parameters:
      - name: fields[appPreviews]
        in: query
        description: the fields to include for returned resources of type appPreviews
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - previewFrameTimeCode
            - mimeType
            - videoUrl
            - previewFrameImage
            - previewImage
            - uploadOperations
            - assetDeliveryState
            - videoDeliveryState
            - appPreviewSet
        style: form
        explode: false
      - name: fields[appPreviewSets]
        in: query
        description: the fields to include for returned resources of type appPreviewSets
        schema:
          type: array
          items:
            type: string
            enum:
            - previewType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appPreviews
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appPreviewSet
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppPreviews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Preview Sets / App Previews
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppMediaPreviewFrameImageState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - PROCESSING
          - COMPLETE
          - FAILED
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    PreviewFrameImage:
      type: object
      properties:
        image:
          $ref: '#/components/schemas/ImageAsset'
        state:
          $ref: '#/components/schemas/AppMediaPreviewFrameImageState'
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    PreviewType:
      type: string
      enum:
      - IPHONE_67
      - IPHONE_61
      - IPHONE_65
      - IPHONE_58
      - IPHONE_55
      - IPHONE_47
      - IPHONE_40
      - IPHONE_35
      - IPAD_PRO_3GEN_129
      - IPAD_PRO_3GEN_11
      - IPAD_PRO_129
      - IPAD_105
      - IPAD_97
      - DESKTOP
      - APPLE_TV
      - APPLE_VISION_PRO
    AppMediaVideoState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - PROCESSING
          - COMPLETE
          - FAILED
    AppPreviewSetAppPreviewsLinkagesRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - appPreviews
              id:
                type: string
            required:
            - id
            - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppStoreVersionExperimentTreatmentLocalization:
      type: object
      title: AppStoreVersionExperimentTreatmentLocalization
      properties:
        type:
          type: string
          enum:
          - appStoreVersionExperimentTreatmentLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
        relationships:
          type: object
          properties:
            appStoreVersionExperimentTreatment:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperimentTreatments
                    id:
                      type: string
                  required:
                  - id
                  - type
            appScreenshotSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appScreenshotSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPreviewSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviewSets
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    AppStoreVersionLocalization:
      type: object
      title: AppStoreVersionLocalization
      properties:
        type:
          type: string
          enum:
          - appStoreVersionLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            description:
              type: string
            locale:
              type: string
            keywords:
              type: string
            marketingUrl:
              type: string
              format: uri
            promotionalText:
              type: string
            supportUrl:
              type: string
              format: uri
            whatsNew:
              type: string
        relationships:
          type: object
          properties:
            appStoreVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            appScreenshotSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appScreenshotSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPreviewSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviewSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            searchKeywords:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appKeywords
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    AppPreviewSetAppPreviewsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - appPreviews
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppPreviewSetCreateRequest:
      type: object
      title: AppPreviewSetCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appPreviewSets
            attributes:
              type: object
              properties:
                previewType:
                  $ref: '#/components/schemas/PreviewType'
              required:
              - previewType
            relationships:
              type: object
              properties:
                appStoreVersionLocalization:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appStoreVersionLocalizations
                        id:
                          type: string
                      required:
                      - id
                      - type
                appCustomProductPageLocalization:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appCustomProductPageLocalizations
                        id:
                          type: string
                      required:
                      - id
                      - type
                appStoreVersionExperimentTreatmentLocalization:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appStoreVersionExperimentTreatmentLocalizations
                        id:
                          type: string
                      required:
                      - id
                      - type
          required:
          - attributes
          - type
      required:
      - data
    AppCustomProductPageLocalization:
      type: object
      title: AppCustomProductPageLocalization
      properties:
        type:
          type: string
          enum:
          - appCustomProductPageLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            promotionalText:
              type: string
        relationships:
          type: object
          properties:
            appCustomProductPageVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCustomProductPageVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            appScreenshotSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appScreenshotSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPreviewSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviewSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            searchKeywords:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appKeywords
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppPreviewsResponse:
      type: object
      title: AppPreviewsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AppPreview'
        included:
          type: array
          items:
            $ref: '#/components/schemas/AppPreviewSet'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppPreviewSet:
      type: object
      title: AppPreviewSet
      properties:
        type:
          type: string
          enum:
          - appPreviewSets
        id:
          type: string
        attributes:
          type: object
          properties:
            previewType:
              $ref: '#/components/schemas/PreviewType'
        relationships:
          type: object
          properties:
            appStoreVersionLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appCustomProductPageLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCustomProductPageLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentTreatmentLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperimentTreatmentLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appPreviews:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviews
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    AppPreview:
      type: object
      title: AppPreview
      properties:
        type:
          type: string
          enum:
          - appPreviews
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            sourceFileChecksum:
              type: string
            previewFrameTimeCode:
              type: string
            mimeType:
              type: string
            videoUrl:
              type: string
            previewFrameImage:
              $ref: '#/components/schemas/PreviewFrameImage'
            previewImage:
              deprecated: true
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              deprecated: true
              $ref: '#/components/schemas/AppMediaAssetState'
            videoDeliveryState:
              $ref: '#/components/schemas/AppMediaVideoState'
        relationships:
          type: object
          properties:
            appPreviewSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appPreviewSets
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppPreviewSetResponse:
      type: object
      title: AppPreviewSetResponse
      properties:
        data:
          $ref: '#/components/schemas/AppPreviewSet'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AppCustomProductPageLocalization'
            - $ref: '#/components/schemas/AppPreview'
            - $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
            - $ref: '#/components/schemas/AppStoreVersionLocalization'
            discriminator:
              propertyName: type
              mapping:
                appStoreVersionLocalizations: '#/components/schemas/AppStoreVersionLocalization'
                appCustomProductPageLocalizations: '#/components/schemas/AppCustomProductPageLocalization'
                appStoreVersionExperimentTreatmentLocalizations: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
                appPreviews: '#/components/schemas/AppPreview'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
