openapi: 3.2.0
info:
  title: App Store Connect Game Center Leaderboard Images API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterLeaderboardImages
paths:
  /v1/gameCenterLeaderboardImages:
    post:
      tags:
      - GameCenterLeaderboardImages
      operationId: gameCenterLeaderboardImages_createInstance
      deprecated: true
      requestBody:
        description: GameCenterLeaderboardImage representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardImageCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardImageResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Images
  /v1/gameCenterLeaderboardImages/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardImages
      operationId: gameCenterLeaderboardImages_getInstance
      deprecated: true
      parameters:
      - name: fields[gameCenterLeaderboardImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - gameCenterLeaderboardLocalization
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - gameCenterLeaderboard
            - gameCenterLeaderboardImage
        style: form
        explode: false
        required: false
        deprecated: true
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterLeaderboardLocalization
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardImageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Images
    patch:
      tags:
      - GameCenterLeaderboardImages
      operationId: gameCenterLeaderboardImages_updateInstance
      deprecated: true
      requestBody:
        description: GameCenterLeaderboardImage representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardImageUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardImageResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Leaderboard Images
    delete:
      tags:
      - GameCenterLeaderboardImages
      operationId: gameCenterLeaderboardImages_deleteInstance
      deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Leaderboard Images
  /v2/gameCenterLeaderboardImages:
    post:
      tags:
      - GameCenterLeaderboardImages
      operationId: gameCenterLeaderboardImagesV2_createInstance
      requestBody:
        description: GameCenterLeaderboardImage representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardImageV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardImageV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Images V2
  /v2/gameCenterLeaderboardImages/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardImages
      operationId: gameCenterLeaderboardImagesV2_getInstance
      parameters:
      - name: fields[gameCenterLeaderboardImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - localization
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - version
            - image
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - localization
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardImageV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Images V2
    patch:
      tags:
      - GameCenterLeaderboardImages
      operationId: gameCenterLeaderboardImagesV2_updateInstance
      requestBody:
        description: GameCenterLeaderboardImage representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardImageV2UpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardImageV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Leaderboard Images V2
    delete:
      tags:
      - GameCenterLeaderboardImages
      operationId: gameCenterLeaderboardImagesV2_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Leaderboard Images V2
components:
  schemas:
    GameCenterLeaderboardImageUpdateRequest:
      type: object
      title: GameCenterLeaderboardImageUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardImages
            id:
              type: string
            attributes:
              type: object
              properties:
                uploaded:
                  type:
                  - boolean
                  - 'null'
          required:
          - id
          - type
      required:
      - data
      deprecated: true
    GameCenterLeaderboardFormatter:
      type: string
      enum:
      - INTEGER
      - DECIMAL_POINT_1_PLACE
      - DECIMAL_POINT_2_PLACE
      - DECIMAL_POINT_3_PLACE
      - ELAPSED_TIME_CENTISECOND
      - ELAPSED_TIME_MINUTE
      - ELAPSED_TIME_SECOND
      - MONEY_POUND_DECIMAL
      - MONEY_POUND
      - MONEY_DOLLAR_DECIMAL
      - MONEY_DOLLAR
      - MONEY_EURO_DECIMAL
      - MONEY_EURO
      - MONEY_FRANC_DECIMAL
      - MONEY_FRANC
      - MONEY_KRONER_DECIMAL
      - MONEY_KRONER
      - MONEY_YEN
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterLeaderboardLocalizationV2:
      type: object
      title: GameCenterLeaderboardLocalizationV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            formatterOverride:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            formatterSuffix:
              type: string
            formatterSuffixSingular:
              type: string
            description:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterLeaderboardImageCreateRequest:
      type: object
      title: GameCenterLeaderboardImageCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardImages
            attributes:
              type: object
              properties:
                fileSize:
                  type: integer
                fileName:
                  type: string
              required:
              - fileName
              - fileSize
            relationships:
              type: object
              properties:
                gameCenterLeaderboardLocalization:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboardLocalizations
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - gameCenterLeaderboardLocalization
          required:
          - relationships
          - attributes
          - type
      required:
      - data
      deprecated: true
    GameCenterLeaderboardImageV2:
      type: object
      title: GameCenterLeaderboardImageV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            localization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    GameCenterLeaderboardImageResponse:
      type: object
      title: GameCenterLeaderboardImageResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardImage'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboardLocalization'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterLeaderboardImageV2CreateRequest:
      type: object
      title: GameCenterLeaderboardImageV2CreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardImages
            attributes:
              type: object
              properties:
                fileSize:
                  type: integer
                fileName:
                  type: string
              required:
              - fileName
              - fileSize
            relationships:
              type: object
              properties:
                localization:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboardLocalizations
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - localization
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    GameCenterLeaderboardImageV2UpdateRequest:
      type: object
      title: GameCenterLeaderboardImageV2UpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardImages
            id:
              type: string
            attributes:
              type: object
              properties:
                uploaded:
                  type:
                  - boolean
                  - 'null'
          required:
          - id
          - type
      required:
      - data
    GameCenterLeaderboardLocalization:
      type: object
      title: GameCenterLeaderboardLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            formatterOverride:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            formatterSuffix:
              type: string
            formatterSuffixSingular:
              type: string
            description:
              type: string
        relationships:
          type: object
          properties:
            gameCenterLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboardImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterLeaderboardImageV2Response:
      type: object
      title: GameCenterLeaderboardImageV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardImageV2'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    GameCenterLeaderboardImage:
      type: object
      title: GameCenterLeaderboardImage
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            gameCenterLeaderboardLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
