openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppStoreVersionReleaseRequests API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppStoreVersionReleaseRequests
paths:
  /v1/appStoreVersionReleaseRequests:
    post:
      tags:
      - AppStoreVersionReleaseRequests
      operationId: appStoreVersionReleaseRequests_createInstance
      requestBody:
        description: AppStoreVersionReleaseRequest representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionReleaseRequestCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppStoreVersionReleaseRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionReleaseRequestResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Store Version Release Requests
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AppStoreVersionReleaseRequest:
      type: object
      title: AppStoreVersionReleaseRequest
      properties:
        type:
          type: string
          enum:
          - appStoreVersionReleaseRequests
        id:
          type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    AppStoreVersionReleaseRequestResponse:
      type: object
      title: AppStoreVersionReleaseRequestResponse
      properties:
        data:
          $ref: '#/components/schemas/AppStoreVersionReleaseRequest'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppStoreVersionReleaseRequestCreateRequest:
      type: object
      title: AppStoreVersionReleaseRequestCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appStoreVersionReleaseRequests
            relationships:
              type: object
              properties:
                appStoreVersion:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appStoreVersions
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - appStoreVersion
          required:
          - relationships
          - type
      required:
      - data
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
