openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BackgroundAssetVersions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BackgroundAssetVersions
paths:
  /v1/backgroundAssetVersions:
    post:
      tags:
      - BackgroundAssetVersions
      operationId: backgroundAssetVersions_createInstance
      requestBody:
        description: BackgroundAssetVersion representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundAssetVersionCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single BackgroundAssetVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundAssetVersionResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Background Asset Versions
  /v1/backgroundAssetVersions/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BackgroundAssetVersions
      operationId: backgroundAssetVersions_getInstance
      parameters:
      - name: fields[backgroundAssetVersions]
        in: query
        description: the fields to include for returned resources of type backgroundAssetVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - createdDate
            - platforms
            - state
            - stateDetails
            - version
            - backgroundAsset
            - internalBetaRelease
            - externalBetaRelease
            - appStoreRelease
            - assetFile
            - manifestFile
            - backgroundAssetUploadFiles
        style: form
        explode: false
        required: false
      - name: fields[backgroundAssets]
        in: query
        description: the fields to include for returned resources of type backgroundAssets
        schema:
          type: array
          items:
            type: string
            enum:
            - archived
            - assetPackIdentifier
            - createdDate
            - usedBytes
            - app
            - versions
            - appStoreVersion
            - internalBetaVersion
            - externalBetaVersion
        style: form
        explode: false
        required: false
      - name: fields[backgroundAssetVersionInternalBetaReleases]
        in: query
        description: the fields to include for returned resources of type backgroundAssetVersionInternalBetaReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - state
            - backgroundAssetVersion
        style: form
        explode: false
        required: false
      - name: fields[backgroundAssetVersionExternalBetaReleases]
        in: query
        description: the fields to include for returned resources of type backgroundAssetVersionExternalBetaReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - state
            - backgroundAssetVersion
        style: form
        explode: false
        required: false
      - name: fields[backgroundAssetVersionAppStoreReleases]
        in: query
        description: the fields to include for returned resources of type backgroundAssetVersionAppStoreReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - state
            - backgroundAssetVersion
        style: form
        explode: false
        required: false
      - name: fields[backgroundAssetUploadFiles]
        in: query
        description: the fields to include for returned resources of type backgroundAssetUploadFiles
        schema:
          type: array
          items:
            type: string
            enum:
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - sourceFileChecksum
            - sourceFileChecksums
            - uploadOperations
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - backgroundAsset
            - internalBetaRelease
            - externalBetaRelease
            - appStoreRelease
            - assetFile
            - manifestFile
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BackgroundAssetVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundAssetVersionResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Background Asset Versions
  /v1/backgroundAssetVersions/{id}/relationships/backgroundAssetUploadFiles:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BackgroundAssetVersions
      operationId: backgroundAssetVersions_backgroundAssetUploadFiles_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundAssetVersionBackgroundAssetUploadFilesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Background Asset Versions / Background Asset Upload Files
  /v1/backgroundAssetVersions/{id}/backgroundAssetUploadFiles:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BackgroundAssetVersions
      operationId: backgroundAssetVersions_backgroundAssetUploadFiles_getToManyRelated
      parameters:
      - name: fields[backgroundAssetUploadFiles]
        in: query
        description: the fields to include for returned resources of type backgroundAssetUploadFiles
        schema:
          type: array
          items:
            type: string
            enum:
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - sourceFileChecksum
            - sourceFileChecksums
            - uploadOperations
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BackgroundAssetUploadFiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundAssetUploadFilesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Background Asset Versions / Background Asset Upload Files
components:
  schemas:
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    StateDetail:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    BackgroundAssetVersionExternalBetaRelease:
      type: object
      title: BackgroundAssetVersionExternalBetaRelease
      properties:
        type:
          type: string
          enum:
          - backgroundAssetVersionExternalBetaReleases
        id:
          type: string
        attributes:
          type: object
          properties:
            state:
              $ref: '#/components/schemas/BackgroundAssetVersionExternalBetaReleaseState'
        relationships:
          type: object
          properties:
            backgroundAssetVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    BackgroundAssetVersionAppStoreRelease:
      type: object
      title: BackgroundAssetVersionAppStoreRelease
      properties:
        type:
          type: string
          enum:
          - backgroundAssetVersionAppStoreReleases
        id:
          type: string
        attributes:
          type: object
          properties:
            state:
              $ref: '#/components/schemas/BackgroundAssetVersionAppStoreReleaseState'
        relationships:
          type: object
          properties:
            backgroundAssetVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    Platform:
      type: string
      enum:
      - IOS
      - MAC_OS
      - TV_OS
      - VISION_OS
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    Checksums:
      type: object
      properties:
        file:
          type: object
          properties:
            hash:
              type: string
            algorithm:
              $ref: '#/components/schemas/ChecksumAlgorithm'
        composite:
          type: object
          properties:
            hash:
              type: string
            algorithm:
              type: string
              enum:
              - MD5
    BackgroundAssetVersionExternalBetaReleaseState:
      type: string
      enum:
      - READY_FOR_BETA_SUBMISSION
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - REJECTED
      - PROCESSING_FOR_TESTING
      - READY_FOR_TESTING
      - SUPERSEDED
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    BackgroundAssetVersionInternalBetaRelease:
      type: object
      title: BackgroundAssetVersionInternalBetaRelease
      properties:
        type:
          type: string
          enum:
          - backgroundAssetVersionInternalBetaReleases
        id:
          type: string
        attributes:
          type: object
          properties:
            state:
              type: string
              enum:
              - READY_FOR_TESTING
              - SUPERSEDED
        relationships:
          type: object
          properties:
            backgroundAssetVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BackgroundAssetVersionState:
      type: string
      enum:
      - AWAITING_UPLOAD
      - PROCESSING
      - FAILED
      - COMPLETE
    BackgroundAssetUploadFilesResponse:
      type: object
      title: BackgroundAssetUploadFilesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BackgroundAssetUploadFile'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ChecksumAlgorithm:
      type: string
      enum:
      - MD5
      - SHA_256
    BackgroundAsset:
      type: object
      title: BackgroundAsset
      properties:
        type:
          type: string
          enum:
          - backgroundAssets
        id:
          type: string
        attributes:
          type: object
          properties:
            archived:
              type: boolean
            assetPackIdentifier:
              type: string
            createdDate:
              type: string
              format: date-time
            usedBytes:
              type: integer
              format: int64
              maximum: 9007199254740991
              minimum: 0
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appStoreVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            internalBetaVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            externalBetaVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BackgroundAssetVersionAppStoreReleaseState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - ACCEPTED
      - REJECTED
      - PROCESSING_FOR_DISTRIBUTION
      - READY_FOR_DISTRIBUTION
      - SUPERSEDED
    BackgroundAssetVersion:
      type: object
      title: BackgroundAssetVersion
      properties:
        type:
          type: string
          enum:
          - backgroundAssetVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            createdDate:
              type: string
              format: date-time
            platforms:
              type: array
              items:
                $ref: '#/components/schemas/Platform'
            state:
              $ref: '#/components/schemas/BackgroundAssetVersionState'
            stateDetails:
              type: object
              properties:
                errors:
                  type: array
                  items:
                    $ref: '#/components/schemas/StateDetail'
                warnings:
                  type: array
                  items:
                    $ref: '#/components/schemas/StateDetail'
                infos:
                  type: array
                  items:
                    $ref: '#/components/schemas/StateDetail'
            version:
              type: string
        relationships:
          type: object
          properties:
            backgroundAsset:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssets
                    id:
                      type: string
                  required:
                  - id
                  - type
            internalBetaRelease:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetVersionInternalBetaReleases
                    id:
                      type: string
                  required:
                  - id
                  - type
            externalBetaRelease:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetVersionExternalBetaReleases
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreRelease:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetVersionAppStoreReleases
                    id:
                      type: string
                  required:
                  - id
                  - type
            assetFile:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetUploadFiles
                    id:
                      type: string
                  required:
                  - id
                  - type
            manifestFile:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - backgroundAssetUploadFiles
                    id:
                      type: string
                  required:
                  - id
                  - type
            backgroundAssetUploadFiles:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    BackgroundAssetVersionResponse:
      type: object
      title: BackgroundAssetVersionResponse
      properties:
        data:
          $ref: '#/components/schemas/BackgroundAssetVersion'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/BackgroundAssetUploadFile'
            - $ref: '#/components/schemas/BackgroundAssetVersionAppStoreRelease'
            - $ref: '#/components/schemas/BackgroundAssetVersionExternalBetaRelease'
            - $ref: '#/components/schemas/BackgroundAssetVersionInternalBetaRelease'
            - $ref: '#/components/schemas/BackgroundAsset'
            discriminator:
              propertyName: type
              mapping:
                backgroundAssetVersionAppStoreReleases: '#/components/schemas/BackgroundAssetVersionAppStoreRelease'
                backgroundAssetVersionInternalBetaReleases: '#/components/schemas/BackgroundAssetVersionInternalBetaRelease'
                backgroundAssets: '#/components/schemas/BackgroundAsset'
                backgroundAssetUploadFiles: '#/components/schemas/BackgroundAssetUploadFile'
                backgroundAssetVersionExternalBetaReleases: '#/components/schemas/BackgroundAssetVersionExternalBetaRelease'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    BackgroundAssetUploadFile:
      type: object
      title: BackgroundAssetUploadFile
      properties:
        type:
          type: string
          enum:
          - backgroundAssetUploadFiles
        id:
          type: string
        attributes:
          type: object
          properties:
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
            assetToken:
              type: string
            assetType:
              type: string
              enum:
              - ASSET
              - MANIFEST
            fileName:
              type: string
            fileSize:
              type: integer
              format: int64
              maximum: 9007199254740991
              minimum: 1
            sourceFileChecksum:
              type: string
              deprecated: true
            sourceFileChecksums:
              $ref: '#/components/schemas/Checksums'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/DeliveryFileUploadOperation'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BackgroundAssetVersionBackgroundAssetUploadFilesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - backgroundAssetUploadFiles
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    DeliveryFileUploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
          format: int64
          maximum: 9007199254740991
          minimum: 1
        offset:
          type: integer
          format: int64
          maximum: 9007199254740991
          minimum: 0
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
        expiration:
          type: string
          format: date-time
        partNumber:
          type: integer
          format: int64
          maximum: 9007199254740991
          minimum: 1
        entityTag:
          type: string
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    BackgroundAssetVersionCreateRequest:
      type: object
      title: BackgroundAssetVersionCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - backgroundAssetVersions
            relationships:
              type: object
              properties:
                backgroundAsset:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - backgroundAssets
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - backgroundAsset
          required:
          - relationships
          - type
      required:
      - data
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
