openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BuildUploadFiles API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BuildUploadFiles
paths:
  /v1/buildUploadFiles:
    post:
      tags:
      - BuildUploadFiles
      operationId: buildUploadFiles_createInstance
      requestBody:
        description: BuildUploadFile representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildUploadFileCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single BuildUploadFile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildUploadFileResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Build Upload Files
  /v1/buildUploadFiles/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildUploadFiles
      operationId: buildUploadFiles_getInstance
      parameters:
      - name: fields[buildUploadFiles]
        in: query
        description: the fields to include for returned resources of type buildUploadFiles
        schema:
          type: array
          items:
            type: string
            enum:
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - sourceFileChecksums
            - uploadOperations
            - uti
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BuildUploadFile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildUploadFileResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Build Upload Files
    patch:
      tags:
      - BuildUploadFiles
      operationId: buildUploadFiles_updateInstance
      requestBody:
        description: BuildUploadFile representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildUploadFileUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BuildUploadFile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildUploadFileResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Build Upload Files
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    BuildUploadFile:
      type: object
      title: BuildUploadFile
      properties:
        type:
          type: string
          enum:
          - buildUploadFiles
        id:
          type: string
        attributes:
          type: object
          properties:
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
            assetToken:
              type: string
            assetType:
              type: string
              enum:
              - ASSET
              - ASSET_DESCRIPTION
              - ASSET_SPI
            fileName:
              type: string
            fileSize:
              type: integer
              format: int64
              maximum: 9007199254740991
              minimum: 1
            sourceFileChecksums:
              $ref: '#/components/schemas/Checksums'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/DeliveryFileUploadOperation'
            uti:
              type: string
              enum:
              - com.apple.binary-property-list
              - com.apple.ipa
              - com.apple.pkg
              - com.apple.xml-property-list
              - com.pkware.zip-archive
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ChecksumAlgorithm:
      type: string
      enum:
      - MD5
      - SHA_256
    Checksums:
      type: object
      properties:
        file:
          type: object
          properties:
            hash:
              type: string
            algorithm:
              $ref: '#/components/schemas/ChecksumAlgorithm'
        composite:
          type: object
          properties:
            hash:
              type: string
            algorithm:
              type: string
              enum:
              - MD5
    BuildUploadFileUpdateRequest:
      type: object
      title: BuildUploadFileUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - buildUploadFiles
            id:
              type: string
            attributes:
              type: object
              properties:
                sourceFileChecksums:
                  nullable: true
                  $ref: '#/components/schemas/Checksums'
                uploaded:
                  type: boolean
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    BuildUploadFileCreateRequest:
      type: object
      title: BuildUploadFileCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - buildUploadFiles
            attributes:
              type: object
              properties:
                assetType:
                  type: string
                  enum:
                  - ASSET
                  - ASSET_DESCRIPTION
                  - ASSET_SPI
                fileName:
                  type: string
                fileSize:
                  type: integer
                  format: int64
                  maximum: 9007199254740991
                  minimum: 1
                uti:
                  type: string
                  enum:
                  - com.apple.binary-property-list
                  - com.apple.ipa
                  - com.apple.pkg
                  - com.apple.xml-property-list
                  - com.pkware.zip-archive
              required:
              - fileName
              - fileSize
              - uti
              - assetType
            relationships:
              type: object
              properties:
                buildUpload:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - buildUploads
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - buildUpload
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    DeliveryFileUploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
          format: int64
          maximum: 9007199254740991
          minimum: 1
        offset:
          type: integer
          format: int64
          maximum: 9007199254740991
          minimum: 0
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
        expiration:
          type: string
          format: date-time
        partNumber:
          type: integer
          format: int64
          maximum: 9007199254740991
          minimum: 1
        entityTag:
          type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    BuildUploadFileResponse:
      type: object
      title: BuildUploadFileResponse
      properties:
        data:
          $ref: '#/components/schemas/BuildUploadFile'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
