openapi: 3.2.0
info:
  title: App Store Connect Marketplace Search Details API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: MarketplaceSearchDetails
paths:
  /v1/marketplaceSearchDetails:
    post:
      tags:
      - MarketplaceSearchDetails
      operationId: marketplaceSearchDetails_createInstance
      requestBody:
        description: MarketplaceSearchDetail representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceSearchDetailCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single MarketplaceSearchDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceSearchDetailResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Marketplace Search Details
  /v1/marketplaceSearchDetails/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - MarketplaceSearchDetails
      operationId: marketplaceSearchDetails_updateInstance
      requestBody:
        description: MarketplaceSearchDetail representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceSearchDetailUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single MarketplaceSearchDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceSearchDetailResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Marketplace Search Details
    delete:
      tags:
      - MarketplaceSearchDetails
      operationId: marketplaceSearchDetails_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Marketplace Search Details
components:
  schemas:
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    MarketplaceSearchDetailCreateRequest:
      type: object
      title: MarketplaceSearchDetailCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - marketplaceSearchDetails
            attributes:
              type: object
              properties:
                catalogUrl:
                  type: string
                  format: uri
              required:
              - catalogUrl
            relationships:
              type: object
              properties:
                app:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - apps
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - app
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    MarketplaceSearchDetail:
      type: object
      title: MarketplaceSearchDetail
      properties:
        type:
          type: string
          enum:
          - marketplaceSearchDetails
        id:
          type: string
        attributes:
          type: object
          properties:
            catalogUrl:
              type: string
              format: uri
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    MarketplaceSearchDetailResponse:
      type: object
      title: MarketplaceSearchDetailResponse
      properties:
        data:
          $ref: '#/components/schemas/MarketplaceSearchDetail'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    MarketplaceSearchDetailUpdateRequest:
      type: object
      title: MarketplaceSearchDetailUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - marketplaceSearchDetails
            id:
              type: string
            attributes:
              type: object
              properties:
                catalogUrl:
                  type:
                  - string
                  - 'null'
                  format: uri
          required:
          - id
          - type
      required:
      - data
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
