openapi: 3.2.0
info:
  title: App Store Connect Subscription Group Submissions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: SubscriptionGroupSubmissions
paths:
  /v1/subscriptionGroupSubmissions:
    post:
      tags:
      - SubscriptionGroupSubmissions
      operationId: subscriptionGroupSubmissions_createInstance
      requestBody:
        description: SubscriptionGroupSubmission representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionGroupSubmissionCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single SubscriptionGroupSubmission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGroupSubmissionResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Subscription Group Submissions
components:
  schemas:
    SubscriptionGroupSubmission:
      type: object
      title: SubscriptionGroupSubmission
      properties:
        type:
          type: string
          enum:
          - subscriptionGroupSubmissions
        id:
          type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    SubscriptionGroupSubmissionResponse:
      type: object
      title: SubscriptionGroupSubmissionResponse
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionGroupSubmission'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    SubscriptionGroupSubmissionCreateRequest:
      type: object
      title: SubscriptionGroupSubmissionCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - subscriptionGroupSubmissions
            relationships:
              type: object
              properties:
                subscriptionGroup:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - subscriptionGroups
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - subscriptionGroup
          required:
          - relationships
          - type
      required:
      - data
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
