openapi: 3.2.0
info:
  title: App Store Connect App Store Version Phased Releases API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppStoreVersionPhasedReleases
paths:
  /v1/appStoreVersionPhasedReleases:
    post:
      tags:
      - AppStoreVersionPhasedReleases
      operationId: appStoreVersionPhasedReleases_createInstance
      requestBody:
        description: AppStoreVersionPhasedRelease representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionPhasedReleaseCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppStoreVersionPhasedRelease
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionPhasedReleaseResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Store Version Phased Releases
  /v1/appStoreVersionPhasedReleases/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - AppStoreVersionPhasedReleases
      operationId: appStoreVersionPhasedReleases_updateInstance
      requestBody:
        description: AppStoreVersionPhasedRelease representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionPhasedReleaseUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreVersionPhasedRelease
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionPhasedReleaseResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update App Store Version Phased Releases
    delete:
      tags:
      - AppStoreVersionPhasedReleases
      operationId: appStoreVersionPhasedReleases_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete App Store Version Phased Releases
components:
  schemas:
    AppStoreVersionPhasedRelease:
      type: object
      title: AppStoreVersionPhasedRelease
      properties:
        type:
          type: string
          enum:
          - appStoreVersionPhasedReleases
        id:
          type: string
        attributes:
          type: object
          properties:
            phasedReleaseState:
              $ref: '#/components/schemas/PhasedReleaseState'
            startDate:
              type: string
              format: date-time
            totalPauseDuration:
              type: integer
            currentDayNumber:
              type: integer
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppStoreVersionPhasedReleaseUpdateRequest:
      type: object
      title: AppStoreVersionPhasedReleaseUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appStoreVersionPhasedReleases
            id:
              type: string
            attributes:
              type: object
              properties:
                phasedReleaseState:
                  $ref: '#/components/schemas/PhasedReleaseState'
          required:
          - id
          - type
      required:
      - data
    PhasedReleaseState:
      type: string
      enum:
      - INACTIVE
      - ACTIVE
      - PAUSED
      - COMPLETE
    AppStoreVersionPhasedReleaseCreateRequest:
      type: object
      title: AppStoreVersionPhasedReleaseCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appStoreVersionPhasedReleases
            attributes:
              type: object
              properties:
                phasedReleaseState:
                  $ref: '#/components/schemas/PhasedReleaseState'
            relationships:
              type: object
              properties:
                appStoreVersion:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appStoreVersions
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - appStoreVersion
          required:
          - relationships
          - type
      required:
      - data
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    AppStoreVersionPhasedReleaseResponse:
      type: object
      title: AppStoreVersionPhasedReleaseResponse
      properties:
        data:
          $ref: '#/components/schemas/AppStoreVersionPhasedRelease'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
