openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppClipAdvancedExperiences API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppClipAdvancedExperiences
paths:
  /v1/appClipAdvancedExperiences:
    post:
      tags:
      - AppClipAdvancedExperiences
      operationId: appClipAdvancedExperiences_createInstance
      requestBody:
        description: AppClipAdvancedExperience representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAdvancedExperienceCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppClipAdvancedExperience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAdvancedExperienceResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Clip Advanced Experiences
  /v1/appClipAdvancedExperiences/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppClipAdvancedExperiences
      operationId: appClipAdvancedExperiences_getInstance
      parameters:
      - name: fields[appClipAdvancedExperiences]
        in: query
        description: the fields to include for returned resources of type appClipAdvancedExperiences
        schema:
          type: array
          items:
            type: string
            enum:
            - link
            - version
            - status
            - action
            - isPoweredBy
            - place
            - placeStatus
            - businessCategory
            - defaultLanguage
            - appClip
            - headerImage
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[appClips]
        in: query
        description: the fields to include for returned resources of type appClips
        schema:
          type: array
          items:
            type: string
            enum:
            - bundleId
            - app
            - appClipDefaultExperiences
            - appClipAdvancedExperiences
        style: form
        explode: false
        required: false
      - name: fields[appClipAdvancedExperienceImages]
        in: query
        description: the fields to include for returned resources of type appClipAdvancedExperienceImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - imageAsset
            - uploadOperations
            - assetDeliveryState
        style: form
        explode: false
        required: false
      - name: fields[appClipAdvancedExperienceLocalizations]
        in: query
        description: the fields to include for returned resources of type appClipAdvancedExperienceLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - language
            - title
            - subtitle
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appClip
            - headerImage
            - localizations
        style: form
        explode: false
        required: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipAdvancedExperience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAdvancedExperienceResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Clip Advanced Experiences
    patch:
      tags:
      - AppClipAdvancedExperiences
      operationId: appClipAdvancedExperiences_updateInstance
      requestBody:
        description: AppClipAdvancedExperience representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAdvancedExperienceUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipAdvancedExperience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAdvancedExperienceResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update App Clip Advanced Experiences
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    AppClipAdvancedExperienceLocalization:
      type: object
      title: AppClipAdvancedExperienceLocalization
      properties:
        type:
          type: string
          enum:
          - appClipAdvancedExperienceLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            language:
              $ref: '#/components/schemas/AppClipAdvancedExperienceLanguage'
            title:
              type: string
            subtitle:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppClip:
      type: object
      title: AppClip
      properties:
        type:
          type: string
          enum:
          - appClips
        id:
          type: string
        attributes:
          type: object
          properties:
            bundleId:
              type: string
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            appClipDefaultExperiences:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClipDefaultExperiences
                      id:
                        type: string
                    required:
                    - id
                    - type
            appClipAdvancedExperiences:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppClipAction:
      type: string
      enum:
      - OPEN
      - VIEW
      - PLAY
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    AppClipAdvancedExperienceResponse:
      type: object
      title: AppClipAdvancedExperienceResponse
      properties:
        data:
          $ref: '#/components/schemas/AppClipAdvancedExperience'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AppClipAdvancedExperienceImage'
            - $ref: '#/components/schemas/AppClipAdvancedExperienceLocalization'
            - $ref: '#/components/schemas/AppClip'
            discriminator:
              propertyName: type
              mapping:
                appClipAdvancedExperienceLocalizations: '#/components/schemas/AppClipAdvancedExperienceLocalization'
                appClipAdvancedExperienceImages: '#/components/schemas/AppClipAdvancedExperienceImage'
                appClips: '#/components/schemas/AppClip'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppClipAdvancedExperienceCreateRequest:
      type: object
      title: AppClipAdvancedExperienceCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appClipAdvancedExperiences
            attributes:
              type: object
              properties:
                link:
                  type: string
                  format: uri
                action:
                  nullable: true
                  $ref: '#/components/schemas/AppClipAction'
                isPoweredBy:
                  type: boolean
                place:
                  type: object
                  properties:
                    placeId:
                      type: string
                    names:
                      type: array
                      items:
                        type: string
                    mainAddress:
                      type: object
                      properties:
                        fullAddress:
                          type: string
                        structuredAddress:
                          type: object
                          properties:
                            streetAddress:
                              type: array
                              items:
                                type: string
                            floor:
                              type: string
                            neighborhood:
                              type: string
                            locality:
                              type: string
                            stateProvince:
                              type: string
                            postalCode:
                              type: string
                            countryCode:
                              type: string
                    displayPoint:
                      type: object
                      properties:
                        coordinates:
                          type: object
                          properties:
                            latitude:
                              type: number
                            longitude:
                              type: number
                        source:
                          type: string
                          enum:
                          - CALCULATED
                          - MANUALLY_PLACED
                    mapAction:
                      type: string
                      enum:
                      - BUY_TICKETS
                      - VIEW_AVAILABILITY
                      - VIEW_PRICING
                      - HOTEL_BOOK_ROOM
                      - PARKING_RESERVE_PARKING
                      - RESTAURANT_JOIN_WAITLIST
                      - RESTAURANT_ORDER_DELIVERY
                      - RESTAURANT_ORDER_FOOD
                      - RESTAURANT_ORDER_TAKEOUT
                      - RESTAURANT_RESERVATION
                      - SCHEDULE_APPOINTMENT
                      - RESTAURANT_VIEW_MENU
                      - THEATER_NOW_PLAYING
                      - AIRLINE_BOOK_TRAVEL
                      - AIRLINE_CHECK_IN
                      - AIRLINE_FLIGHT_STATUS
                      - APPLY
                      - BOOK
                      - BOOK_ACTIVITIES
                      - BOOK_RIDES
                      - BOOK_TEETIMES
                      - BOOK_TOURS
                      - CAREERS
                      - CHARGE_EV
                      - COUPONS
                      - DONATE
                      - EVENTS
                      - EVENTS_SHOWS
                      - EVENTS_SPORTS
                      - GIFT_CARD
                      - HOTEL_AMENITIES
                      - JOIN
                      - PARKING_AVAILABLE
                      - RESTAURANT_PICKUP
                      - RETAIL_SERVICE_QUOTE
                      - RETAIL_STORE_DELIVERY
                      - RETAIL_STORE_PICKUP
                      - RETAIL_STORE_SHOP
                      - SERVICES
                      - SUPPORT
                      - PAY_TO_PARK
                    relationship:
                      type: string
                      enum:
                      - OWNER
                      - AUTHORIZED
                      - OTHER
                    phoneNumber:
                      type: object
                      properties:
                        number:
                          type: string
                        type:
                          type: string
                          enum:
                          - FAX
                          - LANDLINE
                          - MOBILE
                          - TOLLFREE
                        intent:
                          type: string
                    homePage:
                      type: string
                    categories:
                      type: array
                      items:
                        type: string
                  nullable: true
                businessCategory:
                  type: string
                  nullable: true
                  enum:
                  - AUTOMOTIVE
                  - BEAUTY
                  - BIKES
                  - BOOKS
                  - CASINO
                  - EDUCATION
                  - EDUCATION_JAPAN
                  - ENTERTAINMENT
                  - EV_CHARGER
                  - FINANCIAL_USD
                  - FINANCIAL_CNY
                  - FINANCIAL_GBP
                  - FINANCIAL_JPY
                  - FINANCIAL_EUR
                  - FITNESS
                  - FOOD_AND_DRINK
                  - GAS
                  - GROCERY
                  - HEALTH_AND_MEDICAL
                  - HOTEL_AND_TRAVEL
                  - MUSIC
                  - PARKING
                  - PET_SERVICES
                  - PROFESSIONAL_SERVICES
                  - SHOPPING
                  - TICKETING
                  - TRANSIT
                defaultLanguage:
                  $ref: '#/components/schemas/AppClipAdvancedExperienceLanguage'
              required:
              - defaultLanguage
              - isPoweredBy
              - link
            relationships:
              type: object
              properties:
                appClip:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appClips
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                headerImage:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appClipAdvancedExperienceImages
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                localizations:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - appClipAdvancedExperienceLocalizations
                          id:
                            type: string
                        required:
                        - id
                        - type
                  required:
                  - data
              required:
              - appClip
              - headerImage
              - localizations
          required:
          - relationships
          - attributes
          - type
        included:
          type: array
          items:
            $ref: '#/components/schemas/AppClipAdvancedExperienceLocalizationInlineCreate'
      required:
      - data
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AppClipAdvancedExperienceUpdateRequest:
      type: object
      title: AppClipAdvancedExperienceUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appClipAdvancedExperiences
            id:
              type: string
            attributes:
              type: object
              properties:
                action:
                  nullable: true
                  $ref: '#/components/schemas/AppClipAction'
                isPoweredBy:
                  type: boolean
                  nullable: true
                place:
                  type: object
                  properties:
                    placeId:
                      type: string
                    names:
                      type: array
                      items:
                        type: string
                    mainAddress:
                      type: object
                      properties:
                        fullAddress:
                          type: string
                        structuredAddress:
                          type: object
                          properties:
                            streetAddress:
                              type: array
                              items:
                                type: string
                            floor:
                              type: string
                            neighborhood:
                              type: string
                            locality:
                              type: string
                            stateProvince:
                              type: string
                            postalCode:
                              type: string
                            countryCode:
                              type: string
                    displayPoint:
                      type: object
                      properties:
                        coordinates:
                          type: object
                          properties:
                            latitude:
                              type: number
                            longitude:
                              type: number
                        source:
                          type: string
                          enum:
                          - CALCULATED
                          - MANUALLY_PLACED
                    mapAction:
                      type: string
                      enum:
                      - BUY_TICKETS
                      - VIEW_AVAILABILITY
                      - VIEW_PRICING
                      - HOTEL_BOOK_ROOM
                      - PARKING_RESERVE_PARKING
                      - RESTAURANT_JOIN_WAITLIST
                      - RESTAURANT_ORDER_DELIVERY
                      - RESTAURANT_ORDER_FOOD
                      - RESTAURANT_ORDER_TAKEOUT
                      - RESTAURANT_RESERVATION
                      - SCHEDULE_APPOINTMENT
                      - RESTAURANT_VIEW_MENU
                      - THEATER_NOW_PLAYING
                      - AIRLINE_BOOK_TRAVEL
                      - AIRLINE_CHECK_IN
                      - AIRLINE_FLIGHT_STATUS
                      - APPLY
                      - BOOK
                      - BOOK_ACTIVITIES
                      - BOOK_RIDES
                      - BOOK_TEETIMES
                      - BOOK_TOURS
                      - CAREERS
                      - CHARGE_EV
                      - COUPONS
                      - DONATE
                      - EVENTS
                      - EVENTS_SHOWS
                      - EVENTS_SPORTS
                      - GIFT_CARD
                      - HOTEL_AMENITIES
                      - JOIN
                      - PARKING_AVAILABLE
                      - RESTAURANT_PICKUP
                      - RETAIL_SERVICE_QUOTE
                      - RETAIL_STORE_DELIVERY
                      - RETAIL_STORE_PICKUP
                      - RETAIL_STORE_SHOP
                      - SERVICES
                      - SUPPORT
                      - PAY_TO_PARK
                    relationship:
                      type: string
                      enum:
                      - OWNER
                      - AUTHORIZED
                      - OTHER
                    phoneNumber:
                      type: object
                      properties:
                        number:
                          type: string
                        type:
                          type: string
                          enum:
                          - FAX
                          - LANDLINE
                          - MOBILE
                          - TOLLFREE
                        intent:
                          type: string
                    homePage:
                      type: string
                    categories:
                      type: array
                      items:
                        type: string
                  nullable: true
                businessCategory:
                  type: string
                  nullable: true
                  enum:
                  - AUTOMOTIVE
                  - BEAUTY
                  - BIKES
                  - BOOKS
                  - CASINO
                  - EDUCATION
                  - EDUCATION_JAPAN
                  - ENTERTAINMENT
                  - EV_CHARGER
                  - FINANCIAL_USD
                  - FINANCIAL_CNY
                  - FINANCIAL_GBP
                  - FINANCIAL_JPY
                  - FINANCIAL_EUR
                  - FITNESS
                  - FOOD_AND_DRINK
                  - GAS
                  - GROCERY
                  - HEALTH_AND_MEDICAL
                  - HOTEL_AND_TRAVEL
                  - MUSIC
                  - PARKING
                  - PET_SERVICES
                  - PROFESSIONAL_SERVICES
                  - SHOPPING
                  - TICKETING
                  - TRANSIT
                defaultLanguage:
                  nullable: true
                  $ref: '#/components/schemas/AppClipAdvancedExperienceLanguage'
                removed:
                  type: boolean
                  nullable: true
            relationships:
              type: object
              properties:
                appClip:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appClips
                        id:
                          type: string
                      required:
                      - id
                      - type
                headerImage:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appClipAdvancedExperienceImages
                        id:
                          type: string
                      required:
                      - id
                      - type
                localizations:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - appClipAdvancedExperienceLocalizations
                          id:
                            type: string
                        required:
                        - id
                        - type
          required:
          - id
          - type
        included:
          type: array
          items:
            $ref: '#/components/schemas/AppClipAdvancedExperienceLocalizationInlineCreate'
      required:
      - data
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    AppClipAdvancedExperience:
      type: object
      title: AppClipAdvancedExperience
      properties:
        type:
          type: string
          enum:
          - appClipAdvancedExperiences
        id:
          type: string
        attributes:
          type: object
          properties:
            link:
              type: string
              format: uri
            version:
              type: integer
            status:
              type: string
              enum:
              - RECEIVED
              - DEACTIVATED
              - APP_TRANSFER_IN_PROGRESS
            action:
              $ref: '#/components/schemas/AppClipAction'
            isPoweredBy:
              type: boolean
            place:
              type: object
              properties:
                placeId:
                  type: string
                names:
                  type: array
                  items:
                    type: string
                mainAddress:
                  type: object
                  properties:
                    fullAddress:
                      type: string
                    structuredAddress:
                      type: object
                      properties:
                        streetAddress:
                          type: array
                          items:
                            type: string
                        floor:
                          type: string
                        neighborhood:
                          type: string
                        locality:
                          type: string
                        stateProvince:
                          type: string
                        postalCode:
                          type: string
                        countryCode:
                          type: string
                displayPoint:
                  type: object
                  properties:
                    coordinates:
                      type: object
                      properties:
                        latitude:
                          type: number
                        longitude:
                          type: number
                    source:
                      type: string
                      enum:
                      - CALCULATED
                      - MANUALLY_PLACED
                mapAction:
                  type: string
                  enum:
                  - BUY_TICKETS
                  - VIEW_AVAILABILITY
                  - VIEW_PRICING
                  - HOTEL_BOOK_ROOM
                  - PARKING_RESERVE_PARKING
                  - RESTAURANT_JOIN_WAITLIST
                  - RESTAURANT_ORDER_DELIVERY
                  - RESTAURANT_ORDER_FOOD
                  - RESTAURANT_ORDER_TAKEOUT
                  - RESTAURANT_RESERVATION
                  - SCHEDULE_APPOINTMENT
                  - RESTAURANT_VIEW_MENU
                  - THEATER_NOW_PLAYING
                  - AIRLINE_BOOK_TRAVEL
                  - AIRLINE_CHECK_IN
                  - AIRLINE_FLIGHT_STATUS
                  - APPLY
                  - BOOK
                  - BOOK_ACTIVITIES
                  - BOOK_RIDES
                  - BOOK_TEETIMES
                  - BOOK_TOURS
                  - CAREERS
                  - CHARGE_EV
                  - COUPONS
                  - DONATE
                  - EVENTS
                  - EVENTS_SHOWS
                  - EVENTS_SPORTS
                  - GIFT_CARD
                  - HOTEL_AMENITIES
                  - JOIN
                  - PARKING_AVAILABLE
                  - RESTAURANT_PICKUP
                  - RETAIL_SERVICE_QUOTE
                  - RETAIL_STORE_DELIVERY
                  - RETAIL_STORE_PICKUP
                  - RETAIL_STORE_SHOP
                  - SERVICES
                  - SUPPORT
                  - PAY_TO_PARK
                relationship:
                  type: string
                  enum:
                  - OWNER
                  - AUTHORIZED
                  - OTHER
                phoneNumber:
                  type: object
                  properties:
                    number:
                      type: string
                    type:
                      type: string
                      enum:
                      - FAX
                      - LANDLINE
                      - MOBILE
                      - TOLLFREE
                    intent:
                      type: string
                homePage:
                  type: string
                categories:
                  type: array
                  items:
                    type: string
            placeStatus:
              type: string
              enum:
              - PENDING
              - MATCHED
              - NO_MATCH
            businessCategory:
              type: string
              enum:
              - AUTOMOTIVE
              - BEAUTY
              - BIKES
              - BOOKS
              - CASINO
              - EDUCATION
              - EDUCATION_JAPAN
              - ENTERTAINMENT
              - EV_CHARGER
              - FINANCIAL_USD
              - FINANCIAL_CNY
              - FINANCIAL_GBP
              - FINANCIAL_JPY
              - FINANCIAL_EUR
              - FITNESS
              - FOOD_AND_DRINK
              - GAS
              - GROCERY
              - HEALTH_AND_MEDICAL
              - HOTEL_AND_TRAVEL
              - MUSIC
              - PARKING
              - PET_SERVICES
              - PROFESSIONAL_SERVICES
              - SHOPPING
              - TICKETING
              - TRANSIT
            defaultLanguage:
              $ref: '#/components/schemas/AppClipAdvancedExperienceLanguage'
        relationships:
          type: object
          properties:
            appClip:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClips
                    id:
                      type: string
                  required:
                  - id
                  - type
            headerImage:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipAdvancedExperienceImages
                    id:
                      type: string
                  required:
                  - id
                  - type
            localizations:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClipAdvancedExperienceLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    AppClipAdvancedExperienceLanguage:
      type: string
      enum:
      - AR
      - CA
      - CS
      - DA
      - DE
      - EL
      - EN
      - ES
      - FI
      - FR
      - HE
      - HI
      - HR
      - HU
      - ID
      - IT
      - JA
      - KO
      - MS
      - NL
      - 'NO'
      - PL
      - PT
      - RO
      - RU
      - SK
      - SV
      - TH
      - TR
      - UK
      - VI
      - ZH
    AppClipAdvancedExperienceImage:
      type: object
      title: AppClipAdvancedExperienceImage
      properties:
        type:
          type: string
          enum:
          - appClipAdvancedExperienceImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            sourceFileChecksum:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppClipAdvancedExperienceLocalizationInlineCreate:
      type: object
      properties:
        type:
          type: string
          enum:
          - appClipAdvancedExperienceLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            language:
              nullable: true
              $ref: '#/components/schemas/AppClipAdvancedExperienceLanguage'
            title:
              type: string
              nullable: true
            subtitle:
              type: string
              nullable: true
      required:
      - type
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
