openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations InAppPurchaseOfferCodeCustomCodes API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: InAppPurchaseOfferCodeCustomCodes
paths:
  /v1/inAppPurchaseOfferCodeCustomCodes:
    post:
      tags:
      - InAppPurchaseOfferCodeCustomCodes
      operationId: inAppPurchaseOfferCodeCustomCodes_createInstance
      requestBody:
        description: InAppPurchaseOfferCodeCustomCode representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InAppPurchaseOfferCodeCustomCodeCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single InAppPurchaseOfferCodeCustomCode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchaseOfferCodeCustomCodeResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create in App Purchase Offer Code Custom Codes
  /v1/inAppPurchaseOfferCodeCustomCodes/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchaseOfferCodeCustomCodes
      operationId: inAppPurchaseOfferCodeCustomCodes_getInstance
      parameters:
      - name: fields[inAppPurchaseOfferCodeCustomCodes]
        in: query
        description: the fields to include for returned resources of type inAppPurchaseOfferCodeCustomCodes
        schema:
          type: array
          items:
            type: string
            enum:
            - customCode
            - numberOfCodes
            - createdDate
            - expirationDate
            - active
            - createdByActor
            - deactivatedByActor
        style: form
        explode: false
        required: false
      - name: fields[actors]
        in: query
        description: the fields to include for returned resources of type actors
        schema:
          type: array
          items:
            type: string
            enum:
            - actorType
            - userFirstName
            - userLastName
            - userEmail
            - apiKeyId
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - createdByActor
            - deactivatedByActor
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single InAppPurchaseOfferCodeCustomCode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchaseOfferCodeCustomCodeResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get in App Purchase Offer Code Custom Codes
    patch:
      tags:
      - InAppPurchaseOfferCodeCustomCodes
      operationId: inAppPurchaseOfferCodeCustomCodes_updateInstance
      requestBody:
        description: InAppPurchaseOfferCodeCustomCode representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InAppPurchaseOfferCodeCustomCodeUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single InAppPurchaseOfferCodeCustomCode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchaseOfferCodeCustomCodeResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update in App Purchase Offer Code Custom Codes
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    InAppPurchaseOfferCodeCustomCodeCreateRequest:
      type: object
      title: InAppPurchaseOfferCodeCustomCodeCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - inAppPurchaseOfferCodeCustomCodes
            attributes:
              type: object
              properties:
                customCode:
                  type: string
                numberOfCodes:
                  type: integer
                expirationDate:
                  type: string
                  format: date
                  nullable: true
              required:
              - numberOfCodes
              - customCode
            relationships:
              type: object
              properties:
                offerCode:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - inAppPurchaseOfferCodes
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - offerCode
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    Actor:
      type: object
      title: Actor
      properties:
        type:
          type: string
          enum:
          - actors
        id:
          type: string
        attributes:
          type: object
          properties:
            actorType:
              type: string
              enum:
              - USER
              - API_KEY
              - XCODE_CLOUD
              - APPLE
            userFirstName:
              type: string
            userLastName:
              type: string
            userEmail:
              type: string
            apiKeyId:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    InAppPurchaseOfferCodeCustomCodeResponse:
      type: object
      title: InAppPurchaseOfferCodeCustomCodeResponse
      properties:
        data:
          $ref: '#/components/schemas/InAppPurchaseOfferCodeCustomCode'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Actor'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    InAppPurchaseOfferCodeCustomCodeUpdateRequest:
      type: object
      title: InAppPurchaseOfferCodeCustomCodeUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - inAppPurchaseOfferCodeCustomCodes
            id:
              type: string
            attributes:
              type: object
              properties:
                active:
                  type: boolean
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    InAppPurchaseOfferCodeCustomCode:
      type: object
      title: InAppPurchaseOfferCodeCustomCode
      properties:
        type:
          type: string
          enum:
          - inAppPurchaseOfferCodeCustomCodes
        id:
          type: string
        attributes:
          type: object
          properties:
            customCode:
              type: string
            numberOfCodes:
              type: integer
            createdDate:
              type: string
              format: date-time
            expirationDate:
              type: string
              format: date
            active:
              type: boolean
        relationships:
          type: object
          properties:
            createdByActor:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - actors
                    id:
                      type: string
                  required:
                  - id
                  - type
            deactivatedByActor:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - actors
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
