openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterLeaderboardVersions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterLeaderboardVersions
paths:
  /v2/gameCenterLeaderboardVersions:
    post:
      tags:
      - GameCenterLeaderboardVersions
      operationId: gameCenterLeaderboardVersionsV2_createInstance
      requestBody:
        description: GameCenterLeaderboardVersion representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardVersionV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardVersionV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Versions V2
  /v2/gameCenterLeaderboardVersions/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardVersions
      operationId: gameCenterLeaderboardVersionsV2_getInstance
      parameters:
      - name: fields[gameCenterLeaderboardVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - leaderboard
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - gameCenterLeaderboardSets
            - activity
            - challenge
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - version
            - image
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - leaderboard
            - localizations
        style: form
        explode: false
        required: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardVersionV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Versions V2
  /v2/gameCenterLeaderboardVersions/{id}/relationships/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardVersions
      operationId: gameCenterLeaderboardVersionsV2_localizations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardVersionV2LocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Versions V2 / Localizations
  /v2/gameCenterLeaderboardVersions/{id}/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardVersions
      operationId: gameCenterLeaderboardVersionsV2_localizations_getToManyRelated
      parameters:
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - version
            - image
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - leaderboard
            - localizations
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - localization
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - image
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterLeaderboardLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardLocalizationsV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Versions V2 / Localizations
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterLeaderboardVersionV2Response:
      type: object
      title: GameCenterLeaderboardVersionV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardVersionV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2'
            - $ref: '#/components/schemas/GameCenterLeaderboardV2'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardLocalizations: '#/components/schemas/GameCenterLeaderboardLocalizationV2'
                gameCenterLeaderboards: '#/components/schemas/GameCenterLeaderboardV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    GameCenterLeaderboardLocalizationV2:
      type: object
      title: GameCenterLeaderboardLocalizationV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            formatterOverride:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            formatterSuffix:
              type: string
            formatterSuffixSingular:
              type: string
            description:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterVersionState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_REJECTED
      - REJECTED
      - ACCEPTED
      - PENDING_RELEASE
      - LIVE
      - REPLACED_WITH_NEW_VERSION
    GameCenterLeaderboardLocalizationsV2Response:
      type: object
      title: GameCenterLeaderboardLocalizationsV2Response
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboardLocalizationV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterLeaderboardImageV2'
            - $ref: '#/components/schemas/GameCenterLeaderboardVersionV2'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardImages: '#/components/schemas/GameCenterLeaderboardImageV2'
                gameCenterLeaderboardVersions: '#/components/schemas/GameCenterLeaderboardVersionV2'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterLeaderboardVersionV2LocalizationsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterLeaderboardLocalizations
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    GameCenterLeaderboardVersionV2CreateRequest:
      type: object
      title: GameCenterLeaderboardVersionV2CreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardVersions
            relationships:
              type: object
              properties:
                leaderboard:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboards
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - leaderboard
          required:
          - relationships
          - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterLeaderboardVersionV2:
      type: object
      title: GameCenterLeaderboardVersionV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: integer
            state:
              $ref: '#/components/schemas/GameCenterVersionState'
        relationships:
          type: object
          properties:
            leaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterLeaderboardImageV2:
      type: object
      title: GameCenterLeaderboardImageV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            localization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterLeaderboardV2:
      type: object
      title: GameCenterLeaderboardV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboards
        id:
          type: string
        attributes:
          type: object
          properties:
            defaultFormatter:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            submissionType:
              type: string
              enum:
              - BEST_SCORE
              - MOST_RECENT_SCORE
            scoreSortType:
              type: string
              enum:
              - ASC
              - DESC
            scoreRangeStart:
              type: string
              format: number
            scoreRangeEnd:
              type: string
              format: number
            recurrenceStartDate:
              type: string
              format: date-time
            recurrenceDuration:
              type: string
              format: duration
            recurrenceRule:
              type: string
            archived:
              type: boolean
            activityProperties:
              $ref: '#/components/schemas/StringToStringMap'
            visibility:
              type: string
              enum:
              - SHOW_FOR_ALL
              - HIDE_FOR_ALL
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboardSets:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            activity:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
            challenge:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterChallenges
                    id:
                      type: string
                  required:
                  - id
                  - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    StringToStringMap:
      type: object
      additionalProperties:
        type: string
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    GameCenterLeaderboardFormatter:
      type: string
      enum:
      - INTEGER
      - DECIMAL_POINT_1_PLACE
      - DECIMAL_POINT_2_PLACE
      - DECIMAL_POINT_3_PLACE
      - ELAPSED_TIME_CENTISECOND
      - ELAPSED_TIME_MINUTE
      - ELAPSED_TIME_SECOND
      - MONEY_POUND_DECIMAL
      - MONEY_POUND
      - MONEY_DOLLAR_DECIMAL
      - MONEY_DOLLAR
      - MONEY_EURO_DECIMAL
      - MONEY_EURO
      - MONEY_FRANC_DECIMAL
      - MONEY_FRANC
      - MONEY_KRONER_DECIMAL
      - MONEY_KRONER
      - MONEY_YEN
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
