openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterLeaderboardSets API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterLeaderboardSets
paths:
  /v2/gameCenterLeaderboardSets:
    post:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_createInstance
      requestBody:
        description: GameCenterLeaderboardSet representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Sets V2
  /v2/gameCenterLeaderboardSets/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_getInstance
      parameters:
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - gameCenterLeaderboards
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - gameCenterLeaderboardSets
            - activity
            - challenge
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardSetVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - leaderboardSet
            - localizations
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - gameCenterLeaderboards
            - versions
        style: form
        explode: false
        required: false
      - name: limit[gameCenterLeaderboards]
        in: query
        description: maximum number of related gameCenterLeaderboards returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[versions]
        in: query
        description: maximum number of related versions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Sets V2
    patch:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_updateInstance
      requestBody:
        description: GameCenterLeaderboardSet representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetV2UpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Leaderboard Sets V2
    delete:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Leaderboard Sets V2
  /v1/gameCenterLeaderboardSets:
    post:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_createInstance
      deprecated: true
      requestBody:
        description: GameCenterLeaderboardSet representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Sets
  /v1/gameCenterLeaderboardSets/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_getInstance
      deprecated: true
      parameters:
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
        required: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardSetLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - gameCenterLeaderboardSet
            - gameCenterLeaderboardSetImage
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[gameCenterLeaderboardSetReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterLeaderboardSet
        style: form
        explode: false
        required: false
        deprecated: true
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
        required: false
      - name: limit[gameCenterLeaderboards]
        in: query
        description: maximum number of related gameCenterLeaderboards returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Leaderboard Sets
    patch:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_updateInstance
      deprecated: true
      requestBody:
        description: GameCenterLeaderboardSet representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Leaderboard Sets
    delete:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_deleteInstance
      deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Leaderboard Sets
  /v2/gameCenterLeaderboardSets/{id}/relationships/gameCenterLeaderboards:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_gameCenterLeaderboards_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetV2GameCenterLeaderboardsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets V2 / Game Center Leaderboards
    post:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_gameCenterLeaderboards_createToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetV2GameCenterLeaderboardsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Add Related Game Center Leaderboard Sets V2 / Game Center Leaderboards
    patch:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_gameCenterLeaderboards_replaceToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetV2GameCenterLeaderboardsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Replace Related Game Center Leaderboard Sets V2 / Game Center Leaderboards
    delete:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_gameCenterLeaderboards_deleteToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetV2GameCenterLeaderboardsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove Related Game Center Leaderboard Sets V2 / Game Center Leaderboards
  /v2/gameCenterLeaderboardSets/{id}/gameCenterLeaderboards:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_gameCenterLeaderboards_getToManyRelated
      parameters:
      - name: filter[referenceName]
        in: query
        description: filter by attribute 'referenceName'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[archived]
        in: query
        description: filter by attribute 'archived'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - gameCenterLeaderboardSets
            - activity
            - challenge
            - versions
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - gameCenterLeaderboards
            - versions
        style: form
        explode: false
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
      - name: fields[gameCenterChallenges]
        in: query
        description: the fields to include for returned resources of type gameCenterChallenges
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - archived
            - challengeType
            - repeatable
            - gameCenterDetail
            - gameCenterGroup
            - versions
            - leaderboard
            - leaderboardV2
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - leaderboard
            - localizations
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - gameCenterLeaderboardSets
            - activity
            - challenge
            - versions
        style: form
        explode: false
      - name: limit[gameCenterLeaderboardSets]
        in: query
        description: maximum number of related gameCenterLeaderboardSets returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[versions]
        in: query
        description: maximum number of related versions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterLeaderboards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardsV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets V2 / Game Center Leaderboards
  /v2/gameCenterLeaderboardSets/{id}/relationships/versions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_versions_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetV2VersionsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets V2 / Versions
  /v2/gameCenterLeaderboardSets/{id}/versions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSetsV2_versions_getToManyRelated
      parameters:
      - name: fields[gameCenterLeaderboardSetVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - leaderboardSet
            - localizations
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - gameCenterLeaderboards
            - versions
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSetLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - version
            - image
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - leaderboardSet
            - localizations
        style: form
        explode: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterLeaderboardSetVersions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetVersionsV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets V2 / Versions
  /v1/gameCenterLeaderboardSets/{id}/relationships/gameCenterLeaderboards:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_gameCenterLeaderboards_getToManyRelationship
      deprecated: true
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetGameCenterLeaderboardsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets / Game Center Leaderboards
    post:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_gameCenterLeaderboards_createToManyRelationship
      deprecated: true
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetGameCenterLeaderboardsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Add Related Game Center Leaderboard Sets / Game Center Leaderboards
    patch:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_gameCenterLeaderboards_replaceToManyRelationship
      deprecated: true
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetGameCenterLeaderboardsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Replace Related Game Center Leaderboard Sets / Game Center Leaderboards
    delete:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_gameCenterLeaderboards_deleteToManyRelationship
      deprecated: true
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetGameCenterLeaderboardsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove Related Game Center Leaderboard Sets / Game Center Leaderboards
  /v1/gameCenterLeaderboardSets/{id}/gameCenterLeaderboards:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_gameCenterLeaderboards_getToManyRelated
      deprecated: true
      parameters:
      - name: filter[referenceName]
        in: query
        description: filter by attribute 'referenceName'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[archived]
        in: query
        description: filter by attribute 'archived'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - gameCenterLeaderboard
            - gameCenterLeaderboardImage
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterLeaderboard
        style: form
        explode: false
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
      - name: fields[gameCenterChallenges]
        in: query
        description: the fields to include for returned resources of type gameCenterChallenges
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - archived
            - challengeType
            - repeatable
            - gameCenterDetail
            - gameCenterGroup
            - versions
            - leaderboard
            - leaderboardV2
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
        style: form
        explode: false
      - name: limit[gameCenterLeaderboardSets]
        in: query
        description: maximum number of related gameCenterLeaderboardSets returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterLeaderboards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets / Game Center Leaderboards
  /v1/gameCenterLeaderboardSets/{id}/relationships/groupLeaderboardSet:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_groupLeaderboardSet_getToOneRelationship
      deprecated: true
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetGroupLeaderboardSetLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Sets / Group Leaderboard Set
    patch:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_groupLeaderboardSet_updateToOneRelationship
      deprecated: true
      requestBody:
        description: Related linkage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetGroupLeaderboardSetLinkageRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Related Game Center Leaderboard Sets / Group Leaderboard Set
  /v1/gameCenterLeaderboardSets/{id}/groupLeaderboardSet:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_groupLeaderboardSet_getToOneRelated
      deprecated: true
      parameters:
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSetLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - gameCenterLeaderboardSet
            - gameCenterLeaderboardSetImage
        style: form
        explode: false
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSetReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterLeaderboardSet
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[gameCenterLeaderboards]
        in: query
        description: maximum number of related gameCenterLeaderboards returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Sets / Group Leaderboard Set
  /v1/gameCenterLeaderboardSets/{id}/relationships/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_localizations_getToManyRelationship
      deprecated: true
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetLocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets / Localizations
  /v1/gameCenterLeaderboardSets/{id}/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_localizations_getToManyRelated
      deprecated: true
      parameters:
      - name: fields[gameCenterLeaderboardSetLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - gameCenterLeaderboardSet
            - gameCenterLeaderboardSetImage
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSetImages]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - gameCenterLeaderboardSetLocalization
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterLeaderboardSet
            - gameCenterLeaderboardSetImage
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterLeaderboardSetLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetLocalizationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets / Localizations
  /v1/gameCenterLeaderboardSets/{id}/relationships/releases:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_releases_getToManyRelationship
      deprecated: true
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetReleasesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets / Releases
  /v1/gameCenterLeaderboardSets/{id}/releases:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSets
      operationId: gameCenterLeaderboardSets_releases_getToManyRelated
      deprecated: true
      parameters:
      - name: filter[live]
        in: query
        description: filter by attribute 'live'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[gameCenterDetail]
        in: query
        description: filter by id(s) of related 'gameCenterDetail'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSetReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterLeaderboardSet
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterLeaderboardSet
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterLeaderboardSetReleases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetReleasesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Leaderboard Sets / Releases
components:
  schemas:
    GameCenterLeaderboardSetCreateRequest:
      type: object
      title: GameCenterLeaderboardSetCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSets
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                vendorIdentifier:
                  type: string
              required:
              - vendorIdentifier
              - referenceName
            relationships:
              type: object
              properties:
                gameCenterDetail:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterDetails
                        id:
                          type: string
                      required:
                      - id
                      - type
                gameCenterGroup:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterGroups
                        id:
                          type: string
                      required:
                      - id
                      - type
                gameCenterLeaderboards:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - gameCenterLeaderboards
                          id:
                            type: string
                        required:
                        - id
                        - type
          required:
          - attributes
          - type
      required:
      - data
      deprecated: true
    GameCenterLeaderboardSetLocalizationV2:
      type: object
      title: GameCenterLeaderboardSetLocalizationV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    GameCenterLeaderboardLocalization:
      type: object
      title: GameCenterLeaderboardLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            formatterOverride:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            formatterSuffix:
              type: string
            formatterSuffixSingular:
              type: string
            description:
              type: string
        relationships:
          type: object
          properties:
            gameCenterLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboardImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    GameCenterLeaderboardSetUpdateRequest:
      type: object
      title: GameCenterLeaderboardSetUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSets
            id:
              type: string
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
      deprecated: true
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    GameCenterLeaderboardsResponse:
      type: object
      title: GameCenterLeaderboardsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboard'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterActivity'
            - $ref: '#/components/schemas/GameCenterChallenge'
            - $ref: '#/components/schemas/GameCenterDetail'
            - $ref: '#/components/schemas/GameCenterGroup'
            - $ref: '#/components/schemas/GameCenterLeaderboardLocalization'
            - $ref: '#/components/schemas/GameCenterLeaderboardRelease'
            - $ref: '#/components/schemas/GameCenterLeaderboardSet'
            - $ref: '#/components/schemas/GameCenterLeaderboard'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardReleases: '#/components/schemas/GameCenterLeaderboardRelease'
                gameCenterDetails: '#/components/schemas/GameCenterDetail'
                gameCenterLeaderboardSets: '#/components/schemas/GameCenterLeaderboardSet'
                gameCenterActivities: '#/components/schemas/GameCenterActivity'
                gameCenterGroups: '#/components/schemas/GameCenterGroup'
                gameCenterLeaderboardLocalizations: '#/components/schemas/GameCenterLeaderboardLocalization'
                gameCenterChallenges: '#/components/schemas/GameCenterChallenge'
                gameCenterLeaderboards: '#/components/schemas/GameCenterLeaderboard'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
      deprecated: true
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterChallenge:
      type: object
      title: GameCenterChallenge
      properties:
        type:
          type: string
          enum:
          - gameCenterChallenges
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            archived:
              type: boolean
            challengeType:
              type: string
              enum:
              - LEADERBOARD
            repeatable:
              type: boolean
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallengeVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            leaderboard:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            leaderboardV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterLeaderboardSetResponse:
      type: object
      title: GameCenterLeaderboardSetResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardSet'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterDetail'
            - $ref: '#/components/schemas/GameCenterGroup'
            - $ref: '#/components/schemas/GameCenterLeaderboardSetLocalization'
            - $ref: '#/components/schemas/GameCenterLeaderboardSetRelease'
            - $ref: '#/components/schemas/GameCenterLeaderboardSet'
            - $ref: '#/components/schemas/GameCenterLeaderboard'
            discriminator:
              propertyName: type
              mapping:
                gameCenterDetails: '#/components/schemas/GameCenterDetail'
                gameCenterLeaderboardSets: '#/components/schemas/GameCenterLeaderboardSet'
                gameCenterGroups: '#/components/schemas/GameCenterGroup'
                gameCenterLeaderboardSetReleases: '#/components/schemas/GameCenterLeaderboardSetRelease'
                gameCenterLeaderboardSetLocalizations: '#/components/schemas/GameCenterLeaderboardSetLocalization'
                gameCenterLeaderboards: '#/components/schemas/GameCenterLeaderboard'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterVersionState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_REJECTED
      - REJECTED
      - ACCEPTED
      - PENDING_RELEASE
      - LIVE
      - REPLACED_WITH_NEW_VERSION
    GameCenterLeaderboardSetV2:
      type: object
      title: GameCenterLeaderboardSetV2
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSets
        id:
          type: string
        attributes:
[...]
