openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppInfos API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppInfos
paths:
  /v1/appInfos/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_getInstance
      parameters:
      - name: fields[appInfos]
        in: query
        description: the fields to include for returned resources of type appInfos
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreState
            - state
            - appStoreAgeRating
            - australiaAgeRating
            - brazilAgeRating
            - brazilAgeRatingV2
            - franceAgeRating
            - koreaAgeRating
            - kidsAgeBand
            - app
            - ageRatingDeclaration
            - appInfoLocalizations
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            - territoryAgeRatings
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[ageRatingDeclarations]
        in: query
        description: the fields to include for returned resources of type ageRatingDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - advertising
            - alcoholTobaccoOrDrugUseOrReferences
            - contests
            - gambling
            - gamblingSimulated
            - gunsOrOtherWeapons
            - healthOrWellnessTopics
            - kidsAgeBand
            - lootBox
            - medicalOrTreatmentInformation
            - messagingAndChat
            - parentalControls
            - profanityOrCrudeHumor
            - ageAssurance
            - sexualContentGraphicAndNudity
            - sexualContentOrNudity
            - horrorOrFearThemes
            - matureOrSuggestiveThemes
            - unrestrictedWebAccess
            - userGeneratedContent
            - violenceCartoonOrFantasy
            - violenceRealisticProlongedGraphicOrSadistic
            - violenceRealistic
            - ageRatingOverride
            - ageRatingOverrideV2
            - koreaAgeRatingOverride
            - developerAgeRatingInfoUrl
        style: form
        explode: false
        required: false
      - name: fields[appInfoLocalizations]
        in: query
        description: the fields to include for returned resources of type appInfoLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - subtitle
            - privacyPolicyUrl
            - privacyChoicesUrl
            - privacyPolicyText
            - appInfo
        style: form
        explode: false
        required: false
      - name: fields[appCategories]
        in: query
        description: the fields to include for returned resources of type appCategories
        schema:
          type: array
          items:
            type: string
            enum:
            - platforms
            - subcategories
            - parent
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - app
            - ageRatingDeclaration
            - appInfoLocalizations
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
        style: form
        explode: false
        required: false
      - name: limit[appInfoLocalizations]
        in: query
        description: maximum number of related appInfoLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppInfo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Infos
    patch:
      tags:
      - AppInfos
      operationId: appInfos_updateInstance
      requestBody:
        description: AppInfo representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppInfo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update App Infos
  /v1/appInfos/{id}/relationships/ageRatingDeclaration:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_ageRatingDeclaration_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAgeRatingDeclarationLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Age Rating Declaration
  /v1/appInfos/{id}/ageRatingDeclaration:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_ageRatingDeclaration_getToOneRelated
      parameters:
      - name: fields[ageRatingDeclarations]
        in: query
        description: the fields to include for returned resources of type ageRatingDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - advertising
            - alcoholTobaccoOrDrugUseOrReferences
            - contests
            - gambling
            - gamblingSimulated
            - gunsOrOtherWeapons
            - healthOrWellnessTopics
            - kidsAgeBand
            - lootBox
            - medicalOrTreatmentInformation
            - messagingAndChat
            - parentalControls
            - profanityOrCrudeHumor
            - ageAssurance
            - sexualContentGraphicAndNudity
            - sexualContentOrNudity
            - horrorOrFearThemes
            - matureOrSuggestiveThemes
            - unrestrictedWebAccess
            - userGeneratedContent
            - violenceCartoonOrFantasy
            - violenceRealisticProlongedGraphicOrSadistic
            - violenceRealistic
            - ageRatingOverride
            - ageRatingOverrideV2
            - koreaAgeRatingOverride
            - developerAgeRatingInfoUrl
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AgeRatingDeclaration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeRatingDeclarationResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Age Rating Declaration
  /v1/appInfos/{id}/relationships/appInfoLocalizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_appInfoLocalizations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAppInfoLocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Infos / App Info Localizations
  /v1/appInfos/{id}/appInfoLocalizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_appInfoLocalizations_getToManyRelated
      parameters:
      - name: filter[locale]
        in: query
        description: filter by attribute 'locale'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[appInfoLocalizations]
        in: query
        description: the fields to include for returned resources of type appInfoLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - subtitle
            - privacyPolicyUrl
            - privacyChoicesUrl
            - privacyPolicyText
            - appInfo
        style: form
        explode: false
      - name: fields[appInfos]
        in: query
        description: the fields to include for returned resources of type appInfos
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreState
            - state
            - appStoreAgeRating
            - australiaAgeRating
            - brazilAgeRating
            - brazilAgeRatingV2
            - franceAgeRating
            - koreaAgeRating
            - kidsAgeBand
            - app
            - ageRatingDeclaration
            - appInfoLocalizations
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            - territoryAgeRatings
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appInfo
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppInfoLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Infos / App Info Localizations
  /v1/appInfos/{id}/relationships/primaryCategory:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_primaryCategory_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoPrimaryCategoryLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Primary Category
  /v1/appInfos/{id}/primaryCategory:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_primaryCategory_getToOneRelated
      parameters:
      - name: fields[appCategories]
        in: query
        description: the fields to include for returned resources of type appCategories
        schema:
          type: array
          items:
            type: string
            enum:
            - platforms
            - subcategories
            - parent
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - subcategories
            - parent
        style: form
        explode: false
      - name: limit[subcategories]
        in: query
        description: maximum number of related subcategories returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppCategory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Primary Category
  /v1/appInfos/{id}/relationships/primarySubcategoryOne:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_primarySubcategoryOne_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoPrimarySubcategoryOneLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Primary Subcategory One
  /v1/appInfos/{id}/primarySubcategoryOne:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_primarySubcategoryOne_getToOneRelated
      parameters:
      - name: fields[appCategories]
        in: query
        description: the fields to include for returned resources of type appCategories
        schema:
          type: array
          items:
            type: string
            enum:
            - platforms
            - subcategories
            - parent
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - subcategories
            - parent
        style: form
        explode: false
      - name: limit[subcategories]
        in: query
        description: maximum number of related subcategories returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppCategory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Primary Subcategory One
  /v1/appInfos/{id}/relationships/primarySubcategoryTwo:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_primarySubcategoryTwo_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoPrimarySubcategoryTwoLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Primary Subcategory Two
  /v1/appInfos/{id}/primarySubcategoryTwo:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_primarySubcategoryTwo_getToOneRelated
      parameters:
      - name: fields[appCategories]
        in: query
        description: the fields to include for returned resources of type appCategories
        schema:
          type: array
          items:
            type: string
            enum:
            - platforms
            - subcategories
            - parent
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - subcategories
            - parent
        style: form
        explode: false
      - name: limit[subcategories]
        in: query
        description: maximum number of related subcategories returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppCategory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Primary Subcategory Two
  /v1/appInfos/{id}/relationships/secondaryCategory:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_secondaryCategory_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoSecondaryCategoryLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Secondary Category
  /v1/appInfos/{id}/secondaryCategory:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_secondaryCategory_getToOneRelated
      parameters:
      - name: fields[appCategories]
        in: query
        description: the fields to include for returned resources of type appCategories
        schema:
          type: array
          items:
            type: string
            enum:
            - platforms
            - subcategories
            - parent
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - subcategories
            - parent
        style: form
        explode: false
      - name: limit[subcategories]
        in: query
        description: maximum number of related subcategories returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppCategory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Secondary Category
  /v1/appInfos/{id}/relationships/secondarySubcategoryOne:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_secondarySubcategoryOne_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoSecondarySubcategoryOneLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Secondary Subcategory One
  /v1/appInfos/{id}/secondarySubcategoryOne:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_secondarySubcategoryOne_getToOneRelated
      parameters:
      - name: fields[appCategories]
        in: query
        description: the fields to include for returned resources of type appCategories
        schema:
          type: array
          items:
            type: string
            enum:
            - platforms
            - subcategories
            - parent
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - subcategories
            - parent
        style: form
        explode: false
      - name: limit[subcategories]
        in: query
        description: maximum number of related subcategories returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppCategory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Secondary Subcategory One
  /v1/appInfos/{id}/relationships/secondarySubcategoryTwo:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_secondarySubcategoryTwo_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoSecondarySubcategoryTwoLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Secondary Subcategory Two
  /v1/appInfos/{id}/secondarySubcategoryTwo:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_secondarySubcategoryTwo_getToOneRelated
      parameters:
      - name: fields[appCategories]
        in: query
        description: the fields to include for returned resources of type appCategories
        schema:
          type: array
          items:
            type: string
            enum:
            - platforms
            - subcategories
            - parent
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - subcategories
            - parent
        style: form
        explode: false
      - name: limit[subcategories]
        in: query
        description: maximum number of related subcategories returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppCategory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Infos / Secondary Subcategory Two
  /v1/appInfos/{id}/relationships/territoryAgeRatings:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_territoryAgeRatings_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoTerritoryAgeRatingsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Infos / Territory Age Ratings
  /v1/appInfos/{id}/territoryAgeRatings:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppInfos
      operationId: appInfos_territoryAgeRatings_getToManyRelated
      parameters:
      - name: fields[territoryAgeRatings]
        in: query
        description: the fields to include for returned resources of type territoryAgeRatings
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreAgeRating
            - territory
        style: form
        explode: false
      - name: fields[territories]
        in: query
        description: the fields to include for returned resources of type territories
        schema:
          type: array
          items:
            type: string
            enum:
            - currency
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - territory
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of TerritoryAgeRatings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerritoryAgeRatingsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Infos / Territory Age Ratings
components:
  schemas:
    BrazilAgeRating:
      type: string
      enum:
      - L
      - TEN
      - TWELVE
      - FOURTEEN
      - SIXTEEN
      - EIGHTEEN
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    AppInfoPrimarySubcategoryOneLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appCategories
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    AgeRatingDeclaration:
      type: object
      title: AgeRatingDeclaration
      properties:
        type:
          type: string
          enum:
          - ageRatingDeclarations
        id:
          type: string
        attributes:
          type: object
          properties:
            advertising:
              type: boolean
            alcoholTobaccoOrDrugUseOrReferences:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            contests:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            gambling:
              type: boolean
            gamblingSimulated:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            gunsOrOtherWeapons:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            healthOrWellnessTopics:
              type: boolean
            kidsAgeBand:
              $ref: '#/components/schemas/KidsAgeBand'
            lootBox:
              type: boolean
            medicalOrTreatmentInformation:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            messagingAndChat:
              type: boolean
            parentalControls:
              type: boolean
            profanityOrCrudeHumor:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            ageAssurance:
              type: boolean
            sexualContentGraphicAndNudity:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            sexualContentOrNudity:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            horrorOrFearThemes:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            matureOrSuggestiveThemes:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            unrestrictedWebAccess:
              type: boolean
            userGeneratedContent:
              type: boolean
            violenceCartoonOrFantasy:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            violenceRealisticProlongedGraphicOrSadistic:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            violenceRealistic:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            ageRatingOverride:
              type: string
              deprecated: true
              enum:
              - NONE
              - NINE_PLUS
              - THIRTEEN_PLUS
              - SIXTEEN_PLUS
              - SEVENTEEN_PLUS
              - UNRATED
            ageRatingOverrideV2:
              type: string
              enum:
              - NONE
              - NINE_PLUS
              - THIRTEEN_PLUS
              - SIXTEEN_PLUS
              - EIGHTEEN_PLUS
              - UNRATED
            koreaAgeRatingOverride:
              type: string
              enum:
              - NONE
              - FIFTEEN_PLUS
              - NINETEEN_PLUS
            developerAgeRatingInfoUrl:
              type: string
              format: uri
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppInfo:
      type: object
      title: AppInfo
      properties:
        type:
          type: string
          enum:
          - appInfos
        id:
          type: string
        attributes:
          type: object
          properties:
            appStoreState:
              deprecated: true
              $ref: '#/components/schemas/AppStoreVersionState'
            state:
              type: string
              enum:
              - ACCEPTED
              - DEVELOPER_REJECTED
              - IN_REVIEW
              - PENDING_RELEASE
              - PREPARE_FOR_SUBMISSION
              - READY_FOR_DISTRIBUTION
              - READY_FOR_REVIEW
              - REJECTED
              - REPLACED_WITH_NEW_INFO
              - WAITING_FOR_REVIEW
            appStoreAgeRating:
              deprecated: true
              $ref: '#/components/schemas/AppStoreAgeRating'
            australiaAgeRating:
              type: string
              deprecated: true
              enum:
              - FIFTEEN
              - EIGHTEEN
            brazilAgeRating:
              deprecated: true
              $ref: '#/components/schemas/BrazilAgeRating'
            brazilAgeRatingV2:
              type: string
              deprecated: true
              enum:
              - SELF_RATED_L
              - SELF_RATED_TEN
              - SELF_RATED_TWELVE
              - SELF_RATED_FOURTEEN
              - SELF_RATED_SIXTEEN
              - SELF_RATED_EIGHTEEN
              - OFFICIAL_L
              - OFFICIAL_TEN
              - OFFICIAL_TWELVE
              - OFFICIAL_FOURTEEN
              - OFFICIAL_SIXTEEN
              - OFFICIAL_EIGHTEEN
            franceAgeRating:
              type: string
              deprecated: true
              enum:
              - EIGHTEEN
            koreaAgeRating:
              type: string
              deprecated: true
              enum:
              - ALL
              - TWELVE
              - FIFTEEN
              - NINETEEN
              - NOT_APPLICABLE
            kidsAgeBand:
              deprecated: true
              $ref: '#/components/schemas/KidsAgeBand'
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            ageRatingDeclaration:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ageRatingDeclarations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appInfoLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appInfoLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            primaryCategory:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCategories
                    id:
                      type: string
                  required:
                  - id
                  - type
            primarySubcategoryOne:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCategories
                    id:
                      type: string
                  required:
                  - id
                  - type
            primarySubcategoryTwo:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCategories
                    id:
                      type: string
                  required:
                  - id
                  - type
            secondaryCategory:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCategories
                    id:
                      type: string
                  required:
                  - id
                  - type
            secondarySubcategoryOne:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCategories
                    id:
                      type: string
                  required:
                  - id
                  - type
            secondarySubcategoryTwo:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCategories
                    id:
                      type: string
                  required:
                  - id
                  - type
            territoryAgeRatings:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    Platform:
      type: string
      enum:
      - IOS
      - MAC_OS
      - TV_OS
      - VISION_OS
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AppInfoSecondarySubcategoryTwoLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appCategories
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppInfoLocalizationsResponse:
      type: object
      title: AppInfoLocalizationsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AppInfoLocalization'
        included:
          type: array
          items:
            $ref: '#/components/schemas/AppInfo'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AgeRatingDeclarationResponse:
      type: object
      title: AgeRatingDeclarationResponse
      properties:
        data:
          $ref: '#/components/schemas/AgeRatingDeclaration'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    KidsAgeBand:
      type: string
      enum:
      - FIVE_AND_UNDER
      - SIX_TO_EIGHT
      - NINE_TO_ELEVEN
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppInfoResponse:
      type: object
      title: AppInfoResponse
      properties:
        data:
          $ref: '#/components/schemas/AppInfo'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AgeRatingDeclaration'
            - $ref: '#/components/schemas/AppCategory'
            - $ref: '#/components/schemas/AppInfoLocalization'
            - $ref: '#/components/schemas/App'
            discriminator:
              propertyName: type
              mapping:
                ageRatingDeclarations: '#/components/schemas/AgeRatingDeclaration'
                appCategories: '#/components/schemas/AppCategory'
                appInfoLocalizations: '#/components/schemas/AppInfoLocalization'
                apps: '#/components/schemas/App'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppInfoPrimarySubcategoryTwoLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appCategories
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppInfoAppInfoLocalizationsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - appInfoLocalizations
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    App:
      type: object
      title: App
      properties:
        type:
          type: string
          enum:
          - apps
        id:
          type: string
        attributes:
          type: object
          properties:
            accessibilityUrl:
              type: string
              format: uri
            name:
              type: string
            bundleId:
              type: string
            sku:
              type: string
            primaryLocale:
              type: string
            isOrEverWasMadeForKids:
              type: boolean
            subscriptionStatusUrl:
              type: string
              format: uri
            subscriptionStatusUrlVersion:
              $ref: '#/components/schemas/SubscriptionStatusUrlVersion'
            subscriptionStatusUrlForSandbox:
              type: string
              format: uri
            subscriptionStatusUrlVersionForSandbox:
              $ref: '#/components/schemas/SubscriptionStatusUrlVersion'
            contentRightsDeclaration:
              type: string
              enum:
              - DOES_NOT_USE_THIRD_PARTY_CONTENT
              - USES_THIRD_PARTY_CONTENT
            streamlinedPurchasingEnabled:
              type: boolean
        relationships:
          type: object
          properties:
            accessibilityDeclarations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appEncryptionDeclarations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEncryptionDeclarations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreIcon:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildIcons
                    id:
                      type: string
                  required:
                  - id
                  - type
            ciProduct:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciProducts
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaTesters:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            appTags:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            preReleaseVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - preReleaseVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaAppLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaAppLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaLicenseAgreement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaLicenseAgreements
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaAppReviewDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaAppReviewDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appInfos:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appInfos
                      id:
                        type: string
                    required:
                    - id
                    - type
            appClips:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClips
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPricePoints:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            endUserLicenseAgreement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - endUserLicenseAgreements
                    id:
                      type: string
                  required:
                  - id
                  - type
            appPriceSchedule:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appAvailabilityV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            inAppPurchases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            subscriptionGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterEnabledVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterEnabledVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            perfPowerMetrics:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appCustomProductPages:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appCustomProductPages
                      id:
                        type: string
                    required:
                    - id
                    - type
            inAppPurchasesV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
            promotedPurchases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - promotedPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
            appEvents:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEvents
                      id:
                        type: string
                    required:
                    - id
                    - type
            reviewSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - reviewSubmissions
                      id:
                        type: string
                    required:
                    - id
                    - type
            subscriptionGracePeriod:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptionGracePeriods
                    id:
                      type: string
                  required:
                  - id
                  - type
            customerReviews:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            customerReviewSummarizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            gameCenterDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionExperiments
                      id:
                        type: string
                    required:
                    - id
                    - type
            alternativeDistributionKey:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            analyticsReportRequests:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            marketplaceSearchDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            buildUploads:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            backgroundAssets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaFeedbackScreenshotSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaFeedbackCrashSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            searchKeywords:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            webhooks:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            androidToIosAppMappingDetails:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - androidToIosAppMappingDetails
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    SubscriptionStatusUrlVersion:
      type: string
      enum:
      - V1
      - V2
    AppInfoPrimaryCategoryLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appCategories
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppInfoTerritoryAgeRatingsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - territoryAgeRatings
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppInfoLocalization:
      type: object
      title: AppInfoLocalization
      properties:
        type:
          type: string
          enum:
          - appInfoLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            subtitle:
              type: string
            privacyPolicyUrl:
              type: string
            privacyChoicesUrl:
              type: string
            privacyPolicyText:
              type: string
        relationships:
          type: object
          properties:
            appInfo:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appInfos
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppInfoUpdateRequest:
      type: object
      title: AppInfoUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appInfos
            id:
              type: string
            relationships:
              type: object
              properties:
                primaryCategory:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appCategories
                        id:
                          type: string
                      required:
                      - id
                      - type
                primarySubcategoryOne:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appCategories
                        id:
                          type: string
                      required:
                      - id
                      - type
                primarySubcategoryTwo:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appCategories
                        id:
                          type: string
                      required:
                      - id
                      - type
                secondaryCategory:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appCategories
                        id:
                          type: string
                      required:
                      - id
                      - type
                secondarySubcategoryOne:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appCategories
                        id:
                          type: string
                      required:
                      - id
                      - type
                secondarySubcategoryTwo:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appCategories
                        id:
                          type: string
                      required:
                      - id
                      - type
          required:
          - id
          - type
      required:
      - data
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    AppInfoAgeRatingDeclarationLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - ageRatingDeclarations
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppCategoryResponse:
      type: object
      title: AppCategoryResponse
      properties:
        data:
          $ref: '#/components/schemas/AppCategory'
        included:
          type: array
          items:
            $ref: '#/components/schemas/AppCategory'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    TerritoryAgeRatingsResponse:
      type: object
      title: TerritoryAgeRatingsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TerritoryAgeRating'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Territory'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    TerritoryAgeRating:
      type: object
      title: TerritoryAgeRating
      properties:
        type:
          type: string
          enum:
          - territoryAgeRatings
        id:
          type: string
        attributes:
          type: object
          properties:
            appStoreAgeRating:
              $ref: '#/components/schemas/AppStoreAgeRating'
        relationships:
          type: object
          properties:
            territory:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - territories
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppStoreAgeRating:
      type: string
      enum:
      - L
      - ALL
      - ONE_PLUS
      - TWO_PLUS
      - THREE_PLUS
      - FOUR_PLUS
      - FIVE_PLUS
      - SIX_PLUS
      - SEVEN_PLUS
      - EIGHT_PLUS
      - NINE_PLUS
      - TEN_PLUS
      - ELEVEN_PLUS
      - TWELVE_PLUS
      - THIRTEEN_PLUS
      - FOURTEEN_PLUS
      - FIFTEEN_PLUS
      - SIXTEEN_PLUS
      - SEVENTEEN_PLUS
      - EIGHTEEN_PLUS
      - NINETEEN_PLUS
      - TWENTY_PLUS
      - TWENTY_ONE_PLUS
      - UNRATED
    AppInfoSecondarySubcategoryOneLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appCategories
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppCategory:
      type: object
      title: AppCategory
      properties:
        type:
          type: string
          enum:
          - appCategories
        id:
          type: string
        attributes:
          type: object
          properties:
            platforms:
              type: array
              items:
                $ref: '#/components/schemas/Platform'
        relationships:
          type: object
          properties:
            subcategories:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appCategories
                      id:
                        type: string
                    required:
                    - id
                    - type
            parent:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCategories
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    Territory:
      type: object
      title: Territory
      properties:
        type:
          type: string
          enum:
          - territories
        id:
          type: string
        attributes:
          type: object
          properties:
            currency:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppStoreVersionState:
      type: string
      enum:
      - ACCEPTED
      - DEVELOPER_REMOVED_FROM_SALE
      - DEVELOPER_REJECTED
      - IN_REVIEW
      - INVALID_BINARY
      - METADATA_REJECTED
      - PENDING_APPLE_RELEASE
      - PENDING_CONTRACT
      - PENDING_DEVELOPER_RELEASE
      - PREPARE_FOR_SUBMISSION
      - PREORDER_READY_FOR_SALE
      - PROCESSING_FOR_APP_STORE
      - READY_FOR_REVIEW
      - READY_FOR_SALE
      - REJECTED
      - REMOVED_FROM_SALE
      - WAITING_FOR_EXPORT_COMPLIANCE
      - WAITING_FOR_REVIEW
      - REPLACED_WITH_NEW_VERSION
      - NOT_APPLICABLE
    AppInfoSecondaryCategoryLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appCategories
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
[...]
