openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterAchievementLocalizations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterAchievementLocalizations
paths:
  /v2/gameCenterAchievementLocalizations:
    post:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizationsV2_createInstance
      requestBody:
        description: GameCenterAchievementLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementLocalizationV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterAchievementLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Achievement Localizations V2
  /v2/gameCenterAchievementLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizationsV2_getInstance
      parameters:
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - version
            - image
        style: form
        explode: false
        required: false
      - name: fields[gameCenterAchievementVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - achievement
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[gameCenterAchievementImages]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - localization
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - image
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievementLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Achievement Localizations V2
    patch:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizationsV2_updateInstance
      requestBody:
        description: GameCenterAchievementLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementLocalizationV2UpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievementLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Achievement Localizations V2
    delete:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizationsV2_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Achievement Localizations V2
  /v1/gameCenterAchievementLocalizations:
    post:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizations_createInstance
      deprecated: true
      requestBody:
        description: GameCenterAchievementLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementLocalizationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterAchievementLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Achievement Localizations
  /v1/gameCenterAchievementLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizations_getInstance
      deprecated: true
      parameters:
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - gameCenterAchievement
            - gameCenterAchievementImage
        style: form
        explode: false
        required: false
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[gameCenterAchievementImages]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - gameCenterAchievementLocalization
        style: form
        explode: false
        required: false
        deprecated: true
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterAchievement
            - gameCenterAchievementImage
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievementLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Achievement Localizations
    patch:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizations_updateInstance
      deprecated: true
      requestBody:
        description: GameCenterAchievementLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementLocalizationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievementLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Achievement Localizations
    delete:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizations_deleteInstance
      deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Achievement Localizations
  /v2/gameCenterAchievementLocalizations/{id}/relationships/image:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizationsV2_image_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationV2ImageLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Achievement Localizations V2 / Image
  /v2/gameCenterAchievementLocalizations/{id}/image:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizationsV2_image_getToOneRelated
      parameters:
      - name: fields[gameCenterAchievementImages]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - localization
        style: form
        explode: false
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - version
            - image
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - localization
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievementImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementImageV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Achievement Localizations V2 / Image
  /v1/gameCenterAchievementLocalizations/{id}/relationships/gameCenterAchievement:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizations_gameCenterAchievement_getToOneRelationship
      deprecated: true
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationGameCenterAchievementLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Achievement Localizations / Game Center Achievement
  /v1/gameCenterAchievementLocalizations/{id}/gameCenterAchievement:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizations_gameCenterAchievement_getToOneRelated
      deprecated: true
      parameters:
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - gameCenterAchievement
            - gameCenterAchievementImage
        style: form
        explode: false
      - name: fields[gameCenterAchievementReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterAchievement
        style: form
        explode: false
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - groupAchievement
            - localizations
            - releases
            - activity
        style: form
        explode: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Achievement Localizations / Game Center Achievement
  /v1/gameCenterAchievementLocalizations/{id}/relationships/gameCenterAchievementImage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizations_gameCenterAchievementImage_getToOneRelationship
      deprecated: true
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationGameCenterAchievementImageLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Achievement Localizations / Game Center Achievement Image
  /v1/gameCenterAchievementLocalizations/{id}/gameCenterAchievementImage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementLocalizations
      operationId: gameCenterAchievementLocalizations_gameCenterAchievementImage_getToOneRelated
      deprecated: true
      parameters:
      - name: fields[gameCenterAchievementImages]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - gameCenterAchievementLocalization
        style: form
        explode: false
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - gameCenterAchievement
            - gameCenterAchievementImage
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterAchievementLocalization
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievementImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementImageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Achievement Localizations / Game Center Achievement Image
components:
  schemas:
    GameCenterAchievementLocalizationGameCenterAchievementLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievements
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    GameCenterAchievementImage:
      type: object
      title: GameCenterAchievementImage
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            gameCenterAchievementLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterVersionState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_REJECTED
      - REJECTED
      - ACCEPTED
      - PENDING_RELEASE
      - LIVE
      - REPLACED_WITH_NEW_VERSION
    GameCenterAchievementLocalizationV2Response:
      type: object
      title: GameCenterAchievementLocalizationV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterAchievementLocalizationV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievementImageV2'
            - $ref: '#/components/schemas/GameCenterAchievementVersionV2'
            discriminator:
              propertyName: type
              mapping:
                gameCenterAchievementVersions: '#/components/schemas/GameCenterAchievementVersionV2'
                gameCenterAchievementImages: '#/components/schemas/GameCenterAchievementImageV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    GameCenterAchievementImageV2Response:
      type: object
      title: GameCenterAchievementImageV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterAchievementImageV2'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterAchievementLocalizationV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    GameCenterAchievementImageV2:
      type: object
      title: GameCenterAchievementImageV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            localization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterAchievementLocalizationUpdateRequest:
      type: object
      title: GameCenterAchievementLocalizationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievementLocalizations
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                beforeEarnedDescription:
                  type: string
                  nullable: true
                afterEarnedDescription:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
      deprecated: true
    GameCenterAchievementVersionV2:
      type: object
      title: GameCenterAchievementVersionV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: integer
            state:
              $ref: '#/components/schemas/GameCenterVersionState'
        relationships:
          type: object
          properties:
            achievement:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterGroup:
      type: object
      title: GameCenterGroup
      properties:
        type:
          type: string
          enum:
          - gameCenterGroups
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
        relationships:
          type: object
          properties:
            gameCenterDetails:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterDetails
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboardSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardSetsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterAchievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterAchievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterActivities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivities
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterChallenges:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallenges
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterAchievementResponse:
      type: object
      title: GameCenterAchievementResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterAchievement'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievementLocalization'
            - $ref: '#/components/schemas/GameCenterAchievementRelease'
            - $ref: '#/components/schemas/GameCenterAchievement'
            - $ref: '#/components/schemas/GameCenterActivity'
            - $ref: '#/components/schemas/GameCenterDetail'
            - $ref: '#/components/schemas/GameCenterGroup'
            discriminator:
              propertyName: type
              mapping:
                gameCenterDetails: '#/components/schemas/GameCenterDetail'
                gameCenterActivities: '#/components/schemas/GameCenterActivity'
                gameCenterGroups: '#/components/schemas/GameCenterGroup'
                gameCenterAchievementLocalizations: '#/components/schemas/GameCenterAchievementLocalization'
                gameCenterAchievements: '#/components/schemas/GameCenterAchievement'
                gameCenterAchievementReleases: '#/components/schemas/GameCenterAchievementRelease'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterAchievementRelease:
      type: object
      title: GameCenterAchievementRelease
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementReleases
        id:
          type: string
        attributes:
          type: object
          properties:
            live:
              type: boolean
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterAchievement:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    GameCenterAchievementLocalizationV2ImageLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievementImages
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    GameCenterActivity:
      type: object
      title: GameCenterActivity
      properties:
        type:
          type: string
          enum:
          - gameCenterActivities
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            playStyle:
              type: string
              enum:
              - ASYNCHRONOUS
              - SYNCHRONOUS
            minimumPlayersCount:
              type: integer
            maximumPlayersCount:
              type: integer
            supportsPartyCode:
              type: boolean
            archived:
              type: boolean
            properties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            achievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            achievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            leaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterAchievementLocalizationV2:
      type: object
      title: GameCenterAchievementLocalizationV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            beforeEarnedDescription:
              type: string
            afterEarnedDescription:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    GameCenterAchievementLocalizationV2UpdateRequest:
      type: object
      title: GameCenterAchievementLocalizationV2UpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievementLocalizations
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                beforeEarnedDescription:
                  type: string
                  nullable: true
                afterEarnedDescription:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    GameCenterAchievementLocalizationResponse:
      type: object
      title: GameCenterAchievementLocalizationResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterAchievementLocalization'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievementImage'
            - $ref: '#/components/schemas/GameCenterAchievement'
            discriminator:
              propertyName: type
              mapping:
                gameCenterAchievements: '#/components/schemas/GameCenterAchievement'
                gameCenterAchievementImages: '#/components/schemas/GameCenterAchievementImage'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterAchievement:
      type: object
      title: GameCenterAchievement
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievements
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            points:
              type: integer
            showBeforeEarned:
              type: boolean
            repeatable:
              type: boolean
            archived:
              type: boolean
            activityProperties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            groupAchievement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            releases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
            activity:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    GameCenterAchievementLocalizationV2CreateRequest:
      type: object
      title: GameCenterAchievementLocalizationV2CreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievementLocalizations
            attributes:
              type: object
              properties:
                locale:
                  type: string
                name:
                  type: string
                beforeEarnedDescription:
                  type: string
                afterEarnedDescription:
                  type: string
              required:
              - name
              - beforeEarnedDescription
              - locale
              - afterEarnedDescription
            relationships:
              type: object
              properties:
                version:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterAchievementVersions
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - version
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterAchievementImageResponse:
      type: object
      title: GameCenterAchievementImageResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterAchievementImage'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterAchievementLocalization'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    StringToStringMap:
      type: object
      additionalProperties:
        type: string
    GameCenterAchievementLocalization:
      type: object
      title: GameCenterAchievementLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            beforeEarnedDescription:
              type: string
            afterEarnedDescription:
              type: string
        relationships:
          type: object
          properties:
            gameCenterAchievement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterAchievementImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    GameCenterAchievementLocalizationGameCenterAchievementImageLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievementImages
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterAchievementLocalizationCreateRequest:
      type: object
      title: GameCenterAchievementLocalizationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievementLocalizations
            attributes:
              type: object
              properties:
                locale:
                  type: string
                name:
                  type: string
                beforeEarnedDescription:
                  type: string
                afterEarnedDescription:
                  type: string
              required:
              - name
              - beforeEarnedDescription
              - locale
              - afterEarnedDescription
            relationships:
              type: object
              properties:
                gameCenterAchievement:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterAchievements
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - gameCenterAchievement
          required:
          - relationships
          - attributes
          - type
      required:
      - data
      deprecated: true
    GameCenterDetail:
      type: object
      title: GameCenterDetail
      properties:
        type:
          type: string
          enum:
          - gameCenterDetails
        id:
          type: string
        attributes:
          type: object
          properties:
            arcadeEnabled:
              type: boolean
            challengeEnabled:
              type: boolean
              deprecated: true
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterAppVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAppVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterGroup:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboardSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardSetsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterAchievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterAchievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterActivities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivities
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterChallenges:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallenges
                      id:
                        type: string
                    required:
                    - id
                    - type
            defaultLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            defaultLeaderboardV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            defaultGroupLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            defaultGroupLeaderboardV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            achievementReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            activityReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersionReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            challengeReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallengeVersionReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardSetReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSetReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            challengesMinimumPlatformVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
