openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations MarketplaceWebhooks API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: MarketplaceWebhooks
paths:
  /v1/marketplaceWebhooks:
    get:
      tags:
      - MarketplaceWebhooks
      operationId: marketplaceWebhooks_getCollection
      deprecated: true
      parameters:
      - name: fields[marketplaceWebhooks]
        in: query
        description: the fields to include for returned resources of type marketplaceWebhooks
        schema:
          type: array
          items:
            type: string
            enum:
            - endpointUrl
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of MarketplaceWebhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceWebhooksResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Marketplace Webhooks
    post:
      tags:
      - MarketplaceWebhooks
      operationId: marketplaceWebhooks_createInstance
      deprecated: true
      requestBody:
        description: MarketplaceWebhook representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceWebhookCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single MarketplaceWebhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceWebhookResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Marketplace Webhooks
  /v1/marketplaceWebhooks/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - MarketplaceWebhooks
      operationId: marketplaceWebhooks_updateInstance
      deprecated: true
      requestBody:
        description: MarketplaceWebhook representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceWebhookUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single MarketplaceWebhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceWebhookResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Marketplace Webhooks
    delete:
      tags:
      - MarketplaceWebhooks
      operationId: marketplaceWebhooks_deleteInstance
      deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Marketplace Webhooks
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    MarketplaceWebhook:
      type: object
      title: MarketplaceWebhook
      properties:
        type:
          type: string
          enum:
          - marketplaceWebhooks
        id:
          type: string
        attributes:
          type: object
          properties:
            endpointUrl:
              type: string
              format: uri
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    MarketplaceWebhookUpdateRequest:
      type: object
      title: MarketplaceWebhookUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - marketplaceWebhooks
            id:
              type: string
            attributes:
              type: object
              properties:
                endpointUrl:
                  type: string
                  format: uri
                  nullable: true
                secret:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
      deprecated: true
    MarketplaceWebhookCreateRequest:
      type: object
      title: MarketplaceWebhookCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - marketplaceWebhooks
            attributes:
              type: object
              properties:
                endpointUrl:
                  type: string
                  format: uri
                secret:
                  type: string
              required:
              - endpointUrl
              - secret
          required:
          - attributes
          - type
      required:
      - data
      deprecated: true
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    MarketplaceWebhooksResponse:
      type: object
      title: MarketplaceWebhooksResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MarketplaceWebhook'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
      deprecated: true
    MarketplaceWebhookResponse:
      type: object
      title: MarketplaceWebhookResponse
      properties:
        data:
          $ref: '#/components/schemas/MarketplaceWebhook'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
