openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations PassTypeIds API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: PassTypeIds
paths:
  /v1/passTypeIds:
    get:
      tags:
      - PassTypeIds
      operationId: passTypeIds_getCollection
      parameters:
      - name: filter[name]
        in: query
        description: filter by attribute 'name'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[identifier]
        in: query
        description: filter by attribute 'identifier'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; resources will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - identifier
            - -identifier
            - id
            - -id
        style: form
        explode: false
        required: false
      - name: fields[passTypeIds]
        in: query
        description: the fields to include for returned resources of type passTypeIds
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - identifier
            - certificates
        style: form
        explode: false
        required: false
      - name: fields[certificates]
        in: query
        description: the fields to include for returned resources of type certificates
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - certificateType
            - displayName
            - serialNumber
            - platform
            - expirationDate
            - certificateContent
            - activated
            - passTypeId
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - certificates
        style: form
        explode: false
        required: false
      - name: limit[certificates]
        in: query
        description: maximum number of related certificates returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of PassTypeIds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassTypeIdsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Pass Type Ids
    post:
      tags:
      - PassTypeIds
      operationId: passTypeIds_createInstance
      requestBody:
        description: PassTypeId representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassTypeIdCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single PassTypeId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassTypeIdResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Pass Type Ids
  /v1/passTypeIds/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - PassTypeIds
      operationId: passTypeIds_getInstance
      parameters:
      - name: fields[passTypeIds]
        in: query
        description: the fields to include for returned resources of type passTypeIds
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - identifier
            - certificates
        style: form
        explode: false
        required: false
      - name: fields[certificates]
        in: query
        description: the fields to include for returned resources of type certificates
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - certificateType
            - displayName
            - serialNumber
            - platform
            - expirationDate
            - certificateContent
            - activated
            - passTypeId
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - certificates
        style: form
        explode: false
        required: false
      - name: limit[certificates]
        in: query
        description: maximum number of related certificates returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single PassTypeId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassTypeIdResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Pass Type Ids
    patch:
      tags:
      - PassTypeIds
      operationId: passTypeIds_updateInstance
      requestBody:
        description: PassTypeId representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassTypeIdUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single PassTypeId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassTypeIdResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Pass Type Ids
    delete:
      tags:
      - PassTypeIds
      operationId: passTypeIds_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Pass Type Ids
  /v1/passTypeIds/{id}/relationships/certificates:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - PassTypeIds
      operationId: passTypeIds_certificates_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassTypeIdCertificatesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Pass Type Ids / Certificates
  /v1/passTypeIds/{id}/certificates:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - PassTypeIds
      operationId: passTypeIds_certificates_getToManyRelated
      parameters:
      - name: filter[displayName]
        in: query
        description: filter by attribute 'displayName'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[certificateType]
        in: query
        description: filter by attribute 'certificateType'
        schema:
          type: array
          items:
            type: string
            enum:
            - APPLE_PAY
            - APPLE_PAY_MERCHANT_IDENTITY
            - APPLE_PAY_PSP_IDENTITY
            - APPLE_PAY_RSA
            - DEVELOPER_ID_KEXT
            - DEVELOPER_ID_KEXT_G2
            - DEVELOPER_ID_APPLICATION
            - DEVELOPER_ID_APPLICATION_G2
            - DEVELOPMENT
            - DISTRIBUTION
            - IDENTITY_ACCESS
            - IOS_DEVELOPMENT
            - IOS_DISTRIBUTION
            - MAC_APP_DISTRIBUTION
            - MAC_INSTALLER_DISTRIBUTION
            - MAC_APP_DEVELOPMENT
            - PASS_TYPE_ID
            - PASS_TYPE_ID_WITH_NFC
        style: form
        explode: false
      - name: filter[serialNumber]
        in: query
        description: filter by attribute 'serialNumber'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; resources will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - displayName
            - -displayName
            - certificateType
            - -certificateType
            - serialNumber
            - -serialNumber
            - id
            - -id
        style: form
        explode: false
      - name: fields[certificates]
        in: query
        description: the fields to include for returned resources of type certificates
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - certificateType
            - displayName
            - serialNumber
            - platform
            - expirationDate
            - certificateContent
            - activated
            - passTypeId
        style: form
        explode: false
      - name: fields[passTypeIds]
        in: query
        description: the fields to include for returned resources of type passTypeIds
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - identifier
            - certificates
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - passTypeId
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of Certificates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificatesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Pass Type Ids / Certificates
components:
  schemas:
    PassTypeIdCertificatesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - certificates
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    PassTypeIdsResponse:
      type: object
      title: PassTypeIdsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PassTypeId'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Certificate'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    PassTypeId:
      type: object
      title: PassTypeId
      properties:
        type:
          type: string
          enum:
          - passTypeIds
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            identifier:
              type: string
        relationships:
          type: object
          properties:
            certificates:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - certificates
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    PassTypeIdResponse:
      type: object
      title: PassTypeIdResponse
      properties:
        data:
          $ref: '#/components/schemas/PassTypeId'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Certificate'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    PassTypeIdCreateRequest:
      type: object
      title: PassTypeIdCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - passTypeIds
            attributes:
              type: object
              properties:
                name:
                  type: string
                identifier:
                  type: string
              required:
              - identifier
              - name
          required:
          - attributes
          - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    Certificate:
      type: object
      title: Certificate
      properties:
        type:
          type: string
          enum:
          - certificates
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            certificateType:
              $ref: '#/components/schemas/CertificateType'
            displayName:
              type: string
            serialNumber:
              type: string
            platform:
              $ref: '#/components/schemas/BundleIdPlatform'
            expirationDate:
              type: string
              format: date-time
            certificateContent:
              type: string
            activated:
              type: boolean
        relationships:
          type: object
          properties:
            passTypeId:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - passTypeIds
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    CertificateType:
      type: string
      enum:
      - APPLE_PAY
      - APPLE_PAY_MERCHANT_IDENTITY
      - APPLE_PAY_PSP_IDENTITY
      - APPLE_PAY_RSA
      - DEVELOPER_ID_KEXT
      - DEVELOPER_ID_KEXT_G2
      - DEVELOPER_ID_APPLICATION
      - DEVELOPER_ID_APPLICATION_G2
      - DEVELOPMENT
      - DISTRIBUTION
      - IDENTITY_ACCESS
      - IOS_DEVELOPMENT
      - IOS_DISTRIBUTION
      - MAC_APP_DISTRIBUTION
      - MAC_INSTALLER_DISTRIBUTION
      - MAC_APP_DEVELOPMENT
      - PASS_TYPE_ID
      - PASS_TYPE_ID_WITH_NFC
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    BundleIdPlatform:
      type: string
      enum:
      - IOS
      - MAC_OS
      - UNIVERSAL
    PassTypeIdUpdateRequest:
      type: object
      title: PassTypeIdUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - passTypeIds
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    CertificatesResponse:
      type: object
      title: CertificatesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Certificate'
        included:
          type: array
          items:
            $ref: '#/components/schemas/PassTypeId'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
