openapi: 3.2.0
info:
  title: App Store Connect In App Purchase Offer Code One Time Use…
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: InAppPurchaseOfferCodeOneTimeUseCodes
paths:
  /v1/inAppPurchaseOfferCodeOneTimeUseCodes:
    post:
      tags:
      - InAppPurchaseOfferCodeOneTimeUseCodes
      operationId: inAppPurchaseOfferCodeOneTimeUseCodes_createInstance
      requestBody:
        description: InAppPurchaseOfferCodeOneTimeUseCode representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InAppPurchaseOfferCodeOneTimeUseCodeCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single InAppPurchaseOfferCodeOneTimeUseCode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchaseOfferCodeOneTimeUseCodeResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create in App Purchase Offer Code One Time Use Codes
  /v1/inAppPurchaseOfferCodeOneTimeUseCodes/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchaseOfferCodeOneTimeUseCodes
      operationId: inAppPurchaseOfferCodeOneTimeUseCodes_getInstance
      parameters:
      - name: fields[inAppPurchaseOfferCodeOneTimeUseCodes]
        in: query
        description: the fields to include for returned resources of type inAppPurchaseOfferCodeOneTimeUseCodes
        schema:
          type: array
          items:
            type: string
            enum:
            - numberOfCodes
            - createdDate
            - expirationDate
            - active
            - environment
            - values
            - createdByActor
            - deactivatedByActor
        style: form
        explode: false
        required: false
      - name: fields[actors]
        in: query
        description: the fields to include for returned resources of type actors
        schema:
          type: array
          items:
            type: string
            enum:
            - actorType
            - userFirstName
            - userLastName
            - userEmail
            - apiKeyId
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - createdByActor
            - deactivatedByActor
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single InAppPurchaseOfferCodeOneTimeUseCode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchaseOfferCodeOneTimeUseCodeResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get in App Purchase Offer Code One Time Use Codes
    patch:
      tags:
      - InAppPurchaseOfferCodeOneTimeUseCodes
      operationId: inAppPurchaseOfferCodeOneTimeUseCodes_updateInstance
      requestBody:
        description: InAppPurchaseOfferCodeOneTimeUseCode representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InAppPurchaseOfferCodeOneTimeUseCodeUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single InAppPurchaseOfferCodeOneTimeUseCode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InAppPurchaseOfferCodeOneTimeUseCodeResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update in App Purchase Offer Code One Time Use Codes
  /v1/inAppPurchaseOfferCodeOneTimeUseCodes/{id}/values:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - InAppPurchaseOfferCodeOneTimeUseCodes
      operationId: inAppPurchaseOfferCodeOneTimeUseCodes_values_getToOneRelated
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single InAppPurchaseOfferCodeOneTimeUseCodeValue
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/csv'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related in App Purchase Offer Code One Time Use Codes / Values
components:
  schemas:
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    InAppPurchaseOfferCodeOneTimeUseCodeUpdateRequest:
      type: object
      title: InAppPurchaseOfferCodeOneTimeUseCodeUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - inAppPurchaseOfferCodeOneTimeUseCodes
            id:
              type: string
            attributes:
              type: object
              properties:
                active:
                  type:
                  - boolean
                  - 'null'
          required:
          - id
          - type
      required:
      - data
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    Actor:
      type: object
      title: Actor
      properties:
        type:
          type: string
          enum:
          - actors
        id:
          type: string
        attributes:
          type: object
          properties:
            actorType:
              type: string
              enum:
              - USER
              - API_KEY
              - XCODE_CLOUD
              - APPLE
            userFirstName:
              type: string
            userLastName:
              type: string
            userEmail:
              type: string
            apiKeyId:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    InAppPurchaseOfferCodeOneTimeUseCode:
      type: object
      title: InAppPurchaseOfferCodeOneTimeUseCode
      properties:
        type:
          type: string
          enum:
          - inAppPurchaseOfferCodeOneTimeUseCodes
        id:
          type: string
        attributes:
          type: object
          properties:
            numberOfCodes:
              type: integer
            createdDate:
              type: string
              format: date-time
            expirationDate:
              type: string
              format: date
            active:
              type: boolean
            environment:
              $ref: '#/components/schemas/OfferCodeEnvironment'
        relationships:
          type: object
          properties:
            values:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            createdByActor:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - actors
                    id:
                      type: string
                  required:
                  - id
                  - type
            deactivatedByActor:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - actors
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    OfferCodeEnvironment:
      type: string
      enum:
      - PRODUCTION
      - SANDBOX
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    InAppPurchaseOfferCodeOneTimeUseCodeResponse:
      type: object
      title: InAppPurchaseOfferCodeOneTimeUseCodeResponse
      properties:
        data:
          $ref: '#/components/schemas/InAppPurchaseOfferCodeOneTimeUseCode'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Actor'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    InAppPurchaseOfferCodeOneTimeUseCodeCreateRequest:
      type: object
      title: InAppPurchaseOfferCodeOneTimeUseCodeCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - inAppPurchaseOfferCodeOneTimeUseCodes
            attributes:
              type: object
              properties:
                numberOfCodes:
                  type: integer
                expirationDate:
                  type: string
                  format: date
                environment:
                  $ref: '#/components/schemas/OfferCodeEnvironment'
              required:
              - numberOfCodes
              - expirationDate
            relationships:
              type: object
              properties:
                offerCode:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - inAppPurchaseOfferCodes
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - offerCode
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    csv:
      type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
