openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BetaBuildLocalizations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BetaBuildLocalizations
paths:
  /v1/betaBuildLocalizations:
    get:
      tags:
      - BetaBuildLocalizations
      operationId: betaBuildLocalizations_getCollection
      parameters:
      - name: filter[locale]
        in: query
        description: filter by attribute 'locale'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[build]
        in: query
        description: filter by id(s) of related 'build'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: fields[betaBuildLocalizations]
        in: query
        description: the fields to include for returned resources of type betaBuildLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - whatsNew
            - locale
            - build
        style: form
        explode: false
        required: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - build
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BetaBuildLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaBuildLocalizationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Beta Build Localizations
    post:
      tags:
      - BetaBuildLocalizations
      operationId: betaBuildLocalizations_createInstance
      requestBody:
        description: BetaBuildLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaBuildLocalizationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single BetaBuildLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaBuildLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Beta Build Localizations
  /v1/betaBuildLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BetaBuildLocalizations
      operationId: betaBuildLocalizations_getInstance
      parameters:
      - name: fields[betaBuildLocalizations]
        in: query
        description: the fields to include for returned resources of type betaBuildLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - whatsNew
            - locale
            - build
        style: form
        explode: false
        required: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - build
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BetaBuildLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaBuildLocalizationResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Beta Build Localizations
    patch:
      tags:
      - BetaBuildLocalizations
      operationId: betaBuildLocalizations_updateInstance
      requestBody:
        description: BetaBuildLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaBuildLocalizationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BetaBuildLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaBuildLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Beta Build Localizations
    delete:
      tags:
      - BetaBuildLocalizations
      operationId: betaBuildLocalizations_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Beta Build Localizations
  /v1/betaBuildLocalizations/{id}/relationships/build:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BetaBuildLocalizations
      operationId: betaBuildLocalizations_build_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaBuildLocalizationBuildLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Beta Build Localizations / Build
  /v1/betaBuildLocalizations/{id}/build:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BetaBuildLocalizations
      operationId: betaBuildLocalizations_build_getToOneRelated
      parameters:
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single Build with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Beta Build Localizations / Build
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    BetaBuildLocalizationsResponse:
      type: object
      title: BetaBuildLocalizationsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BetaBuildLocalization'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Build'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BetaBuildLocalizationCreateRequest:
      type: object
      title: BetaBuildLocalizationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - betaBuildLocalizations
            attributes:
              type: object
              properties:
                whatsNew:
                  type: string
                  nullable: true
                locale:
                  type: string
              required:
              - locale
            relationships:
              type: object
              properties:
                build:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - builds
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - build
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    BetaBuildLocalizationBuildLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - builds
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    Build:
      type: object
      title: Build
      properties:
        type:
          type: string
          enum:
          - builds
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            uploadedDate:
              type: string
              format: date-time
            expirationDate:
              type: string
              format: date-time
            expired:
              type: boolean
            minOsVersion:
              type: string
            lsMinimumSystemVersion:
              type: string
            computedMinMacOsVersion:
              type: string
            computedMinVisionOsVersion:
              type: string
            iconAssetToken:
              $ref: '#/components/schemas/ImageAsset'
            processingState:
              type: string
              enum:
              - PROCESSING
              - FAILED
              - INVALID
              - VALID
            buildAudienceType:
              $ref: '#/components/schemas/BuildAudienceType'
            usesNonExemptEncryption:
              type: boolean
        relationships:
          type: object
          properties:
            preReleaseVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - preReleaseVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            individualTesters:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaTesters
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaBuildLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaBuildLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appEncryptionDeclaration:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appEncryptionDeclarations
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaAppReviewSubmission:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaAppReviewSubmissions
                    id:
                      type: string
                  required:
                  - id
                  - type
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            buildBetaDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildBetaDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            icons:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - buildIcons
                      id:
                        type: string
                    required:
                    - id
                    - type
            buildBundles:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - buildBundles
                      id:
                        type: string
                    required:
                    - id
                    - type
            buildUpload:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildUploads
                    id:
                      type: string
                  required:
                  - id
                  - type
            perfPowerMetrics:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            diagnosticSignatures:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    BetaBuildLocalizationUpdateRequest:
      type: object
      title: BetaBuildLocalizationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - betaBuildLocalizations
            id:
              type: string
            attributes:
              type: object
              properties:
                whatsNew:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    BetaBuildLocalization:
      type: object
      title: BetaBuildLocalization
      properties:
        type:
          type: string
          enum:
          - betaBuildLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            whatsNew:
              type: string
            locale:
              type: string
        relationships:
          type: object
          properties:
            build:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - builds
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BuildAudienceType:
      type: string
      enum:
      - INTERNAL_ONLY
      - APP_STORE_ELIGIBLE
    BetaBuildLocalizationResponse:
      type: object
      title: BetaBuildLocalizationResponse
      properties:
        data:
          $ref: '#/components/schemas/BetaBuildLocalization'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Build'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    BuildWithoutIncludesResponse:
      type: object
      title: BuildWithoutIncludesResponse
      properties:
        data:
          $ref: '#/components/schemas/Build'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
