openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations EndAppAvailabilityPreOrders API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: EndAppAvailabilityPreOrders
paths:
  /v1/endAppAvailabilityPreOrders:
    post:
      tags:
      - EndAppAvailabilityPreOrders
      operationId: endAppAvailabilityPreOrders_createInstance
      requestBody:
        description: EndAppAvailabilityPreOrder representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndAppAvailabilityPreOrderCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single EndAppAvailabilityPreOrder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndAppAvailabilityPreOrderResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create End App Availability Pre Orders
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    EndAppAvailabilityPreOrderCreateRequest:
      type: object
      title: EndAppAvailabilityPreOrderCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - endAppAvailabilityPreOrders
            relationships:
              type: object
              properties:
                territoryAvailabilities:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - territoryAvailabilities
                          id:
                            type: string
                        required:
                        - id
                        - type
                  required:
                  - data
              required:
              - territoryAvailabilities
          required:
          - relationships
          - type
      required:
      - data
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    EndAppAvailabilityPreOrderResponse:
      type: object
      title: EndAppAvailabilityPreOrderResponse
      properties:
        data:
          $ref: '#/components/schemas/EndAppAvailabilityPreOrder'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    EndAppAvailabilityPreOrder:
      type: object
      title: EndAppAvailabilityPreOrder
      properties:
        type:
          type: string
          enum:
          - endAppAvailabilityPreOrders
        id:
          type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
