openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BetaAppClipInvocationLocalizations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BetaAppClipInvocationLocalizations
paths:
  /v1/betaAppClipInvocationLocalizations:
    post:
      tags:
      - BetaAppClipInvocationLocalizations
      operationId: betaAppClipInvocationLocalizations_createInstance
      requestBody:
        description: BetaAppClipInvocationLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaAppClipInvocationLocalizationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single BetaAppClipInvocationLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAppClipInvocationLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Beta App Clip Invocation Localizations
  /v1/betaAppClipInvocationLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - BetaAppClipInvocationLocalizations
      operationId: betaAppClipInvocationLocalizations_updateInstance
      requestBody:
        description: BetaAppClipInvocationLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaAppClipInvocationLocalizationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BetaAppClipInvocationLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAppClipInvocationLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Beta App Clip Invocation Localizations
    delete:
      tags:
      - BetaAppClipInvocationLocalizations
      operationId: betaAppClipInvocationLocalizations_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Beta App Clip Invocation Localizations
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    BetaAppClipInvocationLocalization:
      type: object
      title: BetaAppClipInvocationLocalization
      properties:
        type:
          type: string
          enum:
          - betaAppClipInvocationLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            title:
              type: string
            locale:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BetaAppClipInvocationLocalizationCreateRequest:
      type: object
      title: BetaAppClipInvocationLocalizationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - betaAppClipInvocationLocalizations
            attributes:
              type: object
              properties:
                title:
                  type: string
                locale:
                  type: string
              required:
              - locale
              - title
            relationships:
              type: object
              properties:
                betaAppClipInvocation:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - betaAppClipInvocations
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - betaAppClipInvocation
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    BetaAppClipInvocationLocalizationUpdateRequest:
      type: object
      title: BetaAppClipInvocationLocalizationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - betaAppClipInvocationLocalizations
            id:
              type: string
            attributes:
              type: object
              properties:
                title:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    BetaAppClipInvocationLocalizationResponse:
      type: object
      title: BetaAppClipInvocationLocalizationResponse
      properties:
        data:
          $ref: '#/components/schemas/BetaAppClipInvocationLocalization'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
