openapi: 3.2.0
info:
  title: App Store Connect Territory Availabilities API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: TerritoryAvailabilities
paths:
  /v1/territoryAvailabilities/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - TerritoryAvailabilities
      operationId: territoryAvailabilities_updateInstance
      requestBody:
        description: TerritoryAvailability representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerritoryAvailabilityUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single TerritoryAvailability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerritoryAvailabilityResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Territory Availabilities
components:
  schemas:
    TerritoryAvailabilityResponse:
      type: object
      title: TerritoryAvailabilityResponse
      properties:
        data:
          $ref: '#/components/schemas/TerritoryAvailability'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Territory'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    TerritoryAvailability:
      type: object
      title: TerritoryAvailability
      properties:
        type:
          type: string
          enum:
          - territoryAvailabilities
        id:
          type: string
        attributes:
          type: object
          properties:
            available:
              type: boolean
            releaseDate:
              type: string
              format: date
            preOrderEnabled:
              type: boolean
            preOrderPublishDate:
              type: string
              format: date
            contentStatuses:
              type: array
              items:
                type: string
                enum:
                - AVAILABLE
                - AVAILABLE_FOR_PREORDER_ON_DATE
                - PROCESSING_TO_NOT_AVAILABLE
                - PROCESSING_TO_AVAILABLE
                - PROCESSING_TO_PRE_ORDER
                - AVAILABLE_FOR_SALE_UNRELEASED_APP
                - PREORDER_ON_UNRELEASED_APP
                - AVAILABLE_FOR_PREORDER
                - MISSING_RATING
                - CANNOT_SELL_RESTRICTED_RATING
                - BRAZIL_REQUIRED_TAX_ID
                - BRAZIL_GAMBLING_NOT_VERIFIED
                - MISSING_GRN
                - UNVERIFIED_GRN
                - ICP_NUMBER_INVALID
                - ICP_NUMBER_MISSING
                - TRADER_STATUS_NOT_PROVIDED
                - TRADER_STATUS_VERIFICATION_FAILED
                - TRADER_STATUS_VERIFICATION_STATUS_MISSING
                - CANNOT_SELL_SEVENTEEN_PLUS_APPS
                - CANNOT_SELL_SEXUALLY_EXPLICIT
                - CANNOT_SELL_NON_IOS_GAMES
                - CANNOT_SELL_SEVENTEEN_PLUS_GAMES
                - CANNOT_SELL_CASINO
                - CANNOT_SELL_CASINO_WITHOUT_GRAC
                - CANNOT_SELL_CASINO_WITHOUT_AGE_VERIFICATION
                - CANNOT_SELL_ADULT_ONLY
                - CANNOT_SELL_GAMBLING_CONTESTS
                - CANNOT_SELL_GAMBLING
                - CANNOT_SELL_CONTESTS
                - CANNOT_SELL_NINETEEN_PLUS_WITHOUT_GRAC
                - CANNOT_SELL
                - CANNOT_SELL_FREQUENT_INTENSE_GAMBLING
                - CANNOT_SELL_FREQUENT_INTENSE_ALCOHOL_TOBACCO_DRUGS
                - CANNOT_SELL_FREQUENT_INTENSE_VIOLENCE
                - CANNOT_SELL_FREQUENT_INTENSE_SEXUAL_CONTENT_NUDITY
                - CANNOT_SELL_INFREQUENT_MILD_ALCOHOL_TOBACCO_DRUGS
                - CANNOT_SELL_INFREQUENT_MILD_SEXUAL_CONTENT_NUDITY
                - CANNOT_SELL_FREQUENT_INTENSE
                - CANNOT_SELL_FREQUENT_INTENSE_WITHOUT_GRAC
                - CANNOT_SELL_FREQUENT_GAMBLING
                - CANNOT_SELL_FREQUENT_ALCOHOL_TOBACCO_DRUGS
                - CANNOT_SELL_FREQUENT_VIOLENCE
                - CANNOT_SELL_FREQUENT_SEXUAL_CONTENT_NUDITY
                - CANNOT_SELL_INFREQUENT_ALCOHOL_TOBACCO_DRUGS
                - CANNOT_SELL_INFREQUENT_SEXUAL_CONTENT_NUDITY
                - CANNOT_SELL_FREQUENT
                - CANNOT_SELL_FREQUENT_WITHOUT_GRAC
        relationships:
          type: object
          properties:
            territory:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - territories
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    TerritoryAvailabilityUpdateRequest:
      type: object
      title: TerritoryAvailabilityUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - territoryAvailabilities
            id:
              type: string
            attributes:
              type: object
              properties:
                available:
                  type:
                  - boolean
                  - 'null'
                releaseDate:
                  type:
                  - string
                  - 'null'
                  format: date
                preOrderEnabled:
                  type:
                  - boolean
                  - 'null'
          required:
          - id
          - type
      required:
      - data
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    Territory:
      type: object
      title: Territory
      properties:
        type:
          type: string
          enum:
          - territories
        id:
          type: string
        attributes:
          type: object
          properties:
            currency:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
