openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AgeRatingDeclarations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AgeRatingDeclarations
paths:
  /v1/ageRatingDeclarations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - AgeRatingDeclarations
      operationId: ageRatingDeclarations_updateInstance
      requestBody:
        description: AgeRatingDeclaration representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgeRatingDeclarationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AgeRatingDeclaration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeRatingDeclarationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Age Rating Declarations
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    AgeRatingDeclarationResponse:
      type: object
      title: AgeRatingDeclarationResponse
      properties:
        data:
          $ref: '#/components/schemas/AgeRatingDeclaration'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AgeRatingDeclaration:
      type: object
      title: AgeRatingDeclaration
      properties:
        type:
          type: string
          enum:
          - ageRatingDeclarations
        id:
          type: string
        attributes:
          type: object
          properties:
            advertising:
              type: boolean
            alcoholTobaccoOrDrugUseOrReferences:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            contests:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            gambling:
              type: boolean
            gamblingSimulated:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            gunsOrOtherWeapons:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            healthOrWellnessTopics:
              type: boolean
            kidsAgeBand:
              $ref: '#/components/schemas/KidsAgeBand'
            lootBox:
              type: boolean
            medicalOrTreatmentInformation:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            messagingAndChat:
              type: boolean
            parentalControls:
              type: boolean
            profanityOrCrudeHumor:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            ageAssurance:
              type: boolean
            sexualContentGraphicAndNudity:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            sexualContentOrNudity:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            horrorOrFearThemes:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            matureOrSuggestiveThemes:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            unrestrictedWebAccess:
              type: boolean
            userGeneratedContent:
              type: boolean
            violenceCartoonOrFantasy:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            violenceRealisticProlongedGraphicOrSadistic:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            violenceRealistic:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            ageRatingOverride:
              type: string
              deprecated: true
              enum:
              - NONE
              - NINE_PLUS
              - THIRTEEN_PLUS
              - SIXTEEN_PLUS
              - SEVENTEEN_PLUS
              - UNRATED
            ageRatingOverrideV2:
              type: string
              enum:
              - NONE
              - NINE_PLUS
              - THIRTEEN_PLUS
              - SIXTEEN_PLUS
              - EIGHTEEN_PLUS
              - UNRATED
            koreaAgeRatingOverride:
              type: string
              enum:
              - NONE
              - FIFTEEN_PLUS
              - NINETEEN_PLUS
            developerAgeRatingInfoUrl:
              type: string
              format: uri
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    KidsAgeBand:
      type: string
      enum:
      - FIVE_AND_UNDER
      - SIX_TO_EIGHT
      - NINE_TO_ELEVEN
    AgeRatingDeclarationUpdateRequest:
      type: object
      title: AgeRatingDeclarationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - ageRatingDeclarations
            id:
              type: string
            attributes:
              type: object
              properties:
                advertising:
                  type: boolean
                  nullable: true
                alcoholTobaccoOrDrugUseOrReferences:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                contests:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                gambling:
                  type: boolean
                  nullable: true
                gamblingSimulated:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                gunsOrOtherWeapons:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                healthOrWellnessTopics:
                  type: boolean
                  nullable: true
                kidsAgeBand:
                  nullable: true
                  $ref: '#/components/schemas/KidsAgeBand'
                lootBox:
                  type: boolean
                  nullable: true
                medicalOrTreatmentInformation:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                messagingAndChat:
                  type: boolean
                  nullable: true
                parentalControls:
                  type: boolean
                  nullable: true
                profanityOrCrudeHumor:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                ageAssurance:
                  type: boolean
                  nullable: true
                sexualContentGraphicAndNudity:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                sexualContentOrNudity:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                horrorOrFearThemes:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                matureOrSuggestiveThemes:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                unrestrictedWebAccess:
                  type: boolean
                  nullable: true
                userGeneratedContent:
                  type: boolean
                  nullable: true
                violenceCartoonOrFantasy:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                violenceRealisticProlongedGraphicOrSadistic:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                violenceRealistic:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                ageRatingOverride:
                  type: string
                  deprecated: true
                  nullable: true
                  enum:
                  - NONE
                  - NINE_PLUS
                  - THIRTEEN_PLUS
                  - SIXTEEN_PLUS
                  - SEVENTEEN_PLUS
                  - UNRATED
                ageRatingOverrideV2:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - NINE_PLUS
                  - THIRTEEN_PLUS
                  - SIXTEEN_PLUS
                  - EIGHTEEN_PLUS
                  - UNRATED
                koreaAgeRatingOverride:
                  type: string
                  nullable: true
                  enum:
                  - NONE
                  - FIFTEEN_PLUS
                  - NINETEEN_PLUS
                developerAgeRatingInfoUrl:
                  type: string
                  format: uri
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
