openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterActivityVersions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterActivityVersions
paths:
  /v1/gameCenterActivityVersions:
    post:
      tags:
      - GameCenterActivityVersions
      operationId: gameCenterActivityVersions_createInstance
      requestBody:
        description: GameCenterActivityVersion representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityVersionCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterActivityVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityVersionResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Activity Versions
  /v1/gameCenterActivityVersions/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterActivityVersions
      operationId: gameCenterActivityVersions_getInstance
      parameters:
      - name: fields[gameCenterActivityVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - fallbackUrl
            - activity
            - localizations
            - defaultImage
            - releases
        style: form
        explode: false
        required: false
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterActivityLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - description
            - version
            - image
        style: form
        explode: false
        required: false
      - name: fields[gameCenterActivityImages]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
        style: form
        explode: false
        required: false
      - name: fields[gameCenterActivityVersionReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityVersionReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - version
        style: form
        explode: false
        required: false
        deprecated: true
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - activity
            - localizations
            - defaultImage
            - releases
        style: form
        explode: false
        required: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterActivityVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityVersionResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Activity Versions
    patch:
      tags:
      - GameCenterActivityVersions
      operationId: gameCenterActivityVersions_updateInstance
      requestBody:
        description: GameCenterActivityVersion representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterActivityVersionUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterActivityVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityVersionResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Activity Versions
  /v1/gameCenterActivityVersions/{id}/relationships/defaultImage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterActivityVersions
      operationId: gameCenterActivityVersions_defaultImage_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityVersionDefaultImageLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Activity Versions / Default Image
  /v1/gameCenterActivityVersions/{id}/defaultImage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterActivityVersions
      operationId: gameCenterActivityVersions_defaultImage_getToOneRelated
      parameters:
      - name: fields[gameCenterActivityImages]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterActivityImage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityImageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Activity Versions / Default Image
  /v1/gameCenterActivityVersions/{id}/relationships/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterActivityVersions
      operationId: gameCenterActivityVersions_localizations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityVersionLocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Activity Versions / Localizations
  /v1/gameCenterActivityVersions/{id}/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterActivityVersions
      operationId: gameCenterActivityVersions_localizations_getToManyRelated
      parameters:
      - name: fields[gameCenterActivityLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - description
            - version
            - image
        style: form
        explode: false
      - name: fields[gameCenterActivityVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - fallbackUrl
            - activity
            - localizations
            - defaultImage
            - releases
        style: form
        explode: false
      - name: fields[gameCenterActivityImages]
        in: query
        description: the fields to include for returned resources of type gameCenterActivityImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - image
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterActivityLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterActivityLocalizationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Activity Versions / Localizations
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterActivityVersionDefaultImageLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterActivityImages
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterVersionState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_REJECTED
      - REJECTED
      - ACCEPTED
      - PENDING_RELEASE
      - LIVE
      - REPLACED_WITH_NEW_VERSION
    GameCenterActivityVersionLocalizationsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterActivityLocalizations
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    GameCenterActivityLocalizationsResponse:
      type: object
      title: GameCenterActivityLocalizationsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterActivityLocalization'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterActivityImage'
            - $ref: '#/components/schemas/GameCenterActivityVersion'
            discriminator:
              propertyName: type
              mapping:
                gameCenterActivityImages: '#/components/schemas/GameCenterActivityImage'
                gameCenterActivityVersions: '#/components/schemas/GameCenterActivityVersion'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterActivityImage:
      type: object
      title: GameCenterActivityImage
      properties:
        type:
          type: string
          enum:
          - gameCenterActivityImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    GameCenterActivityVersionUpdateRequest:
      type: object
      title: GameCenterActivityVersionUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterActivityVersions
            id:
              type: string
            attributes:
              type: object
              properties:
                fallbackUrl:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterActivityVersionCreateRequest:
      type: object
      title: GameCenterActivityVersionCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterActivityVersions
            attributes:
              type: object
              properties:
                fallbackUrl:
                  type: string
                  nullable: true
            relationships:
              type: object
              properties:
                activity:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterActivities
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - activity
          required:
          - relationships
          - type
      required:
      - data
    GameCenterActivityVersionResponse:
      type: object
      title: GameCenterActivityVersionResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterActivityVersion'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterActivity'
            - $ref: '#/components/schemas/GameCenterActivityImage'
            - $ref: '#/components/schemas/GameCenterActivityLocalization'
            - $ref: '#/components/schemas/GameCenterActivityVersionRelease'
            discriminator:
              propertyName: type
              mapping:
                gameCenterActivityImages: '#/components/schemas/GameCenterActivityImage'
                gameCenterActivityLocalizations: '#/components/schemas/GameCenterActivityLocalization'
                gameCenterActivities: '#/components/schemas/GameCenterActivity'
                gameCenterActivityVersionReleases: '#/components/schemas/GameCenterActivityVersionRelease'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    GameCenterActivity:
      type: object
      title: GameCenterActivity
      properties:
        type:
          type: string
          enum:
          - gameCenterActivities
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            playStyle:
              type: string
              enum:
              - ASYNCHRONOUS
              - SYNCHRONOUS
            minimumPlayersCount:
              type: integer
            maximumPlayersCount:
              type: integer
            supportsPartyCode:
              type: boolean
            archived:
              type: boolean
            properties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            achievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            achievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            leaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterActivityVersion:
      type: object
      title: GameCenterActivityVersion
      properties:
        type:
          type: string
          enum:
          - gameCenterActivityVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: integer
            state:
              $ref: '#/components/schemas/GameCenterVersionState'
            fallbackUrl:
              type: string
        relationships:
          type: object
          properties:
            activity:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            defaultImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivityImages
                    id:
                      type: string
                  required:
                  - id
                  - type
            releases:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersionReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    StringToStringMap:
      type: object
      additionalProperties:
        type: string
    GameCenterActivityImageResponse:
      type: object
      title: GameCenterActivityImageResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterActivityImage'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    GameCenterActivityVersionRelease:
      type: object
      title: GameCenterActivityVersionRelease
      properties:
        type:
          type: string
          enum:
          - gameCenterActivityVersionReleases
        id:
          type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivityVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    GameCenterActivityLocalization:
      type: object
      title: GameCenterActivityLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterActivityLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            description:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivityVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivityImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
