openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BetaRecruitmentCriterionOptions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BetaRecruitmentCriterionOptions
paths:
  /v1/betaRecruitmentCriterionOptions:
    get:
      tags:
      - BetaRecruitmentCriterionOptions
      operationId: betaRecruitmentCriterionOptions_getCollection
      parameters:
      - name: fields[betaRecruitmentCriterionOptions]
        in: query
        description: the fields to include for returned resources of type betaRecruitmentCriterionOptions
        schema:
          type: array
          items:
            type: string
            enum:
            - deviceFamilyOsVersions
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BetaRecruitmentCriterionOptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaRecruitmentCriterionOptionsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Beta Recruitment Criterion Options
components:
  schemas:
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    BetaRecruitmentCriterionOption:
      type: object
      title: BetaRecruitmentCriterionOption
      properties:
        type:
          type: string
          enum:
          - betaRecruitmentCriterionOptions
        id:
          type: string
        attributes:
          type: object
          properties:
            deviceFamilyOsVersions:
              type: array
              items:
                type: object
                properties:
                  deviceFamily:
                    $ref: '#/components/schemas/DeviceFamily'
                  osVersions:
                    type: array
                    items:
                      type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BetaRecruitmentCriterionOptionsResponse:
      type: object
      title: BetaRecruitmentCriterionOptionsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BetaRecruitmentCriterionOption'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    DeviceFamily:
      type: string
      enum:
      - IPHONE
      - IPAD
      - APPLE_TV
      - APPLE_WATCH
      - MAC
      - VISION
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
