openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations CiProducts API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: CiProducts
paths:
  /v1/ciProducts:
    get:
      tags:
      - CiProducts
      operationId: ciProducts_getCollection
      parameters:
      - name: filter[productType]
        in: query
        description: filter by attribute 'productType'
        schema:
          type: array
          items:
            type: string
            enum:
            - APP
            - FRAMEWORK
        style: form
        explode: false
        required: false
      - name: filter[app]
        in: query
        description: filter by id(s) of related 'app'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[bundleIds]
        in: query
        description: the fields to include for returned resources of type bundleIds
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - identifier
            - seedId
            - profiles
            - bundleIdCapabilities
            - app
        style: form
        explode: false
        required: false
      - name: fields[scmRepositories]
        in: query
        description: the fields to include for returned resources of type scmRepositories
        schema:
          type: array
          items:
            type: string
            enum:
            - lastAccessedDate
            - httpCloneUrl
            - sshCloneUrl
            - ownerName
            - repositoryName
            - scmProvider
            - defaultBranch
            - gitReferences
            - pullRequests
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - app
            - bundleId
            - primaryRepositories
        style: form
        explode: false
        required: false
      - name: limit[primaryRepositories]
        in: query
        description: maximum number of related primaryRepositories returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CiProducts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiProductsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Ci Products
  /v1/ciProducts/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_getInstance
      parameters:
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[bundleIds]
        in: query
        description: the fields to include for returned resources of type bundleIds
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - identifier
            - seedId
            - profiles
            - bundleIdCapabilities
            - app
        style: form
        explode: false
        required: false
      - name: fields[scmRepositories]
        in: query
        description: the fields to include for returned resources of type scmRepositories
        schema:
          type: array
          items:
            type: string
            enum:
            - lastAccessedDate
            - httpCloneUrl
            - sshCloneUrl
            - ownerName
            - repositoryName
            - scmProvider
            - defaultBranch
            - gitReferences
            - pullRequests
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - app
            - bundleId
            - primaryRepositories
        style: form
        explode: false
        required: false
      - name: limit[primaryRepositories]
        in: query
        description: maximum number of related primaryRepositories returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single CiProduct
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiProductResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ci Products
    delete:
      tags:
      - CiProducts
      operationId: ciProducts_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Ci Products
  /v1/ciProducts/{id}/relationships/additionalRepositories:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_additionalRepositories_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiProductAdditionalRepositoriesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Products / Additional Repositories
  /v1/ciProducts/{id}/additionalRepositories:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_additionalRepositories_getToManyRelated
      parameters:
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[scmRepositories]
        in: query
        description: the fields to include for returned resources of type scmRepositories
        schema:
          type: array
          items:
            type: string
            enum:
            - lastAccessedDate
            - httpCloneUrl
            - sshCloneUrl
            - ownerName
            - repositoryName
            - scmProvider
            - defaultBranch
            - gitReferences
            - pullRequests
        style: form
        explode: false
      - name: fields[scmProviders]
        in: query
        description: the fields to include for returned resources of type scmProviders
        schema:
          type: array
          items:
            type: string
            enum:
            - scmProviderType
            - url
            - repositories
        style: form
        explode: false
      - name: fields[scmGitReferences]
        in: query
        description: the fields to include for returned resources of type scmGitReferences
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - canonicalName
            - isDeleted
            - kind
            - repository
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - scmProvider
            - defaultBranch
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of ScmRepositories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScmRepositoriesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Products / Additional Repositories
  /v1/ciProducts/{id}/relationships/app:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_app_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiProductAppLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Ci Products / App
  /v1/ciProducts/{id}/app:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_app_getToOneRelated
      parameters:
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
      - name: fields[appEncryptionDeclarations]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - appDescription
            - createdDate
            - usesEncryption
            - exempt
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - availableOnFrenchStore
            - platform
            - uploadedDate
            - documentUrl
            - documentName
            - documentType
            - appEncryptionDeclarationState
            - codeValue
            - app
            - builds
            - appEncryptionDeclarationDocument
        style: form
        explode: false
      - name: fields[buildIcons]
        in: query
        description: the fields to include for returned resources of type buildIcons
        schema:
          type: array
          items:
            type: string
            enum:
            - iconAsset
            - iconType
            - masked
            - name
        style: form
        explode: false
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
      - name: fields[betaGroups]
        in: query
        description: the fields to include for returned resources of type betaGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - isInternalGroup
            - hasAccessToAllBuilds
            - publicLinkEnabled
            - publicLinkId
            - publicLinkLimitEnabled
            - publicLinkLimit
            - publicLink
            - feedbackEnabled
            - iosBuildsAvailableForAppleSiliconMac
            - iosBuildsAvailableForAppleVision
            - app
            - builds
            - betaTesters
            - betaRecruitmentCriteria
            - betaRecruitmentCriterionCompatibleBuildCheck
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: fields[preReleaseVersions]
        in: query
        description: the fields to include for returned resources of type preReleaseVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - platform
            - builds
            - app
        style: form
        explode: false
      - name: fields[betaAppLocalizations]
        in: query
        description: the fields to include for returned resources of type betaAppLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - feedbackEmail
            - marketingUrl
            - privacyPolicyUrl
            - tvOsPrivacyPolicy
            - description
            - locale
            - app
        style: form
        explode: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      - name: fields[betaLicenseAgreements]
        in: query
        description: the fields to include for returned resources of type betaLicenseAgreements
        schema:
          type: array
          items:
            type: string
            enum:
            - agreementText
            - app
        style: form
        explode: false
      - name: fields[betaAppReviewDetails]
        in: query
        description: the fields to include for returned resources of type betaAppReviewDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - contactFirstName
            - contactLastName
            - contactPhone
            - contactEmail
            - demoAccountName
            - demoAccountPassword
            - demoAccountRequired
            - notes
            - app
        style: form
        explode: false
      - name: fields[appInfos]
        in: query
        description: the fields to include for returned resources of type appInfos
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreState
            - state
            - appStoreAgeRating
            - australiaAgeRating
            - brazilAgeRating
            - brazilAgeRatingV2
            - franceAgeRating
            - koreaAgeRating
            - kidsAgeBand
            - app
            - ageRatingDeclaration
            - appInfoLocalizations
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            - territoryAgeRatings
        style: form
        explode: false
      - name: fields[appClips]
        in: query
        description: the fields to include for returned resources of type appClips
        schema:
          type: array
          items:
            type: string
            enum:
            - bundleId
            - app
            - appClipDefaultExperiences
            - appClipAdvancedExperiences
        style: form
        explode: false
      - name: fields[endUserLicenseAgreements]
        in: query
        description: the fields to include for returned resources of type endUserLicenseAgreements
        schema:
          type: array
          items:
            type: string
            enum:
            - agreementText
            - app
            - territories
        style: form
        explode: false
      - name: fields[inAppPurchases]
        in: query
        description: the fields to include for returned resources of type inAppPurchases
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - productId
            - inAppPurchaseType
            - state
            - apps
            - name
            - reviewNote
            - familySharable
            - contentHosting
            - inAppPurchaseLocalizations
            - pricePoints
            - content
            - appStoreReviewScreenshot
            - promotedPurchase
            - iapPriceSchedule
            - inAppPurchaseAvailability
            - images
            - offerCodes
        style: form
        explode: false
      - name: fields[subscriptionGroups]
        in: query
        description: the fields to include for returned resources of type subscriptionGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - subscriptions
            - subscriptionGroupLocalizations
        style: form
        explode: false
      - name: fields[gameCenterEnabledVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterEnabledVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - iconAsset
            - compatibleVersions
            - app
        style: form
        explode: false
      - name: fields[appCustomProductPages]
        in: query
        description: the fields to include for returned resources of type appCustomProductPages
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - url
            - visible
            - app
            - appCustomProductPageVersions
        style: form
        explode: false
      - name: fields[promotedPurchases]
        in: query
        description: the fields to include for returned resources of type promotedPurchases
        schema:
          type: array
          items:
            type: string
            enum:
            - visibleForAllUsers
            - enabled
            - state
            - inAppPurchaseV2
            - subscription
        style: form
        explode: false
      - name: fields[appEvents]
        in: query
        description: the fields to include for returned resources of type appEvents
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - badge
            - eventState
            - deepLink
            - purchaseRequirement
            - primaryLocale
            - priority
            - purpose
            - territorySchedules
            - archivedTerritorySchedules
            - localizations
        style: form
        explode: false
      - name: fields[reviewSubmissions]
        in: query
        description: the fields to include for returned resources of type reviewSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - submittedDate
            - state
            - app
            - items
            - appStoreVersionForReview
            - submittedByActor
            - lastUpdatedByActor
        style: form
        explode: false
      - name: fields[subscriptionGracePeriods]
        in: query
        description: the fields to include for returned resources of type subscriptionGracePeriods
        schema:
          type: array
          items:
            type: string
            enum:
            - optIn
            - sandboxOptIn
            - duration
            - renewalType
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[appStoreVersionExperiments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperiments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - trafficProportion
            - state
            - reviewRequired
            - startDate
            - endDate
            - app
            - latestControlVersion
            - controlVersions
            - appStoreVersionExperimentTreatments
        style: form
        explode: false
      - name: fields[androidToIosAppMappingDetails]
        in: query
        description: the fields to include for returned resources of type androidToIosAppMappingDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - packageName
            - appSigningKeyPublicCertificateSha256Fingerprints
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaGroups
            - appStoreVersions
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - endUserLicenseAgreement
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - androidToIosAppMappingDetails
        style: form
        explode: false
      - name: limit[appEncryptionDeclarations]
        in: query
        description: maximum number of related appEncryptionDeclarations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[betaGroups]
        in: query
        description: maximum number of related betaGroups returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[appStoreVersions]
        in: query
        description: maximum number of related appStoreVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[preReleaseVersions]
        in: query
        description: maximum number of related preReleaseVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[betaAppLocalizations]
        in: query
        description: maximum number of related betaAppLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[builds]
        in: query
        description: maximum number of related builds returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[appInfos]
        in: query
        description: maximum number of related appInfos returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[appClips]
        in: query
        description: maximum number of related appClips returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[inAppPurchases]
        in: query
        description: maximum number of related inAppPurchases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[subscriptionGroups]
        in: query
        description: maximum number of related subscriptionGroups returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[gameCenterEnabledVersions]
        in: query
        description: maximum number of related gameCenterEnabledVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[appCustomProductPages]
        in: query
        description: maximum number of related appCustomProductPages returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[inAppPurchasesV2]
        in: query
        description: maximum number of related inAppPurchasesV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[promotedPurchases]
        in: query
        description: maximum number of related promotedPurchases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[appEvents]
        in: query
        description: maximum number of related appEvents returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[reviewSubmissions]
        in: query
        description: maximum number of related reviewSubmissions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[appStoreVersionExperimentsV2]
        in: query
        description: maximum number of related appStoreVersionExperimentsV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[androidToIosAppMappingDetails]
        in: query
        description: maximum number of related androidToIosAppMappingDetails returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Ci Products / App
  /v1/ciProducts/{id}/relationships/buildRuns:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_buildRuns_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiProductBuildRunsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Products / Build Runs
  /v1/ciProducts/{id}/buildRuns:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_buildRuns_getToManyRelated
      parameters:
      - name: filter[builds]
        in: query
        description: filter by id(s) of related 'builds'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; resources will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - number
            - -number
        style: form
        explode: false
      - name: fields[ciBuildRuns]
        in: query
        description: the fields to include for returned resources of type ciBuildRuns
        schema:
          type: array
          items:
            type: string
            enum:
            - number
            - createdDate
            - startedDate
            - finishedDate
            - sourceCommit
            - destinationCommit
            - isPullRequestBuild
            - issueCounts
            - executionProgress
            - completionStatus
            - startReason
            - cancelReason
            - builds
            - workflow
            - product
            - sourceBranchOrTag
            - destinationBranch
            - actions
            - pullRequest
        style: form
        explode: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      - name: fields[ciWorkflows]
        in: query
        description: the fields to include for returned resources of type ciWorkflows
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - description
            - branchStartCondition
            - tagStartCondition
            - pullRequestStartCondition
            - scheduledStartCondition
            - manualBranchStartCondition
            - manualTagStartCondition
            - manualPullRequestStartCondition
            - actions
            - isEnabled
            - isLockedForEditing
            - clean
            - containerFilePath
            - lastModifiedDate
            - product
            - repository
            - xcodeVersion
            - macOsVersion
            - buildRuns
        style: form
        explode: false
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
      - name: fields[scmGitReferences]
        in: query
        description: the fields to include for returned resources of type scmGitReferences
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - canonicalName
            - isDeleted
            - kind
            - repository
        style: form
        explode: false
      - name: fields[scmPullRequests]
        in: query
        description: the fields to include for returned resources of type scmPullRequests
        schema:
          type: array
          items:
            type: string
            enum:
            - title
            - number
            - webUrl
            - sourceRepositoryOwner
            - sourceRepositoryName
            - sourceBranchName
            - destinationRepositoryOwner
            - destinationRepositoryName
            - destinationBranchName
            - isClosed
            - isCrossRepository
            - repository
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - builds
            - workflow
            - product
            - sourceBranchOrTag
            - destinationBranch
            - pullRequest
        style: form
        explode: false
      - name: limit[builds]
        in: query
        description: maximum number of related builds returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CiBuildRuns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiBuildRunsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Products / Build Runs
  /v1/ciProducts/{id}/relationships/primaryRepositories:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_primaryRepositories_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiProductPrimaryRepositoriesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Products / Primary Repositories
  /v1/ciProducts/{id}/primaryRepositories:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_primaryRepositories_getToManyRelated
      parameters:
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[scmRepositories]
        in: query
        description: the fields to include for returned resources of type scmRepositories
        schema:
          type: array
          items:
            type: string
            enum:
            - lastAccessedDate
            - httpCloneUrl
            - sshCloneUrl
            - ownerName
            - repositoryName
            - scmProvider
            - defaultBranch
            - gitReferences
            - pullRequests
        style: form
        explode: false
      - name: fields[scmProviders]
        in: query
        description: the fields to include for returned resources of type scmProviders
        schema:
          type: array
          items:
            type: string
            enum:
            - scmProviderType
            - url
            - repositories
        style: form
        explode: false
      - name: fields[scmGitReferences]
        in: query
        description: the fields to include for returned resources of type scmGitReferences
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - canonicalName
            - isDeleted
            - kind
            - repository
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - scmProvider
            - defaultBranch
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of ScmRepositories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScmRepositoriesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Products / Primary Repositories
  /v1/ciProducts/{id}/relationships/workflows:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_workflows_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiProductWorkflowsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Products / Workflows
  /v1/ciProducts/{id}/workflows:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiProducts
      operationId: ciProducts_workflows_getToManyRelated
      parameters:
      - name: fields[ciWorkflows]
        in: query
        description: the fields to include for returned resources of type ciWorkflows
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - description
            - branchStartCondition
            - tagStartCondition
            - pullRequestStartCondition
            - scheduledStartCondition
            - manualBranchStartCondition
            - manualTagStartCondition
            - manualPullRequestStartCondition
            - actions
            - isEnabled
            - isLockedForEditing
            - clean
            - containerFilePath
            - lastModifiedDate
            - product
            - repository
            - xcodeVersion
            - macOsVersion
            - buildRuns
        style: form
        explode: false
      - name: fields[ciProducts]
        in: query
        description: the fields to include for returned resources of type ciProducts
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - productType
            - app
            - bundleId
            - workflows
            - primaryRepositories
            - additionalRepositories
            - buildRuns
        style: form
        explode: false
      - name: fields[scmRepositories]
        in: query
        description: the fields to include for returned resources of type scmRepositories
        schema:
          type: array
          items:
            type: string
            enum:
            - lastAccessedDate
            - httpCloneUrl
            - sshCloneUrl
            - ownerName
            - repositoryName
            - scmProvider
            - defaultBranch
            - gitReferences
            - pullRequests
        style: form
        explode: false
      - name: fields[ciXcodeVersions]
        in: query
        description: the fields to include for returned resources of type ciXcodeVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - testDestinations
            - macOsVersions
        style: form
        explode: false
      - name: fields[ciMacOsVersions]
        in: query
        description: the fields to include for returned resources of type ciMacOsVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - xcodeVersions
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - product
            - repository
            - xcodeVersion
            - macOsVersion
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CiWorkflows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiWorkflowsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Products / Workflows
components:
  schemas:
    BrazilAgeRating:
      type: string
      enum:
      - L
      - TEN
      - TWELVE
      - FOURTEEN
      - SIXTEEN
      - EIGHTEEN
    AppClip:
      type: object
      title: AppClip
      properties:
        type:
          type: string
          enum:
          - appClips
        id:
          type: string
        attributes:
          type: object
          properties:
            bundleId:
              type: string
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            appClipDefaultExperiences:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClipDefaultExperiences
                      id:
                        type: string
                    required:
                    - id
                    - type
            appClipAdvancedExperiences:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    CiProductsResponse:
      type: object
      title: CiProductsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CiProduct'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/App'
            - $ref: '#/components/schemas/BundleId'
            - $ref: '#/components/schemas/ScmRepository'
            discriminator:
              propertyName: type
              mapping:
                scmRepositories: '#/components/schemas/ScmRepository'
                bundleIds: '#/components/schemas/BundleId'
                apps: '#/components/schemas/App'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiXcodeVersion:
      type: object
      title: CiXcodeVersion
      properties:
        type:
          type: string
          enum:
          - ciXcodeVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            name:
              type: string
            testDestinations:
              type: array
              items:
                type: object
                properties:
                  deviceTypeName:
                    type: string
                  deviceTypeIdentifier:
                    type: string
                  availableRuntimes:
                    type: array
                    items:
                      type: object
                      properties:
                        runtimeName:
                          type: string
                        runtimeIdentifier:
                          type: string
                  kind:
                    $ref: '#/components/schemas/CiTestDestinationKind'
        relationships:
          type: object
          properties:
            macOsVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - ciMacOsVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppVersionState:
      type: string
      enum:
      - ACCEPTED
      - DEVELOPER_REJECTED
      - IN_REVIEW
      - INVALID_BINARY
      - METADATA_REJECTED
      - PENDING_APPLE_RELEASE
      - PENDING_DEVELOPER_RELEASE
      - PREPARE_FOR_SUBMISSION
      - PROCESSING_FOR_DISTRIBUTION
      - READY_FOR_DISTRIBUTION
      - READY_FOR_REVIEW
      - REJECTED
      - REPLACED_WITH_NEW_VERSION
      - WAITING_FOR_EXPORT_COMPLIANCE
      - WAITING_FOR_REVIEW
    CiWorkflowsResponse:
      type: object
      title: CiWorkflowsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CiWorkflow'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CiMacOsVersion'
            - $ref: '#/components/schemas/CiProduct'
            - $ref: '#/components/schemas/CiXcodeVersion'
            - $ref: '#/components/schemas/ScmRepository'
            discriminator:
              propertyName: type
              mapping:
                scmRepositories: '#/components/schemas/ScmRepository'
                ciMacOsVersions: '#/components/schemas/CiMacOsVersion'
                ciProducts: '#/components/schemas/CiProduct'
                ciXcodeVersions: '#/components/schemas/CiXcodeVersion'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    BuildIcon:
      type: object
      title: BuildIcon
      properties:
        type:
          type: string
          enum:
          - buildIcons
        id:
          type: string
        attributes:
          type: object
          properties:
            iconAsset:
              $ref: '#/components/schemas/ImageAsset'
            iconType:
              $ref: '#/components/schemas/IconAssetType'
            masked:
              type: boolean
            name:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiManualPullRequestStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        destination:
          $ref: '#/components/schemas/CiBranchPatterns'
    PromotedPurchase:
      type: object
      title: PromotedPurchase
      properties:
        type:
          type: string
          enum:
          - promotedPurchases
        id:
          type: string
        attributes:
          type: object
          properties:
            visibleForAllUsers:
              type: boolean
            enabled:
              type: boolean
            state:
              type: string
              enum:
              - APPROVED
              - IN_REVIEW
              - PREPARE_FOR_SUBMISSION
              - REJECTED
        relationships:
          type: object
          properties:
            inAppPurchaseV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - inAppPurchases
                    id:
                      type: string
                  required:
                  - id
                  - type
            subscription:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptions
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BundleId:
      type: object
      title: BundleId
      properties:
        type:
          type: string
          enum:
          - bundleIds
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            platform:
              $ref: '#/components/schemas/BundleIdPlatform'
            identifier:
              type: string
            seedId:
              type: string
        relationships:
          type: object
          properties:
            profiles:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - profiles
                      id:
                        type: string
                    required:
                    - id
                    - type
            bundleIdCapabilities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - bundleIdCapabilities
                      id:
                        type: string
                    required:
                    - id
                    - type
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppCustomProductPage:
      type: object
      title: AppCustomProductPage
      properties:
        type:
          type: string
          enum:
          - appCustomProductPages
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            url:
              type: string
              format: uri
            visible:
              type: boolean
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            appCustomProductPageVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appCustomProductPageVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BundleIdPlatform:
      type: string
      enum:
      - IOS
      - MAC_OS
      - UNIVERSAL
    CiPullRequestStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        destination:
          $ref: '#/components/schemas/CiBranchPatterns'
        filesAndFoldersRule:
          $ref: '#/components/schemas/CiFilesAndFoldersRule'
        autoCancel:
          type: boolean
    CiTagPatterns:
      type: object
      properties:
        isAllMatch:
          type: boolean
        patterns:
          type: array
          items:
            type: object
            properties:
              pattern:
                type: string
              isPrefix:
                type: boolean
    ScmRepositoriesResponse:
      type: object
      title: ScmRepositoriesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ScmRepository'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/ScmGitReference'
            - $ref: '#/components/schemas/ScmProvider'
            discriminator:
              propertyName: type
              mapping:
                scmProviders: '#/components/schemas/ScmProvider'
                scmGitReferences: '#/components/schemas/ScmGitReference'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppStoreAgeRating:
      type: string
      enum:
      - L
      - ALL
      - ONE_PLUS
      - TWO_PLUS
      - THREE_PLUS
      - FOUR_PLUS
      - FIVE_PLUS
      - SIX_PLUS
      - SEVEN_PLUS
      - EIGHT_PLUS
      - NINE_PLUS
      - TEN_PLUS
      - ELEVEN_PLUS
      - TWELVE_PLUS
      - THIRTEEN_PLUS
      - FOURTEEN_PLUS
      - FIFTEEN_PLUS
      - SIXTEEN_PLUS
      - SEVENTEEN_PLUS
      - EIGHTEEN_PLUS
      - NINETEEN_PLUS
      - TWENTY_PLUS
      - TWENTY_ONE_PLUS
      - UNRATED
    CiProductAdditionalRepositoriesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - scmRepositories
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiBranchStartCondition:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CiBranchPatterns'
        filesAndFoldersRule:
          $ref: '#/components/schemas/CiFilesAndFoldersRule'
        autoCancel:
          type: boolean
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    CiExecutionProgress:
      type: string
      enum:
      - PENDING
      - RUNNING
      - COMPLETE
    BetaLicenseAgreement:
      type: object
      title: BetaLicenseAgreement
      properties:
        type:
          type: string
          enum:
          - betaLicenseAgreements
        id:
          type: string
        attributes:
          type: object
          properties:
            agreementText:
              type: string
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    SubscriptionGroup:
      type: object
      title: SubscriptionGroup
      properties:
        type:
          type: string
          enum:
          - subscriptionGroups
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
        relationships:
          type: object
          properties:
            subscriptions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptions
                      id:
                        type: string
                    required:
                    - id
                    - type
            subscriptionGroupLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionGroupLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiTestDestinationKind:
      type: string
      enum:
      - SIMULATOR
      - MAC
    AppEncryptionDeclarationState:
      type: string
      enum:
      - CREATED
      - IN_REVIEW
      - APPROVED
      - REJECTED
      - INVALID
      - EXPIRED
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AndroidToIosAppMappingDetail:
      type: object
      title: AndroidToIosAppMappingDetail
      properties:
        type:
          type: string
          enum:
          - androidToIosAppMappingDetails
        id:
          type: string
        attributes:
          type: object
          properties:
            packageName:
              type: string
            appSigningKeyPublicCertificateSha256Fingerprints:
              type: array
              items:
                type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiBuildRunsResponse:
      type: object
      title: CiBuildRunsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CiBuildRun'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Build'
            - $ref: '#/components/schemas/CiProduct'
            - $ref: '#/components/schemas/CiWorkflow'
            - $ref: '#/components/schemas/ScmGitReference'
            - $ref: '#/components/schemas/ScmPullRequest'
            discriminator:
              propertyName: type
              mapping:
                ciProducts: '#/components/schemas/CiProduct'
                builds: '#/components/schemas/Build'
                scmPullRequests: '#/components/schemas/ScmPullRequest'
                ciWorkflows: '#/components/schemas/CiWorkflow'
                scmGitReferences: '#/components/schemas/ScmGitReference'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiProductBuildRunsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - ciBuildRuns
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    CiStartConditionFileMatcher:
      type: object
      properties:
        directory:
          type: string
        fileExtension:
          type: string
        fileName:
          type: string
    CiCompletionStatus:
      type: string
      enum:
      - SUCCEEDED
      - FAILED
      - ERRORED
      - CANCELED
      - SKIPPED
    BetaAppLocalization:
      type: object
      title: BetaAppLocalization
      properties:
        type:
          type: string
          enum:
          - betaAppLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            feedbackEmail:
              type: string
            marketingUrl:
              type: string
            privacyPolicyUrl:
              type: string
            tvOsPrivacyPolicy:
              type: string
            description:
              type: string
            locale:
              type: string
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    CiProductPrimaryRepositoriesLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - scmRepositories
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterDetail:
      type: object
      title: GameCenterDetail
      properties:
        type:
          type: string
          enum:
          - gameCenterDetails
        id:
          type: string
        attributes:
          type: object
          properties:
            arcadeEnabled:
              type: boolean
            challengeEnabled:
              type: boolean
              deprecated: true
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterAppVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAppVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterGroup:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboardSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardSetsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterAchievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterAchievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterActivities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivities
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterChallenges:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallenges
                      id:
                        type: string
                    required:
                    - id
                    - type
            defaultLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            defaultLeaderboardV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            defaultGroupLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            defaultGroupLeaderboardV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            achievementReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
[...]
