openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppEventScreenshots API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppEventScreenshots
paths:
  /v1/appEventScreenshots:
    post:
      tags:
      - AppEventScreenshots
      operationId: appEventScreenshots_createInstance
      requestBody:
        description: AppEventScreenshot representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventScreenshotCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppEventScreenshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventScreenshotResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Event Screenshots
  /v1/appEventScreenshots/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppEventScreenshots
      operationId: appEventScreenshots_getInstance
      parameters:
      - name: fields[appEventScreenshots]
        in: query
        description: the fields to include for returned resources of type appEventScreenshots
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - assetToken
            - uploadOperations
            - assetDeliveryState
            - appEventAssetType
            - appEventLocalization
        style: form
        explode: false
        required: false
      - name: fields[appEventLocalizations]
        in: query
        description: the fields to include for returned resources of type appEventLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - shortDescription
            - longDescription
            - appEvent
            - appEventScreenshots
            - appEventVideoClips
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appEventLocalization
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppEventScreenshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventScreenshotResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Event Screenshots
    patch:
      tags:
      - AppEventScreenshots
      operationId: appEventScreenshots_updateInstance
      requestBody:
        description: AppEventScreenshot representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventScreenshotUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppEventScreenshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventScreenshotResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update App Event Screenshots
    delete:
      tags:
      - AppEventScreenshots
      operationId: appEventScreenshots_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete App Event Screenshots
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    AppEventScreenshotCreateRequest:
      type: object
      title: AppEventScreenshotCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appEventScreenshots
            attributes:
              type: object
              properties:
                fileSize:
                  type: integer
                fileName:
                  type: string
                appEventAssetType:
                  $ref: '#/components/schemas/AppEventAssetType'
              required:
              - fileName
              - appEventAssetType
              - fileSize
            relationships:
              type: object
              properties:
                appEventLocalization:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appEventLocalizations
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - appEventLocalization
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AppEventScreenshot:
      type: object
      title: AppEventScreenshot
      properties:
        type:
          type: string
          enum:
          - appEventScreenshots
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            assetToken:
              type: string
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
            appEventAssetType:
              $ref: '#/components/schemas/AppEventAssetType'
        relationships:
          type: object
          properties:
            appEventLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appEventLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppEventScreenshotUpdateRequest:
      type: object
      title: AppEventScreenshotUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appEventScreenshots
            id:
              type: string
            attributes:
              type: object
              properties:
                uploaded:
                  type: boolean
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    AppEventScreenshotResponse:
      type: object
      title: AppEventScreenshotResponse
      properties:
        data:
          $ref: '#/components/schemas/AppEventScreenshot'
        included:
          type: array
          items:
            $ref: '#/components/schemas/AppEventLocalization'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppEventLocalization:
      type: object
      title: AppEventLocalization
      properties:
        type:
          type: string
          enum:
          - appEventLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            shortDescription:
              type: string
            longDescription:
              type: string
        relationships:
          type: object
          properties:
            appEvent:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appEvents
                    id:
                      type: string
                  required:
                  - id
                  - type
            appEventScreenshots:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEventScreenshots
                      id:
                        type: string
                    required:
                    - id
                    - type
            appEventVideoClips:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEventVideoClips
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    AppEventAssetType:
      type: string
      enum:
      - EVENT_CARD
      - EVENT_DETAILS_PAGE
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
