openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterLeaderboardSetMemberLocalizations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterLeaderboardSetMemberLocalizations
paths:
  /v1/gameCenterLeaderboardSetMemberLocalizations:
    get:
      tags:
      - GameCenterLeaderboardSetMemberLocalizations
      operationId: gameCenterLeaderboardSetMemberLocalizations_getCollection
      parameters:
      - name: filter[gameCenterLeaderboardSet]
        in: query
        description: filter by id(s) of related 'gameCenterLeaderboardSet'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: true
        deprecated: true
      - name: filter[gameCenterLeaderboard]
        in: query
        description: filter by id(s) of related 'gameCenterLeaderboard'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: true
        deprecated: true
      - name: fields[gameCenterLeaderboardSetMemberLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetMemberLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - locale
            - gameCenterLeaderboardSet
            - gameCenterLeaderboard
        style: form
        explode: false
        required: false
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
        style: form
        explode: false
        required: false
        deprecated: true
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterLeaderboardSet
            - gameCenterLeaderboard
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterLeaderboardSetMemberLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetMemberLocalizationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Game Center Leaderboard Set Member Localizations
    post:
      tags:
      - GameCenterLeaderboardSetMemberLocalizations
      operationId: gameCenterLeaderboardSetMemberLocalizations_createInstance
      requestBody:
        description: GameCenterLeaderboardSetMemberLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetMemberLocalizationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterLeaderboardSetMemberLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetMemberLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Leaderboard Set Member Localizations
  /v1/gameCenterLeaderboardSetMemberLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - GameCenterLeaderboardSetMemberLocalizations
      operationId: gameCenterLeaderboardSetMemberLocalizations_updateInstance
      requestBody:
        description: GameCenterLeaderboardSetMemberLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterLeaderboardSetMemberLocalizationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSetMemberLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetMemberLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Leaderboard Set Member Localizations
    delete:
      tags:
      - GameCenterLeaderboardSetMemberLocalizations
      operationId: gameCenterLeaderboardSetMemberLocalizations_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Leaderboard Set Member Localizations
  /v1/gameCenterLeaderboardSetMemberLocalizations/{id}/relationships/gameCenterLeaderboard:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSetMemberLocalizations
      operationId: gameCenterLeaderboardSetMemberLocalizations_gameCenterLeaderboard_getToOneRelationship
      deprecated: true
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetMemberLocalizationGameCenterLeaderboardLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Set Member Localizations / Game Center Leaderboard
  /v1/gameCenterLeaderboardSetMemberLocalizations/{id}/gameCenterLeaderboard:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSetMemberLocalizations
      operationId: gameCenterLeaderboardSetMemberLocalizations_gameCenterLeaderboard_getToOneRelated
      deprecated: true
      parameters:
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - formatterOverride
            - formatterSuffix
            - formatterSuffixSingular
            - description
            - gameCenterLeaderboard
            - gameCenterLeaderboardImage
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterLeaderboard
        style: form
        explode: false
      - name: fields[gameCenterActivities]
        in: query
        description: the fields to include for returned resources of type gameCenterActivities
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - playStyle
            - minimumPlayersCount
            - maximumPlayersCount
            - supportsPartyCode
            - archived
            - properties
            - gameCenterDetail
            - gameCenterGroup
            - achievements
            - achievementsV2
            - leaderboards
            - leaderboardsV2
            - versions
        style: form
        explode: false
      - name: fields[gameCenterChallenges]
        in: query
        description: the fields to include for returned resources of type gameCenterChallenges
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - archived
            - challengeType
            - repeatable
            - gameCenterDetail
            - gameCenterGroup
            - versions
            - leaderboard
            - leaderboardV2
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
        style: form
        explode: false
      - name: limit[gameCenterLeaderboardSets]
        in: query
        description: maximum number of related gameCenterLeaderboardSets returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Set Member Localizations / Game Center Leaderboard
  /v1/gameCenterLeaderboardSetMemberLocalizations/{id}/relationships/gameCenterLeaderboardSet:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSetMemberLocalizations
      operationId: gameCenterLeaderboardSetMemberLocalizations_gameCenterLeaderboardSet_getToOneRelationship
      deprecated: true
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetMemberLocalizationGameCenterLeaderboardSetLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Set Member Localizations / Game Center Leaderboard Set
  /v1/gameCenterLeaderboardSetMemberLocalizations/{id}/gameCenterLeaderboardSet:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterLeaderboardSetMemberLocalizations
      operationId: gameCenterLeaderboardSetMemberLocalizations_gameCenterLeaderboardSet_getToOneRelated
      deprecated: true
      parameters:
      - name: fields[gameCenterLeaderboardSets]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
      - name: fields[gameCenterDetails]
        in: query
        description: the fields to include for returned resources of type gameCenterDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - arcadeEnabled
            - challengeEnabled
            - app
            - gameCenterAppVersions
            - gameCenterGroup
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
            - defaultLeaderboard
            - defaultLeaderboardV2
            - defaultGroupLeaderboard
            - defaultGroupLeaderboardV2
            - achievementReleases
            - activityReleases
            - challengeReleases
            - leaderboardReleases
            - leaderboardSetReleases
            - challengesMinimumPlatformVersions
        style: form
        explode: false
      - name: fields[gameCenterGroups]
        in: query
        description: the fields to include for returned resources of type gameCenterGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - gameCenterDetails
            - gameCenterLeaderboards
            - gameCenterLeaderboardsV2
            - gameCenterLeaderboardSets
            - gameCenterLeaderboardSetsV2
            - gameCenterAchievements
            - gameCenterAchievementsV2
            - gameCenterActivities
            - gameCenterChallenges
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSetLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - gameCenterLeaderboardSet
            - gameCenterLeaderboardSetImage
        style: form
        explode: false
      - name: fields[gameCenterLeaderboards]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboards
        schema:
          type: array
          items:
            type: string
            enum:
            - defaultFormatter
            - referenceName
            - vendorIdentifier
            - submissionType
            - scoreSortType
            - scoreRangeStart
            - scoreRangeEnd
            - recurrenceStartDate
            - recurrenceDuration
            - recurrenceRule
            - archived
            - activityProperties
            - visibility
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboard
            - gameCenterLeaderboardSets
            - localizations
            - releases
            - activity
            - challenge
        style: form
        explode: false
      - name: fields[gameCenterLeaderboardSetReleases]
        in: query
        description: the fields to include for returned resources of type gameCenterLeaderboardSetReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - live
            - gameCenterDetail
            - gameCenterLeaderboardSet
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - gameCenterDetail
            - gameCenterGroup
            - groupLeaderboardSet
            - localizations
            - gameCenterLeaderboards
            - releases
        style: form
        explode: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[gameCenterLeaderboards]
        in: query
        description: maximum number of related gameCenterLeaderboards returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[releases]
        in: query
        description: maximum number of related releases returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterLeaderboardSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterLeaderboardSetResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Game Center Leaderboard Set Member Localizations / Game Center Leaderboard Set
components:
  schemas:
    GameCenterLeaderboardLocalization:
      type: object
      title: GameCenterLeaderboardLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            formatterOverride:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            formatterSuffix:
              type: string
            formatterSuffixSingular:
              type: string
            description:
              type: string
        relationships:
          type: object
          properties:
            gameCenterLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboardImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterLeaderboardSetMemberLocalizationGameCenterLeaderboardSetLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSets
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterChallenge:
      type: object
      title: GameCenterChallenge
      properties:
        type:
          type: string
          enum:
          - gameCenterChallenges
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            archived:
              type: boolean
            challengeType:
              type: string
              enum:
              - LEADERBOARD
            repeatable:
              type: boolean
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallengeVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            leaderboard:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            leaderboardV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterLeaderboardSetResponse:
      type: object
      title: GameCenterLeaderboardSetResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardSet'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterDetail'
            - $ref: '#/components/schemas/GameCenterGroup'
            - $ref: '#/components/schemas/GameCenterLeaderboardSetLocalization'
            - $ref: '#/components/schemas/GameCenterLeaderboardSetRelease'
            - $ref: '#/components/schemas/GameCenterLeaderboardSet'
            - $ref: '#/components/schemas/GameCenterLeaderboard'
            discriminator:
              propertyName: type
              mapping:
                gameCenterDetails: '#/components/schemas/GameCenterDetail'
                gameCenterLeaderboardSets: '#/components/schemas/GameCenterLeaderboardSet'
                gameCenterGroups: '#/components/schemas/GameCenterGroup'
                gameCenterLeaderboardSetReleases: '#/components/schemas/GameCenterLeaderboardSetRelease'
                gameCenterLeaderboardSetLocalizations: '#/components/schemas/GameCenterLeaderboardSetLocalization'
                gameCenterLeaderboards: '#/components/schemas/GameCenterLeaderboard'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    GameCenterLeaderboardSetMemberLocalizationCreateRequest:
      type: object
      title: GameCenterLeaderboardSetMemberLocalizationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSetMemberLocalizations
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                locale:
                  type: string
                  nullable: true
            relationships:
              type: object
              properties:
                gameCenterLeaderboardSet:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboardSets
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                gameCenterLeaderboard:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterLeaderboards
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - gameCenterLeaderboard
              - gameCenterLeaderboardSet
          required:
          - relationships
          - type
      required:
      - data
    GameCenterLeaderboardSetMemberLocalizationUpdateRequest:
      type: object
      title: GameCenterLeaderboardSetMemberLocalizationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboardSetMemberLocalizations
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    GameCenterLeaderboardSetRelease:
      type: object
      title: GameCenterLeaderboardSetRelease
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetReleases
        id:
          type: string
        attributes:
          type: object
          properties:
            live:
              type: boolean
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboardSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSets
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    GameCenterLeaderboardResponse:
      type: object
      title: GameCenterLeaderboardResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboard'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterActivity'
            - $ref: '#/components/schemas/GameCenterChallenge'
            - $ref: '#/components/schemas/GameCenterDetail'
            - $ref: '#/components/schemas/GameCenterGroup'
            - $ref: '#/components/schemas/GameCenterLeaderboardLocalization'
            - $ref: '#/components/schemas/GameCenterLeaderboardRelease'
            - $ref: '#/components/schemas/GameCenterLeaderboardSet'
            - $ref: '#/components/schemas/GameCenterLeaderboard'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardReleases: '#/components/schemas/GameCenterLeaderboardRelease'
                gameCenterDetails: '#/components/schemas/GameCenterDetail'
                gameCenterLeaderboardSets: '#/components/schemas/GameCenterLeaderboardSet'
                gameCenterActivities: '#/components/schemas/GameCenterActivity'
                gameCenterGroups: '#/components/schemas/GameCenterGroup'
                gameCenterLeaderboardLocalizations: '#/components/schemas/GameCenterLeaderboardLocalization'
                gameCenterChallenges: '#/components/schemas/GameCenterChallenge'
                gameCenterLeaderboards: '#/components/schemas/GameCenterLeaderboard'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterGroup:
      type: object
      title: GameCenterGroup
      properties:
        type:
          type: string
          enum:
          - gameCenterGroups
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
        relationships:
          type: object
          properties:
            gameCenterDetails:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterDetails
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboardSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardSetsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterAchievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterAchievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterActivities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivities
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterChallenges:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallenges
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterLeaderboardSetMemberLocalizationGameCenterLeaderboardLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterLeaderboards
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
      deprecated: true
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterLeaderboardRelease:
      type: object
      title: GameCenterLeaderboardRelease
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardReleases
        id:
          type: string
        attributes:
          type: object
          properties:
            live:
              type: boolean
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    GameCenterLeaderboardSetMemberLocalizationResponse:
      type: object
      title: GameCenterLeaderboardSetMemberLocalizationResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterLeaderboardSetMemberLocalization'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterLeaderboardSet'
            - $ref: '#/components/schemas/GameCenterLeaderboard'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardSets: '#/components/schemas/GameCenterLeaderboardSet'
                gameCenterLeaderboards: '#/components/schemas/GameCenterLeaderboard'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    GameCenterActivity:
      type: object
      title: GameCenterActivity
      properties:
        type:
          type: string
          enum:
          - gameCenterActivities
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            playStyle:
              type: string
              enum:
              - ASYNCHRONOUS
              - SYNCHRONOUS
            minimumPlayersCount:
              type: integer
            maximumPlayersCount:
              type: integer
            supportsPartyCode:
              type: boolean
            archived:
              type: boolean
            properties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            achievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            achievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            leaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    GameCenterLeaderboardSetMemberLocalization:
      type: object
      title: GameCenterLeaderboardSetMemberLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetMemberLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            locale:
              type: string
        relationships:
          type: object
          properties:
            gameCenterLeaderboardSet:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSets
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboard:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterLeaderboard:
      type: object
      title: GameCenterLeaderboard
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboards
        id:
          type: string
        attributes:
          type: object
          properties:
            defaultFormatter:
              $ref: '#/components/schemas/GameCenterLeaderboardFormatter'
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            submissionType:
              type: string
              enum:
              - BEST_SCORE
              - MOST_RECENT_SCORE
            scoreSortType:
              type: string
              enum:
              - ASC
              - DESC
            scoreRangeStart:
              type: string
              format: number
            scoreRangeEnd:
              type: string
              format: number
            recurrenceStartDate:
              type: string
              format: date-time
            recurrenceDuration:
              type: string
              format: duration
            recurrenceRule:
              type: string
            archived:
              type: boolean
            activityProperties:
              $ref: '#/components/schemas/StringToStringMap'
            visibility:
              type: string
              enum:
              - SHOW_FOR_ALL
              - HIDE_FOR_ALL
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            groupLeaderboard:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            gameCenterLeaderboardSets:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            releases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
            activity:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
            challenge:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterChallenges
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    GameCenterLeaderboardSetLocalization:
      type: object
      title: GameCenterLeaderboardSetLocalization
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSetLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
        relationships:
          type: object
          properties:
            gameCenterLeaderboardSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSets
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboardSetImage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSetImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    GameCenterLeaderboardSet:
      type: object
      title: GameCenterLeaderboardSet
      properties:
        type:
          type: string
          enum:
          - gameCenterLeaderboardSets
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            groupLeaderboardSet:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboardSets
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSetLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            releases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSetReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
      deprecated: true
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterLeaderboardSetMemberLocalizationsResponse:
      type: object
      title: GameCenterLeaderboardSetMemberLocalizationsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterLeaderboardSetMemberLocalization'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterLeaderboardSet'
            - $ref: '#/components/schemas/GameCenterLeaderboard'
            discriminator:
              propertyName: type
              mapping:
                gameCenterLeaderboardSets: '#/components/schemas/GameCenterLeaderboardSet'
                gameCenterLeaderboards: '#/components/schemas/GameCenterLeaderboard'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    StringToStringMap:
      type: object
      additionalProperties:
        type: string
    GameCenterDetail:
      type: object
      title: GameCenterDetail
      properties:
        type:
          type: string
          enum:
          - gameCenterDetails
        id:
          type: string
        attributes:
          type: object
          properties:
            arcadeEnabled:
              type: boolean
            challengeEnabled:
              type: boolean
              deprecated: true
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterAppVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAppVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterGroup:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterLeaderboards:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboards
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterLeaderboardSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterLeaderboardSetsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterAchievements:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            gameCenterAchievementsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievements
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterActivities:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivities
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterChallenges:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallenges
                      id:
                        type: string
                    required:
                    - id
                    - type
            defaultLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            defaultLeaderboardV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            defaultGroupLeaderboard:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            defaultGroupLeaderboardV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterLeaderboards
                    id:
                      type: string
                  required:
                  - id
                  - type
            achievementReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            activityReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterActivityVersionReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            challengeReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterChallengeVersionReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            leaderboardSetReleases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterLeaderboardSetReleases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            challengesMinimumPlatformVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterLeaderboardFormatter:
      type: string
      enum:
      - INTEGER
      - DECIMAL_POINT_1_PLACE
      - DECIMAL_POINT_2_PLACE
      - DECIMAL_POINT_3_PLACE
      - ELAPSED_TIME_CENTISECOND
      - ELAPSED_TIME_MINUTE
      - ELAPSED_TIME_SECOND
      - MONEY_POUND_DECIMAL
      - MONEY_POUND
      - MONEY_DOLLAR_DECIMAL
      - MONEY_DOLLAR
      - MONEY_EURO_DECIMAL
      - MONEY_EURO
      - MONEY_FRANC_DECIMAL
      - MONEY_FRANC
      - MONEY_KRONER_DECIMAL
      - MONEY_KRONER
      - MONEY_YEN
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
