openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AlternativeDistributionPackageVersions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AlternativeDistributionPackageVersions
paths:
  /v1/alternativeDistributionPackageVersions/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AlternativeDistributionPackageVersions
      operationId: alternativeDistributionPackageVersions_getInstance
      parameters:
      - name: fields[alternativeDistributionPackageVersions]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackageVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - url
            - urlExpirationDate
            - version
            - fileChecksum
            - state
            - variants
            - deltas
            - alternativeDistributionPackage
        style: form
        explode: false
        required: false
      - name: fields[alternativeDistributionPackageVariants]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackageVariants
        schema:
          type: array
          items:
            type: string
            enum:
            - url
            - urlExpirationDate
            - alternativeDistributionKeyBlob
            - fileChecksum
        style: form
        explode: false
        required: false
      - name: fields[alternativeDistributionPackageDeltas]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackageDeltas
        schema:
          type: array
          items:
            type: string
            enum:
            - url
            - urlExpirationDate
            - alternativeDistributionKeyBlob
            - fileChecksum
        style: form
        explode: false
        required: false
      - name: fields[alternativeDistributionPackages]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackages
        schema:
          type: array
          items:
            type: string
            enum:
            - sourceFileChecksum
            - versions
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - variants
            - deltas
            - alternativeDistributionPackage
        style: form
        explode: false
        required: false
      - name: limit[deltas]
        in: query
        description: maximum number of related deltas returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[variants]
        in: query
        description: maximum number of related variants returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AlternativeDistributionPackageVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionPackageVersionResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Alternative Distribution Package Versions
  /v1/alternativeDistributionPackageVersions/{id}/relationships/deltas:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AlternativeDistributionPackageVersions
      operationId: alternativeDistributionPackageVersions_deltas_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionPackageVersionDeltasLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Alternative Distribution Package Versions / Deltas
  /v1/alternativeDistributionPackageVersions/{id}/deltas:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AlternativeDistributionPackageVersions
      operationId: alternativeDistributionPackageVersions_deltas_getToManyRelated
      parameters:
      - name: fields[alternativeDistributionPackageDeltas]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackageDeltas
        schema:
          type: array
          items:
            type: string
            enum:
            - url
            - urlExpirationDate
            - alternativeDistributionKeyBlob
            - fileChecksum
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AlternativeDistributionPackageDeltas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionPackageDeltasResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Alternative Distribution Package Versions / Deltas
  /v1/alternativeDistributionPackageVersions/{id}/relationships/variants:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AlternativeDistributionPackageVersions
      operationId: alternativeDistributionPackageVersions_variants_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionPackageVersionVariantsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Alternative Distribution Package Versions / Variants
  /v1/alternativeDistributionPackageVersions/{id}/variants:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AlternativeDistributionPackageVersions
      operationId: alternativeDistributionPackageVersions_variants_getToManyRelated
      parameters:
      - name: fields[alternativeDistributionPackageVariants]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackageVariants
        schema:
          type: array
          items:
            type: string
            enum:
            - url
            - urlExpirationDate
            - alternativeDistributionKeyBlob
            - fileChecksum
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AlternativeDistributionPackageVariants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionPackageVariantsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Alternative Distribution Package Versions / Variants
components:
  schemas:
    AlternativeDistributionPackageVersionVariantsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - alternativeDistributionPackageVariants
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    AlternativeDistributionPackageDelta:
      type: object
      title: AlternativeDistributionPackageDelta
      properties:
        type:
          type: string
          enum:
          - alternativeDistributionPackageDeltas
        id:
          type: string
        attributes:
          type: object
          properties:
            url:
              type: string
              format: uri
            urlExpirationDate:
              type: string
              format: date-time
            alternativeDistributionKeyBlob:
              type: string
            fileChecksum:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AlternativeDistributionPackageVersionDeltasLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - alternativeDistributionPackageDeltas
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AlternativeDistributionPackageVariantsResponse:
      type: object
      title: AlternativeDistributionPackageVariantsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlternativeDistributionPackageVariant'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    Checksums:
      type: object
      properties:
        file:
          type: object
          properties:
            hash:
              type: string
            algorithm:
              $ref: '#/components/schemas/ChecksumAlgorithm'
        composite:
          type: object
          properties:
            hash:
              type: string
            algorithm:
              type: string
              enum:
              - MD5
    AlternativeDistributionPackage:
      type: object
      title: AlternativeDistributionPackage
      properties:
        type:
          type: string
          enum:
          - alternativeDistributionPackages
        id:
          type: string
        attributes:
          type: object
          properties:
            sourceFileChecksum:
              $ref: '#/components/schemas/Checksums'
        relationships:
          type: object
          properties:
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - alternativeDistributionPackageVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AlternativeDistributionPackageVariant:
      type: object
      title: AlternativeDistributionPackageVariant
      properties:
        type:
          type: string
          enum:
          - alternativeDistributionPackageVariants
        id:
          type: string
        attributes:
          type: object
          properties:
            url:
              type: string
              format: uri
            urlExpirationDate:
              type: string
              format: date-time
            alternativeDistributionKeyBlob:
              type: string
            fileChecksum:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    AlternativeDistributionPackageDeltasResponse:
      type: object
      title: AlternativeDistributionPackageDeltasResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlternativeDistributionPackageDelta'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ChecksumAlgorithm:
      type: string
      enum:
      - MD5
      - SHA_256
    AlternativeDistributionPackageVersionResponse:
      type: object
      title: AlternativeDistributionPackageVersionResponse
      properties:
        data:
          $ref: '#/components/schemas/AlternativeDistributionPackageVersion'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AlternativeDistributionPackageDelta'
            - $ref: '#/components/schemas/AlternativeDistributionPackageVariant'
            - $ref: '#/components/schemas/AlternativeDistributionPackage'
            discriminator:
              propertyName: type
              mapping:
                alternativeDistributionPackages: '#/components/schemas/AlternativeDistributionPackage'
                alternativeDistributionPackageDeltas: '#/components/schemas/AlternativeDistributionPackageDelta'
                alternativeDistributionPackageVariants: '#/components/schemas/AlternativeDistributionPackageVariant'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    AlternativeDistributionPackageVersion:
      type: object
      title: AlternativeDistributionPackageVersion
      properties:
        type:
          type: string
          enum:
          - alternativeDistributionPackageVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            url:
              type: string
              format: uri
            urlExpirationDate:
              type: string
              format: date-time
            version:
              type: string
            fileChecksum:
              type: string
            state:
              type: string
              enum:
              - COMPLETED
              - REPLACED
        relationships:
          type: object
          properties:
            variants:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - alternativeDistributionPackageVariants
                      id:
                        type: string
                    required:
                    - id
                    - type
            deltas:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - alternativeDistributionPackageDeltas
                      id:
                        type: string
                    required:
                    - id
                    - type
            alternativeDistributionPackage:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - alternativeDistributionPackages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
