openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppStoreVersionExperimentTreatmentLocalizations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppStoreVersionExperimentTreatmentLocalizations
paths:
  /v1/appStoreVersionExperimentTreatmentLocalizations:
    post:
      tags:
      - AppStoreVersionExperimentTreatmentLocalizations
      operationId: appStoreVersionExperimentTreatmentLocalizations_createInstance
      requestBody:
        description: AppStoreVersionExperimentTreatmentLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalizationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppStoreVersionExperimentTreatmentLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Store Version Experiment Treatment Localizations
  /v1/appStoreVersionExperimentTreatmentLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersionExperimentTreatmentLocalizations
      operationId: appStoreVersionExperimentTreatmentLocalizations_getInstance
      parameters:
      - name: fields[appStoreVersionExperimentTreatmentLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatmentLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - appStoreVersionExperimentTreatment
            - appScreenshotSets
            - appPreviewSets
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionExperimentTreatments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - appIcon
            - appIconName
            - promotedDate
            - appStoreVersionExperiment
            - appStoreVersionExperimentV2
            - appStoreVersionExperimentTreatmentLocalizations
        style: form
        explode: false
        required: false
      - name: fields[appScreenshotSets]
        in: query
        description: the fields to include for returned resources of type appScreenshotSets
        schema:
          type: array
          items:
            type: string
            enum:
            - screenshotDisplayType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appScreenshots
        style: form
        explode: false
        required: false
      - name: fields[appPreviewSets]
        in: query
        description: the fields to include for returned resources of type appPreviewSets
        schema:
          type: array
          items:
            type: string
            enum:
            - previewType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appPreviews
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersionExperimentTreatment
            - appScreenshotSets
            - appPreviewSets
        style: form
        explode: false
        required: false
      - name: limit[appPreviewSets]
        in: query
        description: maximum number of related appPreviewSets returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appScreenshotSets]
        in: query
        description: maximum number of related appScreenshotSets returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreVersionExperimentTreatmentLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalizationResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Store Version Experiment Treatment Localizations
    delete:
      tags:
      - AppStoreVersionExperimentTreatmentLocalizations
      operationId: appStoreVersionExperimentTreatmentLocalizations_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete App Store Version Experiment Treatment Localizations
  /v1/appStoreVersionExperimentTreatmentLocalizations/{id}/relationships/appPreviewSets:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersionExperimentTreatmentLocalizations
      operationId: appStoreVersionExperimentTreatmentLocalizations_appPreviewSets_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalizationAppPreviewSetsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Version Experiment Treatment Localizations / App Preview Sets
  /v1/appStoreVersionExperimentTreatmentLocalizations/{id}/appPreviewSets:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersionExperimentTreatmentLocalizations
      operationId: appStoreVersionExperimentTreatmentLocalizations_appPreviewSets_getToManyRelated
      parameters:
      - name: filter[previewType]
        in: query
        description: filter by attribute 'previewType'
        schema:
          type: array
          items:
            type: string
            enum:
            - IPHONE_67
            - IPHONE_61
            - IPHONE_65
            - IPHONE_58
            - IPHONE_55
            - IPHONE_47
            - IPHONE_40
            - IPHONE_35
            - IPAD_PRO_3GEN_129
            - IPAD_PRO_3GEN_11
            - IPAD_PRO_129
            - IPAD_105
            - IPAD_97
            - DESKTOP
            - APPLE_TV
            - APPLE_VISION_PRO
        style: form
        explode: false
      - name: filter[appStoreVersionLocalization]
        in: query
        description: filter by id(s) of related 'appStoreVersionLocalization'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[appCustomProductPageLocalization]
        in: query
        description: filter by id(s) of related 'appCustomProductPageLocalization'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[appPreviewSets]
        in: query
        description: the fields to include for returned resources of type appPreviewSets
        schema:
          type: array
          items:
            type: string
            enum:
            - previewType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appPreviews
        style: form
        explode: false
      - name: fields[appStoreVersionLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - description
            - locale
            - keywords
            - marketingUrl
            - promotionalText
            - supportUrl
            - whatsNew
            - appStoreVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
      - name: fields[appCustomProductPageLocalizations]
        in: query
        description: the fields to include for returned resources of type appCustomProductPageLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - promotionalText
            - appCustomProductPageVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
      - name: fields[appStoreVersionExperimentTreatmentLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatmentLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - appStoreVersionExperimentTreatment
            - appScreenshotSets
            - appPreviewSets
        style: form
        explode: false
      - name: fields[appPreviews]
        in: query
        description: the fields to include for returned resources of type appPreviews
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - previewFrameTimeCode
            - mimeType
            - videoUrl
            - previewFrameImage
            - previewImage
            - uploadOperations
            - assetDeliveryState
            - videoDeliveryState
            - appPreviewSet
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appPreviews
        style: form
        explode: false
      - name: limit[appPreviews]
        in: query
        description: maximum number of related appPreviews returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppPreviewSets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Version Experiment Treatment Localizations / App Preview Sets
  /v1/appStoreVersionExperimentTreatmentLocalizations/{id}/relationships/appScreenshotSets:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersionExperimentTreatmentLocalizations
      operationId: appStoreVersionExperimentTreatmentLocalizations_appScreenshotSets_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalizationAppScreenshotSetsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Version Experiment Treatment Localizations / App Screenshot Sets
  /v1/appStoreVersionExperimentTreatmentLocalizations/{id}/appScreenshotSets:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersionExperimentTreatmentLocalizations
      operationId: appStoreVersionExperimentTreatmentLocalizations_appScreenshotSets_getToManyRelated
      parameters:
      - name: filter[screenshotDisplayType]
        in: query
        description: filter by attribute 'screenshotDisplayType'
        schema:
          type: array
          items:
            type: string
            enum:
            - APP_IPHONE_67
            - APP_IPHONE_61
            - APP_IPHONE_65
            - APP_IPHONE_58
            - APP_IPHONE_55
            - APP_IPHONE_47
            - APP_IPHONE_40
            - APP_IPHONE_35
            - APP_IPAD_PRO_3GEN_129
            - APP_IPAD_PRO_3GEN_11
            - APP_IPAD_PRO_129
            - APP_IPAD_105
            - APP_IPAD_97
            - APP_DESKTOP
            - APP_WATCH_ULTRA
            - APP_WATCH_SERIES_10
            - APP_WATCH_SERIES_7
            - APP_WATCH_SERIES_4
            - APP_WATCH_SERIES_3
            - APP_APPLE_TV
            - APP_APPLE_VISION_PRO
            - IMESSAGE_APP_IPHONE_67
            - IMESSAGE_APP_IPHONE_61
            - IMESSAGE_APP_IPHONE_65
            - IMESSAGE_APP_IPHONE_58
            - IMESSAGE_APP_IPHONE_55
            - IMESSAGE_APP_IPHONE_47
            - IMESSAGE_APP_IPHONE_40
            - IMESSAGE_APP_IPAD_PRO_3GEN_129
            - IMESSAGE_APP_IPAD_PRO_3GEN_11
            - IMESSAGE_APP_IPAD_PRO_129
            - IMESSAGE_APP_IPAD_105
            - IMESSAGE_APP_IPAD_97
        style: form
        explode: false
      - name: filter[appStoreVersionLocalization]
        in: query
        description: filter by id(s) of related 'appStoreVersionLocalization'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[appCustomProductPageLocalization]
        in: query
        description: filter by id(s) of related 'appCustomProductPageLocalization'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[appScreenshotSets]
        in: query
        description: the fields to include for returned resources of type appScreenshotSets
        schema:
          type: array
          items:
            type: string
            enum:
            - screenshotDisplayType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appScreenshots
        style: form
        explode: false
      - name: fields[appStoreVersionLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - description
            - locale
            - keywords
            - marketingUrl
            - promotionalText
            - supportUrl
            - whatsNew
            - appStoreVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
      - name: fields[appCustomProductPageLocalizations]
        in: query
        description: the fields to include for returned resources of type appCustomProductPageLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - promotionalText
            - appCustomProductPageVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
      - name: fields[appStoreVersionExperimentTreatmentLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatmentLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - appStoreVersionExperimentTreatment
            - appScreenshotSets
            - appPreviewSets
        style: form
        explode: false
      - name: fields[appScreenshots]
        in: query
        description: the fields to include for returned resources of type appScreenshots
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - imageAsset
            - assetToken
            - assetType
            - uploadOperations
            - assetDeliveryState
            - appScreenshotSet
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appScreenshots
        style: form
        explode: false
      - name: limit[appScreenshots]
        in: query
        description: maximum number of related appScreenshots returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppScreenshotSets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotSetsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Version Experiment Treatment Localizations / App Screenshot Sets
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    AppStoreVersionExperimentTreatment:
      type: object
      title: AppStoreVersionExperimentTreatment
      properties:
        type:
          type: string
          enum:
          - appStoreVersionExperimentTreatments
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            appIcon:
              $ref: '#/components/schemas/ImageAsset'
            appIconName:
              type: string
            promotedDate:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            appStoreVersionExperiment:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperiments
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentV2:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperiments
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentTreatmentLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionExperimentTreatmentLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppStoreVersionExperimentTreatmentLocalizationResponse:
      type: object
      title: AppStoreVersionExperimentTreatmentLocalizationResponse
      properties:
        data:
          $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AppPreviewSet'
            - $ref: '#/components/schemas/AppScreenshotSet'
            - $ref: '#/components/schemas/AppStoreVersionExperimentTreatment'
            discriminator:
              propertyName: type
              mapping:
                appScreenshotSets: '#/components/schemas/AppScreenshotSet'
                appStoreVersionExperimentTreatments: '#/components/schemas/AppStoreVersionExperimentTreatment'
                appPreviewSets: '#/components/schemas/AppPreviewSet'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    AppMediaPreviewFrameImageState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - PROCESSING
          - COMPLETE
          - FAILED
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    AppPreviewSetsResponse:
      type: object
      title: AppPreviewSetsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AppPreviewSet'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AppCustomProductPageLocalization'
            - $ref: '#/components/schemas/AppPreview'
            - $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
            - $ref: '#/components/schemas/AppStoreVersionLocalization'
            discriminator:
              propertyName: type
              mapping:
                appStoreVersionLocalizations: '#/components/schemas/AppStoreVersionLocalization'
                appCustomProductPageLocalizations: '#/components/schemas/AppCustomProductPageLocalization'
                appStoreVersionExperimentTreatmentLocalizations: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
                appPreviews: '#/components/schemas/AppPreview'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AppScreenshotSet:
      type: object
      title: AppScreenshotSet
      properties:
        type:
          type: string
          enum:
          - appScreenshotSets
        id:
          type: string
        attributes:
          type: object
          properties:
            screenshotDisplayType:
              $ref: '#/components/schemas/ScreenshotDisplayType'
        relationships:
          type: object
          properties:
            appStoreVersionLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appCustomProductPageLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCustomProductPageLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentTreatmentLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperimentTreatmentLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appScreenshots:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appScreenshots
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    PreviewFrameImage:
      type: object
      properties:
        image:
          $ref: '#/components/schemas/ImageAsset'
        state:
          $ref: '#/components/schemas/AppMediaPreviewFrameImageState'
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    PreviewType:
      type: string
      enum:
      - IPHONE_67
      - IPHONE_61
      - IPHONE_65
      - IPHONE_58
      - IPHONE_55
      - IPHONE_47
      - IPHONE_40
      - IPHONE_35
      - IPAD_PRO_3GEN_129
      - IPAD_PRO_3GEN_11
      - IPAD_PRO_129
      - IPAD_105
      - IPAD_97
      - DESKTOP
      - APPLE_TV
      - APPLE_VISION_PRO
    AppMediaVideoState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - PROCESSING
          - COMPLETE
          - FAILED
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    AppStoreVersionExperimentTreatmentLocalization:
      type: object
      title: AppStoreVersionExperimentTreatmentLocalization
      properties:
        type:
          type: string
          enum:
          - appStoreVersionExperimentTreatmentLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
        relationships:
          type: object
          properties:
            appStoreVersionExperimentTreatment:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperimentTreatments
                    id:
                      type: string
                  required:
                  - id
                  - type
            appScreenshotSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appScreenshotSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPreviewSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviewSets
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    AppStoreVersionLocalization:
      type: object
      title: AppStoreVersionLocalization
      properties:
        type:
          type: string
          enum:
          - appStoreVersionLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            description:
              type: string
            locale:
              type: string
            keywords:
              type: string
            marketingUrl:
              type: string
              format: uri
            promotionalText:
              type: string
            supportUrl:
              type: string
              format: uri
            whatsNew:
              type: string
        relationships:
          type: object
          properties:
            appStoreVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            appScreenshotSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appScreenshotSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPreviewSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviewSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            searchKeywords:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appKeywords
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    AppStoreVersionExperimentTreatmentLocalizationAppPreviewSetsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - appPreviewSets
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ScreenshotDisplayType:
      type: string
      enum:
      - APP_IPHONE_67
      - APP_IPHONE_61
      - APP_IPHONE_65
      - APP_IPHONE_58
      - APP_IPHONE_55
      - APP_IPHONE_47
      - APP_IPHONE_40
      - APP_IPHONE_35
      - APP_IPAD_PRO_3GEN_129
      - APP_IPAD_PRO_3GEN_11
      - APP_IPAD_PRO_129
      - APP_IPAD_105
      - APP_IPAD_97
      - APP_DESKTOP
      - APP_WATCH_ULTRA
      - APP_WATCH_SERIES_10
      - APP_WATCH_SERIES_7
      - APP_WATCH_SERIES_4
      - APP_WATCH_SERIES_3
      - APP_APPLE_TV
      - APP_APPLE_VISION_PRO
      - IMESSAGE_APP_IPHONE_67
      - IMESSAGE_APP_IPHONE_61
      - IMESSAGE_APP_IPHONE_65
      - IMESSAGE_APP_IPHONE_58
      - IMESSAGE_APP_IPHONE_55
      - IMESSAGE_APP_IPHONE_47
      - IMESSAGE_APP_IPHONE_40
      - IMESSAGE_APP_IPAD_PRO_3GEN_129
      - IMESSAGE_APP_IPAD_PRO_3GEN_11
      - IMESSAGE_APP_IPAD_PRO_129
      - IMESSAGE_APP_IPAD_105
      - IMESSAGE_APP_IPAD_97
    AppStoreVersionExperimentTreatmentLocalizationCreateRequest:
      type: object
      title: AppStoreVersionExperimentTreatmentLocalizationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - appStoreVersionExperimentTreatmentLocalizations
            attributes:
              type: object
              properties:
                locale:
                  type: string
              required:
              - locale
            relationships:
              type: object
              properties:
                appStoreVersionExperimentTreatment:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - appStoreVersionExperimentTreatments
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - appStoreVersionExperimentTreatment
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    AppScreenshotSetsResponse:
      type: object
      title: AppScreenshotSetsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AppScreenshotSet'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AppCustomProductPageLocalization'
            - $ref: '#/components/schemas/AppScreenshot'
            - $ref: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
            - $ref: '#/components/schemas/AppStoreVersionLocalization'
            discriminator:
              propertyName: type
              mapping:
                appStoreVersionLocalizations: '#/components/schemas/AppStoreVersionLocalization'
                appCustomProductPageLocalizations: '#/components/schemas/AppCustomProductPageLocalization'
                appStoreVersionExperimentTreatmentLocalizations: '#/components/schemas/AppStoreVersionExperimentTreatmentLocalization'
                appScreenshots: '#/components/schemas/AppScreenshot'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppCustomProductPageLocalization:
      type: object
      title: AppCustomProductPageLocalization
      properties:
        type:
          type: string
          enum:
          - appCustomProductPageLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            promotionalText:
              type: string
        relationships:
          type: object
          properties:
            appCustomProductPageVersion:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCustomProductPageVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            appScreenshotSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appScreenshotSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPreviewSets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviewSets
                      id:
                        type: string
                    required:
                    - id
                    - type
            searchKeywords:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appKeywords
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppScreenshot:
      type: object
      title: AppScreenshot
      properties:
        type:
          type: string
          enum:
          - appScreenshots
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            sourceFileChecksum:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            assetToken:
              type: string
            assetType:
              type: string
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            appScreenshotSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appScreenshotSets
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppStoreVersionExperimentTreatmentLocalizationAppScreenshotSetsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - appScreenshotSets
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AppPreviewSet:
      type: object
      title: AppPreviewSet
      properties:
        type:
          type: string
          enum:
          - appPreviewSets
        id:
          type: string
        attributes:
          type: object
          properties:
            previewType:
              $ref: '#/components/schemas/PreviewType'
        relationships:
          type: object
          properties:
            appStoreVersionLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appCustomProductPageLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appCustomProductPageLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentTreatmentLocalization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionExperimentTreatmentLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
            appPreviews:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appPreviews
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    AppPreview:
      type: object
      title: AppPreview
      properties:
        type:
          type: string
          enum:
          - appPreviews
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            sourceFileChecksum:
              type: string
            previewFrameTimeCode:
              type: string
            mimeType:
              type: string
            videoUrl:
              type: string
            previewFrameImage:
              $ref: '#/components/schemas/PreviewFrameImage'
            previewImage:
              deprecated: true
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              deprecated: true
              $ref: '#/components/schemas/AppMediaAssetState'
            videoDeliveryState:
              $ref: '#/components/schemas/AppMediaVideoState'
        relationships:
          type: object
          properties:
            appPreviewSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appPreviewSets
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
