openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations WebhookDeliveries API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: WebhookDeliveries
paths:
  /v1/webhookDeliveries:
    post:
      tags:
      - WebhookDeliveries
      operationId: webhookDeliveries_createInstance
      requestBody:
        description: WebhookDelivery representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookDeliveryCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single WebhookDelivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Webhook Deliveries
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    WebhookDeliveryCreateRequest:
      type: object
      title: WebhookDeliveryCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - webhookDeliveries
            relationships:
              type: object
              properties:
                template:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - webhookDeliveries
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - template
          required:
          - relationships
          - type
      required:
      - data
    WebhookEventType:
      type: string
      enum:
      - ALTERNATIVE_DISTRIBUTION_PACKAGE_AVAILABLE_UPDATED
      - ALTERNATIVE_DISTRIBUTION_PACKAGE_VERSION_CREATED
      - ALTERNATIVE_DISTRIBUTION_TERRITORY_AVAILABILITY_UPDATED
      - APP_STORE_VERSION_APP_VERSION_STATE_UPDATED
      - BACKGROUND_ASSET_VERSION_APP_STORE_RELEASE_STATE_UPDATED
      - BACKGROUND_ASSET_VERSION_EXTERNAL_BETA_RELEASE_STATE_UPDATED
      - BACKGROUND_ASSET_VERSION_INTERNAL_BETA_RELEASE_CREATED
      - BACKGROUND_ASSET_VERSION_STATE_UPDATED
      - BETA_FEEDBACK_CRASH_SUBMISSION_CREATED
      - BETA_FEEDBACK_SCREENSHOT_SUBMISSION_CREATED
      - BUILD_BETA_DETAIL_EXTERNAL_BUILD_STATE_UPDATED
      - BUILD_UPLOAD_STATE_UPDATED
    WebhookDelivery:
      type: object
      title: WebhookDelivery
      properties:
        type:
          type: string
          enum:
          - webhookDeliveries
        id:
          type: string
        attributes:
          type: object
          properties:
            createdDate:
              type: string
              format: date-time
            deliveryState:
              type: string
              enum:
              - SUCCEEDED
              - FAILED
              - PENDING
            errorMessage:
              type: string
            redelivery:
              type: boolean
            sentDate:
              type: string
              format: date-time
            request:
              type: object
              properties:
                url:
                  type: string
                  format: uri
            response:
              type: object
              properties:
                httpStatusCode:
                  type: integer
                body:
                  type: string
        relationships:
          type: object
          properties:
            event:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - webhookEvents
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    WebhookDeliveryResponse:
      type: object
      title: WebhookDeliveryResponse
      properties:
        data:
          $ref: '#/components/schemas/WebhookDelivery'
        included:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEvent'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    WebhookEvent:
      type: object
      title: WebhookEvent
      properties:
        type:
          type: string
          enum:
          - webhookEvents
        id:
          type: string
        attributes:
          type: object
          properties:
            eventType:
              $ref: '#/components/schemas/WebhookEventType'
            payload:
              type: string
            ping:
              type: boolean
            createdDate:
              type: string
              format: date-time
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
