openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BuildBetaDetails API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BuildBetaDetails
paths:
  /v1/buildBetaDetails:
    get:
      tags:
      - BuildBetaDetails
      operationId: buildBetaDetails_getCollection
      parameters:
      - name: filter[build]
        in: query
        description: filter by id(s) of related 'build'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: fields[buildBetaDetails]
        in: query
        description: the fields to include for returned resources of type buildBetaDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - autoNotifyEnabled
            - internalBuildState
            - externalBuildState
            - build
        style: form
        explode: false
        required: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - build
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BuildBetaDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBetaDetailsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Build Beta Details
  /v1/buildBetaDetails/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBetaDetails
      operationId: buildBetaDetails_getInstance
      parameters:
      - name: fields[buildBetaDetails]
        in: query
        description: the fields to include for returned resources of type buildBetaDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - autoNotifyEnabled
            - internalBuildState
            - externalBuildState
            - build
        style: form
        explode: false
        required: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - build
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BuildBetaDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBetaDetailResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Build Beta Details
    patch:
      tags:
      - BuildBetaDetails
      operationId: buildBetaDetails_updateInstance
      requestBody:
        description: BuildBetaDetail representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildBetaDetailUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BuildBetaDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBetaDetailResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Build Beta Details
  /v1/buildBetaDetails/{id}/relationships/build:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBetaDetails
      operationId: buildBetaDetails_build_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBetaDetailBuildLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Build Beta Details / Build
  /v1/buildBetaDetails/{id}/build:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BuildBetaDetails
      operationId: buildBetaDetails_build_getToOneRelated
      parameters:
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      - name: fields[preReleaseVersions]
        in: query
        description: the fields to include for returned resources of type preReleaseVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - platform
            - builds
            - app
        style: form
        explode: false
      - name: fields[betaTesters]
        in: query
        description: the fields to include for returned resources of type betaTesters
        schema:
          type: array
          items:
            type: string
            enum:
            - firstName
            - lastName
            - email
            - inviteType
            - state
            - appDevices
            - apps
            - betaGroups
            - builds
        style: form
        explode: false
      - name: fields[betaGroups]
        in: query
        description: the fields to include for returned resources of type betaGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - isInternalGroup
            - hasAccessToAllBuilds
            - publicLinkEnabled
            - publicLinkId
            - publicLinkLimitEnabled
            - publicLinkLimit
            - publicLink
            - feedbackEnabled
            - iosBuildsAvailableForAppleSiliconMac
            - iosBuildsAvailableForAppleVision
            - app
            - builds
            - betaTesters
            - betaRecruitmentCriteria
            - betaRecruitmentCriterionCompatibleBuildCheck
        style: form
        explode: false
      - name: fields[betaBuildLocalizations]
        in: query
        description: the fields to include for returned resources of type betaBuildLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - whatsNew
            - locale
            - build
        style: form
        explode: false
      - name: fields[appEncryptionDeclarations]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - appDescription
            - createdDate
            - usesEncryption
            - exempt
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - availableOnFrenchStore
            - platform
            - uploadedDate
            - documentUrl
            - documentName
            - documentType
            - appEncryptionDeclarationState
            - codeValue
            - app
            - builds
            - appEncryptionDeclarationDocument
        style: form
        explode: false
      - name: fields[betaAppReviewSubmissions]
        in: query
        description: the fields to include for returned resources of type betaAppReviewSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - betaReviewState
            - submittedDate
            - build
        style: form
        explode: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
      - name: fields[buildBetaDetails]
        in: query
        description: the fields to include for returned resources of type buildBetaDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - autoNotifyEnabled
            - internalBuildState
            - externalBuildState
            - build
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: fields[buildIcons]
        in: query
        description: the fields to include for returned resources of type buildIcons
        schema:
          type: array
          items:
            type: string
            enum:
            - iconAsset
            - iconType
            - masked
            - name
        style: form
        explode: false
      - name: fields[buildBundles]
        in: query
        description: the fields to include for returned resources of type buildBundles
        schema:
          type: array
          items:
            type: string
            enum:
            - bundleId
            - bundleType
            - sdkBuild
            - platformBuild
            - fileName
            - hasSirikit
            - hasOnDemandResources
            - hasPrerenderedIcon
            - usesLocationServices
            - isIosBuildMacAppStoreCompatible
            - includesSymbols
            - dSYMUrl
            - supportedArchitectures
            - requiredCapabilities
            - deviceProtocols
            - locales
            - entitlements
            - baDownloadAllowance
            - baMaxInstallSize
            - minimumOsVersion
            - appClipDomainCacheStatus
            - appClipDomainDebugStatus
            - betaAppClipInvocations
            - buildBundleFileSizes
        style: form
        explode: false
      - name: fields[buildUploads]
        in: query
        description: the fields to include for returned resources of type buildUploads
        schema:
          type: array
          items:
            type: string
            enum:
            - cfBundleShortVersionString
            - cfBundleVersion
            - createdDate
            - state
            - platform
            - uploadedDate
            - build
            - assetFile
            - assetDescriptionFile
            - assetSpiFile
            - buildUploadFiles
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
        style: form
        explode: false
      - name: limit[individualTesters]
        in: query
        description: maximum number of related individualTesters returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[betaGroups]
        in: query
        description: maximum number of related betaGroups returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[betaBuildLocalizations]
        in: query
        description: maximum number of related betaBuildLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[icons]
        in: query
        description: maximum number of related icons returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[buildBundles]
        in: query
        description: maximum number of related buildBundles returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single Build
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Build Beta Details / Build
components:
  schemas:
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    BetaAppReviewSubmission:
      type: object
      title: BetaAppReviewSubmission
      properties:
        type:
          type: string
          enum:
          - betaAppReviewSubmissions
        id:
          type: string
        attributes:
          type: object
          properties:
            betaReviewState:
              $ref: '#/components/schemas/BetaReviewState'
            submittedDate:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            build:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - builds
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    StateDetail:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    AppVersionState:
      type: string
      enum:
      - ACCEPTED
      - DEVELOPER_REJECTED
      - IN_REVIEW
      - INVALID_BINARY
      - METADATA_REJECTED
      - PENDING_APPLE_RELEASE
      - PENDING_DEVELOPER_RELEASE
      - PREPARE_FOR_SUBMISSION
      - PROCESSING_FOR_DISTRIBUTION
      - READY_FOR_DISTRIBUTION
      - READY_FOR_REVIEW
      - REJECTED
      - REPLACED_WITH_NEW_VERSION
      - WAITING_FOR_EXPORT_COMPLIANCE
      - WAITING_FOR_REVIEW
    BetaTester:
      type: object
      title: BetaTester
      properties:
        type:
          type: string
          enum:
          - betaTesters
        id:
          type: string
        attributes:
          type: object
          properties:
            firstName:
              type: string
            lastName:
              type: string
            email:
              type: string
              format: email
            inviteType:
              $ref: '#/components/schemas/BetaInviteType'
            state:
              $ref: '#/components/schemas/BetaTesterState'
            appDevices:
              type: array
              items:
                type: object
                properties:
                  model:
                    type: string
                  platform:
                    type: string
                    enum:
                    - IOS
                    - MAC_OS
                    - TV_OS
                    - WATCH_OS
                    - VISION_OS
                  osVersion:
                    type: string
                  appBuildVersion:
                    type: string
        relationships:
          type: object
          properties:
            apps:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - apps
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BuildBetaDetailBuildLinkageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - builds
            id:
              type: string
          required:
          - id
          - type
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    BuildBetaDetail:
      type: object
      title: BuildBetaDetail
      properties:
        type:
          type: string
          enum:
          - buildBetaDetails
        id:
          type: string
        attributes:
          type: object
          properties:
            autoNotifyEnabled:
              type: boolean
            internalBuildState:
              $ref: '#/components/schemas/InternalBetaState'
            externalBuildState:
              $ref: '#/components/schemas/ExternalBetaState'
        relationships:
          type: object
          properties:
            build:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - builds
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    Platform:
      type: string
      enum:
      - IOS
      - MAC_OS
      - TV_OS
      - VISION_OS
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AppEncryptionDeclarationState:
      type: string
      enum:
      - CREATED
      - IN_REVIEW
      - APPROVED
      - REJECTED
      - INVALID
      - EXPIRED
    BuildUpload:
      type: object
      title: BuildUpload
      properties:
        type:
          type: string
          enum:
          - buildUploads
        id:
          type: string
        attributes:
          type: object
          properties:
            cfBundleShortVersionString:
              type: string
            cfBundleVersion:
              type: string
            createdDate:
              type: string
              format: date-time
            state:
              type: object
              properties:
                errors:
                  type: array
                  items:
                    $ref: '#/components/schemas/StateDetail'
                warnings:
                  type: array
                  items:
                    $ref: '#/components/schemas/StateDetail'
                infos:
                  type: array
                  items:
                    $ref: '#/components/schemas/StateDetail'
                state:
                  $ref: '#/components/schemas/BuildUploadState'
            platform:
              $ref: '#/components/schemas/Platform'
            uploadedDate:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            build:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - builds
                    id:
                      type: string
                  required:
                  - id
                  - type
            assetFile:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildUploadFiles
                    id:
                      type: string
                  required:
                  - id
                  - type
            assetDescriptionFile:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildUploadFiles
                    id:
                      type: string
                  required:
                  - id
                  - type
            assetSpiFile:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildUploadFiles
                    id:
                      type: string
                  required:
                  - id
                  - type
            buildUploadFiles:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BuildBetaDetailsResponse:
      type: object
      title: BuildBetaDetailsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BuildBetaDetail'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Build'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    BuildResponse:
      type: object
      title: BuildResponse
      properties:
        data:
          $ref: '#/components/schemas/Build'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AppEncryptionDeclaration'
            - $ref: '#/components/schemas/AppStoreVersion'
            - $ref: '#/components/schemas/App'
            - $ref: '#/components/schemas/BetaAppReviewSubmission'
            - $ref: '#/components/schemas/BetaBuildLocalization'
            - $ref: '#/components/schemas/BetaGroup'
            - $ref: '#/components/schemas/BetaTester'
            - $ref: '#/components/schemas/BuildBetaDetail'
            - $ref: '#/components/schemas/BuildBundle'
            - $ref: '#/components/schemas/BuildIcon'
            - $ref: '#/components/schemas/BuildUpload'
            - $ref: '#/components/schemas/PrereleaseVersion'
            discriminator:
              propertyName: type
              mapping:
                betaGroups: '#/components/schemas/BetaGroup'
                appEncryptionDeclarations: '#/components/schemas/AppEncryptionDeclaration'
                betaAppReviewSubmissions: '#/components/schemas/BetaAppReviewSubmission'
                buildBetaDetails: '#/components/schemas/BuildBetaDetail'
                buildIcons: '#/components/schemas/BuildIcon'
                buildUploads: '#/components/schemas/BuildUpload'
                appStoreVersions: '#/components/schemas/AppStoreVersion'
                preReleaseVersions: '#/components/schemas/PrereleaseVersion'
                buildBundles: '#/components/schemas/BuildBundle'
                betaTesters: '#/components/schemas/BetaTester'
                apps: '#/components/schemas/App'
                betaBuildLocalizations: '#/components/schemas/BetaBuildLocalization'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    BuildIcon:
      type: object
      title: BuildIcon
      properties:
        type:
          type: string
          enum:
          - buildIcons
        id:
          type: string
        attributes:
          type: object
          properties:
            iconAsset:
              $ref: '#/components/schemas/ImageAsset'
            iconType:
              $ref: '#/components/schemas/IconAssetType'
            masked:
              type: boolean
            name:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    PrereleaseVersion:
      type: object
      title: PrereleaseVersion
      properties:
        type:
          type: string
          enum:
          - preReleaseVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            platform:
              $ref: '#/components/schemas/Platform'
        relationships:
          type: object
          properties:
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    BetaTesterState:
      type: string
      enum:
      - NOT_INVITED
      - INVITED
      - ACCEPTED
      - INSTALLED
      - REVOKED
    BetaReviewState:
      type: string
      enum:
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - REJECTED
      - APPROVED
    AppEncryptionDeclaration:
      type: object
      title: AppEncryptionDeclaration
      properties:
        type:
          type: string
          enum:
          - appEncryptionDeclarations
        id:
          type: string
        attributes:
          type: object
          properties:
            appDescription:
              type: string
            createdDate:
              type: string
              format: date-time
            usesEncryption:
              type: boolean
              deprecated: true
            exempt:
              type: boolean
            containsProprietaryCryptography:
              type: boolean
            containsThirdPartyCryptography:
              type: boolean
            availableOnFrenchStore:
              type: boolean
            platform:
              deprecated: true
              $ref: '#/components/schemas/Platform'
            uploadedDate:
              type: string
              format: date-time
              deprecated: true
            documentUrl:
              type: string
              deprecated: true
            documentName:
              type: string
              deprecated: true
            documentType:
              type: string
              deprecated: true
            appEncryptionDeclarationState:
              $ref: '#/components/schemas/AppEncryptionDeclarationState'
            codeValue:
              type: string
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
              deprecated: true
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            appEncryptionDeclarationDocument:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appEncryptionDeclarationDocuments
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    App:
      type: object
      title: App
      properties:
        type:
          type: string
          enum:
          - apps
        id:
          type: string
        attributes:
          type: object
          properties:
            accessibilityUrl:
              type: string
              format: uri
            name:
              type: string
            bundleId:
              type: string
            sku:
              type: string
            primaryLocale:
              type: string
            isOrEverWasMadeForKids:
              type: boolean
            subscriptionStatusUrl:
              type: string
              format: uri
            subscriptionStatusUrlVersion:
              $ref: '#/components/schemas/SubscriptionStatusUrlVersion'
            subscriptionStatusUrlForSandbox:
              type: string
              format: uri
            subscriptionStatusUrlVersionForSandbox:
              $ref: '#/components/schemas/SubscriptionStatusUrlVersion'
            contentRightsDeclaration:
              type: string
              enum:
              - DOES_NOT_USE_THIRD_PARTY_CONTENT
              - USES_THIRD_PARTY_CONTENT
            streamlinedPurchasingEnabled:
              type: boolean
        relationships:
          type: object
          properties:
            accessibilityDeclarations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appEncryptionDeclarations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEncryptionDeclarations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreIcon:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildIcons
                    id:
                      type: string
                  required:
                  - id
                  - type
            ciProduct:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - ciProducts
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaTesters:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            appTags:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            preReleaseVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - preReleaseVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaAppLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaAppLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaLicenseAgreement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaLicenseAgreements
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaAppReviewDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaAppReviewDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appInfos:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appInfos
                      id:
                        type: string
                    required:
                    - id
                    - type
            appClips:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClips
                      id:
                        type: string
                    required:
                    - id
                    - type
            appPricePoints:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            endUserLicenseAgreement:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - endUserLicenseAgreements
                    id:
                      type: string
                  required:
                  - id
                  - type
            appPriceSchedule:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appAvailabilityV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            inAppPurchases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
              deprecated: true
            subscriptionGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            gameCenterEnabledVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterEnabledVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
            perfPowerMetrics:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            appCustomProductPages:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appCustomProductPages
                      id:
                        type: string
                    required:
                    - id
                    - type
            inAppPurchasesV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - inAppPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
            promotedPurchases:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - promotedPurchases
                      id:
                        type: string
                    required:
                    - id
                    - type
            appEvents:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appEvents
                      id:
                        type: string
                    required:
                    - id
                    - type
            reviewSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - reviewSubmissions
                      id:
                        type: string
                    required:
                    - id
                    - type
            subscriptionGracePeriod:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptionGracePeriods
                    id:
                      type: string
                  required:
                  - id
                  - type
            customerReviews:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            customerReviewSummarizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            gameCenterDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperimentsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionExperiments
                      id:
                        type: string
                    required:
                    - id
                    - type
            alternativeDistributionKey:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            analyticsReportRequests:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            marketplaceSearchDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            buildUploads:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            backgroundAssets:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaFeedbackScreenshotSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            betaFeedbackCrashSubmissions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            searchKeywords:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            webhooks:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            androidToIosAppMappingDetails:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - androidToIosAppMappingDetails
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    Build:
      type: object
      title: Build
      properties:
        type:
          type: string
          enum:
          - builds
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            uploadedDate:
              type: string
              format: date-time
            expirationDate:
              type: string
              format: date-time
            expired:
              type: boolean
            minOsVersion:
              type: string
            lsMinimumSystemVersion:
              type: string
            computedMinMacOsVersion:
              type: string
            computedMinVisionOsVersion:
              type: string
            iconAssetToken:
              $ref: '#/components/schemas/ImageAsset'
            processingState:
              type: string
              enum:
              - PROCESSING
              - FAILED
              - INVALID
              - VALID
            buildAudienceType:
              $ref: '#/components/schemas/BuildAudienceType'
            usesNonExemptEncryption:
              type: boolean
        relationships:
          type: object
          properties:
            preReleaseVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - preReleaseVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            individualTesters:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaTesters
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaGroups:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaGroups
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaBuildLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaBuildLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            appEncryptionDeclaration:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appEncryptionDeclarations
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaAppReviewSubmission:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaAppReviewSubmissions
                    id:
                      type: string
                  required:
                  - id
                  - type
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            buildBetaDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildBetaDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            icons:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - buildIcons
                      id:
                        type: string
                    required:
                    - id
                    - type
            buildBundles:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - buildBundles
                      id:
                        type: string
                    required:
                    - id
                    - type
            buildUpload:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - buildUploads
                    id:
                      type: string
                  required:
                  - id
                  - type
            perfPowerMetrics:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            diagnosticSignatures:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    SubscriptionStatusUrlVersion:
      type: string
      enum:
      - V1
      - V2
    BuildBetaDetailUpdateRequest:
      type: object
      title: BuildBetaDetailUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - buildBetaDetails
            id:
              type: string
            attributes:
              type: object
              properties:
                autoNotifyEnabled:
                  type: boolean
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    AppStoreVersionState:
      type: string
      enum:
      - ACCEPTED
      - DEVELOPER_REMOVED_FROM_SALE
      - DEVELOPER_REJECTED
      - IN_REVIEW
      - INVALID_BINARY
      - METADATA_REJECTED
      - PENDING_APPLE_RELEASE
      - PENDING_CONTRACT
      - PENDING_DEVELOPER_RELEASE
      - PREPARE_FOR_SUBMISSION
      - PREORDER_READY_FOR_SALE
      - PROCESSING_FOR_APP_STORE
      - READY_FOR_REVIEW
      - READY_FOR_SALE
      - REJECTED
      - REMOVED_FROM_SALE
      - WAITING_FOR_EXPORT_COMPLIANCE
      - WAITING_FOR_REVIEW
      - REPLACED_WITH_NEW_VERSION
      - NOT_APPLICABLE
    BetaInviteType:
      type: string
      enum:
      - EMAIL
      - PUBLIC_LINK
    BuildBundle:
      type: object
      title: BuildBundle
      properties:
        type:
          type: string
          enum:
          - buildBundles
        id:
          type: string
        attributes:
          type: object
          properties:
            bundleId:
              type: string
            bundleType:
              $ref: '#/components/schemas/BuildBundleType'
            sdkBuild:
              type: string
            platformBuild:
              type: string
            fileName:
              type: string
            hasSirikit:
              type: boolean
            hasOnDemandResources:
              type: boolean
            hasPrerenderedIcon:
              type: boolean
            usesLocationServices:
              type: boolean
            isIosBuildMacAppStoreCompatible:
              type: boolean
            includesSymbols:
              type: boolean
            dSYMUrl:
              type: string
              format: uri
            supportedArchitectures:
              type: array
              items:
                type: string
            requiredCapabilities:
              type: array
              items:
                type: string
            deviceProtocols:
              type: array
              items:
                type: string
            locales:
              type: array
              items:
                type: string
            entitlements:
              type: object
              additionalProperties:
                type: object
                additionalProperties:
                  type: string
            baDownloadAllowance:
              type: integer
            baMaxInstallSize:
              type: integer
            minimumOsVersion:
              type: string
        relationships:
          type: object
          properties:
            appClipDomainCacheStatus:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipDomainStatuses
                    id:
                      type: string
                  required:
                  - id
                  - type
            appClipDomainDebugStatus:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipDomainStatuses
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaAppClipInvocations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaAppClipInvocations
                      id:
                        type: string
                    required:
                    - id
                    - type
            buildBundleFileSizes:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - buildBundleFileSizes
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BuildUploadState:
      type: string
      enum:
      - AWAITING_UPLOAD
      - PROCESSING
      - FAILED
      - COMPLETE
    AppStoreVersion:
      type: object
      title: AppStoreVersion
      properties:
        type:
          type: string
          enum:
          - appStoreVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            platform:
              $ref: '#/components/schemas/Platform'
            versionString:
              type: string
            appStoreState:
              deprecated: true
              $ref: '#/components/schemas/AppStoreVersionState'
            appVersionState:
              $ref: '#/components/schemas/AppVersionState'
            copyright:
              type: string
            reviewType:
              type: string
              enum:
              - APP_STORE
              - NOTARIZATION
            releaseType:
              type: string
              enum:
              - MANUAL
              - AFTER_APPROVAL
              - SCHEDULED
            earliestReleaseDate:
              type: string
              format: date-time
            usesIdfa:
              type: boolean
              deprecated: true
            downloadable:
              type: boolean
            createdDate:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
            build:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - builds
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionPhasedRelease:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionPhasedReleases
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterAppVersion:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAppVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            routingAppCoverage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - routingAppCoverages
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreReviewDetail:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreReviewDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionSubmission:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appStoreVersionSubmissions
                    id:
                      type: string
                  required:
                  - id
                  - type
            appClipDefaultExperience:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - appClipDefaultExperiences
                    id:
                      type: string
                  required:
                  - id
                  - type
            appStoreVersionExperiments:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionExperiments
                      id:
                        type: string
                    required:
                    - id
                    - type
            appStoreVersionExperimentsV2:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appStoreVersionExperiments
                      id:
                        type: string
                    required:
                    - id
                    - type
            customerReviews:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
            alternativeDistributionPackage:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - alternativeDistributionPackages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    BetaBuildLocalization:
      type: object
      title: BetaBuildLocalization
      properties:
        type:
          type: string
          enum:
          - betaBuildLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            whatsNew:
              type: string
            locale:
              type: string
        relationships:
          type: object
          properties:
            build:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - builds
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BuildAudienceType:
      type: string
      enum:
      - INTERNAL_ONLY
      - APP_STORE_ELIGIBLE
    InternalBetaState:
      type: string
      enum:
      - PROCESSING
      - PROCESSING_EXCEPTION
      - MISSING_EXPORT_COMPLIANCE
      - READY_FOR_BETA_TESTING
      - IN_BETA_TESTING
      - EXPIRED
      - IN_EXPORT_COMPLIANCE_REVIEW
    IconAssetType:
      type: string
      enum:
      - APP_STORE
      - MESSAGES_APP_STORE
      - WATCH_APP_STORE
      - TV_OS_HOME_SCREEN
      - TV_OS_TOP_SHELF
      - ALTERNATE_EXPERIMENT
    BetaGroup:
      type: object
      title: BetaGroup
      properties:
        type:
          type: string
          enum:
          - betaGroups
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            createdDate:
              type: string
              format: date-time
            isInternalGroup:
              type: boolean
            hasAccessToAllBuilds:
              type: boolean
            publicLinkEnabled:
              type: boolean
            publicLinkId:
              type: string
            publicLinkLimitEnabled:
              type: boolean
            publicLinkLimit:
              type: integer
            publicLink:
              type: string
            feedbackEnabled:
              type: boolean
            iosBuildsAvailableForAppleSiliconMac:
              type: boolean
            iosBuildsAvailableForAppleVision:
              type: boolean
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            builds:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - builds
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaTesters:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaTesters
                      id:
                        type: string
                    required:
                    - id
                    - type
            betaRecruitmentCriteria:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaRecruitmentCriteria
                    id:
                      type: string
                  required:
                  - id
                  - type
            betaRecruitmentCriterionCompatibleBuildCheck:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BuildBetaDetailResponse:
      type: object
      title: BuildBetaDetailResponse
      properties:
        data:
          $ref: '#/components/schemas/BuildBetaDetail'
        included:
          type: array
          items:
            $ref: '#/components/schemas/Build'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ExternalBetaState:
      type: string
      enum:
      - PROCESSING
      - PROCESSING_EXCEPTION
      - MISSING_EXPORT_COMPLIANCE
      - READY_FOR_BETA_TESTING
      - IN_BETA_TESTING
      - EXPIRED
      - READY_FOR_BETA_SUBMISSION
      - IN_EXPORT_COMPLIANCE_REVIEW
      - WAITING_FOR_BETA_REVIEW
      - IN_BETA_REVIEW
      - BETA_REJECTED
      - BETA_APPROVED
      - NOT_APPLICABLE
    BuildBundleType:
      type: string
      enum:
      - APP
      - APP_CLIP
      - WATCH_APP
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
