openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations CiXcodeVersions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: CiXcodeVersions
paths:
  /v1/ciXcodeVersions:
    get:
      tags:
      - CiXcodeVersions
      operationId: ciXcodeVersions_getCollection
      parameters:
      - name: fields[ciXcodeVersions]
        in: query
        description: the fields to include for returned resources of type ciXcodeVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - testDestinations
            - macOsVersions
        style: form
        explode: false
        required: false
      - name: fields[ciMacOsVersions]
        in: query
        description: the fields to include for returned resources of type ciMacOsVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - xcodeVersions
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - macOsVersions
        style: form
        explode: false
        required: false
      - name: limit[macOsVersions]
        in: query
        description: maximum number of related macOsVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CiXcodeVersions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiXcodeVersionsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Ci Xcode Versions
  /v1/ciXcodeVersions/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiXcodeVersions
      operationId: ciXcodeVersions_getInstance
      parameters:
      - name: fields[ciXcodeVersions]
        in: query
        description: the fields to include for returned resources of type ciXcodeVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - testDestinations
            - macOsVersions
        style: form
        explode: false
        required: false
      - name: fields[ciMacOsVersions]
        in: query
        description: the fields to include for returned resources of type ciMacOsVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - xcodeVersions
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - macOsVersions
        style: form
        explode: false
        required: false
      - name: limit[macOsVersions]
        in: query
        description: maximum number of related macOsVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single CiXcodeVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiXcodeVersionResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Ci Xcode Versions
  /v1/ciXcodeVersions/{id}/relationships/macOsVersions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiXcodeVersions
      operationId: ciXcodeVersions_macOsVersions_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiXcodeVersionMacOsVersionsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Xcode Versions / Mac OS Versions
  /v1/ciXcodeVersions/{id}/macOsVersions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - CiXcodeVersions
      operationId: ciXcodeVersions_macOsVersions_getToManyRelated
      parameters:
      - name: fields[ciMacOsVersions]
        in: query
        description: the fields to include for returned resources of type ciMacOsVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - xcodeVersions
        style: form
        explode: false
      - name: fields[ciXcodeVersions]
        in: query
        description: the fields to include for returned resources of type ciXcodeVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - name
            - testDestinations
            - macOsVersions
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - xcodeVersions
        style: form
        explode: false
      - name: limit[xcodeVersions]
        in: query
        description: maximum number of related xcodeVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CiMacOsVersions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CiMacOsVersionsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Ci Xcode Versions / Mac OS Versions
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    CiXcodeVersionMacOsVersionsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - ciMacOsVersions
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    CiXcodeVersionsResponse:
      type: object
      title: CiXcodeVersionsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CiXcodeVersion'
        included:
          type: array
          items:
            $ref: '#/components/schemas/CiMacOsVersion'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    CiTestDestinationKind:
      type: string
      enum:
      - SIMULATOR
      - MAC
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    CiXcodeVersion:
      type: object
      title: CiXcodeVersion
      properties:
        type:
          type: string
          enum:
          - ciXcodeVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            name:
              type: string
            testDestinations:
              type: array
              items:
                type: object
                properties:
                  deviceTypeName:
                    type: string
                  deviceTypeIdentifier:
                    type: string
                  availableRuntimes:
                    type: array
                    items:
                      type: object
                      properties:
                        runtimeName:
                          type: string
                        runtimeIdentifier:
                          type: string
                  kind:
                    $ref: '#/components/schemas/CiTestDestinationKind'
        relationships:
          type: object
          properties:
            macOsVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - ciMacOsVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    CiMacOsVersionsResponse:
      type: object
      title: CiMacOsVersionsResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CiMacOsVersion'
        included:
          type: array
          items:
            $ref: '#/components/schemas/CiXcodeVersion'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    CiXcodeVersionResponse:
      type: object
      title: CiXcodeVersionResponse
      properties:
        data:
          $ref: '#/components/schemas/CiXcodeVersion'
        included:
          type: array
          items:
            $ref: '#/components/schemas/CiMacOsVersion'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    CiMacOsVersion:
      type: object
      title: CiMacOsVersion
      properties:
        type:
          type: string
          enum:
          - ciMacOsVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: string
            name:
              type: string
        relationships:
          type: object
          properties:
            xcodeVersions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - ciXcodeVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
