openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterAchievementVersions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterAchievementVersions
paths:
  /v2/gameCenterAchievementVersions:
    post:
      tags:
      - GameCenterAchievementVersions
      operationId: gameCenterAchievementVersionsV2_createInstance
      requestBody:
        description: GameCenterAchievementVersion representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterAchievementVersionV2CreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterAchievementVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementVersionV2Response'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Achievement Versions V2
  /v2/gameCenterAchievementVersions/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementVersions
      operationId: gameCenterAchievementVersionsV2_getInstance
      parameters:
      - name: fields[gameCenterAchievementVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - achievement
            - localizations
        style: form
        explode: false
        required: false
      - name: fields[gameCenterAchievements]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievements
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - vendorIdentifier
            - points
            - showBeforeEarned
            - repeatable
            - archived
            - activityProperties
            - gameCenterDetail
            - gameCenterGroup
            - activity
            - versions
        style: form
        explode: false
        required: false
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - version
            - image
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - achievement
            - localizations
        style: form
        explode: false
        required: false
      - name: limit[localizations]
        in: query
        description: maximum number of related localizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAchievementVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementVersionV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Achievement Versions V2
  /v2/gameCenterAchievementVersions/{id}/relationships/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementVersions
      operationId: gameCenterAchievementVersionsV2_localizations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementVersionV2LocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Achievement Versions V2 / Localizations
  /v2/gameCenterAchievementVersions/{id}/localizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterAchievementVersions
      operationId: gameCenterAchievementVersionsV2_localizations_getToManyRelated
      parameters:
      - name: fields[gameCenterAchievementLocalizations]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - name
            - beforeEarnedDescription
            - afterEarnedDescription
            - version
            - image
        style: form
        explode: false
      - name: fields[gameCenterAchievementVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - state
            - achievement
            - localizations
        style: form
        explode: false
      - name: fields[gameCenterAchievementImages]
        in: query
        description: the fields to include for returned resources of type gameCenterAchievementImages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - imageAsset
            - uploadOperations
            - assetDeliveryState
            - localization
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - image
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterAchievementLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAchievementLocalizationsV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Game Center Achievement Versions V2 / Localizations
components:
  schemas:
    GameCenterAchievementV2:
      type: object
      title: GameCenterAchievementV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievements
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            vendorIdentifier:
              type: string
            points:
              type: integer
            showBeforeEarned:
              type: boolean
            repeatable:
              type: boolean
            archived:
              type: boolean
            activityProperties:
              $ref: '#/components/schemas/StringToStringMap'
        relationships:
          type: object
          properties:
            gameCenterDetail:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterDetails
                    id:
                      type: string
                  required:
                  - id
                  - type
            gameCenterGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
            activity:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterActivities
                    id:
                      type: string
                  required:
                  - id
                  - type
            versions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementVersions
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    ImageAsset:
      type: object
      properties:
        templateUrl:
          type: string
        width:
          type: integer
        height:
          type: integer
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    GameCenterAchievementVersionV2LocalizationsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - gameCenterAchievementLocalizations
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterVersionState:
      type: string
      enum:
      - PREPARE_FOR_SUBMISSION
      - READY_FOR_REVIEW
      - WAITING_FOR_REVIEW
      - IN_REVIEW
      - DEVELOPER_REJECTED
      - REJECTED
      - ACCEPTED
      - PENDING_RELEASE
      - LIVE
      - REPLACED_WITH_NEW_VERSION
    AppMediaAssetState:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AppMediaStateError'
        state:
          type: string
          enum:
          - AWAITING_UPLOAD
          - UPLOAD_COMPLETE
          - COMPLETE
          - FAILED
    GameCenterAchievementImageV2:
      type: object
      title: GameCenterAchievementImageV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementImages
        id:
          type: string
        attributes:
          type: object
          properties:
            fileSize:
              type: integer
            fileName:
              type: string
            imageAsset:
              $ref: '#/components/schemas/ImageAsset'
            uploadOperations:
              type: array
              items:
                $ref: '#/components/schemas/UploadOperation'
            assetDeliveryState:
              $ref: '#/components/schemas/AppMediaAssetState'
        relationships:
          type: object
          properties:
            localization:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementLocalizations
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterAchievementVersionV2CreateRequest:
      type: object
      title: GameCenterAchievementVersionV2CreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterAchievementVersions
            relationships:
              type: object
              properties:
                achievement:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterAchievements
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - achievement
          required:
          - relationships
          - type
      required:
      - data
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterAchievementVersionV2:
      type: object
      title: GameCenterAchievementVersionV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementVersions
        id:
          type: string
        attributes:
          type: object
          properties:
            version:
              type: integer
            state:
              $ref: '#/components/schemas/GameCenterVersionState'
        relationships:
          type: object
          properties:
            achievement:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievements
                    id:
                      type: string
                  required:
                  - id
                  - type
            localizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterAchievementLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    UploadOperation:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        length:
          type: integer
        offset:
          type: integer
        requestHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HttpHeader'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterAchievementLocalizationV2:
      type: object
      title: GameCenterAchievementLocalizationV2
      properties:
        type:
          type: string
          enum:
          - gameCenterAchievementLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            locale:
              type: string
            name:
              type: string
            beforeEarnedDescription:
              type: string
            afterEarnedDescription:
              type: string
        relationships:
          type: object
          properties:
            version:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementVersions
                    id:
                      type: string
                  required:
                  - id
                  - type
            image:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterAchievementImages
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    GameCenterAchievementVersionV2Response:
      type: object
      title: GameCenterAchievementVersionV2Response
      properties:
        data:
          $ref: '#/components/schemas/GameCenterAchievementVersionV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievementLocalizationV2'
            - $ref: '#/components/schemas/GameCenterAchievementV2'
            discriminator:
              propertyName: type
              mapping:
                gameCenterAchievementLocalizations: '#/components/schemas/GameCenterAchievementLocalizationV2'
                gameCenterAchievements: '#/components/schemas/GameCenterAchievementV2'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    GameCenterAchievementLocalizationsV2Response:
      type: object
      title: GameCenterAchievementLocalizationsV2Response
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterAchievementLocalizationV2'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterAchievementImageV2'
            - $ref: '#/components/schemas/GameCenterAchievementVersionV2'
            discriminator:
              propertyName: type
              mapping:
                gameCenterAchievementVersions: '#/components/schemas/GameCenterAchievementVersionV2'
                gameCenterAchievementImages: '#/components/schemas/GameCenterAchievementImageV2'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    StringToStringMap:
      type: object
      additionalProperties:
        type: string
    AppMediaStateError:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
    HttpHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
