openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations BetaAppClipInvocations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: BetaAppClipInvocations
paths:
  /v1/betaAppClipInvocations:
    post:
      tags:
      - BetaAppClipInvocations
      operationId: betaAppClipInvocations_createInstance
      requestBody:
        description: BetaAppClipInvocation representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaAppClipInvocationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single BetaAppClipInvocation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAppClipInvocationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Beta App Clip Invocations
  /v1/betaAppClipInvocations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - BetaAppClipInvocations
      operationId: betaAppClipInvocations_getInstance
      parameters:
      - name: fields[betaAppClipInvocations]
        in: query
        description: the fields to include for returned resources of type betaAppClipInvocations
        schema:
          type: array
          items:
            type: string
            enum:
            - url
            - betaAppClipInvocationLocalizations
        style: form
        explode: false
        required: false
      - name: fields[betaAppClipInvocationLocalizations]
        in: query
        description: the fields to include for returned resources of type betaAppClipInvocationLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - title
            - locale
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - betaAppClipInvocationLocalizations
        style: form
        explode: false
        required: false
      - name: limit[betaAppClipInvocationLocalizations]
        in: query
        description: maximum number of related betaAppClipInvocationLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BetaAppClipInvocation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAppClipInvocationResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Beta App Clip Invocations
    patch:
      tags:
      - BetaAppClipInvocations
      operationId: betaAppClipInvocations_updateInstance
      requestBody:
        description: BetaAppClipInvocation representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaAppClipInvocationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BetaAppClipInvocation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAppClipInvocationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Beta App Clip Invocations
    delete:
      tags:
      - BetaAppClipInvocations
      operationId: betaAppClipInvocations_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Beta App Clip Invocations
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    BetaAppClipInvocationLocalization:
      type: object
      title: BetaAppClipInvocationLocalization
      properties:
        type:
          type: string
          enum:
          - betaAppClipInvocationLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            title:
              type: string
            locale:
              type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BetaAppClipInvocation:
      type: object
      title: BetaAppClipInvocation
      properties:
        type:
          type: string
          enum:
          - betaAppClipInvocations
        id:
          type: string
        attributes:
          type: object
          properties:
            url:
              type: string
              format: uri
        relationships:
          type: object
          properties:
            betaAppClipInvocationLocalizations:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - betaAppClipInvocationLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    BetaAppClipInvocationLocalizationInlineCreate:
      type: object
      properties:
        type:
          type: string
          enum:
          - betaAppClipInvocationLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            title:
              type: string
            locale:
              type: string
          required:
          - locale
          - title
        relationships:
          type: object
          properties:
            betaAppClipInvocation:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - betaAppClipInvocations
                    id:
                      type: string
                  required:
                  - id
                  - type
      required:
      - attributes
      - type
    BetaAppClipInvocationUpdateRequest:
      type: object
      title: BetaAppClipInvocationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - betaAppClipInvocations
            id:
              type: string
            attributes:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  nullable: true
          required:
          - id
          - type
      required:
      - data
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    BetaAppClipInvocationCreateRequest:
      type: object
      title: BetaAppClipInvocationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - betaAppClipInvocations
            attributes:
              type: object
              properties:
                url:
                  type: string
                  format: uri
              required:
              - url
            relationships:
              type: object
              properties:
                buildBundle:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - buildBundles
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                betaAppClipInvocationLocalizations:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - betaAppClipInvocationLocalizations
                          id:
                            type: string
                        required:
                        - id
                        - type
                  required:
                  - data
              required:
              - buildBundle
              - betaAppClipInvocationLocalizations
          required:
          - relationships
          - attributes
          - type
        included:
          type: array
          items:
            $ref: '#/components/schemas/BetaAppClipInvocationLocalizationInlineCreate'
      required:
      - data
    BetaAppClipInvocationResponse:
      type: object
      title: BetaAppClipInvocationResponse
      properties:
        data:
          $ref: '#/components/schemas/BetaAppClipInvocation'
        included:
          type: array
          items:
            $ref: '#/components/schemas/BetaAppClipInvocationLocalization'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
