openapi: 3.2.0
info:
  title: App Store Connect Age Rating Declarations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AgeRatingDeclarations
paths:
  /v1/ageRatingDeclarations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    patch:
      tags:
      - AgeRatingDeclarations
      operationId: ageRatingDeclarations_updateInstance
      requestBody:
        description: AgeRatingDeclaration representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgeRatingDeclarationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AgeRatingDeclaration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeRatingDeclarationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Age Rating Declarations
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    AgeRatingDeclarationResponse:
      type: object
      title: AgeRatingDeclarationResponse
      properties:
        data:
          $ref: '#/components/schemas/AgeRatingDeclaration'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    KidsAgeBand:
      type: string
      enum:
      - FIVE_AND_UNDER
      - SIX_TO_EIGHT
      - NINE_TO_ELEVEN
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    AgeRatingDeclarationUpdateRequest:
      type: object
      title: AgeRatingDeclarationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - ageRatingDeclarations
            id:
              type: string
            attributes:
              type: object
              properties:
                advertising:
                  type:
                  - boolean
                  - 'null'
                alcoholTobaccoOrDrugUseOrReferences:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                contests:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                gambling:
                  type:
                  - boolean
                  - 'null'
                gamblingSimulated:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                gunsOrOtherWeapons:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                healthOrWellnessTopics:
                  type:
                  - boolean
                  - 'null'
                kidsAgeBand:
                  $ref: '#/components/schemas/KidsAgeBand'
                lootBox:
                  type:
                  - boolean
                  - 'null'
                medicalOrTreatmentInformation:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                messagingAndChat:
                  type:
                  - boolean
                  - 'null'
                parentalControls:
                  type:
                  - boolean
                  - 'null'
                profanityOrCrudeHumor:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                ageAssurance:
                  type:
                  - boolean
                  - 'null'
                sexualContentGraphicAndNudity:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                sexualContentOrNudity:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                horrorOrFearThemes:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                matureOrSuggestiveThemes:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                unrestrictedWebAccess:
                  type:
                  - boolean
                  - 'null'
                userGeneratedContent:
                  type:
                  - boolean
                  - 'null'
                violenceCartoonOrFantasy:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                violenceRealisticProlongedGraphicOrSadistic:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                violenceRealistic:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - INFREQUENT_OR_MILD
                  - FREQUENT_OR_INTENSE
                  - INFREQUENT
                  - FREQUENT
                ageRatingOverride:
                  type:
                  - string
                  - 'null'
                  deprecated: true
                  enum:
                  - NONE
                  - NINE_PLUS
                  - THIRTEEN_PLUS
                  - SIXTEEN_PLUS
                  - SEVENTEEN_PLUS
                  - UNRATED
                ageRatingOverrideV2:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - NINE_PLUS
                  - THIRTEEN_PLUS
                  - SIXTEEN_PLUS
                  - EIGHTEEN_PLUS
                  - UNRATED
                koreaAgeRatingOverride:
                  type:
                  - string
                  - 'null'
                  enum:
                  - NONE
                  - FIFTEEN_PLUS
                  - NINETEEN_PLUS
                developerAgeRatingInfoUrl:
                  type:
                  - string
                  - 'null'
                  format: uri
          required:
          - id
          - type
      required:
      - data
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    AgeRatingDeclaration:
      type: object
      title: AgeRatingDeclaration
      properties:
        type:
          type: string
          enum:
          - ageRatingDeclarations
        id:
          type: string
        attributes:
          type: object
          properties:
            advertising:
              type: boolean
            alcoholTobaccoOrDrugUseOrReferences:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            contests:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            gambling:
              type: boolean
            gamblingSimulated:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            gunsOrOtherWeapons:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            healthOrWellnessTopics:
              type: boolean
            kidsAgeBand:
              $ref: '#/components/schemas/KidsAgeBand'
            lootBox:
              type: boolean
            medicalOrTreatmentInformation:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            messagingAndChat:
              type: boolean
            parentalControls:
              type: boolean
            profanityOrCrudeHumor:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            ageAssurance:
              type: boolean
            sexualContentGraphicAndNudity:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            sexualContentOrNudity:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            horrorOrFearThemes:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            matureOrSuggestiveThemes:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            unrestrictedWebAccess:
              type: boolean
            userGeneratedContent:
              type: boolean
            violenceCartoonOrFantasy:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            violenceRealisticProlongedGraphicOrSadistic:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            violenceRealistic:
              type: string
              enum:
              - NONE
              - INFREQUENT_OR_MILD
              - FREQUENT_OR_INTENSE
              - INFREQUENT
              - FREQUENT
            ageRatingOverride:
              type: string
              deprecated: true
              enum:
              - NONE
              - NINE_PLUS
              - THIRTEEN_PLUS
              - SIXTEEN_PLUS
              - SEVENTEEN_PLUS
              - UNRATED
            ageRatingOverrideV2:
              type: string
              enum:
              - NONE
              - NINE_PLUS
              - THIRTEEN_PLUS
              - SIXTEEN_PLUS
              - EIGHTEEN_PLUS
              - UNRATED
            koreaAgeRatingOverride:
              type: string
              enum:
              - NONE
              - FIFTEEN_PLUS
              - NINETEEN_PLUS
            developerAgeRatingInfoUrl:
              type: string
              format: uri
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
