openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations Builds API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: Builds
paths:
  /v1/builds:
    get:
      tags:
      - Builds
      operationId: builds_getCollection
      parameters:
      - name: filter[version]
        in: query
        description: filter by attribute 'version'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[expired]
        in: query
        description: filter by attribute 'expired'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[processingState]
        in: query
        description: filter by attribute 'processingState'
        schema:
          type: array
          items:
            type: string
            enum:
            - PROCESSING
            - FAILED
            - INVALID
            - VALID
        style: form
        explode: false
        required: false
      - name: filter[betaAppReviewSubmission.betaReviewState]
        in: query
        description: filter by attribute 'betaAppReviewSubmission.betaReviewState'
        schema:
          type: array
          items:
            type: string
            enum:
            - WAITING_FOR_REVIEW
            - IN_REVIEW
            - REJECTED
            - APPROVED
        style: form
        explode: false
        required: false
      - name: filter[usesNonExemptEncryption]
        in: query
        description: filter by attribute 'usesNonExemptEncryption'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[preReleaseVersion.version]
        in: query
        description: filter by attribute 'preReleaseVersion.version'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[preReleaseVersion.platform]
        in: query
        description: filter by attribute 'preReleaseVersion.platform'
        schema:
          type: array
          items:
            type: string
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            - VISION_OS
        style: form
        explode: false
        required: false
      - name: filter[buildAudienceType]
        in: query
        description: filter by attribute 'buildAudienceType'
        schema:
          type: array
          items:
            type: string
            enum:
            - INTERNAL_ONLY
            - APP_STORE_ELIGIBLE
        style: form
        explode: false
        required: false
      - name: filter[preReleaseVersion]
        in: query
        description: filter by id(s) of related 'preReleaseVersion'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[app]
        in: query
        description: filter by id(s) of related 'app'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[betaGroups]
        in: query
        description: filter by id(s) of related 'betaGroups'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[appStoreVersion]
        in: query
        description: filter by id(s) of related 'appStoreVersion'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: filter[id]
        in: query
        description: filter by id(s)
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        required: false
      - name: exists[usesNonExemptEncryption]
        in: query
        description: filter by attribute 'usesNonExemptEncryption'
        schema:
          type: boolean
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; resources will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - -version
            - uploadedDate
            - -uploadedDate
            - preReleaseVersion
            - -preReleaseVersion
        style: form
        explode: false
        required: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
        required: false
      - name: fields[preReleaseVersions]
        in: query
        description: the fields to include for returned resources of type preReleaseVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - platform
            - builds
            - app
        style: form
        explode: false
        required: false
      - name: fields[betaTesters]
        in: query
        description: the fields to include for returned resources of type betaTesters
        schema:
          type: array
          items:
            type: string
            enum:
            - firstName
            - lastName
            - email
            - inviteType
            - state
            - appDevices
            - apps
            - betaGroups
            - builds
        style: form
        explode: false
        required: false
      - name: fields[betaGroups]
        in: query
        description: the fields to include for returned resources of type betaGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - isInternalGroup
            - hasAccessToAllBuilds
            - publicLinkEnabled
            - publicLinkId
            - publicLinkLimitEnabled
            - publicLinkLimit
            - publicLink
            - feedbackEnabled
            - iosBuildsAvailableForAppleSiliconMac
            - iosBuildsAvailableForAppleVision
            - app
            - builds
            - betaTesters
            - betaRecruitmentCriteria
            - betaRecruitmentCriterionCompatibleBuildCheck
        style: form
        explode: false
        required: false
      - name: fields[betaBuildLocalizations]
        in: query
        description: the fields to include for returned resources of type betaBuildLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - whatsNew
            - locale
            - build
        style: form
        explode: false
        required: false
      - name: fields[appEncryptionDeclarations]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - appDescription
            - createdDate
            - usesEncryption
            - exempt
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - availableOnFrenchStore
            - platform
            - uploadedDate
            - documentUrl
            - documentName
            - documentType
            - appEncryptionDeclarationState
            - codeValue
            - app
            - builds
            - appEncryptionDeclarationDocument
        style: form
        explode: false
        required: false
      - name: fields[betaAppReviewSubmissions]
        in: query
        description: the fields to include for returned resources of type betaAppReviewSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - betaReviewState
            - submittedDate
            - build
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[buildBetaDetails]
        in: query
        description: the fields to include for returned resources of type buildBetaDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - autoNotifyEnabled
            - internalBuildState
            - externalBuildState
            - build
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
        required: false
      - name: fields[buildIcons]
        in: query
        description: the fields to include for returned resources of type buildIcons
        schema:
          type: array
          items:
            type: string
            enum:
            - iconAsset
            - iconType
            - masked
            - name
        style: form
        explode: false
        required: false
      - name: fields[buildBundles]
        in: query
        description: the fields to include for returned resources of type buildBundles
        schema:
          type: array
          items:
            type: string
            enum:
            - bundleId
            - bundleType
            - sdkBuild
            - platformBuild
            - fileName
            - hasSirikit
            - hasOnDemandResources
            - hasPrerenderedIcon
            - usesLocationServices
            - isIosBuildMacAppStoreCompatible
            - includesSymbols
            - dSYMUrl
            - supportedArchitectures
            - requiredCapabilities
            - deviceProtocols
            - locales
            - entitlements
            - baDownloadAllowance
            - baMaxInstallSize
            - minimumOsVersion
            - appClipDomainCacheStatus
            - appClipDomainDebugStatus
            - betaAppClipInvocations
            - buildBundleFileSizes
        style: form
        explode: false
        required: false
      - name: fields[buildUploads]
        in: query
        description: the fields to include for returned resources of type buildUploads
        schema:
          type: array
          items:
            type: string
            enum:
            - cfBundleShortVersionString
            - cfBundleVersion
            - createdDate
            - state
            - platform
            - uploadedDate
            - build
            - assetFile
            - assetDescriptionFile
            - assetSpiFile
            - buildUploadFiles
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
        style: form
        explode: false
        required: false
      - name: limit[betaBuildLocalizations]
        in: query
        description: maximum number of related betaBuildLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[betaGroups]
        in: query
        description: maximum number of related betaGroups returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[buildBundles]
        in: query
        description: maximum number of related buildBundles returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[icons]
        in: query
        description: maximum number of related icons returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[individualTesters]
        in: query
        description: maximum number of related individualTesters returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of Builds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Builds
  /v1/builds/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_getInstance
      parameters:
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
        required: false
      - name: fields[preReleaseVersions]
        in: query
        description: the fields to include for returned resources of type preReleaseVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - platform
            - builds
            - app
        style: form
        explode: false
        required: false
      - name: fields[betaTesters]
        in: query
        description: the fields to include for returned resources of type betaTesters
        schema:
          type: array
          items:
            type: string
            enum:
            - firstName
            - lastName
            - email
            - inviteType
            - state
            - appDevices
            - apps
            - betaGroups
            - builds
        style: form
        explode: false
        required: false
      - name: fields[betaGroups]
        in: query
        description: the fields to include for returned resources of type betaGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - createdDate
            - isInternalGroup
            - hasAccessToAllBuilds
            - publicLinkEnabled
            - publicLinkId
            - publicLinkLimitEnabled
            - publicLinkLimit
            - publicLink
            - feedbackEnabled
            - iosBuildsAvailableForAppleSiliconMac
            - iosBuildsAvailableForAppleVision
            - app
            - builds
            - betaTesters
            - betaRecruitmentCriteria
            - betaRecruitmentCriterionCompatibleBuildCheck
        style: form
        explode: false
        required: false
      - name: fields[betaBuildLocalizations]
        in: query
        description: the fields to include for returned resources of type betaBuildLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - whatsNew
            - locale
            - build
        style: form
        explode: false
        required: false
      - name: fields[appEncryptionDeclarations]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - appDescription
            - createdDate
            - usesEncryption
            - exempt
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - availableOnFrenchStore
            - platform
            - uploadedDate
            - documentUrl
            - documentName
            - documentType
            - appEncryptionDeclarationState
            - codeValue
            - app
            - builds
            - appEncryptionDeclarationDocument
        style: form
        explode: false
        required: false
      - name: fields[betaAppReviewSubmissions]
        in: query
        description: the fields to include for returned resources of type betaAppReviewSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - betaReviewState
            - submittedDate
            - build
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[buildBetaDetails]
        in: query
        description: the fields to include for returned resources of type buildBetaDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - autoNotifyEnabled
            - internalBuildState
            - externalBuildState
            - build
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
        required: false
      - name: fields[buildIcons]
        in: query
        description: the fields to include for returned resources of type buildIcons
        schema:
          type: array
          items:
            type: string
            enum:
            - iconAsset
            - iconType
            - masked
            - name
        style: form
        explode: false
        required: false
      - name: fields[buildBundles]
        in: query
        description: the fields to include for returned resources of type buildBundles
        schema:
          type: array
          items:
            type: string
            enum:
            - bundleId
            - bundleType
            - sdkBuild
            - platformBuild
            - fileName
            - hasSirikit
            - hasOnDemandResources
            - hasPrerenderedIcon
            - usesLocationServices
            - isIosBuildMacAppStoreCompatible
            - includesSymbols
            - dSYMUrl
            - supportedArchitectures
            - requiredCapabilities
            - deviceProtocols
            - locales
            - entitlements
            - baDownloadAllowance
            - baMaxInstallSize
            - minimumOsVersion
            - appClipDomainCacheStatus
            - appClipDomainDebugStatus
            - betaAppClipInvocations
            - buildBundleFileSizes
        style: form
        explode: false
        required: false
      - name: fields[buildUploads]
        in: query
        description: the fields to include for returned resources of type buildUploads
        schema:
          type: array
          items:
            type: string
            enum:
            - cfBundleShortVersionString
            - cfBundleVersion
            - createdDate
            - state
            - platform
            - uploadedDate
            - build
            - assetFile
            - assetDescriptionFile
            - assetSpiFile
            - buildUploadFiles
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
        style: form
        explode: false
        required: false
      - name: limit[betaBuildLocalizations]
        in: query
        description: maximum number of related betaBuildLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[betaGroups]
        in: query
        description: maximum number of related betaGroups returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[buildBundles]
        in: query
        description: maximum number of related buildBundles returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[icons]
        in: query
        description: maximum number of related icons returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[individualTesters]
        in: query
        description: maximum number of related individualTesters returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single Build
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Builds
    patch:
      tags:
      - Builds
      operationId: builds_updateInstance
      requestBody:
        description: Build representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single Build
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Builds
  /v1/builds/{id}/relationships/app:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_app_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildAppLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / App
  /v1/builds/{id}/app:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_app_getToOneRelated
      parameters:
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single App with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / App
  /v1/builds/{id}/relationships/appEncryptionDeclaration:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_appEncryptionDeclaration_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildAppEncryptionDeclarationLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / App Encryption Declaration
    patch:
      tags:
      - Builds
      operationId: builds_appEncryptionDeclaration_updateToOneRelationship
      requestBody:
        description: Related linkage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildAppEncryptionDeclarationLinkageRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Related Builds / App Encryption Declaration
  /v1/builds/{id}/appEncryptionDeclaration:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_appEncryptionDeclaration_getToOneRelated
      parameters:
      - name: fields[appEncryptionDeclarations]
        in: query
        description: the fields to include for returned resources of type appEncryptionDeclarations
        schema:
          type: array
          items:
            type: string
            enum:
            - appDescription
            - createdDate
            - usesEncryption
            - exempt
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - availableOnFrenchStore
            - platform
            - uploadedDate
            - documentUrl
            - documentName
            - documentType
            - appEncryptionDeclarationState
            - codeValue
            - app
            - builds
            - appEncryptionDeclarationDocument
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppEncryptionDeclaration with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / App Encryption Declaration
  /v1/builds/{id}/relationships/appStoreVersion:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_appStoreVersion_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildAppStoreVersionLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / App Store Version
  /v1/builds/{id}/appStoreVersion:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_appStoreVersion_getToOneRelated
      parameters:
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
      - name: fields[appStoreVersionLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - description
            - locale
            - keywords
            - marketingUrl
            - promotionalText
            - supportUrl
            - whatsNew
            - appStoreVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      - name: fields[appStoreVersionPhasedReleases]
        in: query
        description: the fields to include for returned resources of type appStoreVersionPhasedReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - phasedReleaseState
            - startDate
            - totalPauseDuration
            - currentDayNumber
        style: form
        explode: false
      - name: fields[gameCenterAppVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterAppVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - enabled
            - compatibilityVersions
            - appStoreVersion
        style: form
        explode: false
      - name: fields[routingAppCoverages]
        in: query
        description: the fields to include for returned resources of type routingAppCoverages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - uploadOperations
            - assetDeliveryState
            - appStoreVersion
        style: form
        explode: false
      - name: fields[appStoreReviewDetails]
        in: query
        description: the fields to include for returned resources of type appStoreReviewDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - contactFirstName
            - contactLastName
            - contactPhone
            - contactEmail
            - demoAccountName
            - demoAccountPassword
            - demoAccountRequired
            - notes
            - appStoreVersion
            - appStoreReviewAttachments
        style: form
        explode: false
      - name: fields[appStoreVersionSubmissions]
        in: query
        description: the fields to include for returned resources of type appStoreVersionSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersion
        style: form
        explode: false
      - name: fields[appClipDefaultExperiences]
        in: query
        description: the fields to include for returned resources of type appClipDefaultExperiences
        schema:
          type: array
          items:
            type: string
            enum:
            - action
            - appClip
            - releaseWithAppStoreVersion
            - appClipDefaultExperienceLocalizations
            - appClipAppStoreReviewDetail
        style: form
        explode: false
      - name: fields[appStoreVersionExperiments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperiments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - trafficProportion
            - state
            - reviewRequired
            - startDate
            - endDate
            - appStoreVersion
            - appStoreVersionExperimentTreatments
            - platform
            - app
            - latestControlVersion
            - controlVersions
        style: form
        explode: false
      - name: fields[alternativeDistributionPackages]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackages
        schema:
          type: array
          items:
            type: string
            enum:
            - sourceFileChecksum
            - versions
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: limit[appStoreVersionLocalizations]
        in: query
        description: maximum number of related appStoreVersionLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[appStoreVersionExperiments]
        in: query
        description: maximum number of related appStoreVersionExperiments returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        deprecated: true
      - name: limit[appStoreVersionExperimentsV2]
        in: query
        description: maximum number of related appStoreVersionExperimentsV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / App Store Version
  /v1/builds/{id}/relationships/betaAppReviewSubmission:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_betaAppReviewSubmission_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBetaAppReviewSubmissionLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / Beta App Review Submission
  /v1/builds/{id}/betaAppReviewSubmission:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_betaAppReviewSubmission_getToOneRelated
      parameters:
      - name: fields[betaAppReviewSubmissions]
        in: query
        description: the fields to include for returned resources of type betaAppReviewSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - betaReviewState
            - submittedDate
            - build
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BetaAppReviewSubmission with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAppReviewSubmissionWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / Beta App Review Submission
  /v1/builds/{id}/relationships/betaBuildLocalizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_betaBuildLocalizations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBetaBuildLocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Builds / Beta Build Localizations
  /v1/builds/{id}/betaBuildLocalizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_betaBuildLocalizations_getToManyRelated
      parameters:
      - name: fields[betaBuildLocalizations]
        in: query
        description: the fields to include for returned resources of type betaBuildLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - whatsNew
            - locale
            - build
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BetaBuildLocalizations with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaBuildLocalizationsWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Builds / Beta Build Localizations
  /v1/builds/{id}/relationships/betaGroups:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    post:
      tags:
      - Builds
      operationId: builds_betaGroups_createToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildBetaGroupsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Add Related Builds / Beta Groups
    delete:
      tags:
      - Builds
      operationId: builds_betaGroups_deleteToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildBetaGroupsLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove Related Builds / Beta Groups
  /v1/builds/{id}/relationships/buildBetaDetail:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_buildBetaDetail_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBuildBetaDetailLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / Build Beta Detail
  /v1/builds/{id}/buildBetaDetail:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_buildBetaDetail_getToOneRelated
      parameters:
      - name: fields[buildBetaDetails]
        in: query
        description: the fields to include for returned resources of type buildBetaDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - autoNotifyEnabled
            - internalBuildState
            - externalBuildState
            - build
        style: form
        explode: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - build
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single BuildBetaDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildBetaDetailResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / Build Beta Detail
  /v1/builds/{id}/relationships/diagnosticSignatures:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_diagnosticSignatures_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildDiagnosticSignaturesLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Builds / Diagnostic Signatures
  /v1/builds/{id}/diagnosticSignatures:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_diagnosticSignatures_getToManyRelated
      parameters:
      - name: filter[diagnosticType]
        in: query
        description: filter by attribute 'diagnosticType'
        schema:
          type: array
          items:
            type: string
            enum:
            - DISK_WRITES
            - HANGS
            - LAUNCHES
        style: form
        explode: false
      - name: fields[diagnosticSignatures]
        in: query
        description: the fields to include for returned resources of type diagnosticSignatures
        schema:
          type: array
          items:
            type: string
            enum:
            - diagnosticType
            - signature
            - weight
            - insight
            - logs
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of DiagnosticSignatures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticSignaturesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Builds / Diagnostic Signatures
  /v1/builds/{id}/relationships/icons:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_icons_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildIconsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Builds / Icons
  /v1/builds/{id}/icons:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_icons_getToManyRelated
      parameters:
      - name: fields[buildIcons]
        in: query
        description: the fields to include for returned resources of type buildIcons
        schema:
          type: array
          items:
            type: string
            enum:
            - iconAsset
            - iconType
            - masked
            - name
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BuildIcons with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildIconsWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Builds / Icons
  /v1/builds/{id}/relationships/individualTesters:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_individualTesters_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildIndividualTestersLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Builds / Individual Testers
    post:
      tags:
      - Builds
      operationId: builds_individualTesters_createToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildIndividualTestersLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Add Related Builds / Individual Testers
    delete:
      tags:
      - Builds
      operationId: builds_individualTesters_deleteToManyRelationship
      requestBody:
        description: List of related linkages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildIndividualTestersLinkagesRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Remove Related Builds / Individual Testers
  /v1/builds/{id}/individualTesters:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_individualTesters_getToManyRelated
      parameters:
      - name: fields[betaTesters]
        in: query
        description: the fields to include for returned resources of type betaTesters
        schema:
          type: array
          items:
            type: string
            enum:
            - firstName
            - lastName
            - email
            - inviteType
            - state
            - appDevices
            - apps
            - betaGroups
            - builds
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of BetaTesters with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaTestersWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Builds / Individual Testers
  /v1/builds/{id}/perfPowerMetrics:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_perfPowerMetrics_getToManyRelated
      parameters:
      - name: filter[platform]
        in: query
        description: filter by attribute 'platform'
        schema:
          type: array
          items:
            type: string
            enum:
            - IOS
        style: form
        explode: false
      - name: filter[metricType]
        in: query
        description: filter by attribute 'metricType'
        schema:
          type: array
          items:
            type: string
            enum:
            - DISK
            - HANG
            - BATTERY
            - LAUNCH
            - MEMORY
            - ANIMATION
            - TERMINATION
        style: form
        explode: false
      - name: filter[deviceType]
        in: query
        description: filter by attribute 'deviceType'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of PerfPowerMetrics
          content:
            application/vnd.apple.xcode-metrics+json:
              schema:
                $ref: '#/components/schemas/xcodeMetrics'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related Builds / Perf Power Metrics
  /v1/builds/{id}/relationships/preReleaseVersion:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_preReleaseVersion_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildPreReleaseVersionLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / Pre Release Version
  /v1/builds/{id}/preReleaseVersion:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_preReleaseVersion_getToOneRelated
      parameters:
      - name: fields[preReleaseVersions]
        in: query
        description: the fields to include for returned resources of type preReleaseVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - platform
            - builds
            - app
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single PrereleaseVersion with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrereleaseVersionWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related Builds / Pre Release Version
  /v1/builds/{id}/metrics/betaBuildUsages:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - Builds
      operationId: builds_betaBuildUsages_getMetrics
      parameters:
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaBuildUsagesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Builds / Beta Build Usages
components:
  schemas:
    BuildIndividualTestersLinkagesRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - betaTesters
              id:
                type: string
            required:
            - id
            - type
      required:
      - data
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    BetaAppReviewSubmissionWithoutIncludesResponse:
      type: object
      title: BetaAppReviewSubmissionWithoutIncludesResponse
      properties:
        data:
          $ref: '#/components/schemas/BetaAppReviewSubmission'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    AppVersionState:
      type: string
      enum:
      - ACCEPTED
      - DEVELOPER_REJECTED
      - IN_REVIEW
      - INVALID_BINARY
      - METADATA_REJECTED
      - PENDING_APPLE_RELEASE
      - PENDING_DEVELOPER_RELEASE
      - PREPARE_FOR_SUBMISSION
      - PROCESSING_FOR_DISTRIBUTION
      - READY_FOR_DISTRIBUTION
      - READY_FOR_REVIEW
      - REJECTED
      - REPLACED_WITH_NEW_VERSION
      - WAITING_FOR_EXPORT_COMPLIANCE
      - WAITING_FOR_REVIEW
    AppClipAction:
      type: string
      enum:
      - OPEN
      - VIEW
      - PLAY
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    BuildUpload:
      type: object
      title: BuildUpload
      properties:
        type:
          type: string
          enum:
          - buildUploads
        id:
          type: string
        attributes:
          type: object
          properties:
            cfBundleShortVersionString:
              type: string
            cfBundleVersion:
              type: string
            createdDate:
              type: string
              format: date-time
            state:
              type: object
              properties:
                errors:
                  type: array
                  items:
                    $ref: '#/components/schemas/StateDetail'
                warnings:
                  type: array
                  items:
                    $ref: '#/components/schemas/StateDetail'
                infos:
                  type: array
                  items:
[...]
