openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations GameCenterMatchmakingQueues API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterMatchmakingQueues
paths:
  /v1/gameCenterMatchmakingQueues:
    get:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_getCollection
      parameters:
      - name: fields[gameCenterMatchmakingQueues]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingQueues
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - classicMatchmakingBundleIds
            - ruleSet
            - experimentRuleSet
        style: form
        explode: false
        required: false
      - name: fields[gameCenterMatchmakingRuleSets]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingRuleSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - ruleLanguageVersion
            - minPlayers
            - maxPlayers
            - teams
            - rules
            - matchmakingQueues
        style: form
        explode: false
        required: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - ruleSet
            - experimentRuleSet
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of GameCenterMatchmakingQueues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueuesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Game Center Matchmaking Queues
    post:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_createInstance
      requestBody:
        description: GameCenterMatchmakingQueue representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterMatchmakingQueueCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterMatchmakingQueue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Matchmaking Queues
  /v1/gameCenterMatchmakingQueues/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_getInstance
      parameters:
      - name: fields[gameCenterMatchmakingQueues]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingQueues
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - classicMatchmakingBundleIds
            - ruleSet
            - experimentRuleSet
        style: form
        explode: false
        required: false
      - name: fields[gameCenterMatchmakingRuleSets]
        in: query
        description: the fields to include for returned resources of type gameCenterMatchmakingRuleSets
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - ruleLanguageVersion
            - minPlayers
            - maxPlayers
            - teams
            - rules
            - matchmakingQueues
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - ruleSet
            - experimentRuleSet
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterMatchmakingQueue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Game Center Matchmaking Queues
    patch:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_updateInstance
      requestBody:
        description: GameCenterMatchmakingQueue representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterMatchmakingQueueUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterMatchmakingQueue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Game Center Matchmaking Queues
    delete:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Game Center Matchmaking Queues
  /v1/gameCenterMatchmakingQueues/{id}/metrics/experimentMatchmakingQueueSizes:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_experimentMatchmakingQueueSizes_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageNumberOfRequests
            - -averageNumberOfRequests
            - p50NumberOfRequests
            - -p50NumberOfRequests
            - p95NumberOfRequests
            - -p95NumberOfRequests
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueSizesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Experiment Matchmaking Queue Sizes
  /v1/gameCenterMatchmakingQueues/{id}/metrics/experimentMatchmakingRequests:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_experimentMatchmakingRequests_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - result
            - gameCenterDetail
        style: form
        explode: false
      - name: filter[result]
        in: query
        description: filter by 'result' attribute dimension
        schema:
          type: string
          enum:
          - MATCHED
          - CANCELED
          - EXPIRED
        style: form
        explode: false
        required: false
      - name: filter[gameCenterDetail]
        in: query
        description: filter by 'gameCenterDetail' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageSecondsInQueue
            - -averageSecondsInQueue
            - p50SecondsInQueue
            - -p50SecondsInQueue
            - p95SecondsInQueue
            - -p95SecondsInQueue
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueRequestsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Experiment Matchmaking Requests
  /v1/gameCenterMatchmakingQueues/{id}/metrics/matchmakingQueueSizes:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_matchmakingQueueSizes_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageNumberOfRequests
            - -averageNumberOfRequests
            - p50NumberOfRequests
            - -p50NumberOfRequests
            - p95NumberOfRequests
            - -p95NumberOfRequests
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueSizesV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Matchmaking Queue Sizes
  /v1/gameCenterMatchmakingQueues/{id}/metrics/matchmakingRequests:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_matchmakingRequests_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: groupBy
        in: query
        description: the dimension by which to group the results
        schema:
          type: array
          items:
            type: string
            enum:
            - result
            - gameCenterDetail
        style: form
        explode: false
      - name: filter[result]
        in: query
        description: filter by 'result' attribute dimension
        schema:
          type: string
          enum:
          - MATCHED
          - CANCELED
          - EXPIRED
        style: form
        explode: false
        required: false
      - name: filter[gameCenterDetail]
        in: query
        description: filter by 'gameCenterDetail' relationship dimension
        schema:
          type: string
        style: form
        explode: false
        required: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averageSecondsInQueue
            - -averageSecondsInQueue
            - p50SecondsInQueue
            - -p50SecondsInQueue
            - p95SecondsInQueue
            - -p95SecondsInQueue
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingQueueRequestsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Matchmaking Requests
  /v1/gameCenterMatchmakingQueues/{id}/metrics/matchmakingSessions:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - GameCenterMatchmakingQueues
      operationId: gameCenterMatchmakingQueues_matchmakingSessions_getMetrics
      parameters:
      - name: granularity
        in: query
        description: the granularity of the per-group dataset
        schema:
          type: string
          enum:
          - P1D
          - PT1H
          - PT15M
        style: form
        explode: false
        required: true
        examples:
          PnD:
            value: P7D
          PTnH:
            value: PT10H
          PTnM:
            value: PT10M
          PTn.nS:
            value: PT10.5S
          PnDTnHnMn.nS:
            value: P7DT10H10M10.5S
      - name: sort
        in: query
        description: comma-separated list of sort expressions; metrics will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - count
            - -count
            - averagePlayerCount
            - -averagePlayerCount
            - p50PlayerCount
            - -p50PlayerCount
            - p95PlayerCount
            - -p95PlayerCount
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum number of groups to return per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Metrics data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingSessionsV1MetricResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Metrics Game Center Matchmaking Queues / Matchmaking Sessions
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterMatchmakingSessionsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
                        averagePlayerCount:
                          type: number
                        p50PlayerCount:
                          type: number
                        p95PlayerCount:
                          type: number
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    PagedDocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        first:
          type: string
          format: uri-reference
        next:
          type: string
          format: uri-reference
      required:
      - self
    GameCenterMatchmakingQueueRequestsV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
                        averageSecondsInQueue:
                          type: number
                        p50SecondsInQueue:
                          type: number
                        p95SecondsInQueue:
                          type: number
              dimensions:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                      data:
                        type: string
                        enum:
                        - MATCHED
                        - CANCELED
                        - EXPIRED
                  gameCenterDetail:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          groupBy:
                            type: string
                            format: uri-reference
                          related:
                            type: string
                            format: uri-reference
                      data:
                        type: string
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    GameCenterMatchmakingQueue:
      type: object
      title: GameCenterMatchmakingQueue
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingQueues
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            classicMatchmakingBundleIds:
              type: array
              items:
                type: string
        relationships:
          type: object
          properties:
            ruleSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterMatchmakingRuleSets
                    id:
                      type: string
                  required:
                  - id
                  - type
            experimentRuleSet:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - gameCenterMatchmakingRuleSets
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterMatchmakingQueuesResponse:
      type: object
      title: GameCenterMatchmakingQueuesResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterMatchmakingQueue'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterMatchmakingRuleSet'
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    GameCenterMatchmakingQueueUpdateRequest:
      type: object
      title: GameCenterMatchmakingQueueUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterMatchmakingQueues
            id:
              type: string
            attributes:
              type: object
              properties:
                classicMatchmakingBundleIds:
                  type: array
                  items:
                    type: string
                  nullable: true
            relationships:
              type: object
              properties:
                ruleSet:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterMatchmakingRuleSets
                        id:
                          type: string
                      required:
                      - id
                      - type
                experimentRuleSet:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterMatchmakingRuleSets
                        id:
                          type: string
                      required:
                      - id
                      - type
          required:
          - id
          - type
      required:
      - data
    GameCenterMatchmakingQueueSizesV1MetricResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              dataPoints:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                    values:
                      type: object
                      properties:
                        count:
                          type: integer
                        averageNumberOfRequests:
                          type: number
                        p50NumberOfRequests:
                          type: number
                        p95NumberOfRequests:
                          type: number
              granularity:
                type: string
                enum:
                - P1D
                - PT1H
                - PT15M
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterMatchmakingQueueResponse:
      type: object
      title: GameCenterMatchmakingQueueResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterMatchmakingQueue'
        included:
          type: array
          items:
            $ref: '#/components/schemas/GameCenterMatchmakingRuleSet'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    GameCenterMatchmakingQueueCreateRequest:
      type: object
      title: GameCenterMatchmakingQueueCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterMatchmakingQueues
            attributes:
              type: object
              properties:
                referenceName:
                  type: string
                classicMatchmakingBundleIds:
                  type: array
                  items:
                    type: string
                  nullable: true
              required:
              - referenceName
            relationships:
              type: object
              properties:
                ruleSet:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterMatchmakingRuleSets
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                experimentRuleSet:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterMatchmakingRuleSets
                        id:
                          type: string
                      required:
                      - id
                      - type
              required:
              - ruleSet
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    GameCenterMatchmakingRuleSet:
      type: object
      title: GameCenterMatchmakingRuleSet
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingRuleSets
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
            ruleLanguageVersion:
              type: integer
            minPlayers:
              type: integer
            maxPlayers:
              type: integer
        relationships:
          type: object
          properties:
            teams:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterMatchmakingTeams
                      id:
                        type: string
                    required:
                    - id
                    - type
            rules:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterMatchmakingRules
                      id:
                        type: string
                    required:
                    - id
                    - type
            matchmakingQueues:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterMatchmakingQueues
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
