openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations AppStoreVersions API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: AppStoreVersions
paths:
  /v1/appStoreVersions:
    post:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_createInstance
      requestBody:
        description: AppStoreVersion representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single AppStoreVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create App Store Versions
  /v1/appStoreVersions/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_getInstance
      parameters:
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
        required: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - description
            - locale
            - keywords
            - marketingUrl
            - promotionalText
            - supportUrl
            - whatsNew
            - appStoreVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
        required: false
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionPhasedReleases]
        in: query
        description: the fields to include for returned resources of type appStoreVersionPhasedReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - phasedReleaseState
            - startDate
            - totalPauseDuration
            - currentDayNumber
        style: form
        explode: false
        required: false
      - name: fields[gameCenterAppVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterAppVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - enabled
            - compatibilityVersions
            - appStoreVersion
        style: form
        explode: false
        required: false
      - name: fields[routingAppCoverages]
        in: query
        description: the fields to include for returned resources of type routingAppCoverages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - uploadOperations
            - assetDeliveryState
            - appStoreVersion
        style: form
        explode: false
        required: false
      - name: fields[appStoreReviewDetails]
        in: query
        description: the fields to include for returned resources of type appStoreReviewDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - contactFirstName
            - contactLastName
            - contactPhone
            - contactEmail
            - demoAccountName
            - demoAccountPassword
            - demoAccountRequired
            - notes
            - appStoreVersion
            - appStoreReviewAttachments
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionSubmissions]
        in: query
        description: the fields to include for returned resources of type appStoreVersionSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersion
        style: form
        explode: false
        required: false
        deprecated: true
      - name: fields[appClipDefaultExperiences]
        in: query
        description: the fields to include for returned resources of type appClipDefaultExperiences
        schema:
          type: array
          items:
            type: string
            enum:
            - action
            - appClip
            - releaseWithAppStoreVersion
            - appClipDefaultExperienceLocalizations
            - appClipAppStoreReviewDetail
        style: form
        explode: false
        required: false
      - name: fields[appStoreVersionExperiments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperiments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - trafficProportion
            - state
            - reviewRequired
            - startDate
            - endDate
            - appStoreVersion
            - appStoreVersionExperimentTreatments
            - platform
            - app
            - latestControlVersion
            - controlVersions
        style: form
        explode: false
        required: false
      - name: fields[alternativeDistributionPackages]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackages
        schema:
          type: array
          items:
            type: string
            enum:
            - sourceFileChecksum
            - versions
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - alternativeDistributionPackage
        style: form
        explode: false
        required: false
      - name: limit[appStoreVersionExperiments]
        in: query
        description: maximum number of related appStoreVersionExperiments returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
        deprecated: true
      - name: limit[appStoreVersionExperimentsV2]
        in: query
        description: maximum number of related appStoreVersionExperimentsV2 returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      - name: limit[appStoreVersionLocalizations]
        in: query
        description: maximum number of related appStoreVersionLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get App Store Versions
    patch:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_updateInstance
      requestBody:
        description: AppStoreVersion representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update App Store Versions
    delete:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete App Store Versions
  /v1/appStoreVersions/{id}/relationships/alternativeDistributionPackage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_alternativeDistributionPackage_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionAlternativeDistributionPackageLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / Alternative Distribution Package
  /v1/appStoreVersions/{id}/alternativeDistributionPackage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_alternativeDistributionPackage_getToOneRelated
      parameters:
      - name: fields[alternativeDistributionPackages]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackages
        schema:
          type: array
          items:
            type: string
            enum:
            - sourceFileChecksum
            - versions
        style: form
        explode: false
      - name: fields[alternativeDistributionPackageVersions]
        in: query
        description: the fields to include for returned resources of type alternativeDistributionPackageVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - url
            - urlExpirationDate
            - version
            - fileChecksum
            - state
            - variants
            - deltas
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - versions
        style: form
        explode: false
      - name: limit[versions]
        in: query
        description: maximum number of related versions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AlternativeDistributionPackage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlternativeDistributionPackageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / Alternative Distribution Package
  /v1/appStoreVersions/{id}/relationships/appClipDefaultExperience:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appClipDefaultExperience_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionAppClipDefaultExperienceLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / App Clip Default Experience
    patch:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appClipDefaultExperience_updateToOneRelationship
      requestBody:
        description: Related linkage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionAppClipDefaultExperienceLinkageRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Related App Store Versions / App Clip Default Experience
  /v1/appStoreVersions/{id}/appClipDefaultExperience:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appClipDefaultExperience_getToOneRelated
      parameters:
      - name: fields[appClipDefaultExperiences]
        in: query
        description: the fields to include for returned resources of type appClipDefaultExperiences
        schema:
          type: array
          items:
            type: string
            enum:
            - action
            - appClip
            - releaseWithAppStoreVersion
            - appClipDefaultExperienceLocalizations
            - appClipAppStoreReviewDetail
        style: form
        explode: false
      - name: fields[appClips]
        in: query
        description: the fields to include for returned resources of type appClips
        schema:
          type: array
          items:
            type: string
            enum:
            - bundleId
            - app
            - appClipDefaultExperiences
            - appClipAdvancedExperiences
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: fields[appClipDefaultExperienceLocalizations]
        in: query
        description: the fields to include for returned resources of type appClipDefaultExperienceLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - locale
            - subtitle
            - appClipDefaultExperience
            - appClipHeaderImage
        style: form
        explode: false
      - name: fields[appClipAppStoreReviewDetails]
        in: query
        description: the fields to include for returned resources of type appClipAppStoreReviewDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - invocationUrls
            - appClipDefaultExperience
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appClip
            - releaseWithAppStoreVersion
            - appClipDefaultExperienceLocalizations
            - appClipAppStoreReviewDetail
        style: form
        explode: false
      - name: limit[appClipDefaultExperienceLocalizations]
        in: query
        description: maximum number of related appClipDefaultExperienceLocalizations returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppClipDefaultExperience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / App Clip Default Experience
  /v1/appStoreVersions/{id}/relationships/appStoreReviewDetail:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreReviewDetail_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionAppStoreReviewDetailLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / App Store Review Detail
  /v1/appStoreVersions/{id}/appStoreReviewDetail:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreReviewDetail_getToOneRelated
      parameters:
      - name: fields[appStoreReviewDetails]
        in: query
        description: the fields to include for returned resources of type appStoreReviewDetails
        schema:
          type: array
          items:
            type: string
            enum:
            - contactFirstName
            - contactLastName
            - contactPhone
            - contactEmail
            - demoAccountName
            - demoAccountPassword
            - demoAccountRequired
            - notes
            - appStoreVersion
            - appStoreReviewAttachments
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: fields[appStoreReviewAttachments]
        in: query
        description: the fields to include for returned resources of type appStoreReviewAttachments
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - uploadOperations
            - assetDeliveryState
            - appStoreReviewDetail
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersion
            - appStoreReviewAttachments
        style: form
        explode: false
      - name: limit[appStoreReviewAttachments]
        in: query
        description: maximum number of related appStoreReviewAttachments returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreReviewDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreReviewDetailResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / App Store Review Detail
  /v1/appStoreVersions/{id}/relationships/appStoreVersionExperiments:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionExperiments_getToManyRelationship
      deprecated: true
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionAppStoreVersionExperimentsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Versions / App Store Version Experiments
  /v1/appStoreVersions/{id}/appStoreVersionExperiments:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionExperiments_getToManyRelated
      deprecated: true
      parameters:
      - name: filter[state]
        in: query
        description: filter by attribute 'state'
        schema:
          type: array
          items:
            type: string
            enum:
            - PREPARE_FOR_SUBMISSION
            - READY_FOR_REVIEW
            - WAITING_FOR_REVIEW
            - IN_REVIEW
            - ACCEPTED
            - APPROVED
            - REJECTED
            - COMPLETED
            - STOPPED
        style: form
        explode: false
      - name: fields[appStoreVersionExperiments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperiments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - trafficProportion
            - state
            - reviewRequired
            - startDate
            - endDate
            - appStoreVersion
            - appStoreVersionExperimentTreatments
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: fields[appStoreVersionExperimentTreatments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - appIcon
            - appIconName
            - promotedDate
            - appStoreVersionExperiment
            - appStoreVersionExperimentV2
            - appStoreVersionExperimentTreatmentLocalizations
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersion
            - appStoreVersionExperimentTreatments
        style: form
        explode: false
      - name: limit[appStoreVersionExperimentTreatments]
        in: query
        description: maximum number of related appStoreVersionExperimentTreatments returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppStoreVersionExperiments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Versions / App Store Version Experiments
  /v1/appStoreVersions/{id}/relationships/appStoreVersionExperimentsV2:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionExperimentsV2_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionAppStoreVersionExperimentsV2LinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Versions / App Store Version Experiments V2
  /v1/appStoreVersions/{id}/appStoreVersionExperimentsV2:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionExperimentsV2_getToManyRelated
      parameters:
      - name: filter[state]
        in: query
        description: filter by attribute 'state'
        schema:
          type: array
          items:
            type: string
            enum:
            - PREPARE_FOR_SUBMISSION
            - READY_FOR_REVIEW
            - WAITING_FOR_REVIEW
            - IN_REVIEW
            - ACCEPTED
            - APPROVED
            - REJECTED
            - COMPLETED
            - STOPPED
        style: form
        explode: false
      - name: fields[appStoreVersionExperiments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperiments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - platform
            - trafficProportion
            - state
            - reviewRequired
            - startDate
            - endDate
            - app
            - latestControlVersion
            - controlVersions
            - appStoreVersionExperimentTreatments
        style: form
        explode: false
      - name: fields[apps]
        in: query
        description: the fields to include for returned resources of type apps
        schema:
          type: array
          items:
            type: string
            enum:
            - accessibilityUrl
            - name
            - bundleId
            - sku
            - primaryLocale
            - isOrEverWasMadeForKids
            - subscriptionStatusUrl
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersionForSandbox
            - contentRightsDeclaration
            - streamlinedPurchasingEnabled
            - accessibilityDeclarations
            - appEncryptionDeclarations
            - appStoreIcon
            - ciProduct
            - betaTesters
            - betaGroups
            - appStoreVersions
            - appTags
            - preReleaseVersions
            - betaAppLocalizations
            - builds
            - betaLicenseAgreement
            - betaAppReviewDetail
            - appInfos
            - appClips
            - appPricePoints
            - endUserLicenseAgreement
            - appPriceSchedule
            - appAvailabilityV2
            - inAppPurchases
            - subscriptionGroups
            - gameCenterEnabledVersions
            - perfPowerMetrics
            - appCustomProductPages
            - inAppPurchasesV2
            - promotedPurchases
            - appEvents
            - reviewSubmissions
            - subscriptionGracePeriod
            - customerReviews
            - customerReviewSummarizations
            - gameCenterDetail
            - appStoreVersionExperimentsV2
            - alternativeDistributionKey
            - analyticsReportRequests
            - marketplaceSearchDetail
            - buildUploads
            - backgroundAssets
            - betaFeedbackScreenshotSubmissions
            - betaFeedbackCrashSubmissions
            - searchKeywords
            - webhooks
            - androidToIosAppMappingDetails
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: fields[appStoreVersionExperimentTreatments]
        in: query
        description: the fields to include for returned resources of type appStoreVersionExperimentTreatments
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - appIcon
            - appIconName
            - promotedDate
            - appStoreVersionExperiment
            - appStoreVersionExperimentV2
            - appStoreVersionExperimentTreatmentLocalizations
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - app
            - latestControlVersion
            - controlVersions
            - appStoreVersionExperimentTreatments
        style: form
        explode: false
      - name: limit[controlVersions]
        in: query
        description: maximum number of related controlVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[appStoreVersionExperimentTreatments]
        in: query
        description: maximum number of related appStoreVersionExperimentTreatments returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppStoreVersionExperiments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionExperimentsV2Response'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Versions / App Store Version Experiments V2
  /v1/appStoreVersions/{id}/relationships/appStoreVersionLocalizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionLocalizations_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionAppStoreVersionLocalizationsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Versions / App Store Version Localizations
  /v1/appStoreVersions/{id}/appStoreVersionLocalizations:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionLocalizations_getToManyRelated
      parameters:
      - name: filter[locale]
        in: query
        description: filter by attribute 'locale'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: fields[appStoreVersionLocalizations]
        in: query
        description: the fields to include for returned resources of type appStoreVersionLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - description
            - locale
            - keywords
            - marketingUrl
            - promotionalText
            - supportUrl
            - whatsNew
            - appStoreVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: fields[appScreenshotSets]
        in: query
        description: the fields to include for returned resources of type appScreenshotSets
        schema:
          type: array
          items:
            type: string
            enum:
            - screenshotDisplayType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appScreenshots
        style: form
        explode: false
      - name: fields[appPreviewSets]
        in: query
        description: the fields to include for returned resources of type appPreviewSets
        schema:
          type: array
          items:
            type: string
            enum:
            - previewType
            - appStoreVersionLocalization
            - appCustomProductPageLocalization
            - appStoreVersionExperimentTreatmentLocalization
            - appPreviews
        style: form
        explode: false
      - name: fields[appKeywords]
        in: query
        description: the fields to include for returned resources of type appKeywords
        schema:
          type: array
          items:
            type: string
            enum: []
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersion
            - appScreenshotSets
            - appPreviewSets
            - searchKeywords
        style: form
        explode: false
      - name: limit[appScreenshotSets]
        in: query
        description: maximum number of related appScreenshotSets returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[appPreviewSets]
        in: query
        description: maximum number of related appPreviewSets returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      - name: limit[searchKeywords]
        in: query
        description: maximum number of related searchKeywords returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of AppStoreVersionLocalizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionLocalizationsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Versions / App Store Version Localizations
  /v1/appStoreVersions/{id}/relationships/appStoreVersionPhasedRelease:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionPhasedRelease_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionAppStoreVersionPhasedReleaseLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / App Store Version Phased Release
  /v1/appStoreVersions/{id}/appStoreVersionPhasedRelease:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionPhasedRelease_getToOneRelated
      parameters:
      - name: fields[appStoreVersionPhasedReleases]
        in: query
        description: the fields to include for returned resources of type appStoreVersionPhasedReleases
        schema:
          type: array
          items:
            type: string
            enum:
            - phasedReleaseState
            - startDate
            - totalPauseDuration
            - currentDayNumber
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreVersionPhasedRelease with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionPhasedReleaseWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / App Store Version Phased Release
  /v1/appStoreVersions/{id}/relationships/appStoreVersionSubmission:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionSubmission_getToOneRelationship
      deprecated: true
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionAppStoreVersionSubmissionLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / App Store Version Submission
  /v1/appStoreVersions/{id}/appStoreVersionSubmission:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_appStoreVersionSubmission_getToOneRelated
      deprecated: true
      parameters:
      - name: fields[appStoreVersionSubmissions]
        in: query
        description: the fields to include for returned resources of type appStoreVersionSubmissions
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersion
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersion
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single AppStoreVersionSubmission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionSubmissionResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / App Store Version Submission
  /v1/appStoreVersions/{id}/relationships/build:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_build_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionBuildLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / Build
    patch:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_build_updateToOneRelationship
      requestBody:
        description: Related linkage
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionBuildLinkageRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Related App Store Versions / Build
  /v1/appStoreVersions/{id}/build:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_build_getToOneRelated
      parameters:
      - name: fields[builds]
        in: query
        description: the fields to include for returned resources of type builds
        schema:
          type: array
          items:
            type: string
            enum:
            - version
            - uploadedDate
            - expirationDate
            - expired
            - minOsVersion
            - lsMinimumSystemVersion
            - computedMinMacOsVersion
            - computedMinVisionOsVersion
            - iconAssetToken
            - processingState
            - buildAudienceType
            - usesNonExemptEncryption
            - preReleaseVersion
            - individualTesters
            - betaGroups
            - betaBuildLocalizations
            - appEncryptionDeclaration
            - betaAppReviewSubmission
            - app
            - buildBetaDetail
            - appStoreVersion
            - icons
            - buildBundles
            - buildUpload
            - perfPowerMetrics
            - diagnosticSignatures
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single Build with get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildWithoutIncludesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / Build
  /v1/appStoreVersions/{id}/relationships/customerReviews:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_customerReviews_getToManyRelationship
      parameters:
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of related linkages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionCustomerReviewsLinkagesResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Versions / Customer Reviews
  /v1/appStoreVersions/{id}/customerReviews:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_customerReviews_getToManyRelated
      parameters:
      - name: filter[territory]
        in: query
        description: filter by attribute 'territory'
        schema:
          type: array
          items:
            type: string
            enum:
            - ABW
            - AFG
            - AGO
            - AIA
            - ALB
            - AND
            - ANT
            - ARE
            - ARG
            - ARM
            - ASM
            - ATG
            - AUS
            - AUT
            - AZE
            - BDI
            - BEL
            - BEN
            - BES
            - BFA
            - BGD
            - BGR
            - BHR
            - BHS
            - BIH
            - BLR
            - BLZ
            - BMU
            - BOL
            - BRA
            - BRB
            - BRN
            - BTN
            - BWA
            - CAF
            - CAN
            - CHE
            - CHL
            - CHN
            - CIV
            - CMR
            - COD
            - COG
            - COK
            - COL
            - COM
            - CPV
            - CRI
            - CUB
            - CUW
            - CXR
            - CYM
            - CYP
            - CZE
            - DEU
            - DJI
            - DMA
            - DNK
            - DOM
            - DZA
            - ECU
            - EGY
            - ERI
            - ESP
            - EST
            - ETH
            - FIN
            - FJI
            - FLK
            - FRA
            - FRO
            - FSM
            - GAB
            - GBR
            - GEO
            - GGY
            - GHA
            - GIB
            - GIN
            - GLP
            - GMB
            - GNB
            - GNQ
            - GRC
            - GRD
            - GRL
            - GTM
            - GUF
            - GUM
            - GUY
            - HKG
            - HND
            - HRV
            - HTI
            - HUN
            - IDN
            - IMN
            - IND
            - IRL
            - IRQ
            - ISL
            - ISR
            - ITA
            - JAM
            - JEY
            - JOR
            - JPN
            - KAZ
            - KEN
            - KGZ
            - KHM
            - KIR
            - KNA
            - KOR
            - KWT
            - LAO
            - LBN
            - LBR
            - LBY
            - LCA
            - LIE
            - LKA
            - LSO
            - LTU
            - LUX
            - LVA
            - MAC
            - MAR
            - MCO
            - MDA
            - MDG
            - MDV
            - MEX
            - MHL
            - MKD
            - MLI
            - MLT
            - MMR
            - MNE
            - MNG
            - MNP
            - MOZ
            - MRT
            - MSR
            - MTQ
            - MUS
            - MWI
            - MYS
            - MYT
            - NAM
            - NCL
            - NER
            - NFK
            - NGA
            - NIC
            - NIU
            - NLD
            - NOR
            - NPL
            - NRU
            - NZL
            - OMN
            - PAK
            - PAN
            - PER
            - PHL
            - PLW
            - PNG
            - POL
            - PRI
            - PRT
            - PRY
            - PSE
            - PYF
            - QAT
            - REU
            - ROU
            - RUS
            - RWA
            - SAU
            - SEN
            - SGP
            - SHN
            - SLB
            - SLE
            - SLV
            - SMR
            - SOM
            - SPM
            - SRB
            - SSD
            - STP
            - SUR
            - SVK
            - SVN
            - SWE
            - SWZ
            - SXM
            - SYC
            - TCA
            - TCD
            - TGO
            - THA
            - TJK
            - TKM
            - TLS
            - TON
            - TTO
            - TUN
            - TUR
            - TUV
            - TWN
            - TZA
            - UGA
            - UKR
            - UMI
            - URY
            - USA
            - UZB
            - VAT
            - VCT
            - VEN
            - VGB
            - VIR
            - VNM
            - VUT
            - WLF
            - WSM
            - XKS
            - YEM
            - ZAF
            - ZMB
            - ZWE
        style: form
        explode: false
      - name: filter[rating]
        in: query
        description: filter by attribute 'rating'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: filter[reviewTerritory]
        in: query
        description: filter by id(s) of related 'reviewTerritory'
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: exists[publishedResponse]
        in: query
        description: filter by publishedResponse
        schema:
          type: boolean
        style: form
        explode: false
      - name: sort
        in: query
        description: comma-separated list of sort expressions; resources will be sorted as specified
        schema:
          type: array
          items:
            type: string
            enum:
            - rating
            - -rating
            - createdDate
            - -createdDate
        style: form
        explode: false
      - name: fields[customerReviews]
        in: query
        description: the fields to include for returned resources of type customerReviews
        schema:
          type: array
          items:
            type: string
            enum:
            - rating
            - title
            - body
            - reviewerNickname
            - createdDate
            - territory
            - response
            - reviewTerritory
        style: form
        explode: false
      - name: fields[customerReviewResponses]
        in: query
        description: the fields to include for returned resources of type customerReviewResponses
        schema:
          type: array
          items:
            type: string
            enum:
            - responseBody
            - lastModifiedDate
            - state
            - review
        style: form
        explode: false
      - name: fields[territories]
        in: query
        description: the fields to include for returned resources of type territories
        schema:
          type: array
          items:
            type: string
            enum:
            - currency
        style: form
        explode: false
      - name: limit
        in: query
        description: maximum resources per page
        schema:
          type: integer
          maximum: 200
        style: form
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - response
            - reviewTerritory
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: List of CustomerReviews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerReviewsResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Related App Store Versions / Customer Reviews
  /v1/appStoreVersions/{id}/relationships/gameCenterAppVersion:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_gameCenterAppVersion_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionGameCenterAppVersionLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / Game Center App Version
  /v1/appStoreVersions/{id}/gameCenterAppVersion:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_gameCenterAppVersion_getToOneRelated
      parameters:
      - name: fields[gameCenterAppVersions]
        in: query
        description: the fields to include for returned resources of type gameCenterAppVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - enabled
            - compatibilityVersions
            - appStoreVersion
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - compatibilityVersions
            - appStoreVersion
        style: form
        explode: false
      - name: limit[compatibilityVersions]
        in: query
        description: maximum number of related compatibilityVersions returned (when they are included)
        schema:
          type: integer
          maximum: 50
        style: form
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single GameCenterAppVersion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterAppVersionResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / Game Center App Version
  /v1/appStoreVersions/{id}/relationships/routingAppCoverage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_routingAppCoverage_getToOneRelationship
      parameters: []
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Related linkage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionRoutingAppCoverageLinkageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / Routing App Coverage
  /v1/appStoreVersions/{id}/routingAppCoverage:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - AppStoreVersions
      operationId: appStoreVersions_routingAppCoverage_getToOneRelated
      parameters:
      - name: fields[routingAppCoverages]
        in: query
        description: the fields to include for returned resources of type routingAppCoverages
        schema:
          type: array
          items:
            type: string
            enum:
            - fileSize
            - fileName
            - sourceFileChecksum
            - uploadOperations
            - assetDeliveryState
            - appStoreVersion
        style: form
        explode: false
      - name: fields[appStoreVersions]
        in: query
        description: the fields to include for returned resources of type appStoreVersions
        schema:
          type: array
          items:
            type: string
            enum:
            - platform
            - versionString
            - appStoreState
            - appVersionState
            - copyright
            - reviewType
            - releaseType
            - earliestReleaseDate
            - usesIdfa
            - downloadable
            - createdDate
            - app
            - appStoreVersionLocalizations
            - build
            - appStoreVersionPhasedRelease
            - gameCenterAppVersion
            - routingAppCoverage
            - appStoreReviewDetail
            - appStoreVersionSubmission
            - appClipDefaultExperience
            - appStoreVersionExperiments
            - appStoreVersionExperimentsV2
            - customerReviews
            - alternativeDistributionPackage
        style: form
        explode: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - appStoreVersion
        style: form
        explode: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single RoutingAppCoverage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingAppCoverageResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Related App Store Versions / Routing App Coverage
components:
  schemas:
    AppClip:
      type: object
      title: AppClip
      properties:
        type:
          type: string
          enum:
          - appClips
        id:
          type: string
        attributes:
          type: object
          properties:
            bundleId:
              type: string
        relationships:
          type: object
          properties:
            app:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - apps
                    id:
                      type: string
                  required:
                  - id
                  - type
            appClipDefaultExperiences:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - appClipDefaultExperiences
                      id:
                        type: string
                    required:
                    - id
                    - type
            appClipAdvancedExperiences:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    AppVersionState:
      type: string
      enum:
      - ACCEPTED
      - DEVELOPER_REJECTED
      - IN_REVIEW
      - INVALID_BINARY
      - METADATA_REJECTED
      - PENDING_APPLE_RELEASE
      - PENDING_DEVELOPER_RELEASE
      - PREPARE_FOR_SUBMISSION
      - PROCESSING_FOR_DISTRIBUTION
      - READY_FOR_DISTRIBUTION
      - READY_FOR_REVIEW
      - REJECTED
      - REPLACED_WITH_NEW_VERSION
      - WAITING_FOR_EXPORT_COMPLIANCE
      - WAITING_FOR_REVIEW
    AppClipAction:
      type: string
      enum:
      - OPEN
      - VIEW
      - PLAY
    AppStoreVersionAppStoreVersionLocalizationsLinkagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - appStoreVersionLocalizations
              id:
                type: string
            required:
            - id
            - type
        links:
          $ref: '#/components/schemas/PagedDocumentLinks'
        meta:
          $ref: '#/components/schemas/PagingInformation'
      required:
      - data
      - links
    AlternativeDistributionPackageResponse:
      type: object
      title: AlternativeDistributionPackageResponse
      properties:
        data:
          $ref: '#/components/schemas/AlternativeDistributionPackage'
        included:
          type: array
          items:
[...]
