openapi: 3.2.0
info:
  title: App Store Connect Game Center Matchmaking Rule Set Tests API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: GameCenterMatchmakingRuleSetTests
paths:
  /v1/gameCenterMatchmakingRuleSetTests:
    post:
      tags:
      - GameCenterMatchmakingRuleSetTests
      operationId: gameCenterMatchmakingRuleSetTests_createInstance
      requestBody:
        description: GameCenterMatchmakingRuleSetTest representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameCenterMatchmakingRuleSetTestCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single GameCenterMatchmakingRuleSetTest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameCenterMatchmakingRuleSetTestResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Game Center Matchmaking Rule Set Tests
components:
  schemas:
    Property:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    GameCenterMatchmakingTestRequest:
      type: object
      title: GameCenterMatchmakingTestRequest
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingTestRequests
        id:
          type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    GameCenterMatchmakingRuleSetTest:
      type: object
      title: GameCenterMatchmakingRuleSetTest
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingRuleSetTests
        id:
          type: string
        attributes:
          type: object
          properties:
            matchmakingResults:
              type: array
              items:
                type: array
                items:
                  type: object
                  properties:
                    requestName:
                      type: string
                    teamAssignments:
                      type: array
                      items:
                        $ref: '#/components/schemas/GameCenterMatchmakingTeamAssignment'
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    Platform:
      type: string
      enum:
      - IOS
      - MAC_OS
      - TV_OS
      - VISION_OS
    GameCenterMatchmakingTestPlayerPropertyInlineCreate:
      type: object
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingTestPlayerProperties
        id:
          type: string
        attributes:
          type: object
          properties:
            playerId:
              type: string
            properties:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/Property'
      required:
      - type
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    GameCenterMatchmakingTestPlayerProperty:
      type: object
      title: GameCenterMatchmakingTestPlayerProperty
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingTestPlayerProperties
        id:
          type: string
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    GameCenterMatchmakingTeamAssignment:
      type: object
      properties:
        playerId:
          type: string
        team:
          type: string
    GameCenterMatchmakingRuleSetTestCreateRequest:
      type: object
      title: GameCenterMatchmakingRuleSetTestCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - gameCenterMatchmakingRuleSetTests
            relationships:
              type: object
              properties:
                matchmakingRuleSet:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - gameCenterMatchmakingRuleSets
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
                matchmakingRequests:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - gameCenterMatchmakingTestRequests
                          id:
                            type: string
                        required:
                        - id
                        - type
                  required:
                  - data
              required:
              - matchmakingRuleSet
              - matchmakingRequests
          required:
          - relationships
          - type
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterMatchmakingTestPlayerPropertyInlineCreate'
            - $ref: '#/components/schemas/GameCenterMatchmakingTestRequestInlineCreate'
      required:
      - data
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    GameCenterMatchmakingRuleSetTestResponse:
      type: object
      title: GameCenterMatchmakingRuleSetTestResponse
      properties:
        data:
          $ref: '#/components/schemas/GameCenterMatchmakingRuleSetTest'
        included:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/GameCenterMatchmakingTestPlayerProperty'
            - $ref: '#/components/schemas/GameCenterMatchmakingTestRequest'
            discriminator:
              propertyName: type
              mapping:
                gameCenterMatchmakingTestRequests: '#/components/schemas/GameCenterMatchmakingTestRequest'
                gameCenterMatchmakingTestPlayerProperties: '#/components/schemas/GameCenterMatchmakingTestPlayerProperty'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    Location:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    GameCenterMatchmakingTestRequestInlineCreate:
      type: object
      properties:
        type:
          type: string
          enum:
          - gameCenterMatchmakingTestRequests
        id:
          type: string
        attributes:
          type: object
          properties:
            requestName:
              type: string
            secondsInQueue:
              type: integer
            locale:
              type:
              - string
              - 'null'
              enum:
              - AR-SA
              - CA-ES
              - CS-CZ
              - DA-DK
              - DE-DE
              - EL-GR
              - EN-AU
              - EN-GB
              - EN-US
              - EN-KY
              - ES-ES
              - ES-MX
              - FI-FI
              - FR-CA
              - FR-FR
              - HI-IN
              - HR-HR
              - HU-HU
              - ID-ID
              - IT-IT
              - IW-IL
              - JA-JP
              - KO-KR
              - MS-MY
              - NL-NL
              - NO-NO
              - PL-PL
              - PT-BR
              - PT-PT
              - RO-RO
              - RU-RU
              - SK-SK
              - SV-SE
              - TH-TH
              - TR-TR
              - UK-UA
              - ZH-CN
              - ZH-TW
              - ZH-HK
            location:
              $ref: '#/components/schemas/Location'
            minPlayers:
              type:
              - integer
              - 'null'
            maxPlayers:
              type:
              - integer
              - 'null'
            playerCount:
              type:
              - integer
              - 'null'
            bundleId:
              type: string
            platform:
              $ref: '#/components/schemas/Platform'
            appVersion:
              type: string
        relationships:
          type: object
          properties:
            matchmakingPlayerProperties:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - gameCenterMatchmakingTestPlayerProperties
                      id:
                        type: string
                    required:
                    - id
                    - type
      required:
      - type
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
