openapi: 3.0.1
info:
  title: App Store Connect AccessibilityDeclarations SubscriptionGroupLocalizations API
  version: 4.3.1
  x-platforms:
    app_store_connect_api: App Store Connect API
  description: The App Store Connect API is the standards-based REST API Apple provides to automate tasks across App Store Connect, Xcode, and Certificates, Identifiers & Profiles. It covers apps, builds, TestFlight, in-app purchases, subscriptions, Game Center, Xcode Cloud, provisioning, pricing and availability, and the full reporting surface (analytics, sales and trends, financial reports, power and performance). This spec is the official OpenAPI 3.0 document published by Apple at https://developer.apple.com/app-store-connect/api/ — mirrored here unmodified except for title-cased operation summaries.
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
tags:
- name: SubscriptionGroupLocalizations
paths:
  /v1/subscriptionGroupLocalizations:
    post:
      tags:
      - SubscriptionGroupLocalizations
      operationId: subscriptionGroupLocalizations_createInstance
      requestBody:
        description: SubscriptionGroupLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionGroupLocalizationCreateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Single SubscriptionGroupLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGroupLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Subscription Group Localizations
  /v1/subscriptionGroupLocalizations/{id}:
    parameters:
    - name: id
      in: path
      description: the id of the requested resource
      schema:
        type: string
      style: simple
      required: true
    get:
      tags:
      - SubscriptionGroupLocalizations
      operationId: subscriptionGroupLocalizations_getInstance
      parameters:
      - name: fields[subscriptionGroupLocalizations]
        in: query
        description: the fields to include for returned resources of type subscriptionGroupLocalizations
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - customAppName
            - locale
            - state
            - subscriptionGroup
        style: form
        explode: false
        required: false
      - name: fields[subscriptionGroups]
        in: query
        description: the fields to include for returned resources of type subscriptionGroups
        schema:
          type: array
          items:
            type: string
            enum:
            - referenceName
            - subscriptions
            - subscriptionGroupLocalizations
        style: form
        explode: false
        required: false
      - name: include
        in: query
        description: comma-separated list of relationships to include
        schema:
          type: array
          items:
            type: string
            enum:
            - subscriptionGroup
        style: form
        explode: false
        required: false
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single SubscriptionGroupLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGroupLocalizationResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Subscription Group Localizations
    patch:
      tags:
      - SubscriptionGroupLocalizations
      operationId: subscriptionGroupLocalizations_updateInstance
      requestBody:
        description: SubscriptionGroupLocalization representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionGroupLocalizationUpdateRequest'
        required: true
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Single SubscriptionGroupLocalization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGroupLocalizationResponse'
        '409':
          description: Request entity error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Subscription Group Localizations
    delete:
      tags:
      - SubscriptionGroupLocalizations
      operationId: subscriptionGroupLocalizations_deleteInstance
      responses:
        '400':
          description: Parameter error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized error(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: Success (no content)
        '429':
          description: Rate limit exceeded error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Subscription Group Localizations
components:
  schemas:
    DocumentLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
      required:
      - self
    SubscriptionGroup:
      type: object
      title: SubscriptionGroup
      properties:
        type:
          type: string
          enum:
          - subscriptionGroups
        id:
          type: string
        attributes:
          type: object
          properties:
            referenceName:
              type: string
        relationships:
          type: object
          properties:
            subscriptions:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptions
                      id:
                        type: string
                    required:
                    - id
                    - type
            subscriptionGroupLocalizations:
              type: object
              properties:
                links:
                  $ref: '#/components/schemas/RelationshipLinks'
                meta:
                  $ref: '#/components/schemas/PagingInformation'
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - subscriptionGroupLocalizations
                      id:
                        type: string
                    required:
                    - id
                    - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    RelationshipLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
        related:
          type: string
          format: uri-reference
    ResourceLinks:
      type: object
      properties:
        self:
          type: string
          format: uri-reference
    ErrorSourceParameter:
      type: object
      title: Parameter
      properties:
        parameter:
          type: string
      required:
      - parameter
    ErrorLinks:
      type: object
      properties:
        about:
          type: string
          format: uri-reference
        associated:
          oneOf:
          - type: string
            format: uri-reference
          - type: object
            properties:
              href:
                type: string
                format: uri-reference
              meta:
                type: object
                properties:
                  source:
                    type: string
    PagingInformation:
      type: object
      properties:
        paging:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            nextCursor:
              type: string
          required:
          - limit
      required:
      - paging
    SubscriptionGroupLocalizationResponse:
      type: object
      title: SubscriptionGroupLocalizationResponse
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionGroupLocalization'
        included:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionGroup'
        links:
          $ref: '#/components/schemas/DocumentLinks'
      required:
      - data
      - links
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                oneOf:
                - $ref: '#/components/schemas/ErrorSourcePointer'
                - $ref: '#/components/schemas/ErrorSourceParameter'
              links:
                $ref: '#/components/schemas/ErrorLinks'
              meta:
                type: object
                additionalProperties: {}
            required:
            - code
            - detail
            - status
            - title
    ErrorSourcePointer:
      type: object
      title: JsonPointer
      properties:
        pointer:
          type: string
      required:
      - pointer
    SubscriptionGroupLocalizationCreateRequest:
      type: object
      title: SubscriptionGroupLocalizationCreateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - subscriptionGroupLocalizations
            attributes:
              type: object
              properties:
                name:
                  type: string
                customAppName:
                  type: string
                  nullable: true
                locale:
                  type: string
              required:
              - name
              - locale
            relationships:
              type: object
              properties:
                subscriptionGroup:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - subscriptionGroups
                        id:
                          type: string
                      required:
                      - id
                      - type
                  required:
                  - data
              required:
              - subscriptionGroup
          required:
          - relationships
          - attributes
          - type
      required:
      - data
    SubscriptionGroupLocalization:
      type: object
      title: SubscriptionGroupLocalization
      properties:
        type:
          type: string
          enum:
          - subscriptionGroupLocalizations
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            customAppName:
              type: string
            locale:
              type: string
            state:
              type: string
              enum:
              - PREPARE_FOR_SUBMISSION
              - WAITING_FOR_REVIEW
              - APPROVED
              - REJECTED
        relationships:
          type: object
          properties:
            subscriptionGroup:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - subscriptionGroups
                    id:
                      type: string
                  required:
                  - id
                  - type
        links:
          $ref: '#/components/schemas/ResourceLinks'
      required:
      - id
      - type
    SubscriptionGroupLocalizationUpdateRequest:
      type: object
      title: SubscriptionGroupLocalizationUpdateRequest
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - subscriptionGroupLocalizations
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                customAppName:
                  type: string
                  nullable: true
          required:
          - id
          - type
      required:
      - data
  securitySchemes:
    itc-bearer-token:
      type: http
      scheme: bearer
      bearerFormat: JWT
